2025/12/20/My workflow 4.json
{"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"feedUrl":"https://www.noticiasaominuto.com.br/rss/tech"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[-1584,672],"id":"884575a7-70e1-4e39-8a2f-df40e5f04b64","name":"RSS Feed Trigger"},{"parameters":{"content":"Tema\tSite/Fonte\tURL do Feed\nNotícias geral\tIGN\thttps://ign.com/rss/v2/articles/feed\nJogatina / Consoles\tGameSpot\thttps://www.gamespot.com/feeds/mashup/\nGames em geral\tKotaku\thttps://kotaku.com/rss\nGames (blogs diversos)\tVG247\thttps://www.vg247.com/feed\nHardware (via RSS.app)\tAnandTech (arquivo)\tUsar RSS.app com: https://www.anandtech.com\nAnime (ANN)\tAnime News Network\thttps://www.animenewsnetwork.com/all/rss.xml\nAnime (Honey’s Anime)\tBlog\thttps://honeysanime.com/feed\nAnime (MyAnimeList News)\tMyAnimeList\thttps://myanimelist.net/news/rss.xml","height":192,"width":688},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2672,800],"id":"5d8c431f-a1f3-49bb-b2e9-a83775b2341e","name":"Sticky Note"},{"parameters":{"fieldToSplitOut":"['https://openai'], ['https://towardsdatascience']","options":{}},"id":"44d3e54e-b1e7-4493-a666-b0cffb2857e4","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[-3728,992],"typeVersion":1},{"parameters":{"options":{}},"id":"73d8a794-23f7-4b9e-94fb-d85db83584c8","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[-2864,2496],"typeVersion":1},{"parameters":{"rule":{"interval":[{}]}},"id":"8168312a-7a06-4653-b72f-4aaa02fcc0be","name":"Get Articles Daily","type":"n8n-nodes-base.scheduleTrigger","position":[-2784,1312],"typeVersion":1.2},{"parameters":{"rule":{"interval":[{}]}},"id":"32d160e3-d8d1-4008-8aa0-46ba9972b4a5","name":"Send Weekly Summary","type":"n8n-nodes-base.scheduleTrigger","position":[-2640,272],"typeVersion":1.2},{"parameters":{"options":{}},"id":"a2d5ee6f-589c-4c35-9511-cd4ca27f6d38","name":"News reader AI","type":"@n8n/n8n-nodes-langchain.agent","position":[-2208,176],"typeVersion":1.9},{"parameters":{"options":{}},"id":"ab1952bc-7714-4029-bc11-f2eef7c60788","name":"Send Newsletter","type":"n8n-nodes-base.gmail","position":[-1584,272],"webhookId":"0de8b6e8-8611-48a9-ba25-1d023698f577","typeVersion":2.1},{"parameters":{"options":{}},"id":"106df4df-0937-47d4-982f-0026084b21fb","name":"Convert Response to an Email-Friendly Format","type":"n8n-nodes-base.markdown","position":[-1664,144],"typeVersion":1},{"parameters":{"options":{}},"id":"ea07ca38-9527-40f9-9008-caec68bcc4ef","name":"Your topics of interest","type":"n8n-nodes-base.set","position":[-2432,272],"typeVersion":3.4},{"parameters":{},"id":"26ca2658-0676-428e-9dee-7da68ca873f3","name":"Store News Articles","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","position":[-3040,2192],"typeVersion":1.1},{"parameters":{"url":"={{ $json['Feed para busca'] }}","options":{}},"id":"b2c787ba-13eb-44cd-bd10-dcb5be9a4705","name":"Read RSS News Feeds","type":"n8n-nodes-base.rssFeedRead","position":[-2432,1312],"typeVersion":1.1},{"parameters":{},"id":"754f0946-407c-4373-8706-6985dc3e8b4a","name":"Get News Articles","type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","position":[-2064,416],"typeVersion":1.1},{"parameters":{"options":{}},"id":"257bc93d-787d-404f-a1f4-199632b6526a","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[-1856,528],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"6b62d5c6-9a95-4eec-8745-79f4ea839e3f","name":"Feed para busca","value":"https://openai.com/news/rss.xml","type":"string"}]},"options":{}},"id":"1684a2c4-eae6-4b71-aaa6-8893aae498f6","name":"Set Tech News RSS Feeds","type":"n8n-nodes-base.set","position":[-2608,1312],"typeVersion":3.4},{"parameters":{"rule":{"interval":[{}]}},"id":"bb706b0c-ff28-4fa5-b571-a20dad1fc6cb","name":"Get Articles Daily1","type":"n8n-nodes-base.scheduleTrigger","position":[-3856,1136],"typeVersion":1.2},{"parameters":{"url":"={{ $json['Feed para busca'] }}","options":{}},"id":"be7b9b86-1326-4ce3-9908-50c795d9109c","name":"Read RSS News Feeds1","type":"n8n-nodes-base.rssFeedRead","position":[-3424,1136],"typeVersion":1.1},{"parameters":{"options":{}},"id":"9dd7b439-cc84-451c-b0b8-f93540534e2c","name":"Set and Normalize Fields1","type":"n8n-nodes-base.set","position":[-3952,928],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"6b62d5c6-9a95-4eec-8745-79f4ea839e3f","name":"Feed para busca","value":"https://openai.com/news/rss.xml","type":"string"}]},"options":{}},"id":"aae56d3a-2c06-4ce3-a7f3-23c3e57aa2c5","name":"Set Tech News RSS Feeds1","type":"n8n-nodes-base.set","position":[-3632,1136],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f7908a77-3754-46c7-9c5a-803ed8651f90","leftValue":"={{ new Date($json.isoDate).getTime() >= (new Date().getTime() - 7 * 24 * 60 * 60 * 1000) }}","rightValue":"={{ new Date($json.isoDate).getTime() >= (new Date().getTime() - 7 * 24 * 60 * 60 * 1000) }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2256,1312],"id":"c30a39be-3347-478f-8b10-98be5a7cc2a5","name":"Filter"},{"parameters":{"url":"={{ $json.urls }}","options":{}},"id":"94dd66a5-4c08-4d3d-8e97-d4aebdaefbc6","name":"Read RSS News Feeds2","type":"n8n-nodes-base.rssFeedRead","position":[-2624,1696],"typeVersion":1.1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f7908a77-3754-46c7-9c5a-803ed8651f90","leftValue":"={{ new Date($json.isoDate).getTime() >= (new Date().getTime() - 7 * 24 * 60 * 60 * 1000) }}","rightValue":"={{ new Date($json.isoDate).getTime() >= (new Date().getTime() - 7 * 24 * 60 * 60 * 1000) }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2416,1696],"id":"75dc9ecb-edd5-4c4c-a907-5adac4b2e426","name":"Filter1"},{"parameters":{"rule":{"interval":[{}]}},"id":"b301a9a3-1536-43d6-bf03-0351dc275620","name":"Timer","type":"n8n-nodes-base.scheduleTrigger","position":[-3472,1680],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"6b62d5c6-9a95-4eec-8745-79f4ea839e3f","name":"urls","value":"[\"https://openai.com/news/rss.xml\", \"https://towardsdatascience.com/feed\"]","type":"array"}]},"options":{}},"id":"2f7da73b-26f1-489f-97ee-14171b7b5c7a","name":"Lista de RSS","type":"n8n-nodes-base.set","position":[-3296,1680],"typeVersion":3.4},{"parameters":{"fieldToSplitOut":"urls","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-3104,1680],"id":"a245a222-68e0-406a-9b09-6fbdd96a85f2","name":"Une links RSS"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2896,1680],"id":"c0539527-8bc9-4543-b72b-3ae75efc70c7","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[-3152,496],"id":"e22fa309-8a12-4d03-b797-fa3a262abe5c"},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"vector_store_key","mode":"list","cachedResultName":"vector_store_key"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-672,1888],"id":"2da60819-61ad-4112-9b02-7773f73ede93","name":"Insert Data to Store","alwaysOutputData":true},{"parameters":{"options":{}},"id":"a9129905-1e77-4a76-b964-7ad345c95574","name":"Embeddings OpenAI3","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[-3152,2384],"typeVersion":1.2},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-256,2480],"id":"a788678a-3c0d-4068-be3c-0e700be6bc02","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"options":{}},"id":"8323aa53-547a-43bb-b15d-add608be3da5","name":"Default Data Loader2","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[-2992,2368],"typeVersion":1},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-608,2288],"id":"37c6a591-ce0d-440d-a18e-e3a0a265fa3d","name":"Default Data Loader"},{"parameters":{"formTitle":"Upload your data to test RAG","formFields":{"values":[{"fieldLabel":"Upload your file(s)","fieldType":"file","acceptFileTypes":".pdf, .csv","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-1776,2656],"id":"5e2748d4-732d-4dac-ac37-b238aa0474b9","name":"Upload your file here","webhookId":"82848bc4-5ea2-4e5a-8bb6-3c09b94a8c5d"},{"parameters":{"content":"### 📚 Load Data Flow","height":460,"width":700,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-1824,2592],"typeVersion":1,"id":"f4931d88-7d55-4458-9950-b66e97f2a6da","name":"Sticky Note1"},{"parameters":{"mode":"retrieve-as-tool","toolName":"knowledge_base","toolDescription":"Use this knowledge base to answer questions from the user","memoryKey":{"__rl":true,"value":"vector_store_key","mode":"list","cachedResultName":"vector_store_key"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[208,1904],"id":"c7f84fda-ec29-444b-924d-850bbe08e05e","name":"Query Data Tool"},{"parameters":{"promptType":"define","text":"puxa as noticias\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[64,1664],"id":"749d5aa2-002f-44a7-96c8-d67e36a03deb","name":"AI Agent"},{"parameters":{"content":"### 🐕 2. Retriever Flow","height":460,"width":680,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-128,1632],"typeVersion":1,"id":"c5f43588-0c62-4f69-a0bf-7824c3058b65","name":"Sticky Note2"},{"parameters":{"content":"### Embeddings\n\nThe Insert and Retrieve operation use the same embedding node.\n\nThis is to ensure that they are using the **exact same embeddings and settings**.\n\nDifferent embeddings might not work at all, or have unintended consequences.\n","height":240,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-976,3104],"typeVersion":1,"id":"b83d854c-d5ae-4c11-a6de-4fe9d0f8675f","name":"Sticky Note3"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1120,3136],"id":"2a064fe6-2cdf-4dad-a6c9-2b161833e93f","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-1328,2816],"id":"8ce53646-7a88-4bff-9a93-d4d4b8e0be58","name":"Default Data Loader1"},{"parameters":{"content":"### Readme\nLoad your data into a vector database with the 📚 **Load Data** flow, and then use your data as chat context with the 🐕 **Retriever** flow.\n\n**Quick start**\n1. Click on the `Execute Workflow` button to run the 📚 **Load Data** flow.\n2. Click on `Open Chat` button to run the 🐕 **Retriever** flow. Then ask a question about content from your document(s)\n\n\nFor more info, check [our docs on RAG in n8n](https://docs.n8n.io/advanced-ai/rag-in-n8n/).","height":300,"width":440,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2304,2592],"typeVersion":1,"id":"496d8e1d-0130-48a2-861d-60969f90658e","name":"Sticky Note4"},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"vector_store_key","mode":"list","cachedResultName":"vector_store_key"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.2,"position":[-1584,2656],"id":"dc4fb1cf-119c-4856-a232-391b4b468dd1","name":"Insert Data to Store1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"id":"c9e5fad2-a46c-4f2f-af63-d0b75a3d4aca","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-2208,432],"typeVersion":1.2},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,1904],"id":"459d8e39-aeb0-40e1-84b9-886a4eaa4286","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"content":"Configure o **Timezone** nos 3 pontinhos ao lado do save antes de ativar","height":220.4568364843337,"width":184.478415473571,"color":4},"id":"8182498d-87d5-4480-9b55-9245defaa8f9","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-784,832]},{"parameters":{"jsCode":"// Obter os valores das variáveis\nconst bancoDeImagem = $node[\"variaveis\"].json[\"Banco de imagem\"];\nconst imagemNoSubtitulo = $node[\"variaveis\"].json[\"Imagem no subtítulo?\"];\nconst urlDoSite = $node[\"variaveis\"].json[\"URL do Site\"];\nconst postStatus = $node[\"variaveis\"].json[\"Post Status\"]; // Nova variável\n\n// Lista de valores permitidos para 'Banco de imagem'\nconst valoresPermitidosBanco = [\n    'Dall-e',\n    'Flux',\n    'LeonardoAI',\n    'Midjourney',\n    'Pollinations',\n    'Freepik',\n    'Fonte',\n    'Reconhecimento',\n    'Sem imagem'\n];\n\n// Lista de valores permitidos para 'Imagem no subtítulo?'\nconst valoresPermitidosImagem = [\n    'NÃO',\n    'SIM, mas intercalando',\n    'SIM em Todos'\n];\n\n// Lista de valores permitidos para 'Post Status'\nconst valoresPermitidosPostStatus = [\n    'Publicado',\n    'Rascunho'\n];\n\n// Regex para validar o formato básico da URL (genérico, sem restrição de domínios)\nconst regexUrlValida = /^https:\\/\\/[a-zA-Z0-9.-]+(?:\\/.*)?$/;\n\n// 1. Validar 'Banco de imagem'\nif (!valoresPermitidosBanco.includes(bancoDeImagem)) {\n    throw new Error(`O valor fornecido para \"Banco de imagem\" é inválido. Deve ser um dos seguintes: ${valoresPermitidosBanco.join(', ')}. Valor recebido: \"${bancoDeImagem}\".`);\n}\n\n// 2. Validar casos específicos de 'Fonte' e 'Reconhecimento'\nif (\n    (bancoDeImagem === 'Fonte' || bancoDeImagem === 'Reconhecimento') &&\n    imagemNoSubtitulo !== 'NÃO'\n) {\n    throw new Error(`Bancos de Dados \"Fonte\" e \"Reconhecimento\" não podem ser usados com imagens nos subtítulos.`);\n}\n\n// 3. Validar 'Imagem no subtítulo?'\nif (!valoresPermitidosImagem.includes(imagemNoSubtitulo)) {\n    throw new Error(`O valor fornecido para \"Imagem no subtítulo?\" é inválido. Deve ser um dos seguintes: ${valoresPermitidosImagem.join(', ')}. Valor recebido: \"${imagemNoSubtitulo}\".`);\n}\n\n// 4. Validar 'URL do Site'\n\n// Verificar se a URL começa com \"https://\"\nif (!urlDoSite.startsWith(\"https://\")) {\n    throw new Error(`A URL fornecida deve começar com \"https://\". Valor recebido: \"${urlDoSite}\".`);\n}\n\n// Verificar se a URL termina com uma barra \"/\"\nif (urlDoSite.endsWith(\"/\")) {\n    throw new Error(`A URL fornecida não deve terminar com uma barra \"/\". Certifique-se de remover a barra no final. Exemplo válido: \"https://blog.automacaosemlimites.com.br\". Valor recebido: \"${urlDoSite}\".`);\n}\n\n// Verificar se a URL está no formato válido\nif (!regexUrlValida.test(urlDoSite)) {\n    throw new Error(`A URL fornecida está inválida. Certifique-se de que segue o formato padrão como no exemplo: \"https://blog.automacaosemlimites.com.br\". Valor recebido: \"${urlDoSite}\".`);\n}\n\n// 5. Validar 'Post Status'\nif (!valoresPermitidosPostStatus.includes(postStatus)) {\n    throw new Error(`O valor fornecido para \"Post Status\" é inválido. Deve ser \"Publicado\" ou \"Rascunho\". Valor recebido: \"${postStatus}\".`);\n}\n\n// 6. Validar se \"Banco de imagem\" for vazio ou \"Sem imagem\", então \"Imagem no subtítulo?\" deve ser \"NÃO\"\nif ((!bancoDeImagem || bancoDeImagem === 'Sem imagem') && imagemNoSubtitulo !== 'NÃO') {\n    throw new Error(`Quando o \"Banco de imagem\" estiver vazio ou for \"Sem imagem\", a opção \"Imagem no subtítulo?\" deve ser \"NÃO\". Valor recebido: \"${imagemNoSubtitulo}\".`);\n}\n\n\n\n// Retornar os dados normalmente se nenhuma condição de erro for atendida\nreturn $node[\"variaveis\"].json;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,912],"id":"8959c782-7a4c-44c0-8797-35b8222ab294","name":"Validador"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":"={{ 4 }}","triggerAtMinute":"={{ 0 }}"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-736,912],"id":"d3e34b79-55f8-484b-b536-2b8146043056","name":"A cada 4 horas"},{"parameters":{"url":"=https://openai.com/news/rss.xml","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[-160,1568],"id":"212cf81d-ad79-4f1e-8512-5fa5921d5964","name":"RSS Read"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Atue como redator experiente em comparar conteúdos repetitivos, seguindo algumas diretrizes em sua resposta:\n1 - Retorne apenas o valor 'true' para conteúdo similar, ou 'false' para não similar;\n2 - Faça a analise da lista fornecida e verificar se o assunto é similar, se sim responderá com 'true' senão responderá com 'false'\n\nOutput Example: {\"similar\": true}","role":"system"},{"content":"=Analise o assunto:'{{ $('variaveis').item.json[\"RSS - Title\"] }}' com a Lista abaixo: {{ $json[\"Título de Origem\"].join('\\n ') }}"}]},"simplify":false,"jsonOutput":true,"options":{}},"id":"47a9a080-7853-49b6-9049-6e78861662fa","name":"Analisar Conteúdo Semelhante","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[304,1376]},{"parameters":{},"id":"202a11ec-028c-46f8-8474-a018d14aa91c","name":"Conteúdo duplicado","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[720,912]},{"parameters":{"assignments":{"assignments":[{"id":"ce77a124-9e02-45bf-bf16-05ab5697078e","name":"Planilha ID","value":"","type":"string"},{"id":"be3b7a5f-f4aa-4b4f-83a6-7773dfbdafdb","name":"Planilha Aba","value":"","type":"string"},{"id":"1ee5c98e-afdd-4261-a7b5-d24214c2acfa","name":"N8N URL","value":"","type":"string"}]},"options":{}},"id":"30da77ba-7171-4f7c-a7ca-bb6551269f39","name":"variaveis_erro","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-320,1120]},{"parameters":{"assignments":{"assignments":[{"id":"db3f5633-07fa-490e-86d4-87ca6c84d2e4","name":"URL do Site","value":"","type":"string"},{"id":"981d448e-cccf-4098-89db-76a012f27a51","name":"Planilha ID","value":"","type":"string"},{"id":"4b9a4bcd-1247-42cd-9acf-499a1365c210","name":"Planilha Aba","value":"0","type":"string"},{"id":"0477825b-bb5b-4307-b900-c410b4340f7b","name":"Custom Post Type","value":"","type":"string"},{"id":"73c8ff8e-49b1-45ad-a686-20fe68a06c53","name":"Custom Taxonomia","value":"","type":"string"},{"id":"927f3c28-8028-44b8-a6fa-cbd1c6c588fd","name":"Logo marca dagua","value":"","type":"string"},{"id":"f61da4d4-692a-457b-935d-16124a95be1e","name":"Marca dagua Overlay","value":"","type":"string"},{"id":"595ffdea-a2f5-48b3-b9e9-25ba292e94ea","name":"RSS - Title","value":"={{ $json.title }}","type":"string"},{"id":"ed2cc504-4121-4ab6-89e8-e3ae2e975fc1","name":"RSS - Content","value":"={{\n  (() => {\n    const options = [\n      $json.contentSnippet,\n      $json.content,\n      $json['content:encodedSnippet'],\n      $json['content:encoded']\n    ];\n\n    // Filtra valores não nulos/vazios, remove tags HTML e obtém o maior conteúdo limpo\n    const longestContent = options\n      .filter(text => text && typeof text === 'string') // Remove valores vazios ou não strings\n      .map(text => text.removeTags()) // Remove tags HTML antes de comparar\n      .reduce((max, current) => current.length > max.length ? current : max, \"\");\n\n    // Retorna o maior conteúdo já limpo\n    return longestContent;\n  })()\n}}","type":"string"},{"id":"89e471e2-7853-404c-a1d8-c9c5cbb17d12","name":"RSS - Link","value":"={{ $json.link }}","type":"string"},{"id":"fa525af5-0740-455f-b3c3-0b005c4e28ca","name":"RSS - Data","value":"={{ $json.pubDate || $json.isoDate }}","type":"string"},{"id":"563cc169-5463-4b8d-93fe-6e63ab791bf9","name":"Midjourney API Key","value":"","type":"string"},{"id":"9e1d3467-7bfc-4897-8801-b90d4074c07b","name":"Banco de imagem","value":"Fonte","type":"string"},{"id":"59a28836-13ce-4e21-8caf-f1e4beb4d995","name":"Imagem no subtítulo?","value":"NÃO","type":"string"},{"id":"8c82b1ed-d59c-4770-a776-fc3c0810c5b9","name":"Post Status","value":"Publicado","type":"string"},{"id":"8679abcc-5909-473c-9665-247fb937fd32","name":"Leonardo AI API Key","value":"","type":"string"},{"id":"8b431e3a-bb76-443a-89db-257e177ca856","name":"FAQ","value":false,"type":"boolean"},{"id":"2dced57f-6a1b-4d6a-8a33-71a164f53483","name":"Conclusion","value":false,"type":"boolean"},{"id":"391a2afc-40b8-4527-8fdd-72cb72cf21bb","name":"post_link_interno","value":false,"type":"boolean"},{"id":"f2ffc4cc-955a-4b16-95f3-ceec65b09fdf","name":"video_youtube","value":true,"type":"boolean"},{"id":"29fd121e-aa32-49b2-8c11-696ee2ab2657","name":"reference","value":true,"type":"boolean"},{"id":"223fc19a-3819-4ccd-9a50-1bc9e77bed1a","name":"resumo","value":false,"type":"boolean"},{"id":"d6d1935e-f99b-46cd-b703-5add4b6a4d2d","name":"webscraper","value":"={{\n  (() => {\n    const minWords = 300; // Definir número mínimo de palavras para considerar como conteúdo válido\n    const options = [\n      $json.contentSnippet,\n      $json.content,\n      $json['content:encodedSnippet'],\n      $json['content:encoded']\n    ];\n\n    // Filtra valores não nulos ou vazios e obtém o maior em termos de comprimento\n    const longestContent = options\n      .filter(text => text && typeof text === 'string') // Remove valores vazios ou não strings\n      .reduce((max, current) => current.length > max.length ? current : max, \"\");\n\n    // Remove tags HTML usando a função nativa do n8n\n    const cleanText = longestContent.removeTags();\n\n    // Conta a quantidade de palavras no conteúdo limpo\n    const wordCount = cleanText.trim().split(/\\s+/).length;\n\n    // Retorna verdadeiro se o conteúdo tem menos de 200 palavras, falso caso contrário\n    return wordCount < minWords;\n  })()\n}}","type":"boolean"},{"id":"ec6dc0bd-0306-40af-82aa-1a9fa8edf0ee","name":"rss_content_snippet","value":"={{ $json.contentSnippet }}","type":"string"},{"id":"aeeef6e1-93a2-4c13-82af-9568b08eaf7a","name":"Hugging Face Token","value":"","type":"string"},{"id":"83d8f239-0105-44f4-89cc-79d3ea230286","name":"freepik_api_key","value":"","type":"string"}]},"options":{}},"id":"a7435f8d-fca3-40e6-ac53-0bbd98d72103","name":"variaveis","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-320,912],"executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e092f587-3c81-47e0-9374-ea677a88c76e","leftValue":"={{ $('Analisar Conteúdo Semelhante').item.json[\"choices\"][0][\"message\"][\"content\"][\"similar\"] }}","rightValue":"=true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"bf156f17-acd6-4727-b880-b36be53ba89a","name":"Existe Post Semelhante?","type":"n8n-nodes-base.if","typeVersion":2,"position":[624,1376]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"e092f587-3c81-47e0-9374-ea677a88c76e","leftValue":"={{ $('Google Sheets - Ler conteúdos').item.json[\"Link de Origem\"] }}","rightValue":"={{ $node['variaveis'].json[\"RSS - Link\"] }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"6e038e13-02e5-45f1-bcd1-3263173cfeee","name":"Existe na planilha?","type":"n8n-nodes-base.if","typeVersion":2,"position":[512,912]},{"parameters":{"content":"## Alterar Dados","height":437.89327359107756,"width":209.70978547297074,"color":4},"id":"2cd3e828-acab-4422-8ff8-2a2db4b0968e","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,832]},{"parameters":{"content":"## Eliminar conteúdo repetido","height":746.7550328300997,"width":584.8457493248899},"id":"3c05926c-36c0-4a50-ab7a-021455777f30","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,864]},{"parameters":{},"id":"cdab1fcc-4b23-484f-926a-0f2307078e16","name":"Ocorreu Erro","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-544,1120]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $node['variaveis_erro'].json[\"Planilha ID\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $node['variaveis_erro'].json[\"Planilha Aba\"] }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Execução":"=ERRO","Link":"={{'=HYPERLINK(\"' + $node['variaveis_erro'].json['N8N URL'] + '/workflow/' +$node['Ocorreu Erro'].json.workflow.id + '/executions/' + $node['Ocorreu Erro'].json.execution.id + '\"' + '; \"' + 'VERIFICAR ERRO' +'\")' }}","ID da Execução":"={{ $node['Ocorreu Erro'].json.execution.id }}"},"matchingColumns":["ID da Execução"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Palavra Chave Foco","displayName":"Palavra Chave Foco","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Título","displayName":"Título","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID da Categoria","displayName":"ID da Categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Categoria","displayName":"Categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID das Tags","displayName":"ID das Tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Imagem","displayName":"Imagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Outlines","displayName":"Outlines","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Execução","displayName":"Execução","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID da Execução","displayName":"ID da Execução","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Posição","displayName":"Posição","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Concorrência","displayName":"Concorrência","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{"cellFormat":"USER_ENTERED"}},"id":"b52bb933-a7b1-418a-a377-b5ad4ab65a99","name":"Google Sheets - Status ERRO","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-96,1120]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"['Título de Origem']"}]},"options":{}},"id":"a50549f6-49b6-4444-8fcc-a6a8950596f5","name":"Organizar listagem de conteúdo","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[528,1136]},{"parameters":{"documentId":{"__rl":true,"value":"={{ $node['variaveis'].json[\"Planilha ID\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $node['variaveis'].json[\"Planilha Aba\"] }}","mode":"id"},"filtersUI":{"values":[{"lookupColumn":"=Execução","lookupValue":"CONCLUÍDO"}]},"options":{"returnAllMatches":"returnAllMatches"}},"id":"c54c4b71-6434-47b6-9e2a-ec1c4a135b4c","name":"Google Sheets - Ler Todos conteúdos","type":"n8n-nodes-base.googleSheets","typeVersion":4.2,"position":[320,1136],"alwaysOutputData":true},{"parameters":{"operation":"formatDate","date":"={{ $node['variaveis'].json[\"RSS - Data\"] }}","format":"custom","customFormat":"dd/MM/yyyy HH:mm:ss","outputFieldName":"Data","options":{}},"id":"50c89d9a-aa85-4c1e-8951-9fcd0ffbe8f8","name":"Formatar Data","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[80,912]},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('variaveis').item.json[\"Planilha ID\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('variaveis').item.json[\"Planilha Aba\"] }}","mode":"id"},"filtersUI":{"values":[{"lookupColumn":"Link de Origem","lookupValue":"={{ $('variaveis').item.json[\"RSS - Link\"] }}"}]},"options":{}},"id":"d553e9d4-fe68-47ab-9f93-91e8eeb0bc48","name":"Google Sheets - Ler conteúdos","type":"n8n-nodes-base.googleSheets","typeVersion":4.2,"position":[320,912],"alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-240,1728],"id":"88bee19b-2914-4749-a161-09ba84072b5e","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"={{ $json.urls }}","options":{}},"id":"b3e6f7e3-4a3b-4157-b7e3-ed187b2fffcb","name":"Read RSS News Feeds3","type":"n8n-nodes-base.rssFeedRead","position":[-2144,1984],"typeVersion":1.1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f7908a77-3754-46c7-9c5a-803ed8651f90","leftValue":"={{ new Date($json.isoDate).getTime() >= (new Date().getTime() - 7 * 24 * 60 * 60 * 1000) }}","rightValue":"={{ new Date($json.isoDate).getTime() >= (new Date().getTime() - 7 * 24 * 60 * 60 * 1000) }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1616,1984],"id":"cd796903-24cb-4411-b3a6-d0f4a6fc276d","name":"Filter2"},{"parameters":{"rule":{"interval":[{}]}},"id":"4cb92219-aa44-4980-a4ea-b403fae549e7","name":"Timer1","type":"n8n-nodes-base.scheduleTrigger","position":[-2560,1984],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"6b62d5c6-9a95-4eec-8745-79f4ea839e3f","name":"urls","value":"[\"https://openai.com/news/rss.xml\", \"https://towardsdatascience.com/feed\"]","type":"string"}]},"options":{}},"id":"a9b064e4-287c-418d-8731-ad73255d79f0","name":"Lista de RSS1","type":"n8n-nodes-base.set","position":[-2384,1984],"typeVersion":3.4},{"parameters":{"fieldToSplitOut":"urls","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2288,2192],"id":"b722a219-60d5-4086-bd51-c0dfbf0e8a30","name":"Une links RSS1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2016,1808],"id":"15aa6b45-8cfc-42b8-bff5-8c764f24186a","name":"Loop Over Items1"}],"connections":{"RSS Feed Trigger":{"main":[[]]},"Split Out":{"main":[[]]},"News reader AI":{"main":[[{"node":"Convert Response to an Email-Friendly Format","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Get News Articles","type":"ai_embedding","index":0}]]},"Get Articles Daily":{"main":[[{"node":"Set Tech News RSS Feeds","type":"main","index":0}]]},"Read RSS News Feeds":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Send Weekly Summary":{"main":[[{"node":"Your topics of interest","type":"main","index":0}]]},"Your topics of interest":{"main":[[{"node":"News reader AI","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader2","type":"ai_textSplitter","index":0}]]},"Convert Response to an Email-Friendly Format":{"main":[[{"node":"Send Newsletter","type":"main","index":0}]]},"Set Tech News RSS Feeds":{"main":[[{"node":"Read RSS News Feeds","type":"main","index":0}]]},"Get Articles Daily1":{"main":[[{"node":"Set Tech News RSS Feeds1","type":"main","index":0}]]},"Set Tech News RSS Feeds1":{"main":[[{"node":"Read RSS News Feeds1","type":"main","index":0}]]},"Filter":{"main":[[]]},"Read RSS News Feeds2":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Timer":{"main":[[{"node":"Lista de RSS","type":"main","index":0}]]},"Lista de RSS":{"main":[[{"node":"Une links RSS","type":"main","index":0}]]},"Une links RSS":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Read RSS News Feeds2","type":"main","index":0}]]},"Replace Me":{"main":[[]]},"Filter1":{"main":[[]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Store News Articles","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Insert Data to Store","type":"ai_embedding","index":0},{"node":"Query Data Tool","type":"ai_embedding","index":0}]]},"Insert Data to Store":{"main":[[]]},"Upload your file here":{"main":[[{"node":"Insert Data to Store1","type":"main","index":0}]]},"Query Data Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert Data to Store1","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Insert Data to Store1","type":"ai_document","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"News reader AI","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Validador":{"main":[[{"node":"Formatar Data","type":"main","index":0}]]},"Analisar Conteúdo Semelhante":{"main":[[{"node":"Existe Post Semelhante?","type":"main","index":0}]]},"variaveis":{"main":[[{"node":"Validador","type":"main","index":0}]]},"Existe Post Semelhante?":{"main":[[{"node":"Conteúdo duplicado","type":"main","index":0}]]},"Existe na planilha?":{"main":[[{"node":"Conteúdo duplicado","type":"main","index":0}],[{"node":"Google Sheets - Ler Todos conteúdos","type":"main","index":0}]]},"Ocorreu Erro":{"main":[[{"node":"variaveis_erro","type":"main","index":0}]]},"variaveis_erro":{"main":[[{"node":"Google Sheets - Status ERRO","type":"main","index":0}]]},"Organizar listagem de conteúdo":{"main":[[{"node":"Analisar Conteúdo Semelhante","type":"main","index":0}]]},"Google Sheets - Ler Todos conteúdos":{"main":[[{"node":"Organizar listagem de conteúdo","type":"main","index":0}]]},"Formatar Data":{"main":[[{"node":"Google Sheets - Ler conteúdos","type":"main","index":0}]]},"Google Sheets - Ler conteúdos":{"main":[[{"node":"Existe na planilha?","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Read RSS News Feeds3":{"main":[[{"node":"Filter2","type":"main","index":0}]]},"Timer1":{"main":[[{"node":"Lista de RSS1","type":"main","index":0}]]},"Lista de RSS1":{"main":[[{"node":"Read RSS News Feeds3","type":"main","index":0}]]},"Une links RSS1":{"main":[[]]},"Loop Over Items1":{"main":[[],[]]}},"pinData":{},"meta":null}