2025/12/09/AVISO REUNIÃO CHEGANDO.json
{"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"806d2106-d234-428e-a909-db00044fc342","leftValue":"={{ $json.start.dateTime }}","rightValue":"={{ $('Schedule Trigger').item.json.timestamp.toDateTime().plus(0, minutes) }}","operator":{"type":"dateTime","operation":"after"}},{"id":"aab42f56-d82f-434d-8319-00e3c2c690f3","leftValue":"={{ $json.start.dateTime }}","rightValue":"={{ $('Schedule Trigger').item.json.timestamp.toDateTime().plus(10, minutes) }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1712,1056],"id":"c24db0d9-f539-48da-85da-5b37549506c0","name":"5 Minutos antes","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"806d2106-d234-428e-a909-db00044fc342","leftValue":"={{ $json.start.dateTime }}","rightValue":"={{ $('Schedule Trigger').item.json.timestamp.toDateTime().plus(100, minutes) }}","operator":{"type":"dateTime","operation":"after"}},{"id":"aab42f56-d82f-434d-8319-00e3c2c690f3","leftValue":"={{ $json.start.dateTime }}","rightValue":"={{ $('Schedule Trigger').item.json.timestamp.toDateTime().plus(120, minutes) }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1712,784],"id":"d4cac2c2-2dca-469c-9d8d-0084535f3237","name":"2 Hora antes","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5427ed1f-2dd2-4f7c-b7f4-9b13cd780bc7","leftValue":"={{ $json.kind }}","rightValue":"calendar#event","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1920,784],"id":"a80b727b-1a8c-45e4-826f-a6ba8974efef","name":"If7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5427ed1f-2dd2-4f7c-b7f4-9b13cd780bc7","leftValue":"={{ $json.kind }}","rightValue":"calendar#event","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1920,1056],"id":"2730aea0-2692-4e60-8ad6-b590347d1cb3","name":"If8"},{"parameters":{"assignments":{"assignments":[{"id":"a5af6299-68f1-4d3a-b2a7-c2ed65aa4ae6","name":"remoteJid","value":"={{ $('Loop Over Items').item.json.description }}","type":"string"},{"id":"fc721c8e-bfd6-4364-9c30-b0038118856f","name":"Tempo","value":"=Crie uma mensagem avisando que a pessoa tem uma reuniao marcada as {{ $('2 Hora antes').item.json.start.dateTime.toDateTime().format('HH:mm') }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2160,768],"id":"0ba59a4b-e806-4fea-a4d9-532a32c9b9eb","name":"Edit Fields5"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionid }}","contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2672,960],"id":"2729b343-d709-4e88-b16c-9c91940abc96","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"sHGsuRh89fX2ELpX","name":"Postgres account"}}},{"parameters":{"content":"# AVISO REUNIÃO CHEGANDO","height":80,"width":551.2183277924504,"color":5},"id":"f2cb1bc0-3623-4b60-97ad-064e144ac0e0","name":"Sticky Note27","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1024,512]},{"parameters":{"assignments":{"assignments":[{"id":"c930cacf-b5ee-4120-a192-d68715d71d57","name":"remoteJid","value":"={{ $('agenda').item.json.description }}","type":"string"},{"id":"e7775c3f-04e5-4b6f-9695-dad8654b7ff8","name":"Tempo","value":"=Crie uma mensagem avisando que a pessoa tem uma reuniao marcada as {{ $('5 Minutos antes').item.json.start.dateTime.toDateTime().format('HH:mm') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2112,1024],"id":"c2e5228e-7eb9-4dcc-8342-1c2f282264cd","name":"Edit Fields11"},{"parameters":{"content":"","height":980,"width":2302.828484039364,"color":3},"type":"n8n-nodes-base.stickyNote","position":[992,464],"typeVersion":1,"id":"55f8a068-5c94-483a-bac2-7ace03d6c671","name":"Sticky Note16"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2480,928],"id":"b3cba89c-e409-48e3-8025-3a92149d1527","name":"OpenAI Chat Model6","credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3056,1072],"id":"26f7d8c6-1fa6-4dea-8a1b-d82af969bcaa","name":"Wait1","webhookId":"d72239cb-b635-4ac2-95b6-0f66b77e9b6c"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"fc44a58b-9da6-4391-8a2a-9e9c2fe73c42","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1040,864]},{"parameters":{"options":{}},"id":"0249d0e6-3a41-4c1e-9bca-df19a2e5007f","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1472,864]},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Loop Over Items').item.json.description }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2336,768],"id":"fcf88920-fa0b-4f90-826f-d46cf4c0d50c","name":"Get a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields5').item.json.Tempo }}\nUse o nome da pessoa: {{ $('2 Hora antes').item.json.summary.split(' ')[0] }}\nJunto com link da reunião: {{ $('2 Hora antes').item.json.hangoutLink }}","options":{"systemMessage":"=Você foi acionado para avisar quanto tempo falta para a reunião.  \nResponda apenas com o tempo que falta e, de forma educada, confirme se há algo necessário antes da reunião.  \nUse esta estrutura de mensagem:\n\n\"Olá {{ $('2 Hora antes').item.json.summary.split(' ')[0] }}, estou passando para te lembrar da sua reunião comigo às {{ $('2 Hora antes').item.json.start.dateTime.toDateTime().format('HH:mm') }}!  \nLink da reunião: {{ $('2 Hora antes').item.json.hangoutLink }}  \nAté já!\"\n\n⚠️ Regras:  \n- Não inclua dicas de uso, informações extras ou mensagens fora deste contexto.  \n- Use apenas o **primeiro nome** da pessoa.  \n- Seja educado, mas objetivo.  \n- Inclua sempre o link do Google Meet.\n"}},"id":"ca39b146-50c2-401e-a276-20aec68bb4ca","name":"Atendente","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[2528,608]},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields11').item.json.Tempo }}\nUse o nome da pessoa: {{ $('5 Minutos antes').item.json.summary.split(' ')[0] }}\nJunto com link da reunião: {{ $('5 Minutos antes').item.json.hangoutLink }}","options":{"systemMessage":"=Você foi acionado para avisar quanto tempo falta para a reunião.  \nResponda apenas com o tempo que falta e, de forma educada, confirme se há algo necessário antes da reunião.  \nUse esta estrutura de mensagem:\n\n\"Olá {{ $('5 Minutos antes').item.json.summary.split(' ')[0] }}, estou passando para te lembrar da sua reunião comigo às {{ $('5 Minutos antes').item.json.start.dateTime.toDateTime().format('HH:mm') }}!  \nLink da reunião: {{ $('5 Minutos antes').item.json.hangoutLink }}  \nAté já!\"\n\n⚠️ Regras:  \n- Não inclua dicas de uso, informações extras ou mensagens fora deste contexto.  \n- Use apenas o **primeiro nome** da pessoa.  \n- Seja educado, mas objetivo.  \n- Inclua sempre o link do Google Meet.\n"}},"id":"a5fe994a-89ee-49f7-8ae7-7de18893f8f4","name":"Atendente1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[2544,1216]},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('agenda').item.json.description }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2336,1024],"id":"596475f5-906d-4279-af64-d938e1a9ad08","name":"Get a row1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"resource":"messages-api","instanceName":"Estevão - Business","remoteJid":"={{ $('agenda').item.json.description }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2864,912],"id":"a7184649-0ea9-4bc6-8a58-b3cfc48e368a","name":"Enviar texto","credentials":{"evolutionApi":{"id":"XXmpuvteVUlf93Q4","name":"Evolution account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"estevaoeferreira9984@gmail.com","mode":"list","cachedResultName":"estevaoeferreira9984@gmail.com"},"returnAll":true,"options":{"timeMin":"={{ $json.timestamp }}"}},"id":"db2e535c-680c-42b7-b2cf-574a994ac1d6","name":"agenda","type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[1264,864],"credentials":{"googleCalendarOAuth2Api":{"id":"An2yu1wVFlFfXSSe","name":"Google Calendar account"}}}],"connections":{"5 Minutos antes":{"main":[[{"node":"If8","type":"main","index":0}]]},"2 Hora antes":{"main":[[{"node":"If7","type":"main","index":0}]]},"If7":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"If8":{"main":[[{"node":"Edit Fields11","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Atendente","type":"ai_memory","index":0},{"node":"Atendente1","type":"ai_memory","index":0}]]},"Edit Fields11":{"main":[[{"node":"Get a row1","type":"main","index":0}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"Atendente","type":"ai_languageModel","index":0},{"node":"Atendente1","type":"ai_languageModel","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"agenda","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"2 Hora antes","type":"main","index":0},{"node":"5 Minutos antes","type":"main","index":0}]]},"Get a row":{"main":[[{"node":"Atendente","type":"main","index":0}]]},"Atendente":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Atendente1":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Get a row1":{"main":[[{"node":"Atendente1","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"agenda":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}