2025/12/09/Divulgador de links afiliados - grupos.json
{"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[3440,-64],"id":"449accbf-fab9-4cd6-8a2d-5024dc44c9e5","name":"gatilho manual"},{"parameters":{"promptType":"define","text":"=Produto: {{ $('Extrai Informações').item.json.productName }}\nLink de Oferta: {{ $('Extrai Informações').item.json.offerLink }}\nPreço: {{ (() => {\n  const rawMin = $('Extrai Informações').item.json.priceMin;\n  const rawMax = $('Extrai Informações').item.json.priceMax;\n  const toNum = v => Number(String(v ?? '').replace(',', '.'));\n  const pmin = toNum(rawMin);\n  const pmax = toNum(rawMax);\n  const fmt = v => isFinite(v) ? ('R$ ' + v.toFixed(2).replace('.', ',')) : null;\n\n  if (!isFinite(pmin) && !isFinite(pmax)) return 'Indisponível';\n  if (isFinite(pmin) && isFinite(pmax)) {\n    if (Math.abs(pmax - pmin) < 0.01) return fmt(pmin);\n    const spread = (pmax - pmin) / Math.max(pmin, 0.01);\n    return spread >= 0.2 ? ('a partir de ' + fmt(pmin)) : ('de ' + fmt(pmin) + ' a ' + fmt(pmax));\n  }\n  if (isFinite(pmin)) return 'a partir de ' + fmt(pmin);\n  if (isFinite(pmax)) return 'até ' + fmt(pmax);\n  return 'Indisponível';\n})() }}\nAvaliação: {{ (Number($('Extrai Informações').item.json.ratingStar) || 0).toFixed(1).replace('.', ',') }} ★\n","options":{"systemMessage":"={\n  \"name\": \"AutoPromo\",\n  \"context\": {\n    \"identity\": \"Bot Vendedor da Automação Inteligente\",\n    \"business\": \"Sistema de Automação Inteligente\",\n    \"Language\": \"português brasileiro\",\n    \"data_atual\": \"hoje é: {{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, hora: {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n  \"Informação atualizada para usar em resposta\": \"{{ $json.output }}\",\n  \"personality\": [\n    \"Tom persuasivo, envolvente e natural\",\n    \"Usa emojis estratégicos 🎯🔧🔥 para chamar atenção sem exageros\",\n    \"Estilo formal-coloquial: próximo e humano, sem gírias excessivas\",\n    \"Enfatiza benefícios, urgência e escassez para aumentar conversão\"\n  ],\n  \"objectives\": [\n    \"Gerar mensagens automáticas curtas, criativas e visualmente organizadas para divulgar produtos da Shopee no WhatsApp\",\n    \"Criar textos que incentivem o clique imediato, transmitindo valor e urgência\"\n  ],\n  \"general_rules\": [\n    \"Resumir o nome do produto para no máximo 4–6 palavras, removendo termos irrelevantes (ex.: numeração, códigos, descrições longas)\",\n    \"Nunca incluir o link da Shopee mais de uma vez na mesma mensagem\",\n    \"Não repetir a mesma informação em blocos diferentes da mensagem\",\n    \"Não usar formato de link clicável com texto igual ao link\",\n    \"Usar quebras de linha para criar blocos visuais claros\",\n    \"Começar com título chamativo, pergunta de impacto ou alerta\",\n    \"Usar bullets ou marcadores ✔️🔧💡 para listar vantagens\",\n    \"Transmitir urgência real (ex.: últimas unidades, válido só hoje)\",\n    \"Finalizar com CTA direta e destacada: 'Clique agora', 'Garanta já', 'Aproveite aqui'\",\n    \"Evitar parágrafos longos; manter leitura escaneável\",\n    \"Nunca coloque o preço e o link duas vezes, SEMPRE uma vez\"\n  ],\n  \"price_logic\": \"Se min==max (ou diferença < R$0,01) → preço único. Se spread >= 20% → 'a partir de R$ min'. Caso contrário → 'de R$ min a R$ max'. Se só min → 'a partir de R$ min'. Se só max → 'até R$ max'.\",\n  \"flow_de_atendimento_padrão\": {\n    \"steps\": [\n      {\n        \"1\": \"Mensagem inicial de impacto:\\n🚨 *PROMOÇÃO RELÂMPAGO* 🚨\\n❓ *Já pensou em ter {{ $('Extrai Informações').item.json.productName }} em casa?*\\n💥 *Campeão de vendas na Shopee!*\"\n      },\n      {\n        \"2\": \"Lista de benefícios + preço:\\n✔️ Benefício 1\\n✔️ Benefício 2\\n✔️ Benefício 3\\n💡 Preço: {{ (() => { const toNum = v => Number(String(v ?? '').replace(',', '.')); const pmin = toNum($('Extrai Informações').item.json.priceMin); const pmax = toNum($('Extrai Informações').item.json.priceMax); const fmt = v => isFinite(v) ? ('R$ ' + v.toFixed(2).replace('.', ',')) : null; if (!isFinite(pmin) && !isFinite(pmax)) return 'Indisponível'; if (isFinite(pmin) && isFinite(pmax)) { if (Math.abs(pmax - pmin) < 0.01) return fmt(pmin); const spread = (pmax - pmin) / Math.max(pmin, 0.01); return spread >= 0.2 ? ('a partir de ' + fmt(pmin)) : ('de ' + fmt(pmin) + ' a ' + fmt(pmax)); } if (isFinite(pmin)) return 'a partir de ' + fmt(pmin); if (isFinite(pmax)) return 'até ' + fmt(pmax); return 'Indisponível'; })() }}\"\n      },\n      {\n        \"3\": \"Urgência e CTA:\\n🔥 *Últimas unidades!*\\n👉 *Garanta agora:* {{ $('Extrai Informações').item.json.offerLink }}\\n⏳ *Promoção válida só hoje!*\"\n      },\n      {\n        \"4\": \"Modelos extras para diversidade (alternar aleatoriamente)\",\n        \"modelos\": [\n          \"🔥 **{{ produto_curto }}**\\n💰 {{ preço }}\\n⭐ Avaliação: {{ avaliação }} ★\\n📦 Aproveite agora → {{ link }}\",\n          \"⚠️ Restam poucas peças de **{{ produto_curto }}**!\\n💵 {{ preço }} | ⭐ {{ avaliação }}\\n🛒 Garanta o seu: {{ link }}\",\n          \"🎯 Você precisa ver isso: **{{ produto_curto }}**\\nDe: ~~preço antigo~~ | Por: {{ preço }}\\n⭐ Avaliação: {{ avaliação }}\\n📌 Clique e compre: {{ link }}\",\n          \"🏆 Top vendas: **{{ produto_curto }}**\\n💲 {{ preço }} | ⭐ {{ avaliação }}\\n💨 Não fique sem → {{ link }}\",\n          \"📢 Só hoje: **{{ produto_curto }}**\\n💰 {{ preço }} | ⭐ {{ avaliação }}\\n🛒 Garanta com desconto → {{ link }}\"\n        ]\n      }\n    ]\n  }\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[368,400],"id":"9e7c4c49-1915-498b-ad53-359060d35cb5","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[160,496],"id":"f650da45-76bb-41de-9501-5f371916a7e1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Estevão - pessoal","remoteJid":"={{ $('Pega \\'telefone\\' dos grupos').item.json['Número do grupo'] }}","media":"={{ $('Extrair imagem do link').item.json.imagem_produto }}","caption":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[976,400],"id":"efd1ed8a-3e8f-4053-8433-79ab87f0e160","name":"Enviar imagem","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"yNcLlaUxCcsYBcUx","name":"Pessoal"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * 5) + 40 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[768,400],"id":"5a44ee57-f558-4b6f-9c12-4ff857abe2ab","name":"Wait","webhookId":"1717c0cb-3a74-4962-a2a6-0645684ae23a"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[16,384],"id":"faeffcb6-1065-463c-a2a4-e2ca0c9f57e5","name":"Loop Over Items1"},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Produtos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"nao_enviado"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-80,-32],"id":"f314775e-c4a2-443a-b11c-86203c48e162","name":"Pega produto na planilha","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"content":"","height":352,"width":1344,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-304,-176],"id":"adb24c1d-b1eb-4974-b08b-bcf101ee7e5e","name":"Sticky Note"},{"parameters":{"content":"## Pega informações do produto tal como a imagem","height":80,"width":576,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-304,-176],"id":"1dcaa789-387a-4909-859a-591865e1e3d3","name":"Sticky Note1"},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":309245581,"mode":"list","cachedResultName":"Grupos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=309245581"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-208,384],"id":"a66ce313-31e5-478d-b804-88b049a7c5bc","name":"Pega 'telefone' dos grupos","credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Produtos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_produto }}","Status":"enviado","Finalizado em":"=Finalizado em: {{ new Date().toLocaleString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\", weekday: \"long\", day: \"2-digit\", month: \"2-digit\", year: \"numeric\", hour: \"2-digit\", minute: \"2-digit\" }) }}"},"matchingColumns":["row_number"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Item Name","displayName":"Item Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Price","displayName":"Price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Sales","displayName":"Sales","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Shop Name","displayName":"Shop Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Commission Rate","displayName":"Commission Rate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Commission","displayName":"Commission","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Product Link","displayName":"Product Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Offer Link","displayName":"Offer Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Finalizado em","displayName":"Finalizado em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[32,912],"id":"1303a285-d361-429c-a67b-069710a76f76","name":"Pega produto na planilha1","credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b9ac5523-a007-4069-8263-37d73524fb2a","name":"row_produto","value":"={{ $('Pega produto na planilha').item.json.row_number }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,912],"id":"11b695da-6eb0-41db-8af0-62044f9df978","name":"Edit Fields"},{"parameters":{"content":"","height":432,"width":1488,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-304,240],"id":"e13ea2e2-a248-48f7-9efb-2fe76c5674af","name":"Sticky Note2"},{"parameters":{"content":"## Pega 'telefone' dos grupos, prepara mensagem e envia os produtos nos grupos","height":96,"width":672,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-304,240],"id":"d79ad9f9-e907-4922-80f2-8ac45c60e010","name":"Sticky Note3"},{"parameters":{"content":"","height":384,"width":608,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-304,736],"id":"f130ed2b-32f8-46df-8ad3-121b20b50bda","name":"Sticky Note4"},{"parameters":{"content":"## Marca 'enviado' no produto","height":96,"width":384,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-304,736],"id":"6c70527b-a134-4a84-bc65-80346bcd4d6d","name":"Sticky Note5"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[384,864],"id":"f624a1c9-e5e6-4e17-ae95-d10f5b427616","name":"Error Trigger"},{"parameters":{"promptType":"define","text":"={{ $json.execution }}","options":{"systemMessage":"={\n  \"name\": \"LogBot\",\n  \"context\": {\n    \"identity\": \"Robô de monitoramento técnico de workflows N8N\",\n    \"business\": \"Watashi Labs - Divulgador de Shopee\",\n    \"Language\": \"português brasileiro\",\n    \"data_atual\": \"hoje é: {{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, hora: {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n  \"Informação atualizada para usar em resposta\": \"{{ $json.output }}\",\n  \"personality\": [\n    \"Tom técnico e direto\",\n    \"Sem emojis\",\n    \"Sem perguntas ou interação com usuário\",\n    \"Mensagem padronizada de erro com detalhamento técnico\"\n  },\n  \"objectives\": [\n    \"Identificar falhas em execuções de workflow\",\n    \"Gerar relatório técnico estruturado e fixo para desenvolvedores corrigirem problemas\"\n  ],\n  \"general_rules\": [\n    \"Sempre incluir ID da execução e do workflow\",\n    \"Sempre incluir URL da execução com link clicável\",\n    \"Sempre incluir mensagem de erro\",\n    \"Sempre incluir stack trace\",\n    \"Sempre indicar o modo da execução\",\n    \"Não perguntar nada ao usuário\",\n    \"Não tentar resolver ou interagir, apenas reportar\"\n  ],\n  \"flow_de_atendimento_padrão\": {\n    \"steps\": [\n      {\n        \"1\": \"Mensagem automática de erro detectado: '🚨 ERRO IDENTIFICADO NA EXECUÇÃO DO WORKFLOW'\"\n      },\n      {\n        \"2\": \"Relatório técnico fixo:\\n\\n➡️ **Workflow**: {{ $json.workflow.name }} (ID: {{ $json.workflow.id }})\\n➡️ **Execução**: ID {{ $json.execution.id }}\\n➡️ **Modo de execução**: {{ $json.execution.mode }}\\n➡️ **Data/Hora**: {{ $now.format('dd/MM/yyyy - HH:mm') }}\\n➡️ **Link da execução**: {{ $json.execution.url }}\\n\\n🛑 **Mensagem de erro**:\\n{{ $json.execution.error.message }}\\n\\n📄 **Stack trace**:\\n{{ $json.execution.error.stack }}\\n\\n✅ Ação recomendada: revisar o workflow no editor do N8N e validar se há algum nó com configuração incorreta, desatualizada ou dependência ausente.\"\n      }\n    ]\n  },\n  \"tools\": []\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[592,864],"id":"2ff171bc-310a-487b-851c-dec5d9c09dbd","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[592,1040],"id":"2c5f517a-31b5-4c77-9adb-05907ef6a423","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"listId":"68941895b8977bbbe1efd59d","name":"=Erro em {{ $('Error Trigger').item.json.workflow.name }} - {{ $json.execucao_id }}","description":"=# ❗ Erro identificado na execução do Workflow\n\n> 💡 **Dica:**  \n> **{{ $json.recomendacao }}**\n\n---\n\n## 🧩 Informações do Workflow\n\n- **Workflow:** Divulgador de Shopee  \n- **ID do Workflow:** `{{ $json.workflow_id }}`  \n- **ID da Execução:** `{{ $json.execucao_id }}`  \n- **Modo de Execução:** `{{ $json.modo_execucao }}`  \n- **Data/Hora:** `{{ $json.data_hora }}`  \n- **🔗 Link da Execução:**  \n  [Clique aqui para visualizar a execução]({{ $json.link_execucao }})\n\n---\n\n## 🛑 Mensagem de Erro\n\n{{ $json.mensagem_erro }}\n\n\n---\n\n## 📄 Stack Trace\n\n{{ $json.stack_trace }}\n\n\n---\n\n## ✅ Próximos passos sugeridos\n\n- Verificar se há nós mal configurados ou desatualizados  \n- Checar dependências e credenciais externas  \n- Testar o fluxo manualmente no editor n8n  \n","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1152,864],"id":"b4379809-8b89-456c-aad4-9e0569accc1d","name":"Create a card","credentials":{"trelloApi":{"id":"OSvKEx1wr5hUtthA","name":"Estevão"}}},{"parameters":{"jsCode":"const texto = items[0].json.output || items[0].json?.output;\n\n// Expressões regulares para capturar os campos\nconst workflowId = texto.match(/\\*\\*Workflow\\*\\*: .*?\\(ID: ([^)]+)\\)/)?.[1] || null;\nconst execucaoId = texto.match(/\\*\\*Execução\\*\\*: ID (\\d+)/)?.[1] || null;\nconst modo = texto.match(/\\*\\*Modo de execução\\*\\*: ([^\\n]+)/)?.[1]?.trim() || null;\nconst dataHora = texto.match(/\\*\\*Data\\/Hora\\*\\*: ([^\\n]+)/)?.[1]?.trim() || null;\n\n// Captura o link e troca 'webhook.' por 'n8n.'\nconst linkMatch = texto.match(/\\[Clique aqui\\]\\((https:\\/\\/[^\\)]+)\\)/);\nconst link = linkMatch?.[1]?.replace('webhook.', 'n8n.') || null;\n\n// Mensagem de erro e stack trace\nconst mensagemErro = texto.match(/\\*\\*Mensagem de erro\\*\\*:\\n(.+?)\\n\\n/)?.[1]?.trim() || null;\nconst stackTrace = texto.match(/\\*\\*Stack trace\\*\\*:\\n([\\s\\S]+?)\\n\\n✅/)?.[1]?.trim() || null;\n\n// Ação recomendada\nconst recomendacao = texto.match(/✅ Ação recomendada: (.+)$/)?.[1]?.trim() || null;\n\n// Retorna o objeto com todos os dados extraídos\nreturn [\n  {\n    json: {\n      workflow_id: workflowId,\n      execucao_id: execucaoId,\n      modo_execucao: modo,\n      data_hora: dataHora,\n      link_execucao: link,\n      mensagem_erro: mensagemErro,\n      stack_trace: stackTrace,\n      recomendacao: recomendacao,\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,864],"id":"5fba0e93-497c-4636-bde4-fb4995c0ce7b","name":"Code"},{"parameters":{"content":"","height":416,"width":1056,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[336,736],"id":"37c962d2-e253-4fb3-8f71-a7804c6893ae","name":"Sticky Note6"},{"parameters":{"content":"## MIni fluxo de erros - card no trello","height":96,"width":384,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[336,736],"id":"7ee38c8d-33b7-48e1-a336-89ef5a355ce0","name":"Sticky Note7"},{"parameters":{"url":"={{ $json.imageUrl }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,-32],"id":"5b1f0b10-4b86-4606-a2d6-0d12808f3359","name":"Pesquisa imagem"},{"parameters":{"operation":"binaryToPropery","destinationKey":"imagem_produto","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[800,-32],"id":"7bf69cab-918a-44ad-a77e-6ef9d6a2b846","name":"Extrair imagem do link"},{"parameters":{"method":"POST","url":"=https://open-api.affiliate.shopee.com.br/graphql","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $json.authorizationHeader }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.requestBody }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,-32],"id":"2090beb5-276b-4413-887c-5331dc3ca079","name":"API Shopee"},{"parameters":{"jsCode":"const crypto = require('crypto');\n\nconst appId = '18398850421';\nconst secret = 'Q24H7XRYJKETZ7FTTSCL3GL7XLKFV5VV';\n\n// Pega link do produto do node \"Pega produto na planilha\"\nconst url = $('Pega produto na planilha').first().json['Product Link'];\nif (!url) throw new Error('Nenhum link encontrado no campo \"Product Link\".');\n\n// Extrai shopId/itemId de /product/{shopId}/{itemId} ou -i.{shopId}.{itemId}\nlet shopId, itemId;\nlet m = url.match(/\\/product\\/(\\d+)\\/(\\d+)/);\nif (m) { \n  shopId = m[1]; \n  itemId = m[2]; \n} else {\n  m = url.match(/-i\\.(\\d+)\\.(\\d+)/);\n  if (m) { \n    shopId = m[1]; \n    itemId = m[2]; \n  }\n}\nif (!itemId) throw new Error('Não foi possível extrair itemId/shopId do link.');\n\n// Monta query GraphQL com literais\nconst rawQuery = `\n  query {\n    productOfferV2(itemId: ${itemId}, shopId: ${shopId || 'null'}, page: 1, limit: 1) {\n      nodes {\n        itemId shopId productName productLink offerLink imageUrl shopName\n        priceMin priceMax commissionRate sellerCommissionRate shopeeCommissionRate\n        ratingStar sales\n      }\n      pageInfo { page limit hasNextPage }\n    }\n  }\n`;\n\n// Minifica\nlet q = rawQuery\n  .replace(/\\/\\/.*$/gm, '')\n  .replace(/\\/\\*[\\s\\S]*?\\*\\//g, '')\n  .replace(/[\\n\\r]/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .replace(/\\s*([(){}:,])\\s*/g, '$1')\n  .trim();\n\nconst graphqlPayloadObject = { query: q };\nconst payloadString = JSON.stringify(graphqlPayloadObject);\n\nconst timestamp = Math.floor(Date.now() / 1000);\nconst signatureFactor = `${appId}${timestamp}${payloadString}${secret}`;\nconst signature = crypto.createHash('sha256').update(signatureFactor).digest('hex');\nconst authorizationHeader = `SHA256 Credential=${appId}, Timestamp=${timestamp}, Signature=${signature}`;\n\nreturn [{\n  json: {\n    url, itemId, shopId,\n    authorizationHeader,\n    requestBody: graphqlPayloadObject\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,-32],"id":"9f12c07a-7aef-40f2-9ce7-092931b82112","name":"Prepara Query para API Shopee"},{"parameters":{"jsCode":"// Pega o JSON retornado pelo node anterior\nconst input = $json;\n\n// Acesso seguro aos dados do primeiro produto\nconst product = input?.data?.productOfferV2?.nodes?.[0];\nif (!product) {\n  throw new Error('Nenhum produto encontrado na resposta.');\n}\n\n// Monta um objeto mais limpo com os campos desejados\nreturn [{\n  json: {\n    itemId: product.itemId,\n    shopId: product.shopId,\n    productName: product.productName,\n    productLink: product.productLink,\n    offerLink: product.offerLink,\n    imageUrl: product.imageUrl,\n    shopName: product.shopName,\n    priceMin: parseFloat(product.priceMin),\n    priceMax: parseFloat(product.priceMax),\n    commissionRate: parseFloat(product.commissionRate),\n    sellerCommissionRate: parseFloat(product.sellerCommissionRate),\n    shopeeCommissionRate: parseFloat(product.shopeeCommissionRate),\n    ratingStar: parseFloat(product.ratingStar),\n    sales: product.sales\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,-32],"id":"6b016bfe-4f7b-4470-a241-b430844cd3b2","name":"Extrai Informações"},{"parameters":{"content":"","height":1552,"width":1808,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-352,-304],"id":"456d434b-929c-4666-bf4d-f2dd003afb16","name":"Sticky Note8"},{"parameters":{"content":"# Shopee","height":80,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-352,-304],"id":"fce13a03-6313-4c23-8ce5-83e3295cc9f4","name":"Sticky Note9"},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":1097137228,"mode":"list","cachedResultName":"Produtos Amazon","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=1097137228"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"nao_enviado"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2032,-80],"id":"692b2cc8-015d-4067-a125-6f2d53e32b22","name":"Pega produto na planilha2","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"url":"={{ $json.Imagem }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2224,-80],"id":"35b0cc67-4992-440c-b9bf-d32a2a11f9e0","name":"Pesquisa imagem1"},{"parameters":{"operation":"binaryToPropery","destinationKey":"imagem_produto","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2400,-80],"id":"f2ee04bd-eb2f-4146-b21e-8ce27a63d1a5","name":"Extrair imagem do link1"},{"parameters":{"promptType":"define","text":"=Produto: {{ $('Extrai Informações').item.json.productName }}\nLink de Oferta: {{ $('Extrai Informações').item.json.offerLink }}\nPreço: {{ (() => {\n  const rawMin = $('Extrai Informações').item.json.priceMin;\n  const rawMax = $('Extrai Informações').item.json.priceMax;\n  const toNum = v => Number(String(v ?? '').replace(',', '.'));\n  const pmin = toNum(rawMin);\n  const pmax = toNum(rawMax);\n  const fmt = v => isFinite(v) ? ('R$ ' + v.toFixed(2).replace('.', ',')) : null;\n\n  if (!isFinite(pmin) && !isFinite(pmax)) return 'Indisponível';\n  if (isFinite(pmin) && isFinite(pmax)) {\n    if (Math.abs(pmax - pmin) < 0.01) return fmt(pmin);\n    const spread = (pmax - pmin) / Math.max(pmin, 0.01);\n    return spread >= 0.2 ? ('a partir de ' + fmt(pmin)) : ('de ' + fmt(pmin) + ' a ' + fmt(pmax));\n  }\n  if (isFinite(pmin)) return 'a partir de ' + fmt(pmin);\n  if (isFinite(pmax)) return 'até ' + fmt(pmax);\n  return 'Indisponível';\n})() }}\nAvaliação: {{ (Number($('Extrai Informações').item.json.ratingStar) || 0).toFixed(1).replace('.', ',') }} ★\n","options":{"systemMessage":"={\n  \"name\": \"AutoPromo\",\n  \"context\": {\n    \"identity\": \"Bot Vendedor da Automação Inteligente\",\n    \"business\": \"Sistema de Automação Inteligente\",\n    \"Language\": \"português brasileiro\",\n    \"data_atual\": \"hoje é: {{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, hora: {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n  \"Informação atualizada para usar em resposta\": \"{{ $json.output }}\",\n  \"personality\": [\n    \"Tom persuasivo, envolvente e natural\",\n    \"Usa emojis estratégicos 🎯🔧🔥 para chamar atenção sem exageros\",\n    \"Estilo formal-coloquial: próximo e humano, sem gírias excessivas\",\n    \"Enfatiza benefícios, urgência e escassez para aumentar conversão\"\n  ],\n  \"objectives\": [\n    \"Gerar mensagens automáticas curtas, criativas e visualmente organizadas para divulgar produtos da Shopee no WhatsApp\",\n    \"Criar textos que incentivem o clique imediato, transmitindo valor e urgência\"\n  ],\n  \"general_rules\": [\n    \"Resumir o nome do produto para no máximo 4–6 palavras, removendo termos irrelevantes (ex.: numeração, códigos, descrições longas)\",\n    \"Nunca incluir o link da Shopee mais de uma vez na mesma mensagem\",\n    \"Não repetir a mesma informação em blocos diferentes da mensagem\",\n    \"Não usar formato de link clicável com texto igual ao link\",\n    \"Usar quebras de linha para criar blocos visuais claros\",\n    \"Começar com título chamativo, pergunta de impacto ou alerta\",\n    \"Usar bullets ou marcadores ✔️🔧💡 para listar vantagens\",\n    \"Transmitir urgência real (ex.: últimas unidades, válido só hoje)\",\n    \"Finalizar com CTA direta e destacada: 'Clique agora', 'Garanta já', 'Aproveite aqui'\",\n    \"Evitar parágrafos longos; manter leitura escaneável\",\n    \"Nunca coloque o preço e o link duas vezes, SEMPRE uma vez\"\n  ],\n  \"price_logic\": \"Se min==max (ou diferença < R$0,01) → preço único. Se spread >= 20% → 'a partir de R$ min'. Caso contrário → 'de R$ min a R$ max'. Se só min → 'a partir de R$ min'. Se só max → 'até R$ max'.\",\n  \"flow_de_atendimento_padrão\": {\n    \"steps\": [\n      {\n        \"1\": \"Mensagem inicial de impacto:\\n🚨 *PROMOÇÃO RELÂMPAGO* 🚨\\n❓ *Já pensou em ter {{ $('Extrai Informações').item.json.productName }} em casa?*\\n💥 *Campeão de vendas na Shopee!*\"\n      },\n      {\n        \"2\": \"Lista de benefícios + preço:\\n✔️ Benefício 1\\n✔️ Benefício 2\\n✔️ Benefício 3\\n💡 Preço: {{ (() => { const toNum = v => Number(String(v ?? '').replace(',', '.')); const pmin = toNum($('Extrai Informações').item.json.priceMin); const pmax = toNum($('Extrai Informações').item.json.priceMax); const fmt = v => isFinite(v) ? ('R$ ' + v.toFixed(2).replace('.', ',')) : null; if (!isFinite(pmin) && !isFinite(pmax)) return 'Indisponível'; if (isFinite(pmin) && isFinite(pmax)) { if (Math.abs(pmax - pmin) < 0.01) return fmt(pmin); const spread = (pmax - pmin) / Math.max(pmin, 0.01); return spread >= 0.2 ? ('a partir de ' + fmt(pmin)) : ('de ' + fmt(pmin) + ' a ' + fmt(pmax)); } if (isFinite(pmin)) return 'a partir de ' + fmt(pmin); if (isFinite(pmax)) return 'até ' + fmt(pmax); return 'Indisponível'; })() }}\"\n      },\n      {\n        \"3\": \"Urgência e CTA:\\n🔥 *Últimas unidades!*\\n👉 *Garanta agora:* {{ $('Extrai Informações').item.json.offerLink }}\\n⏳ *Promoção válida só hoje!*\"\n      },\n      {\n        \"4\": \"Modelos extras para diversidade (alternar aleatoriamente)\",\n        \"modelos\": [\n          \"🔥 **{{ produto_curto }}**\\n💰 {{ preço }}\\n⭐ Avaliação: {{ avaliação }} ★\\n📦 Aproveite agora → {{ link }}\",\n          \"⚠️ Restam poucas peças de **{{ produto_curto }}**!\\n💵 {{ preço }} | ⭐ {{ avaliação }}\\n🛒 Garanta o seu: {{ link }}\",\n          \"🎯 Você precisa ver isso: **{{ produto_curto }}**\\nDe: ~~preço antigo~~ | Por: {{ preço }}\\n⭐ Avaliação: {{ avaliação }}\\n📌 Clique e compre: {{ link }}\",\n          \"🏆 Top vendas: **{{ produto_curto }}**\\n💲 {{ preço }} | ⭐ {{ avaliação }}\\n💨 Não fique sem → {{ link }}\",\n          \"📢 Só hoje: **{{ produto_curto }}**\\n💰 {{ preço }} | ⭐ {{ avaliação }}\\n🛒 Garanta com desconto → {{ link }}\"\n        ]\n      }\n    ]\n  }\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[2448,352],"id":"24bd39b3-30d5-4bda-936c-0b4e2d1bfe65","name":"AI Agent2"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2224,448],"id":"51b6b159-d520-41ba-878b-74dafd229633","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Estevão - pessoal","remoteJid":"={{ $('Pega \\'telefone\\' dos grupos1').item.json['Número do grupo'] }}","media":"={{ $('Extrair imagem do link1').item.json.imagem_produto }}","caption":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3040,352],"id":"118a4500-f4f7-44ea-8018-821808018914","name":"Enviar imagem1","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"yNcLlaUxCcsYBcUx","name":"Pessoal"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * 5) + 40 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2832,352],"id":"f5cc7d28-0dd4-4165-bf6d-8d39d798fd31","name":"Wait1","webhookId":"1717c0cb-3a74-4962-a2a6-0645684ae23a"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2096,336],"id":"dabaa80b-60cf-4673-adcc-dba9447db18b","name":"Loop Over Items"},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":309245581,"mode":"list","cachedResultName":"Grupos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=309245581"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1872,336],"id":"938650da-4f4b-4674-adba-637413ba2afc","name":"Pega 'telefone' dos grupos1","credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":1097137228,"mode":"list","cachedResultName":"Produtos Amazon","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=1097137228"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_produto }}","Status":"enviado","Finalizado em":"=Finalizado em: {{ new Date().toLocaleString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\", weekday: \"long\", day: \"2-digit\", month: \"2-digit\", year: \"numeric\", hour: \"2-digit\", minute: \"2-digit\" }) }}"},"matchingColumns":["row_number"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Item Name","displayName":"Item Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Price","displayName":"Price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Sales","displayName":"Sales","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Shop Name","displayName":"Shop Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Commission Rate","displayName":"Commission Rate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Commission","displayName":"Commission","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Product Link","displayName":"Product Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Offer Link","displayName":"Offer Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Finalizado em","displayName":"Finalizado em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2112,784],"id":"297c3769-b4c3-4b6a-940c-4c1302336650","name":"Pega produto na planilha3","credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b9ac5523-a007-4069-8263-37d73524fb2a","name":"row_produto","value":"={{ $('Pega produto na planilha2').item.json.row_number }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1840,784],"id":"cfedb23f-8336-4875-bad3-54a84eafd799","name":"Edit Fields1"},{"parameters":{"content":"","height":1392,"width":1696,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1664,-304],"id":"12b5081c-e2b4-41a0-aa57-844221b75bdf","name":"Sticky Note10"},{"parameters":{"content":"# Amazon","height":80,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1664,-304],"id":"c5fac443-28b9-4d8c-b262-0eb492e22b72","name":"Sticky Note11"},{"parameters":{"content":"","height":352,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1760,-176],"id":"5fcb4b32-f405-416b-80c5-6377ab260b42","name":"Sticky Note12"},{"parameters":{"content":"## Pega informações do produto tal como a imagem","height":80,"width":576,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1760,-176],"id":"cb8f3727-97c9-41ab-9651-842254d07775","name":"Sticky Note13"},{"parameters":{"content":"","height":432,"width":1488,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1760,192],"id":"e586691e-7c91-4a72-a620-d1100f000813","name":"Sticky Note14"},{"parameters":{"content":"## Pega 'telefone' dos grupos, prepara mensagem e envia os produtos nos grupos","height":96,"width":672,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1760,192],"id":"fd997a82-f9d5-4f3b-b2c1-445e674e8f3d","name":"Sticky Note15"},{"parameters":{"content":"","height":384,"width":608,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1760,640],"id":"4717a2fd-ded9-444f-99f4-0ed1355e5a21","name":"Sticky Note16"},{"parameters":{"content":"## Marca 'enviado' no produto","height":96,"width":384,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1760,640],"id":"b3898210-b015-4825-af08-32d4e059b8d0","name":"Sticky Note17"},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":2000911832,"mode":"list","cachedResultName":"Golden ADS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=2000911832"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"nao_enviado"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3920,-64],"id":"62f6cb5a-8dc6-4a6a-9939-c4fa659e0ac8","name":"Pega produto na planilha4","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"content":"","height":352,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3648,-160],"id":"a6a54cb4-b27f-494d-839e-9225beaf5372","name":"Sticky Note19"},{"parameters":{"content":"## Pega informações do produto tal como a imagem","height":80,"width":576,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3648,-160],"id":"1cc3a100-d2db-4033-b197-c343f39ea663","name":"Sticky Note20"},{"parameters":{"promptType":"define","text":"={{ $('Pega produto na planilha4').item.json.Nome }}\n{{ $('Pega produto na planilha4').item.json['Página de venda'] }}\n{{ $('Pega produto na planilha4').item.json['Mensagem pronta'] }}\n","options":{"systemMessage":"="}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[4288,1168],"id":"5cde009c-689a-4978-a72d-b2079c682396","name":"AI Agent3"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4048,1232],"id":"1ebfc5e2-54ea-4073-814a-fe13cb41fd6f","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Estevão - pessoal","remoteJid":"={{ $('Pega \\'telefone\\' dos grupos2').item.json['Número do grupo'] }}","media":"={{ $('Extrair imagem do drive').item.json.imagem_produto }}","caption":"={{ $('Pega produto na planilha4').item.json['Mensagem pronta'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4416,464],"id":"e8f3a47d-9613-4682-8056-12045bb1f119","name":"Enviar imagem2","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"yNcLlaUxCcsYBcUx","name":"Pessoal"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * 5) + 40}}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4208,464],"id":"ba08ce8d-ed88-4ae5-abe0-2beba5856d3c","name":"Wait2","webhookId":"1717c0cb-3a74-4962-a2a6-0645684ae23a"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3984,448],"id":"afb1a353-6794-40ea-9910-96d519485134","name":"Loop Over Items2"},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":309245581,"mode":"list","cachedResultName":"Grupos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=309245581"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3760,448],"id":"cebde98b-7edb-4a84-8a7d-56678f1bd3be","name":"Pega 'telefone' dos grupos2","credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"content":"","height":432,"width":1488,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3648,304],"id":"d1a9f999-e7aa-4548-8a5f-02d91317f461","name":"Sticky Note18"},{"parameters":{"content":"## Pega 'telefone' dos grupos, prepara mensagem e envia os produtos nos grupos","height":96,"width":672,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3648,304],"id":"72f0c63e-f758-4060-b222-7cfe1c5c3b93","name":"Sticky Note21"},{"parameters":{"content":"","height":1392,"width":1696,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3552,-304],"id":"aaddd072-110e-4122-bc1b-3bbcc2182f54","name":"Sticky Note22"},{"parameters":{"content":"# Golden ADS","height":80,"width":368,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3552,-304],"id":"9139ef83-ab6a-48a4-9f3b-263f681c09cb","name":"Sticky Note23"},{"parameters":{"rule":{"interval":[{"triggerAtHour":7,"triggerAtMinute":null}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-64,-288],"id":"9f320164-581c-4aec-88ec-00b45339de01","name":"Schedule Trigger3"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11,"triggerAtMinute":null}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[144,-288],"id":"1306f0b3-ed39-41f5-8706-27803983905b","name":"Schedule Trigger"},{"parameters":{"rule":{"interval":[{"triggerAtHour":15,"triggerAtMinute":null}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[400,-288],"id":"e0f2f667-124e-4263-943b-800890cfce51","name":"Schedule Trigger4"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[2096,-304],"id":"d31ad327-6381-4197-b5f5-348698f5b482","name":"Schedule Trigger5","disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":12,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[2304,-304],"id":"d0c69b04-45bb-4cde-bb5a-2ad953fb40f3","name":"Schedule Trigger6","disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":16,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[2560,-304],"id":"9f6bae31-1372-4d83-afac-f11692f0f5ff","name":"Schedule Trigger7","disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[3968,-288],"id":"640d2017-52f8-4fa4-8aa3-62cce03b2f94","name":"Schedule Trigger8"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[4176,-288],"id":"36ab5aef-6639-42be-aed7-5b015614a523","name":"Schedule Trigger9"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[2336,448],"id":"e3152397-6d64-4a1b-8f6c-8e573bac7c9c","name":"Groq Chat Model1","credentials":{"groqApi":{"id":"goykBSqf3Way2XVY","name":"Groq account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[4176,1232],"id":"2419a7d5-4169-45e2-9d43-6aa318598c5b","name":"Groq Chat Model2","credentials":{"groqApi":{"id":"goykBSqf3Way2XVY","name":"Groq account"}}},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[272,496],"id":"3724172b-6d67-4f4c-a878-34c4db8e01f1","name":"Groq Chat Model","credentials":{"groqApi":{"id":"goykBSqf3Way2XVY","name":"Groq account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[48,640],"id":"e6cd9492-94ae-4f53-9e3d-bf271eae0493","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"lKGONnxExsTJAxPv","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"url":"={{ $json.Imagem }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5616,-64],"id":"b924d0cf-8ae2-4c8f-9807-012c213c43ad","name":"Pesquisa imagem2"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.Imagem }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[4128,-64],"id":"e45c76e6-4dfd-48c3-8bc0-53a4d996c0ad","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"HZOKSVKLRv4VZ1Im","name":"Google Drive account"}}},{"parameters":{"operation":"binaryToPropery","destinationKey":"imagem_produto","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[4336,-64],"id":"9155692d-e248-40ac-9192-000617d66091","name":"Extrair imagem do drive"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":2000911832,"mode":"list","cachedResultName":"Golden ADS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=2000911832"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Pega produto na planilha4').item.json.row_number }}","Status":"enviado"},"matchingColumns":["row_number"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tipo","displayName":"Tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Página de venda","displayName":"Página de venda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Mensagem pronta","displayName":"Mensagem pronta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Imagem","displayName":"Imagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Material de divulgação","displayName":"Material de divulgação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Criativos","displayName":"Criativos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Drive Produtor","displayName":"Drive Produtor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Script de atendimento","displayName":"Script de atendimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Cupom de desconto","displayName":"Cupom de desconto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Página do produto","displayName":"Página do produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4672,432],"id":"3c777d45-5ff8-4f32-bfb1-d9eb24a259b8","name":"Pega produto na planilha5","credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":2000911832,"mode":"list","cachedResultName":"Golden ADS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=2000911832"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"enviado"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4192,-464],"id":"81d1f206-f366-4003-b91f-d0d8e6cd1f0e","name":"Pega produto na planilha6","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[4368,-288],"id":"d5f2c64e-17c7-407e-a787-3cffd07b7549","name":"Schedule Trigger10"},{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[4544,-288],"id":"a70a1fa4-3cbf-49c4-a1c0-5a8aae88d475","name":"Schedule Trigger11"},{"parameters":{"rule":{"interval":[{"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[4720,-288],"id":"1057f547-9def-4fbe-9d6c-ca4afb9b58a8","name":"Schedule Trigger12"},{"parameters":{"rule":{"interval":[{"triggerAtHour":16}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[4912,-288],"id":"4b1322be-0525-4d05-81aa-20d0584b6a91","name":"Schedule Trigger13"},{"parameters":{"rule":{"interval":[{"triggerAtHour":18}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[5088,-288],"id":"92172094-5887-4ae4-9340-d8562d91e10f","name":"Schedule Trigger14"},{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[3968,-464],"id":"9deb0f9f-a138-4983-950d-11e16320a31c","name":"Schedule Trigger15"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":2000911832,"mode":"list","cachedResultName":"Golden ADS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=2000911832"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","Status":"nao_enviado"},"matchingColumns":["row_number"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tipo","displayName":"Tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Página de venda","displayName":"Página de venda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Mensagem pronta","displayName":"Mensagem pronta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Imagem","displayName":"Imagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Material de divulgação","displayName":"Material de divulgação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Criativos","displayName":"Criativos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Drive Produtor","displayName":"Drive Produtor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Script de atendimento","displayName":"Script de atendimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Cupom de desconto","displayName":"Cupom de desconto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Página do produto","displayName":"Página do produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4416,-464],"id":"65242afb-25b0-4f24-8670-cf741921ecfd","name":"Pega produto na planilha7","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}}],"connections":{"gatilho manual":{"main":[[{"node":"Pega produto na planilha4","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Wait","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[]]},"Enviar imagem":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Enviar imagem","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Pega produto na planilha":{"main":[[{"node":"Prepara Query para API Shopee","type":"main","index":0}]]},"Pega 'telefone' dos grupos":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Pega produto na planilha1","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Code":{"main":[[{"node":"Create a card","type":"main","index":0}]]},"Pesquisa imagem":{"main":[[{"node":"Extrair imagem do link","type":"main","index":0}]]},"Extrair imagem do link":{"main":[[{"node":"Pega 'telefone' dos grupos","type":"main","index":0}]]},"API Shopee":{"main":[[{"node":"Extrai Informações","type":"main","index":0}]]},"Prepara Query para API Shopee":{"main":[[{"node":"API Shopee","type":"main","index":0}]]},"Extrai Informações":{"main":[[{"node":"Pesquisa imagem","type":"main","index":0}]]},"Pesquisa imagem1":{"main":[[{"node":"Extrair imagem do link1","type":"main","index":0}]]},"Pega produto na planilha2":{"main":[[{"node":"Pesquisa imagem1","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[]]},"Enviar imagem1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Enviar imagem1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"AI Agent2","type":"main","index":0}]]},"Pega 'telefone' dos grupos1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Pega produto na planilha3","type":"main","index":0}]]},"Extrair imagem do link1":{"main":[[{"node":"Pega 'telefone' dos grupos1","type":"main","index":0}]]},"Pega produto na planilha4":{"main":[[{"node":"Download file","type":"main","index":0}]]},"AI Agent3":{"main":[[]]},"OpenAI Chat Model3":{"ai_languageModel":[[]]},"Enviar imagem2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Enviar imagem2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Pega produto na planilha5","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Pega 'telefone' dos grupos2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"Pega produto na planilha","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Pega produto na planilha","type":"main","index":0}]]},"Schedule Trigger4":{"main":[[{"node":"Pega produto na planilha","type":"main","index":0}]]},"Schedule Trigger5":{"main":[[{"node":"Pega produto na planilha2","type":"main","index":0}]]},"Schedule Trigger6":{"main":[[{"node":"Pega produto na planilha2","type":"main","index":0}]]},"Schedule Trigger7":{"main":[[{"node":"Pega produto na planilha2","type":"main","index":0}]]},"Schedule Trigger8":{"main":[[{"node":"Pega produto na planilha4","type":"main","index":0}]]},"Schedule Trigger9":{"main":[[{"node":"Pega produto na planilha4","type":"main","index":0}]]},"Groq Chat Model1":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Groq Chat Model2":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[]]},"Pesquisa imagem2":{"main":[[]]},"Download file":{"main":[[{"node":"Extrair imagem do drive","type":"main","index":0}]]},"Extrair imagem do drive":{"main":[[{"node":"Pega 'telefone' dos grupos2","type":"main","index":0}]]},"Schedule Trigger10":{"main":[[{"node":"Pega produto na planilha4","type":"main","index":0}]]},"Schedule Trigger11":{"main":[[{"node":"Pega produto na planilha4","type":"main","index":0}]]},"Schedule Trigger12":{"main":[[{"node":"Pega produto na planilha4","type":"main","index":0}]]},"Schedule Trigger13":{"main":[[{"node":"Pega produto na planilha4","type":"main","index":0}]]},"Schedule Trigger14":{"main":[[{"node":"Pega produto na planilha4","type":"main","index":0}]]},"Schedule Trigger15":{"main":[[{"node":"Pega produto na planilha6","type":"main","index":0}]]},"Pega produto na planilha6":{"main":[[{"node":"Pega produto na planilha7","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}