2025/12/09/hfcYbr52UXnM22Kl.json
{"nodes":[{"parameters":{"options":{}},"id":"4a654ca5-8f8a-4500-bb60-1ce6f2f9cef7","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3200,1984],"credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"69ce8374-ad7c-4e1a-a93c-5f3187487b83","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[2640,2048],"credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"content":"# Agente IA","height":80,"width":196,"color":5},"id":"c5d0fdb5-ceb6-4585-aead-435c577393c3","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3488,1600]},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"d118982d-98fb-4a8f-a11f-d4b2ba59f4a8","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[2832,2000],"credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"content":"","height":620,"width":820,"color":4},"type":"n8n-nodes-base.stickyNote","position":[3472,1584],"typeVersion":1,"id":"0d01753f-900a-4988-8279-c19ff143aad1","name":"Sticky Note4"},{"parameters":{"model":"gpt-4.1-mini","options":{}},"id":"f008c168-ac90-438f-b74e-73bc6689de99","name":"OpenAI3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[4448,2064],"credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"options":{}},"id":"ced5ee45-1ccd-418c-823f-a2bed5f2264e","name":"Loop Over Items3","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5040,1888]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"},"id":"cd18ad19-11e2-4d00-849f-6b3b581c3b1f","name":"OutputParser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[4672,2064]},{"parameters":{"promptType":"define","text":"=Whatsapp message to be splitted and formated: {{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"={\n  \"messages\": [\n    \"Por favor, gere a saída no seguinte formato JSON: {\\\"messages\\\": [\\\"splitedMessage\\\", \\\"splitedMessage\\\", \\\"splitedMessage\\\"]}\",\n    \"As mensagens devem ser divididas de forma natural, afinal estamos conversando com um humano. Certifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\",\n    \"Jamais separe uma mensagem vazia. Cada mensagem deve ter entre 300 e 500 caracteres, sem cortar informações, pois é uma conversa de chat.\",\n    \"Certifique-se de que a resposta siga exatamente essa estrutura: *negrito* (substitua '**' por '*') não made nada em negrito remova todos '*'; ~tachado~ (caso seja algo excluído/alterado); _itálico_ (extremamente raro).\",\n    \"Tudo o que for link, pode colocar entre \\\"`\\\", ou seja, na seguinte formatação: `www.link.com.br`. Use sempre essa formatação para todos os links.\",\n\"troque essas palavra: Prazer por: feliz em conhecer\"\n  ]\n}"}]}},"id":"be358916-75ad-4834-9ef8-561e2ef8189d","name":"Parser  Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[4464,1872]},{"parameters":{"content":"","height":620,"width":1380,"color":4},"type":"n8n-nodes-base.stickyNote","position":[4320,1584],"typeVersion":1,"id":"139985d4-dd56-4fed-a09d-a20532827155","name":"Sticky Note18"},{"parameters":{"content":"# Divisão de Mensagens Inteligente - Texto","height":80,"width":736,"color":5},"id":"675eda64-f797-4102-acf4-259008e190fc","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4352,1600]},{"parameters":{"model":"gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3520,1968],"id":"b7293829-d8af-410b-b456-5b0466d93e17","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $('Mensagem Completa').item.json.mensagem_completa }}","options":{"systemMessage":"={\n  \"name\": \"Aiko\",\n  \"context\": {\n    \"identity\": \"Assistente Comercial da Watashi Labs\",\n    \"business\": \"Watashi Labs\",\n    \"Language\": \"português brasileiro\",\n    \"data_atual\": \"hoje é:{{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, hora: {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n  \"Informação atualizada para usar em resposta\": \"{{ $json.output }}\",\n  \"personality\": [\n    \"Tom profissional e acessível, consultivo e orientado a soluções\",\n    \"Usa emojis de forma extremamente moderada (💡🚀✨)\",\n    \"Linguagem clara e objetiva\",\n    \"Chama o cliente pelo nome sempre\",\n    \"Faz uma pergunta por vez\"\n  ],\n  \"objectives\": [\n    \"Responder leads que interagem com a prospecção ativa\",\n    \"Qualificar leads e apresentar serviços de atendimento automatizado\",\n    \"Encaminhar leads interessados para reunião de alinhamento\"\n  ],\n  \"general_rules\": [\n    \"Jamais falar de valores no chat\",\n    \"Sempre adequar a resposta conforme a confirmação ou negação do lead\",\n    \"Manter tom profissional, cordial e objetivo\",\n    \"Sempre oferecer a reunião como próxima etapa quando houver interesse\",\n    \"Seja sempre direta, não fique usando termos sem necessidade\",\n    \"Sempre mande mensagens que fazem sentido\",\n    \"Protocolo de atendimento após agendamento: 991817\"\n  ],\n  \"flow_de_atendimento_padrão\": {\n    \"condições\": {\n      \"lead_confirma_identidade\": {\n        \"steps\": [\n          {\n            \"1\": \"Agradecimento inicial: 'Ah perfeito {{nome}}! Agradeço pela confirmação. Me chamo Aiko, sou da Watashi Labs e estou entrando em contato pois temos alguns serviços que podem fazer muito sentido para o seu negócio, principalmente na área de atendimento automatizado. Posso apresentar para você? Sem compromisso!'\"\n          },\n          {\n            \"2\": \"Apresentação do serviço: 'Perfeito, {{nome}}! O serviço que quero apresentar é o de atendimento automatizado, que funciona completamente por IA: desde o primeiro contato com seus clientes, respondendo dúvidas iniciais, até a qualificação de leads. Além disso, pode enviar arquivos, agendar reuniões e até gerar resumos dos contatos mais relevantes. O que acha? Posso apresentar melhor? Te interessa?'\"\n          },\n          {\n            \"3\": \"Pergunta de diagnóstico: 'Atualmente, vocês já têm algum tipo de pré-atendimento automatizado ou essa seria uma solução nova para o seu negócio? 💡'\"\n          },\n          {\n            \"4\": \"Pergunta de interesse: 'Se essa solução fizer sentido para você, podemos marcar uma breve reunião (online e gratuita) para entender seu cenário e apresentar como podemos ajudar. Quer agendar?'\"\n          },\n          {\n            \"5\": \"Para realizar agendamentos use o flow: 'flow_de_agendamento'\"\n          }\n        ]\n      },\n      \"lead_não_confirma_identidade\": {\n        \"steps\": [\n          {\n            \"1\": \"Resposta cordial: 'Ah entendo! Peço desculpas pelo incômodo e agradeço pela sua resposta.'\"\n          },\n          {\n            \"2\": \"Aproveitar oportunidade: 'Aproveitando, mesmo não sendo o contato que eu procurava, posso te apresentar rapidamente nossos serviços? Trabalhamos com soluções de atendimento automatizado e integrações inteligentes que podem gerar muito valor para empresas de vários segmentos. Posso te explicar melhor?'\"\n          }\n        ]\n      }\n    }\n  },\n  \"flow_de_agendamento\": {\n    \"steps\": [\n      {\n        \"step\": \"Oferecer agendamento\",\n        \"instructions\": \"Agendar reunião entre segunda e sexta, das 08h às 18h. Não informar disponibilidade de horários detalhada, apenas solicitar um horário que seja confortável para o cliente.\",\n        \"example_message\": \"Temos horários disponíveis de segunda a sexta, entre 08h e 18h. Qual dia e horário seria mais confortável para você?\"\n      },\n      {\n        \"step\": \"Confirmar dados\",\n        \"instructions\": \"Após escolha da data, confirmar e solicitar o e-mail para envio do link do Google Meet.\",\n        \"example_message\": \"Perfeito! Vou reservar esse horário para você. Pode me confirmar seu e-mail para enviarmos o link da reunião?\"\n      },\n      {\n        \"step\": \"Agradecer e finalizar\",\n        \"instructions\": \"Enviar confirmação da reunião e protocolo.\",\n        \"example_message\": \"Reunião confirmada com sucesso! Você receberá o link do Google Meet no e-mail informado. Obrigada pelo seu tempo e interesse ✨. Seu protocolo é: 991817\"\n      }\n    ]\n  },\n  \"tools\": [\n    {\n      \"name\": \"agendar_reuniao\",\n      \"usage\": \"Agenda nova reunião.\",\n      \"Rules\": \"Colete e-mail, data/horário (segunda a sexta, das 08h às 18h). Máximo 1 reunião por solicitação. Confirme todos os dados com o cliente antes de executar. OBRIGATÓRIO: envie o hangoutLink do Google Meet após agendar.\"\n    },\n    {\n      \"name\": \"reagendar_reuniao\",\n      \"usage\": \"Altera data/horário de reunião existente.\",\n      \"Rules\": \"Colete e-mail, data atual da reunião, nova data/horário (segunda a sexta, das 08h às 18h). Confirme todos os dados antes de executar. OBRIGATÓRIO: envie o hangoutLink do Google Meet após reagendar.\"\n    },\n    {\n      \"name\": \"cancelar_reuniao\",\n      \"usage\": \"Cancela reunião existente.\",\n      \"Rules\": \"Colete e-mail, data/horário da reunião. Confirme todos os dados antes de cancelar.\"\n    }\n  ]\n}\n"}},"id":"e4e00598-f556-45b0-b9e7-706cd65b415e","name":"Atendente","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[3600,1760]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Dados').item.json.Telefone }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3664,1952],"id":"15073989-f5fc-4be3-848f-874391ad50a9","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"sHGsuRh89fX2ELpX","name":"Postgres account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"991817","operator":{"type":"string","operation":"notContains"},"id":"2aa763f7-cf04-44e7-9bbb-8f8de823aef8"}],"combinator":"and"},"renameOutput":true,"outputKey":"Continuar na IA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"820760d6-3546-4007-8917-55d366a74261","leftValue":"={{ $json.output }}","rightValue":"991817","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Avisar Lead grupo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4048,1840],"id":"ff382e13-626d-4dd0-b9a4-60633a966e10","name":"Switch2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[5120,2528],"id":"466ca584-4505-47e4-85fe-b73dbb2083ba","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"content":"","height":400,"width":1620,"color":4},"type":"n8n-nodes-base.stickyNote","position":[4320,2240],"typeVersion":1,"id":"aa3732fa-6157-4f80-9887-3b84d02f017f","name":"Sticky Note44"},{"parameters":{"content":"# AVISAR NOVO LEAD NO GRUPO","height":80,"width":656,"color":5},"id":"d72d3053-adfe-44b9-a8be-a87402772927","name":"Sticky Note45","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4352,2272]},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[5040,1328],"id":"c9d62803-eed4-46e9-bb9d-072fd86e7027","name":"Merge1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"defac08a-6745-422b-bb05-90da9f47d91b","leftValue":"={{ $('Busca Telefone').last().json.values() }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4544,1328],"id":"a531d0cf-3719-4d02-8c8c-b69b78d876a2","name":"If4"},{"parameters":{"content":"","height":380,"width":1380,"color":4},"type":"n8n-nodes-base.stickyNote","position":[4320,1184],"typeVersion":1,"id":"ae812f77-95bc-4deb-bd4d-104e5419256a","name":"Sticky Note54"},{"parameters":{"content":"# Cadastra Chat Supabase","height":80,"width":450,"color":5},"id":"231a4357-9e6b-4580-972b-b161125b5df5","name":"Sticky Note55","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4352,1200]},{"parameters":{"operation":"get","tableId":"chats","filters":{"conditions":[{"keyName":"phone","keyValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4384,1328],"id":"3e5fba62-4187-48ea-9938-177ca7b07307","name":"Busca Telefone","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}},"onError":"continueRegularOutput"},{"parameters":{"tableId":"chats","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Dados').item.json.Telefone }}"},{"fieldId":"updated_at","fieldValue":"={{ $now}}"},{"fieldId":"created_at","fieldValue":"={{ $now}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4832,1232],"id":"5b25cfdb-5f2e-4a2d-b3f3-bfb03dc566ee","name":"Adiciona CHAT supabase","credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"chats","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"updated_at","fieldValue":"={{ $now }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4848,1408],"id":"5abf6a3d-e27f-448f-b652-3352141d39cc","name":"Atualiza CHAT Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"tableId":"chat_messages","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Dados').item.json.Telefone }}"},{"fieldId":"bot_message","fieldValue":"={{ $('Atendente').item.json.output }}"},{"fieldId":"user_message","fieldValue":"={{ $('Dados').item.json.message.content }}"},{"fieldId":"message_type","fieldValue":"={{ $('Dados').item.json.body.event }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"},{"fieldId":"nomewpp","fieldValue":"={{ $('Dados').item.json.NomeWpp }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5248,1328],"id":"5a84893f-ba1d-4c2d-b921-a6225ce986c6","name":"Cria Histórico Supabase","credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"fieldToSplitOut":"output.messages","options":{"destinationFieldName":"output"}},"id":"a3668c64-fd4d-4dcb-bcbe-e7bb5d4e44fd","name":"Split de Mensagem","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[4832,1888]},{"parameters":{"amount":1},"id":"c9f10358-5dda-42fa-93b1-d7d63785bd13","name":"1 segundo","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5552,1904],"webhookId":"a2c69e1c-13fe-44a2-962c-1249288537eb"},{"parameters":{"operation":"delete","key":"={{ $('Dados').item.json.Telefone }}"},"id":"5a2efa2d-245c-42ce-9d01-acaa05f6aebd","name":"Delete Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[5440,1328],"credentials":{"redis":{"id":"3jR2kDJrNhjHRX4D","name":"Redis account"}}},{"parameters":{"name":"buscar_documentos","description":"Analise o documento se encontrar uma informação que seja relevante traga o texto dele como resposta sem alterações, caso não encontre devolva o resultado em branco sem nem um texto","topK":2},"id":"d78d0690-6090-4f35-85c9-f80b7647a091","name":"buscar_documentos","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[2960,1840]},{"parameters":{"operation":"getAll","tableId":"chat_messages","matchType":"allFilters","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"},{"keyName":"active","condition":"eq","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4560,2368],"id":"58fec8cd-5418-448e-813a-e40b88a76925","name":"ListMessages-Supabase2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"conversas","include":"specifiedFields","fieldsToInclude":"id,message_type,created_at,user_message, bot_message,phone","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4768,2368],"id":"752ccaf6-d4cf-4ca0-972a-b51987065c9a","name":"Aggregate2"},{"parameters":{"jsCode":"return $('Aggregate2').all().map(item => {\n  // Tenta acessar a propriedade 'conversas' e verifica se ela é um array\n  const conversas = item.json.conversas || []; // Garante que é pelo menos um array vazio\n\n  if (!Array.isArray(conversas)) {\n    throw new Error(\"A propriedade 'conversas' não é um array.\");\n  }\n\n  // Processa cada conversa e verifica as mensagens\n  const textoUnico = conversas.map(conversa => {\n    const cliente = conversa.user_message || \"sem mensagem do chatbot\";\n    const agente = conversa.bot_message || \"sem resposta\";\n    \n    // Verifica se a data existe e formata\n    const dataOriginal = conversa.created_at || \"Data da Mensagem indisponível\";\n    const dataFormatada = dataOriginal !== \"Data da Mensagem indisponível\"\n      ? formatarData(dataOriginal)\n      : dataOriginal;\n\n    return `em: ${dataFormatada}\\n\\n - agente(chatbot): ${agente} \\n - cliente: ${cliente}\\n`;\n  }).join('\\n\\n');\n\n  // Retorna o texto final como resultado\n  return {\n    json: {\n      texto: textoUnico\n    }\n  };\n});\n\n// Função para formatar a data\nfunction formatarData(dataString) {\n  const data = new Date(dataString); // Converte a string em objeto Date\n  if (isNaN(data)) {\n    return \"Data inválida\"; // Retorna se a data não for válida\n  }\n  \n  // Formata no padrão DD/MM/YYYY HH:mm\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0'); // Mês começa em 0\n  const ano = data.getFullYear();\n  const horas = String(data.getHours()).padStart(2, '0');\n  const minutos = String(data.getMinutes()).padStart(2, '0');\n  \n  return `${dia}/${mes}/${ano} ${horas}:${minutos}`;\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4944,2368],"id":"878141ad-9d53-44c8-bed3-bc78eed8be8e","name":"Code6"},{"parameters":{"promptType":"define","text":"={\n  \"role\": \"Agente Resumidor de atendimento\",\n  \"proposito\": \"Analisar conversas cliente-agente e criar resumos detalhados do atendimento\",\n  \"instrucoes\": {\n    \"tarefa_principal\": \"Extrair e resumir apenas sobre o atendimento do cliente a partir das conversas\",\n    \"formato\": \"Incluir data da sessão quando disponível\",\n    \"foco\": \"demandas do cliente, excluir respostas do agente\",\n    \"estilo\": \"Resumos detalhados mas concisos\",\n    \"evitar\": \"Dicas de uso, informações extras ou explicações\",\n    \"Me de o resultado somente com o resumo sem caracteres especiais\"\n  },\n  \"formato_entrada\": {\n    \"conversa\": \"{{ $json.texto }}\"\n  },\n  \"formato_saida\": {\n    \"resumo\": \"Descrição concisa do caso do cliente e data que ele gostaria de agendar uma rerunião\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[5152,2368],"id":"0cb80378-d7c6-41ec-9fcf-d1c8802ef2db","name":"Basic LLM Chain1"},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Dados').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1344,1952],"id":"130bff26-d76b-4f76-a603-e6464bc9c75f","name":"Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1136,1888],"id":"632ced04-b9fe-4292-8f36-fa6c2e6637d7","name":"If1"},{"parameters":{"content":"","height":620,"width":980,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1600,1584],"typeVersion":1,"id":"b683c7a1-48d9-4288-b51c-3be79580c8cd","name":"Sticky Note17"},{"parameters":{"content":"","height":660,"width":960,"color":4},"type":"n8n-nodes-base.stickyNote","position":[592,1552],"typeVersion":1,"id":"7b38e3fa-4478-416a-b20d-ae4930fa2f31","name":"Sticky Note20"},{"parameters":{"content":"","height":440,"width":740,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1376,1760],"typeVersion":1,"id":"52074f9f-5151-4786-b5de-66a0aca22149","name":"Sticky Note22"},{"parameters":{"content":"# Cadastrar Lead Supa Base","height":80,"width":596,"color":4},"id":"17211f87-a33e-46c1-ba4f-9ba1e0c6d49a","name":"Sticky Note23","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1376,1792]},{"parameters":{"content":"","height":500,"width":1120,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-624,1712],"typeVersion":1,"id":"c7bdc8c6-c9e0-46ba-8f3a-53fa723265bf","name":"Sticky Note26"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-1952,1200],"typeVersion":1,"id":"a7c5258e-06d1-49ca-b371-86fd873bcbe0","name":"Sticky Note31"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-1152,800],"typeVersion":1,"id":"ab51543c-ba4d-42a3-80a1-bd50b91d0ebb","name":"Sticky Note33"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-912,1200],"typeVersion":1,"id":"ae5728f2-58c4-4de3-82ff-9681990701e4","name":"Sticky Note37"},{"parameters":{"content":"# Pausar IA","height":80,"width":216,"color":4},"id":"cde7df13-ad15-414c-85ec-d483fd72976c","name":"Sticky Note41","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-624,1712]},{"parameters":{"operation":"executeQuery","query":"create table dados_cliente (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  telefone text, \n  nomewpp text,\n  atendimento_ia text\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1616,816],"id":"11438205-636c-4a27-881d-40d23a042ae8","name":"Cria Tabela Dados Cliente","credentials":{"postgres":{"id":"sHGsuRh89fX2ELpX","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-560,848],"id":"e479d211-f7fb-4134-aef1-8036045c1f1f","name":"Cria Tabela Documentos","credentials":{"postgres":{"id":"sHGsuRh89fX2ELpX","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"delete from documents","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-848,1216],"id":"57b761b2-5212-4729-a6fe-b45b9c4fc54e","name":"Deleta Conteúdo Documentos","credentials":{"postgres":{"id":"sHGsuRh89fX2ELpX","name":"Postgres account"}}},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-896,800],"typeVersion":1,"id":"f1576c5c-adc8-4194-8d50-238d94ccfd62","name":"Sticky Note40"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-608,800],"typeVersion":1,"id":"bfdbcce9-72f3-430c-947a-102ea8ae50f1","name":"Sticky Note48"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-1936,800],"typeVersion":1,"id":"6b328995-2178-49eb-b7b6-519f84f87a82","name":"Sticky Note49"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-1408,800],"typeVersion":1,"id":"d99b52de-141f-4505-86e6-943a2cd1e4e3","name":"Sticky Note50"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-1440,1200],"typeVersion":1,"id":"168439dc-9b38-4a2f-89ee-a332fb63788d","name":"Sticky Note56"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-1680,800],"typeVersion":1,"id":"9bdc4e8b-5e44-4950-8947-fbeb45b9d52b","name":"Sticky Note57"},{"parameters":{"operation":"executeQuery","query":"delete from n8n_chat_histories","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1888,1232],"id":"ea159fce-ee97-443c-a9fc-e5e95a16b3c2","name":"Deleta Histórico","credentials":{"postgres":{"id":"sHGsuRh89fX2ELpX","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"create function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-832,816],"id":"d324f6a5-ac0f-48ff-a583-f6dfb3505d75","name":"Cria função Busca em Vetor","credentials":{"postgres":{"id":"sHGsuRh89fX2ELpX","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"create extension vector;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1088,816],"id":"2e912477-cb39-4598-aa9c-ae24b27bae89","name":"Cria Extensão Vetor","credentials":{"postgres":{"id":"sHGsuRh89fX2ELpX","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"create table chats (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  phone text,\n  updated_at text\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1360,816],"id":"72e68585-cc6f-4a05-afdf-672992474bff","name":"Cria Tabela Chats","credentials":{"postgres":{"id":"sHGsuRh89fX2ELpX","name":"Postgres account"}}},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-1168,1200],"typeVersion":1,"id":"ae5f9a0c-c5b2-4d21-9929-087555f45637","name":"Sticky Note65"},{"parameters":{"operation":"executeQuery","query":"delete from chats","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1120,1216],"id":"347e19c8-0adf-4754-8e49-73284545afbb","name":"Deleta Conteúdo Chats","credentials":{"postgres":{"id":"sHGsuRh89fX2ELpX","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"delete from dados_cliente","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1376,1216],"id":"54ebe5c3-4197-42fd-a907-b50b6b62dd33","name":"Deleta Conteúdo Dados Cliente","credentials":{"postgres":{"id":"sHGsuRh89fX2ELpX","name":"Postgres account"}}},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-1696,1200],"typeVersion":1,"id":"6fbf2b6b-b3c9-4137-8a42-9ab2bf35fdd6","name":"Sticky Note66"},{"parameters":{"operation":"executeQuery","query":"delete from chat_messages","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1632,1216],"id":"2b9e152f-1618-4180-b737-869aac511dd1","name":"Deleta Conteúdo Chat_Messages","credentials":{"postgres":{"id":"sHGsuRh89fX2ELpX","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE chat_messages (\n  id BIGSERIAL PRIMARY KEY,\n  created_at TIMESTAMPTZ, \n  phone TEXT,\n  nomewpp TEXT, \n  bot_message TEXT,\n  user_message TEXT, \n  message_type TEXT,\n  active BOOLEAN DEFAULT TRUE\n);\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1872,816],"id":"c517e3ad-6d80-4492-a6f4-5240ceec24a4","name":"Cria Tabela Chat_Messages","credentials":{"postgres":{"id":"sHGsuRh89fX2ELpX","name":"Postgres account"}}},{"parameters":{"content":"","height":440,"width":600,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2016,1760],"typeVersion":1,"id":"8600764e-74e3-4b02-b0e5-df0b3edfc13e","name":"Sticky Note32"},{"parameters":{"content":"## WEBHOOK & ROTAS","height":80,"width":276,"color":4},"id":"baf6f0b9-7dd6-446c-af43-4357c2f7cab7","name":"Sticky Note67","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2000,1792]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.png","mimeType":"image/png"}},"id":"968e16d1-30e3-44f4-a021-452dc9690d29","name":"Convert to File1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[848,2048]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook EVO - aula').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"e2dfda07-caf6-4edc-96b8-c3fe30f53343","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,2048]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ade56c50-1520-4760-8df5-e99617d6d3ad","leftValue":"={{ $('Webhook EVO - aula').item.json.body.data.message.imageMessage.caption }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"a110f071-7c2b-4d65-a29a-33ffa72aa9c8","name":"If3","type":"n8n-nodes-base.if","typeVersion":2,"position":[1184,2048]},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.Telefone }}","messageData":"={{ $('Dados').item.json.message.content }}, {{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"19b9a064-5af1-453b-8f4f-c5306be1f730","name":"Redis4","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1344,2064],"credentials":{"redis":{"id":"3jR2kDJrNhjHRX4D","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.Telefone }}","messageData":"={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"5b210bf4-427d-43e0-a040-f79dde51b104","name":"Redis5","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1344,1888],"credentials":{"redis":{"id":"3jR2kDJrNhjHRX4D","name":"Redis account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"id":"115c4110-2117-4167-b0e0-e5c9ef8990eb","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[608,1808]},{"parameters":{"content":"# Mensagem Picotada","height":80,"width":396,"color":4},"id":"2f9e0f4b-8598-4aff-969e-a5892296ad04","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1600,1584]},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Analise a imagem e me traga um resumo simples e o mais curto possível do que ela é","inputType":"base64","options":{}},"id":"ad58be96-a714-4816-be1a-119d5c85b1a1","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1008,2048],"credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5a342e9-585b-42ea-be44-644adae10199","leftValue":"={{ $json.Redis2 }}","rightValue":"={{ $json.Redis1 }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"f155b7e8-ee45-4c76-bec7-4891c2087d0c","name":"Compara Get Memory1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2240,1840]},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.Telefone }}","messageData":"={{ $('Dados').item.json.message.content }}","tail":true},"id":"903e6c73-4e15-41fe-94ad-16a5d1c702f4","name":"Text Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1344,1568],"credentials":{"redis":{"id":"3jR2kDJrNhjHRX4D","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.Telefone }}","messageData":"={{ $json.text }}","tail":true},"id":"19c10372-0b4c-42ad-b6e2-73988861a3f5","name":"Audio Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1344,1728],"credentials":{"redis":{"id":"3jR2kDJrNhjHRX4D","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"f336a1ff-e577-489d-a739-1eb8bd509245","name":"Redis2","value":"={{ $json.propertyName }}","type":"string"},{"id":"946d1420-e379-46e3-8fcd-3816340fbabb","name":"Redis1","value":"={{ $('Get Memory 1').item.json.propertyName }}","type":"string"}]},"options":{}},"id":"7c1c09cb-be28-4818-99aa-6173be7d1c2f","name":"Edit Fields8","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2080,1840]},{"parameters":{"amount":40},"id":"25eb962d-dbfb-4c41-b20b-fe59155981f7","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1792,1840],"webhookId":"9f0edf0b-ca36-42a6-bab6-bf62ca08ac51"},{"parameters":{"operation":"get","key":"={{ $('Dados').item.json.Telefone }}","options":{}},"id":"f5e0b80f-268a-434b-919b-ece24f5ba5b2","name":"Get Memory 1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1648,1840],"credentials":{"redis":{"id":"3jR2kDJrNhjHRX4D","name":"Redis account"}}},{"parameters":{"operation":"get","key":"={{ $('Dados').item.json.Telefone }}","options":{}},"id":"04314723-ed0f-4431-966a-2c26a662c026","name":"Get Memory 2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1952,1840],"credentials":{"redis":{"id":"3jR2kDJrNhjHRX4D","name":"Redis account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Dados').item.json.message.event }}","rightValue":"outcoming","operator":{"type":"string","operation":"equals"},"id":"7c878f9b-2c93-4061-954a-a832153e7647"}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $('Dados').item.json.message.event }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"58c56183-2cd4-487c-9f33-71370ac6bb74","name":"Switch6","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-608,1984]},{"parameters":{"content":"# Filtro de mensagem","height":80,"width":356,"color":4},"id":"e27bc528-1322-4ae9-8a02-166142fc70fb","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[592,1552]},{"parameters":{"jsCode":"const redis1 = JSON.parse($json.Redis1);\nconst redis2 = JSON.parse($json.Redis2);\n\nconst combinadoSemDuplicatas = Array.from(new Set([...redis1, ...redis2]));\n\nconst mensagem = combinadoSemDuplicatas.join(\" \");\n\nreturn [{ json: { mensagem_completa: mensagem } }];"},"id":"870c61f9-6adc-43a5-b2bb-e6bf1f8d2db2","name":"Mensagem Completa","type":"n8n-nodes-base.code","typeVersion":2,"position":[2464,1824]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"id":"b9c90225-6d21-46fe-8eb0-4ac3a29b8d84","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[992,1840]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook EVO - aula').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"835701e0-94e3-4f0f-a4e5-e6ab2f1de41f","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,1840]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"88bc49ce-fc42-4661-910b-11eca78ef128","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1168,1840],"credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"id":"2bbc216a-350f-4abe-b481-d5b099e52516","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-1344,2720],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"content":"## Agente treinamento RAG, ativação automática como o texto: TreinoIA1212:","height":840,"width":2220,"color":4},"id":"c6fa4453-af80-4792-963b-e989cf462d2c","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[-1376,2240],"typeVersion":1},{"parameters":{"descriptionType":"manual","toolDescription":"Use para buscar informações na planilha caso tenha um treinamento paricido devovlea o numeroo da rtoow para ela ser atualziada","documentId":{"__rl":true,"value":"1n_aCZ94hI5vSu-ZDb4OPrQgs-lR2Yo33pTGuUoRfB70","mode":"list","cachedResultName":"Atendimento -  Watashilabs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n_aCZ94hI5vSu-ZDb4OPrQgs-lR2Yo33pTGuUoRfB70/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"faq_treinamento","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n_aCZ94hI5vSu-ZDb4OPrQgs-lR2Yo33pTGuUoRfB70/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-1200,2768],"id":"2f2f04a8-738c-4411-8178-16060a3bb971","name":"Treinamento_feito","credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"0f4f8f8d-20ca-4618-837d-e831b5b8764c","name":"Insert into Supabase Vectorstore1","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[512,2544],"credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"separator":"/n","chunkSize":1200,"chunkOverlap":200},"id":"f6411550-c4b1-4f6b-8b4e-25b1e2d63a30","name":"Character Text Splitter1","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[640,2944]},{"parameters":{"aggregate":"aggregateAllItemData","include":"allFieldsExcept","fieldsToExclude":"rew_number","options":{}},"id":"51ecefa7-e023-4038-8fd9-a1865d13fd80","name":"Aggregate1","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[112,2544]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"8bc6c695-009e-4b3d-b4d9-44aeee8cab77","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[368,2784],"credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"Arquivo","value":"={{ $('Download File1').item.json.name }}"}]}}},"id":"573ef620-ad94-47c6-a121-534cf27ffc51","name":"Default Data Loader1","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[528,2784]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"bd72c4fe-6337-4251-9712-604f9a428137","name":"Download File1","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-560,2512],"executeOnce":false,"credentials":{"googleDriveOAuth2Api":{"id":"HZOKSVKLRv4VZ1Im","name":"Google Drive account"}}},{"parameters":{"operation":"xlsx","options":{}},"id":"3d70bdea-3eb1-4341-ab4a-0042cf9d2ab9","name":"Extract from Excel2","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-64,2448]},{"parameters":{"promptType":"define","text":"={{ $('Webhook EVO').item.json.body.data.message.conversation || '' }}","options":{"systemMessage":"={\n  \"name\": \"AgenteTreinamentoPlanilha\",\n  \"objectives\": [\n    \"Receber um texto e corrigi-lo\",\n    \"Verificar se já existe pergunta similar na planilha\",\n    \"Atualizar a planilha com a pergunta e a resposta corrigida\",\n    \"Caso peça para atualizar, não execute nem uma tool\"\n  ],\n  \"tools\": [\n    {\n      \"name\": \"Treinamento_feito\",\n      \"description\": \"Verifica se existe conteúdo similar antes de atualizar, caso exista deve ser removido ou substituído\"\n    },\n    {\n      \"name\": \"Atualizar_treinamento\",\n      \"description\": \"Cria ou atualiza linha na planilha com as colunas: Pergunta e Resposta\"\n    }\n  ],\n  \"general_rules\": [\n    \"Não mencionar a planilha ou as ferramentas na resposta ao usuário\",\n    \"Corrigir sempre o texto recebido antes de registrar no sistema\",\n    \"Seja preciso e consistente ao preencher as colunas pergunta e resposta\",\n    \"Gere sua resposta sem acentos nas palavras ou caracteres especiais\"\n  ]\n}\n"}},"id":"c019ad64-5495-4230-9fc7-877eb28a66cb","name":"Agente Treinamento RAG","type":"@n8n/n8n-nodes-langchain.agent","position":[-1344,2480],"typeVersion":1.8},{"parameters":{"content":"# Ferramentas para criar\n\n","height":80,"width":456,"color":4},"id":"df1aba5c-cccd-4778-9358-b1a81e6e01b5","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1936,704]},{"parameters":{"content":"# Ferramentaspara apagar\n\n","height":80,"width":496,"color":3},"id":"48ec8318-88e3-4a79-b066-de5be1334d8a","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1968,1104]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5922557b-71e7-4390-af21-10b683e7a875","leftValue":"={{ $json.Telefone }}","rightValue":"5511918675938@s.whatsapp.net","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Numero pessoal"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"9865cb5b-33da-490c-afc3-186457d5b564","operator":{"type":"string","operation":"notStartsWith"},"leftValue":"={{ $json.message.content }}","rightValue":"TreinoIA1212:"}],"combinator":"and"},"renameOutput":true,"outputKey":"Rota normal"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"5a9a1fee-b408-469f-a08c-e8d690fc9792","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $json.message.content }}","rightValue":"TreinoIA1212:"}],"combinator":"and"},"renameOutput":true,"outputKey":"Treinamento IA"}]},"options":{}},"id":"4fe6a6c1-a5cd-4aad-b127-030a33e7cde7","name":"Rotas","type":"n8n-nodes-base.switch","position":[-1600,1952],"typeVersion":3.2},{"parameters":{"operation":"update","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"atendimento_ia","fieldValue":"pause"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-256,1744],"id":"ffa3ebbb-21c1-41b6-8029-570fc535bb57","name":"Pausar IA","credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Dados').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-256,2064],"id":"d3197b83-80de-4c27-af29-6178286f821d","name":"Verificar Pause","credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.atendimento_ia }}","rightValue":"pause","operator":{"type":"string","operation":"notStartsWith"},"id":"ff00573b-e517-43c6-8644-14a4fe8565d1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Ativa"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.atendimento_ia }}","rightValue":"pause","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia pausada"}]},"options":{}},"id":"c7bee08e-cc98-4ea9-8d60-5ec813ec599c","name":"Rota Atendimento","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-48,2064]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"9865cb5b-33da-490c-afc3-186457d5b564","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $('Rotas').item.json.message.content }}","rightValue":"Atendimento finalizado"}],"combinator":"and"},"renameOutput":true,"outputKey":"IA Pausada"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"5a9a1fee-b408-469f-a08c-e8d690fc9792","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Rotas').item.json.message.content }}","rightValue":"Atendimento finalizado"}],"combinator":"and"},"renameOutput":true,"outputKey":"Reativar IA"}]},"options":{}},"id":"b89bea3c-3309-4961-bdfb-83c2305a6391","name":"Rotas1","type":"n8n-nodes-base.switch","position":[-464,1888],"typeVersion":3.2},{"parameters":{"operation":"update","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"atendimento_ia","fieldValue":"reativada"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-80,1904],"id":"cfd28102-6a02-4d23-b838-c9e10184e30e","name":"Reativar IA","credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"11800d83-ecca-4f9c-a878-a2419db0c8e9","name":"message.chat_id","value":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid || '' }}","type":"string"},{"id":"c33f9527-e661-49e5-8e5e-64f3b430928a","name":"message.content_type","value":"={{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('Webhook EVO').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('Webhook EVO').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage ? 'image' : '' }}","type":"string"},{"id":"06eba1c9-cff0-4f68-b6da-6bb0092466b7","name":"message.content","value":"={{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('Webhook EVO').item.json.body.data.message.conversation || '' }}","type":"string"},{"id":"b97f1af3-5361-46fc-9303-d644921231d8","name":"message.timestamp","value":"={{ $('Webhook EVO').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"},{"id":"dc3dc59c-90a3-4a45-bea2-de092c91083b","name":"message.content_url","value":"={{ $('Webhook EVO').item.json.body.data.message.audioMessage?.url || '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"8b01a818-a456-476e-bace-adefe2f04eb4","name":"message.event","value":"={{ $('Webhook EVO').item.json.body.data.fromMe ? 'outcoming' : 'incoming' }}","type":"string"},{"id":"886e3751-e39b-4fc6-98d1-3113eaeebbb4","name":"=body.event","value":"={{ $('Webhook EVO').item.json.body.event }}","type":"string"},{"id":"d04a0c6e-7842-41d2-bdb0-c0ce51d6dad7","name":"Telefone","value":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"a57db642-3e13-452e-bb5b-19f7e9f3bd5d","name":"NomeWpp","value":"={{ $json.body.data.pushName }}","type":"string"}]},"options":{}},"id":"84dbc9e7-a25c-451b-bf61-c2d05f6a3887","name":"Dados","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1776,1968]},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-256,1904],"id":"b2beb849-d97b-4706-ae42-55561d3c18fd","name":"Wait","webhookId":"b9c0dc3b-a05b-4e71-bcbe-fee8c71142a2"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Dados').item.json.Telefone }}","message":"={\"type\": \"ai\", \"content\": \"{{ $('Rotas').item.json.message.content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[304,2032],"id":"35f8c109-4ba6-46b7-a8ec-fe638cf254b6","name":"Salvar Historicoo Humano1","credentials":{"postgres":{"id":"sHGsuRh89fX2ELpX","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2672,1872],"id":"2611da77-a237-4c3f-bfb7-4dd64ce73914","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $json.mensagem_completa }}","options":{"systemMessage":"={\n  \"name\": \"AgenteRag\",\n  \"objectives\": [\n    \"Responder somente com dados obtidos da ferramenta buscar_documentos, sem dicas extras\"\n  ],\n  \"tools\": [\n    {\n      \"name\": \"buscar_documentos\",\n      \"description\": \"Use esta ferramenta para obter a resposta. Se não houver dados, retorne: não invente resposta somente do que vier da tool buscar_documentos'.\",\n      \"required\": true\n    }\n  ],\n  \"general_rules\": [\n    \"Não inventar respostas\",\n    \"Sempre usar a ferramenta buscar_documentos\",\n    \"caso não tenha uma resposta envie a resposta assim: sem dica de resposta\"\n  ]\n}\n"}},"id":"f6bcff35-9e17-4522-9313-f324bc74c80f","name":"Agente Rag","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[2672,1680]},{"parameters":{"content":"# Agente RAG","height":80,"width":336,"color":4},"id":"6b37c5fc-b08e-4536-befa-ce2a2b1b1ac5","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2624,1584]},{"parameters":{"content":"","height":380,"width":1680,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2000,656],"typeVersion":1,"id":"7849756a-435d-4aa4-aeb4-63f5d7a6e383","name":"Sticky Note12"},{"parameters":{"content":"","height":380,"width":1680,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-2000,1056],"typeVersion":1,"id":"f80bf3e5-fe50-40a3-9aaf-32b88c51ad11","name":"Sticky Note13"},{"parameters":{"content":"","height":620,"width":820,"color":4},"type":"n8n-nodes-base.stickyNote","position":[2608,1584],"typeVersion":1,"id":"e019381c-91b7-4c95-acac-fa01fbe9b27d","name":"Sticky Note6"},{"parameters":{"descriptionType":"manual","toolDescription":"Analise se já existeuma coluca pareceida se sim atualize ela se não crie uma nova linha","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1n_aCZ94hI5vSu-ZDb4OPrQgs-lR2Yo33pTGuUoRfB70","mode":"list","cachedResultName":"Atendimento -  Watashilabs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n_aCZ94hI5vSu-ZDb4OPrQgs-lR2Yo33pTGuUoRfB70/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"faq_treinamento","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n_aCZ94hI5vSu-ZDb4OPrQgs-lR2Yo33pTGuUoRfB70/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Pergunta":"={{ $fromAI(\"Pergunta\",\"isso é a pergunta\") }}","Resposta":"={{ $fromAI(\"Resposta\",\"isso é a resposta\") }}"},"matchingColumns":["Pergunta"],"schema":[{"id":"Pergunta","displayName":"Pergunta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Resposta","displayName":"Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"27538af5-d3ae-45a6-9334-032adb006b75","name":"Atualizar_treinamento","type":"n8n-nodes-base.googleSheetsTool","position":[-1008,2768],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"operation":"text","options":{}},"id":"331aac22-fe8b-4945-b91c-73993046f867","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-64,2784],"alwaysOutputData":true},{"parameters":{"operation":"pdf","options":{}},"id":"ce5eb83d-3fad-48e4-bee4-4f1dceb1f283","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-64,2272]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.mimeType }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"d324b22b-cdf4-4216-a5ac-7db17ab11851"}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"excel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"8bd558b2-8c70-4edd-ab19-92540895ae46","leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.google-apps.spreadsheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CVS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Google Docs"}]},"options":{"fallbackOutput":3}},"id":"eb456146-e46d-41ad-b159-eb417936e150","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-384,2480]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"2a4beeb6-8f54-4940-9fb8-a15c5e616a7f","name":"Summarize1","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[304,2544]},{"parameters":{"options":{}},"id":"250de3b2-ca21-44fe-b982-96fe29d84674","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-64,2624]},{"parameters":{"operation":"delete","tableId":"documents","filters":{"conditions":[{"keyName":"id","condition":"neq","keyValue":"0"}]}},"id":"a8d80c43-ed7e-4779-9e58-20d94e239dbe","name":"Deleta linhas antigas do documento1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-928,2512],"alwaysOutputData":true,"executeOnce":false,"credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1088,2320],"id":"2a62e19a-c9c8-4218-95e1-0dce0ffbd766","name":"Schedule Trigger"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Dados').item.json.Telefone }}","message":"={\"type\": \"human\", \"content\": \"{{ $('Rotas').item.json.message.content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[240,1744],"id":"9ca91220-0660-4eda-ab71-7916d581d9af","name":"Salvar Historicoo Humano","credentials":{"postgres":{"id":"sHGsuRh89fX2ELpX","name":"Postgres account"}}},{"parameters":{"operation":"update","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"atendimento_ia","fieldValue":"pause"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5728,2368],"id":"0205d221-63a4-47b3-994b-4f465cc7eaec","name":"Pausar IA1","credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"resource":"fileFolder","queryString":"Atendimento -  Watashilabs\t","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1IJC9U964bkxtiybT9FBYiSiCfi_mLgE_","mode":"list","cachedResultName":"WatashiLabs","cachedResultUrl":"https://drive.google.com/drive/folders/1IJC9U964bkxtiybT9FBYiSiCfi_mLgE_"}},"options":{"fields":["mimeType","id","name"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-736,2512],"id":"29118e6b-a011-46b0-8123-588d8dc0132d","name":"Search files and folders","executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"HZOKSVKLRv4VZ1Im","name":"Google Drive account"}}},{"parameters":{"httpMethod":"POST","path":"b5556e34-184e-4065-b3da-12546e1b030d","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2016,1968],"id":"3d08740d-5216-41bb-8834-af0fe47d872b","name":"Webhook EVO","webhookId":"b5556e34-184e-4065-b3da-12546e1b030d"},{"parameters":{"tableId":"dados_cliente","fieldsUi":{"fieldValues":[{"fieldId":"nomewpp","fieldValue":"={{ $('Dados').item.json.NomeWpp }}"},{"fieldId":"telefone","fieldValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"},{"fieldId":"created_at","fieldValue":"={{ $now}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-960,2032],"id":"c27d44fa-08ac-434d-820d-626559999e52","name":"Create a row","credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"resource":"messages-api","instanceName":"Estevão - Business","remoteJid":"={{ $('Dados').item.json.Telefone }}","messageText":"={{ $json.output }}","options_message":{"delay":4200,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[5328,1904],"id":"2c8c8f78-a882-47b4-8e1a-4168477d3439","name":"Enviar texto","credentials":{"evolutionApi":{"id":"XXmpuvteVUlf93Q4","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Estevão - Business","remoteJid":"={{ $('Dados').item.json.Telefone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4368,2368],"id":"1531de7a-c39b-48ed-a76d-a97d7fe0b36c","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"XXmpuvteVUlf93Q4","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Estevão - Business","remoteJid":"120363402287022971@g.us","messageText":"={{ (() => { \n  const telefone = $('Dados').item.json.Telefone;\n  return '🚨 Novo Lead: wa.me/' + telefone.split('@')[0] + ' 🚨';\n})() }}\n\n*Cliente:* {{ $('Dados').item.json.NomeWpp }}\n\n*CASO:*\n{{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[5488,2368],"id":"3b72574a-34b4-4123-8788-828eccc587e4","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"XXmpuvteVUlf93Q4","name":"Evolution account"}}},{"parameters":{"content":"","height":448,"width":1872},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1472,2464],"id":"7eae3787-982c-464c-ac9f-01b844e250a8","name":"Sticky Note"},{"parameters":{"content":"## Enviar Imagem Simples\n\nEsse trecho é capaz de enviar uma mensagem, como uma imagem, um pdf ou algo do tiupo, quando executado pela tool do aggente","width":528,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1472,2464],"id":"cb5f3be9-c48c-4d62-9684-0454486e227f","name":"Sticky Note1"},{"parameters":{},"id":"044bd078-baa5-4103-90a0-dfbc5477567f","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[1648,2720]},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2672,2704],"id":"54deeb2f-b539-4777-8043-08b0f92ad480","name":"Extract from File"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2464,2704],"id":"399fe93d-659f-4651-a97d-750530e410ad","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"HZOKSVKLRv4VZ1Im","name":"Google Drive account"}}},{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"Estevão - Business","remoteJid":"={{ $('Switch3').item.json.Remotejid }}","media":"={{ $json.data }}","caption":"Segue o orçamento dos nossos agentes de IA","fileName":"","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2864,2704],"id":"9a142c1a-f32a-4440-abfc-3b8db55ff936","name":"Enviar documento","credentials":{"evolutionApi":{"id":"XXmpuvteVUlf93Q4","name":"Evolution account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f1e1c15f-6b80-43db-885b-c444e8ee8a86","leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"img1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"img1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5ea58828-407d-4661-93e7-bcaeec23a924","leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"enviarfoto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"envviar foto"}]},"options":{}},"id":"bc3463b7-afa7-4550-96a4-db8b8f5d8e11","name":"Switch3","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1824,2720]},{"parameters":{"assignments":{"assignments":[{"id":"bdf3c023-082c-4f78-b311-6302affcc988","name":"telefone","value":"={{ $('Execute Workflow Trigger').item.json.Remotejid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2096,2704],"id":"0d145a1d-17e9-4ce1-bfec-f8158ad20efc","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"7f842ffa-cd8f-40ab-a0a7-40dc173357a7","name":"response","value":"=Sucesso","type":"string"}]},"options":{}},"id":"c99e7822-47ce-4ebc-83b5-c36549e628af","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3056,2704]},{"parameters":{"resource":"fileFolder","queryString":"=","limit":1,"filter":{"folderId":{"__rl":true,"value":"1vy-cyXGGziO5ROGmz72eN4NvezyaQH00","mode":"list","cachedResultName":"PDF's","cachedResultUrl":"https://drive.google.com/drive/folders/1vy-cyXGGziO5ROGmz72eN4NvezyaQH00"},"whatToSearch":"files"},"options":{"fields":["mimeType","name","id"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2288,2704],"id":"2bc93e75-0d09-4b05-8f8c-546c9de68129","name":"Search files and folders1","credentials":{"googleDriveOAuth2Api":{"id":"HZOKSVKLRv4VZ1Im","name":"Google Drive account"}}},{"parameters":{"name":"enviar_img1","description":"=usar para enviar a o pdf dos planos dos agentes de atendimento","workflowId":{"__rl":true,"value":"hfcYbr52UXnM22Kl","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"img1"},{"name":"Remotejid","stringValue":"={{ $('Dados').item.json.Telefone }}"}]},"jsonSchemaExample":""},"id":"a79ff3ef-d231-496f-bcf2-8b3ab18d098b","name":"enviar_img1","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[3056,2496]},{"parameters":{"name":"criar_reuniao","description":"=Chame esta ferramenta após o usuário informar nome e email e data do agendamento. \n\nNa variável \"nome\", você vai preencher o nome do usuário e na variavel \"email\" você vai preencher com email do usuário\n\nA data do agendamento você vai transformar para seguinte formato, exemplo: 2024-10-18T14:30:00-03:00 e vai preencher a variavel \"start\"\n\nEm seguida você vai inserir 50 minutos a mais depois no horario de agendamento e na variavel \"end\" você vai prencher com o horario no mesmo formato da variavel start","workflowId":{"__rl":true,"value":"hlDgs3iDv3DJPoRZ","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"agendamento"},{"name":"Remotejid","stringValue":"={{ $('Dados').item.json.message.chat_id }}"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"nome\": \"nome do usuario\",\n    \"email\": \"email do usuario\",\n    \"start\": \"data hora do inicio da reunião\",\n    \"end\": \"data hora do fim da reunião\"\n}"},"id":"ab441662-c783-4de5-bb27-ae7cc938f211","name":"criar_reuniao","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[3648,2336]},{"parameters":{"name":"cancelar_reuniao","description":"=Chame esta ferramenta após o usuário informar que quer cancelar a reunião, colete o email e nome\n\nNa variável \"nome\", você vai preencher o nome do usuário e na variavel \"email\" você vai preencher com email do usuário","workflowId":{"__rl":true,"value":"hlDgs3iDv3DJPoRZ","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"cancelamento"},{"name":"Remotejid","stringValue":"={{ $('Dados').item.json.message.chat_id }}"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"nome\": \"nome do usuario\",\n    \"email\": \"email do usuario\"\n}"},"id":"8bcefa10-6994-4e89-ae7a-315534ad6ebc","name":"cancelar_reuniao","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[3952,2336]},{"parameters":{"name":"reagendar_reuniao","description":"=Após o usuário informar que quer reagendar e colete o nome, email e nova data Chame esta tool\n\nNa variável \"nome\", você vai preencher o nome do usuário e na variavel \"email\" você vai preencher com email do usuário\n\nA data do agendamento você vai transformar para seguinte formato, exemplo: 2024-10-18T14:30:00-03:00 e vai preencher a variavel \"start\"\n\nEm seguida você vai inserir 50 minutos a mais depois no horário de agendamento e na variavel \"end\" você vai prencher com o horario no mesmo formato da variavel start","workflowId":{"__rl":true,"value":"hlDgs3iDv3DJPoRZ","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"reagendamento"},{"name":"Remotejid","stringValue":"={{ $('Dados').item.json.message.chat_id }}"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"nome\": \"nome do usuario\",\n    \"email\": \"email do usuario\",\n    \"start\": \"data hora do inicio da reunião\",\n    \"end\": \"data hora do fim da reunião\"\n}"},"id":"4f239057-1818-48ae-88a3-fd46674681cb","name":"reagendar_reuniao","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[3792,2336]},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2128,1232],"id":"b4313dd4-bdaf-46a6-bd7e-943f03207433","name":"When clicking ‘Execute workflow’"}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"buscar_documentos","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"buscar_documentos","type":"ai_vectorStore","index":0}]]},"OpenAI3":{"ai_languageModel":[[{"node":"Parser  Chain","type":"ai_languageModel","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Enviar texto","type":"main","index":0}]]},"OutputParser1":{"ai_outputParser":[[{"node":"Parser  Chain","type":"ai_outputParser","index":0}]]},"Parser  Chain":{"main":[[{"node":"Split de Mensagem","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Atendente","type":"ai_languageModel","index":0}]]},"Atendente":{"main":[[{"node":"Switch2","type":"main","index":0},{"node":"Busca Telefone","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Atendente","type":"ai_memory","index":0}]]},"Switch2":{"main":[[{"node":"Parser  Chain","type":"main","index":0}],[{"node":"Enviar texto1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Merge1":{"main":[[{"node":"Cria Histórico Supabase","type":"main","index":0}]]},"If4":{"main":[[{"node":"Adiciona CHAT supabase","type":"main","index":0}],[{"node":"Atualiza CHAT Supabase","type":"main","index":0}]]},"Busca Telefone":{"main":[[{"node":"If4","type":"main","index":0}]]},"Adiciona CHAT supabase":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Atualiza CHAT Supabase":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Cria Histórico Supabase":{"main":[[{"node":"Delete Memory","type":"main","index":0}]]},"Split de Mensagem":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"1 segundo":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"buscar_documentos":{"ai_tool":[[{"node":"Agente Rag","type":"ai_tool","index":0}]]},"ListMessages-Supabase2":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Switch6","type":"main","index":0}],[{"node":"Create a row","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"If3":{"main":[[{"node":"Redis5","type":"main","index":0}],[{"node":"Redis4","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Redis5":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Text Memory1","type":"main","index":0}],[{"node":"Text Memory1","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"If3","type":"main","index":0}]]},"Compara Get Memory1":{"main":[[{"node":"Mensagem Completa","type":"main","index":0}]]},"Text Memory1":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Audio Memory1":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Compara Get Memory1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Get Memory 2","type":"main","index":0}]]},"Get Memory 1":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Get Memory 2":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Switch6":{"main":[[{"node":"Rotas1","type":"main","index":0}],[{"node":"Verificar Pause","type":"main","index":0}]]},"Mensagem Completa":{"main":[[{"node":"Agente Rag","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Audio Memory1","type":"main","index":0}]]},"OpenAI Model":{"ai_languageModel":[[{"node":"Agente Treinamento RAG","type":"ai_languageModel","index":0}]]},"Treinamento_feito":{"ai_tool":[[{"node":"Agente Treinamento RAG","type":"ai_tool","index":0}]]},"Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Aggregate1":{"main":[[{"node":"Summarize1","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore1","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Insert into Supabase Vectorstore1","type":"ai_document","index":0}]]},"Download File1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Extract from Excel2":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Agente Treinamento RAG":{"main":[[{"node":"Deleta linhas antigas do documento1","type":"main","index":0}]]},"Rotas":{"main":[[],[{"node":"Supabase","type":"main","index":0}],[{"node":"Agente Treinamento RAG","type":"main","index":0}]]},"Pausar IA":{"main":[[{"node":"Salvar Historicoo Humano","type":"main","index":0}]]},"Verificar Pause":{"main":[[{"node":"Rota Atendimento","type":"main","index":0}]]},"Rota Atendimento":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"Salvar Historicoo Humano1","type":"main","index":0}]]},"Rotas1":{"main":[[{"node":"Pausar IA","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Reativar IA":{"main":[[{"node":"Salvar Historicoo Humano","type":"main","index":0}]]},"Dados":{"main":[[{"node":"Rotas","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Reativar IA","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Agente Rag","type":"ai_languageModel","index":0}]]},"Agente Rag":{"main":[[{"node":"Atendente","type":"main","index":0}]]},"Atualizar_treinamento":{"ai_tool":[[{"node":"Agente Treinamento RAG","type":"ai_tool","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel2","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Summarize1":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Deleta linhas antigas do documento1":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Deleta linhas antigas do documento1","type":"main","index":0}]]},"Salvar Historicoo Humano1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Download File1","type":"main","index":0}]]},"Webhook EVO":{"main":[[{"node":"Dados","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Switch6","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"1 segundo","type":"main","index":0}]]},"Enviar texto1":{"main":[[{"node":"ListMessages-Supabase2","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"Pausar IA1","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Enviar documento","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Enviar documento":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Search files and folders1","type":"main","index":0}]]},"Search files and folders1":{"main":[[{"node":"Download file","type":"main","index":0}]]},"enviar_img1":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"criar_reuniao":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"reagendar_reuniao":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"cancelar_reuniao":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Deleta Histórico":{"main":[[{"node":"Deleta Conteúdo Chat_Messages","type":"main","index":0}]]},"Deleta Conteúdo Chat_Messages":{"main":[[{"node":"Deleta Conteúdo Dados Cliente","type":"main","index":0}]]},"Deleta Conteúdo Dados Cliente":{"main":[[{"node":"Deleta Conteúdo Chats","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Deleta Histórico","type":"main","index":0}]]}},"pinData":{"Webhook EVO":[{"json":{"headers":{"host":"n8n.watashilabs.com.br","user-agent":"axios/1.10.0","content-length":"999","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.watashilabs.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"e3b6a4d689a2","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Estevão - Business","data":{"key":{"remoteJid":"5511943356283@s.whatsapp.net","fromMe":false,"id":"886F2DDF161917104B39345272DB8F46","senderLid":"232014250823691@lid"},"pushName":"~ Estevão Ferreira ~","status":"DELIVERY_ACK","message":{"conversation":"estevaoeferreira9984@gmail.com","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"mtof2O01nr5XWQ==","senderTimestamp":"1753316369","recipientKeyHash":"Fo+J3I7tyrBgNA==","recipientTimestamp":"1753747560"},"deviceListMetadataVersion":2,"messageSecret":"g1Y23q7dePD5Z7p7tfg8mXqsLtikNg2UgePFavln+PE="}},"messageType":"conversation","messageTimestamp":1753840113,"instanceId":"ab0dc9e6-3b39-4a1d-9052-7c3ee57a3ce4","source":"android"},"destination":"https://n8n.watashilabs.com.br/webhook/b5556e34-184e-4065-b3da-12546e1b030d","date_time":"2025-07-29T22:48:34.154Z","sender":"5511918675938@s.whatsapp.net","server_url":"https://api.watashilabs.com.br","apikey":"ABE889E3C71F-4A93-A0C6-6627A2DAF723"},"webhookUrl":"https://webhook.watashilabs.com.br/webhook/b5556e34-184e-4065-b3da-12546e1b030d","executionMode":"production"}}]},"meta":{"templateCredsSetupCompleted":true}}