2025/12/09/My workflow 6.json
{"nodes":[{"parameters":{},"id":"20f6211d-2181-489f-ba81-0ac93111c9aa","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[-2480,368],"typeVersion":1},{"parameters":{"databaseId":149560,"tableId":379076,"additionalOptions":{}},"id":"e7509b46-a6fb-448a-ba1f-af021f3c1ecd","name":"Capturar Dados da Tabela História","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-2256,368]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a34bf465-09de-45ac-8dcd-e1a3f0987c55","leftValue":"={{ $json['História'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e54ba025-a9d1-4620-92af-b56063f18f78","name":"If Historia está vazio","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2048,368]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94ed4c74-34b7-4ae5-9a03-f0287e5a6702","leftValue":"={{ $json['Pronto para ir'] }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"5a540bca-d94d-4630-99a9-654f25924963","name":"If pronto para ir?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1584,208]},{"parameters":{"jsCode":"const data = items[0].json;\n\nconst fonte = data[\"Fonte\"];\nconst promptTipoHistoria = data[\"Prompt\"][0].value;\n\nreturn [\n  {\n    json: {\n      fonte: fonte,\n      prompt: promptTipoHistoria\n    }\n  }\n];"},"id":"9d14c096-ca00-48e9-83c4-497b9c6a98af","name":"Preparar o prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1360,48]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $json.prompt }}\n\n{{ $json.fonte }}"}]},"jsonOutput":true,"options":{}},"id":"d5dc7268-053d-4b9e-88b3-00341e3f20cd","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.5,"position":[-1088,48]},{"parameters":{},"id":"b3a0a6dd-b90b-4768-9b50-49244e6e1bdc","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-704,160]},{"parameters":{"jsCode":"const openaiData = items[0].json.message.content;\nconst baserowData = items[1].json;\n\nconst combineContentValues = (data) => {\n  return Object.values(data).flatMap(value => {\n    if (Array.isArray(value)) {\n      return value.join(\", \");\n    } else if (typeof value === 'object' && value !== null) {\n      return [];\n    } else {\n      return value;\n    }\n  }).join(\"\\n\");\n};\n\nconst combinedOutput = combineContentValues(openaiData);\n\nreturn [\n  {\n    json: {\n      id: baserowData.id,\n      combinedOutput: combinedOutput.trim()\n    }\n  }\n];"},"id":"54f89e48-327d-42e9-a804-44f92586172b","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,160]},{"parameters":{"operation":"update","databaseId":149560,"tableId":379076,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2876715,"fieldValue":"={{ $json.combinedOutput }}"}]}},"id":"2573ad05-ea8a-4a66-b269-15682805d6f8","name":"Inserir a historia na tabela","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-256,160]},{"parameters":{"databaseId":149560,"tableId":379078,"additionalOptions":{}},"id":"ffe08036-cc04-4e5a-85df-023066d08704","name":"Capturar dados tabela tipo de historia","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[0,0]},{"parameters":{},"id":"96c3ff69-0c3b-4a5a-9f37-6b449f6acaf7","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[240,144]},{"parameters":{"jsCode":"const mergedData = items;\n\nconst data1 = mergedData[0].json;\nconst data2 = mergedData.length > 1 ? mergedData[1].json : {};\n\nlet historiaCompleta = \"\";\n\nfor (const item of mergedData) {\n  if (item.json[\"História\"]) {\n    historiaCompleta = item.json[\"História\"];\n    break;\n  }\n}\n\nconst cenasPromptsJsonString = data1[\"Cenas Prompts JSON\"] || \"\";\nconst historiaArray = data1[\"Histórias\"] || [];\n\nconst cenasPromptsJson = cenasPromptsJsonString.split(\"\\n\").join(\"\\n\");\nconst historia = historiaArray.map(item => item.value).join(\"\\n\");\n\nconst prompt = `\n  ${cenasPromptsJson}\n\n  ${historiaCompleta}\n`;\n\nreturn [\n  {\n    json: {\n      prompt: prompt.trim()\n    }\n  }\n];"},"id":"90c53b0b-0d8d-4a0a-92b0-932fd7d30c60","name":"Preparar prompt 2","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,144]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $json.prompt }}"}]},"jsonOutput":true,"options":{}},"id":"36cd23eb-f4f6-4fcc-814e-6a02219cda19","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.5,"position":[688,144]},{"parameters":{"jsCode":"const pairs = items[0].json.message.content.pairs;\nconst result = [];\n\nfor (const pair of pairs) {\n  for (const prompt of pair.aiImagePrompts) {\n    result.push({ json: { aiImagePrompt: prompt, original: pair.original } });\n  }\n}\n\nreturn result;"},"id":"f2feda7b-9af9-4c36-a6e6-a883455ec4d4","name":"Converter Array","type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,144]},{"parameters":{"operation":"create","databaseId":149560,"tableId":379077,"fieldsUi":{"fieldValues":[{"fieldId":2864092,"fieldValue":"={{ $json.original }}"},{"fieldId":2864093,"fieldValue":"={{ $json.aiImagePrompt }}"}]}},"id":"7ab5d13b-5f03-4ad3-90e8-04665e5a384e","name":"Inserir cenas na tabela","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1280,144]},{"parameters":{"databaseId":149560,"tableId":379077,"additionalOptions":{}},"id":"66c826f9-65ec-4a59-8f8a-3539a93dda84","name":"Capturar dados tabela cenas","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-1584,608]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"47939c77-d6f3-4cc8-b51e-96065fe110f6","leftValue":"={{ $json.Imagem }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c75ee655-4d89-479b-8ff6-dda50ed48990","name":"If Imagem está vazia","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1360,608]},{"parameters":{"jsCode":"return items\n  .map(item => {\n    return {\n      json: {\n        \"prompt\": item.json['AI Image Prompts']\n      }\n    };\n  });"},"id":"95fdba5b-e62d-482a-b629-2075344394b5","name":"Converter array","type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,528]},{"parameters":{"databaseId":149560,"tableId":379078,"additionalOptions":{}},"id":"15804420-091c-4515-b24a-aaa0baf805f0","name":"Capturar dados tabela tipo de história","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-576,384]},{"parameters":{"jsCode":"const inputData = items[0].json;\n\nconst outputData = {\n  width: inputData[\"Largura Imagem\"],\n  height: inputData[\"Altura Imagem\"],\n  modelId: inputData[\"Model ID\"],\n};\n\nreturn [{ json: outputData }];"},"id":"9bef7d19-fd94-4252-9889-7e7c049b4ab4","name":"Extrair dimensão da imagem + model ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[-384,384]},{"parameters":{"jsCode":"const inputData = items[0].json;\n\nreturn items.slice(1).map(item => {\n  return {\n    json: {\n      prompt: inputData.prompt,\n      width: parseInt(inputData.width),\n      height: parseInt(inputData.height),\n      modelId: inputData.modelId\n    }\n  };\n});"},"id":"1eafd600-d277-46b9-a65b-98d16d94a95a","name":"Mesclar os outputs por delay do merge","type":"n8n-nodes-base.code","typeVersion":2,"position":[80,512]},{"parameters":{"method":"POST","url":"https://api-inference.huggingface.co/models/stabilityai/stable-diffusion-3.5-large","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"=Prompt: {{ $('Loop Over Items').item.json['AI Image Prompts'] }}\n\nStyle: hyper-surreal escape"}]},"options":{}},"id":"d34493fd-0359-49d6-bf4d-3aca9fcf9afb","name":"Call hugginface inference api1","type":"n8n-nodes-base.httpRequest","position":[1888,640],"notesInFlow":true,"typeVersion":4.2,"onError":"continueErrorOutput","notes":" "},{"parameters":{"options":{}},"id":"c10935cb-945f-4e51-a5c4-82973e8b1b5d","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1264,480]},{"parameters":{},"id":"7b11cbb1-3fa4-456a-a567-1d83af442cee","name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2384,624]},{"parameters":{"amount":20},"id":"e92482ad-214a-429f-98a9-2a1929db6260","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2560,688],"webhookId":"0d50ca23-fc09-4426-bbde-44758e66fb68"},{"parameters":{},"id":"7262e2d9-8210-44b1-aeb4-05d683c74ad2","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-144,512]},{"parameters":{},"id":"1756e325-d6b3-4536-987c-5015157a7928","name":"Merge3","type":"n8n-nodes-base.merge","typeVersion":3,"position":[768,480]},{"parameters":{"databaseId":149560,"tableId":379077,"additionalOptions":{}},"id":"c71138e2-a6cf-4ce4-8a49-0457db4a7fbb","name":"Capturar dados tabela Cenas","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[320,368]},{"parameters":{"jsCode":"const items = $input.all();\n\nconst seenIds = new Set();\nconst uniquePrompts = [];\n\nfor (const item of items) {\n    const data = item.json;\n    if (!seenIds.has(data.id)) {\n        seenIds.add(data.id);\n        uniquePrompts.push({\n            id: data.id,\n            'AI Image Prompts': data['AI Image Prompts']\n        });\n    }\n}\n\nreturn uniquePrompts.map(prompt => ({ json: prompt }));"},"id":"891c264a-187a-49ba-88e5-df050900649c","name":"Extrair AI Image Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[528,368]},{"parameters":{"jsCode":"const items = $input.all();\n\nconst prompts = items.filter(item => item.json.id !== undefined);\nconst properties = items.filter(item => item.json.width !== undefined);\n\nconst mergedResults = prompts.map((prompt, index) => {\n    const property = properties[index % properties.length];\n    return {\n        json: {\n            ...prompt.json,\n            width: property.json.width,\n            height: property.json.height,\n            modelId: property.json.modelId,\n        }\n    };\n});\n\nreturn mergedResults;"},"id":"ad6bdad5-d081-466c-b56b-18a9c45a0503","name":"Mesclar os outputs por delay do merge3","type":"n8n-nodes-base.code","typeVersion":2,"position":[992,480]},{"parameters":{"operation":"upload","bucketName":"fluxautomate","fileName":"={{ $('ID Image').item.json.image_id }}.jpg","additionalFields":{}},"id":"283e4c1e-b79b-423d-b42b-e5422d11fff2","name":"S3","type":"n8n-nodes-base.s3","typeVersion":1,"position":[2112,624],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"d2c14b86-a602-4c10-b4e2-30fce2293f6e","name":"image_id","value":"={{ Math.random().toString(36).substr(2, 12).toUpperCase() }}","type":"string"}]},"options":{}},"id":"9b477831-00ce-4e45-994f-cb97c40496e4","name":"ID Image","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1712,640]},{"parameters":{"operation":"update","databaseId":149560,"tableId":379077,"rowId":"={{ $('Loop Over Items').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2876673,"fieldValue":"={{ $('ID Image').item.json.image_id }}"},{"fieldId":2876674,"fieldValue":"=https://pub-1b30d2c290b547169903cefb3b08b439.r2.dev/{{ $('ID Image').item.json.image_id }}.jpg"}]}},"id":"63f600d8-9333-42ad-85c8-6d41b8b17202","name":"Baserow","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2240,624]},{"parameters":{"jsCode":"const inputData = $input.all();\n\nif (inputData.length > 0) {\n  const firstItem = inputData[0].json;\n\n  const larguraOutput = firstItem[\"Largura Output\"] && firstItem[\"Largura Output\"].length > 0\n    ? firstItem[\"Largura Output\"][0].value\n    : null;\n\n  const alturaOutput = firstItem[\"Altura Output\"] && firstItem[\"Altura Output\"].length > 0\n    ? firstItem[\"Altura Output\"][0].value\n    : null;\n\n  return [\n    {\n      larguraOutput,\n      alturaOutput\n    }\n  ];\n} else {\n  return [\n    {\n      larguraOutput: null,\n      alturaOutput: null\n    }\n  ];\n}"},"id":"a8b0d8ff-2404-46e0-b439-e4a06c9832a3","name":"Extrair Altura e Largura Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[2144,192]},{"parameters":{"databaseId":149560,"tableId":379076,"additionalOptions":{}},"id":"23094713-8015-4920-80d5-42605f5bbef0","name":"Capturar dados tabela historia","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1968,192]},{"parameters":{"databaseId":149560,"tableId":379077,"additionalOptions":{}},"id":"93660307-5aba-4bee-90cf-8ffd33dd6973","name":"Capturar url imagem gerada","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1680,368]},{"parameters":{},"id":"abc03705-735a-4af4-b122-d76eac2fb8d2","name":"Merge4","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2400,352]},{"parameters":{"jsCode":"const inputData = $input.all();\n\nconst uniqueItems = [];\nconst seenIds = new Set();\n\nfor (const item of inputData) {\n  const id = item.json.id;\n  const imagem = item.json.Imagem;\n\n  if (!seenIds.has(id)) {\n    seenIds.add(id);\n    uniqueItems.push({ id, imagem });\n  }\n}\n\n\nreturn uniqueItems;"},"id":"4f4bb48c-8e74-49aa-a975-ced1edfcfb69","name":"Extrair ID linha + URL imagem","type":"n8n-nodes-base.code","typeVersion":2,"position":[1904,368]},{"parameters":{"jsCode":"let elementId = 1;\nconst processedLinks = new Set();\nlet elements = [];\n\nlet validLarguraOutput = null;\nlet validAlturaOutput = null;\n\nitems.forEach(item => {\n  const larguraOutput = item.json[\"larguraOutput\"];\n  const alturaOutput = item.json[\"alturaOutput\"];\n\n  if (larguraOutput && alturaOutput) {\n    validLarguraOutput = parseInt(larguraOutput, 10);\n    validAlturaOutput = parseInt(alturaOutput, 10);\n  }\n});\n\nitems.forEach(item => {\n  const id = item.json[\"id\"];\n  const imagem = item.json[\"imagem\"];\n\n  if (id && imagem) {\n    let larguraOutput = validLarguraOutput;\n    let alturaOutput = validAlturaOutput;\n\n    if (!processedLinks.has(imagem) && larguraOutput && alturaOutput) {\n      processedLinks.add(imagem);\n      elements.push({\n        id: elementId++,\n        type: \"image\",\n        src: imagem,\n        duration: 2,\n        zoom: 2,\n        width: larguraOutput,\n        height: alturaOutput,\n        position: \"center-center\"\n      });\n    }\n  }\n});\n\nlet videos = [];\nfor (let i = 0; i < elements.length; i += 3) {\n  const scenes = [];\n  for (let j = 0; j < 3 && i + j < elements.length; j++) {\n    scenes.push({\n      comment: `Scene #${Math.floor(i / 3) + 1}`,\n      elements: [elements[i + j]]\n    });\n  }\n\n  if (scenes.length > 0) {\n    const videoJson = {\n      resolution: \"full-hd\",\n      quality: \"high\",\n      scenes: scenes\n    };\n    videos.push({ json: videoJson });\n  }\n}\n\nreturn videos;"},"id":"43a4015c-ff72-47c6-a2e9-a58108f27889","name":"Preparar input para API video","type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,352]},{"parameters":{"method":"POST","url":"https://api.json2video.com/v2/movies","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key"},{"name":"Content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"id":"80c1d668-036a-4867-bd20-ed07633f934b","name":"Gerar videos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2784,352]},{"parameters":{"amount":30},"id":"df5dc64e-2cdf-4ecd-a931-82eba07ec04c","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2992,352],"webhookId":"25dfc518-8caa-4b5e-96f0-f8fc44e343f5"},{"parameters":{"url":"https://api.json2video.com/v2/movies","sendQuery":true,"queryParameters":{"parameters":[{"name":"project","value":"={{ $json.project }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key"},{"name":"Content-type","value":"application/json"}]},"options":{}},"id":"e80983f8-b465-4a1c-a97f-6a2ef1cdcaae","name":"Buscar videos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3184,352]},{"parameters":{"operation":"create","databaseId":149560,"tableId":379079,"fieldsUi":{"fieldValues":[{"fieldId":2864098,"fieldValue":"={{ $json.movie.url }}"}]}},"id":"dd81a9c4-49dd-4412-8dcd-5262322a1c9c","name":"Inserir video na tabela","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[3408,352]},{"parameters":{"databaseId":149560,"tableId":379079,"additionalOptions":{}},"id":"8f4a0ad4-b4dd-4aea-8614-3bc05eb3a764","name":"Capturar dados da tabela videos api","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-1056,1008]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"425f9238-9768-48c7-a17e-481bfdd12e6f","leftValue":"={{ $json['Áudio'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"21bfcfc0-0f27-4a29-9a40-efae9183e3c7","name":"If Audio = Vazio","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-864,1008]},{"parameters":{"databaseId":149560,"tableId":379077,"additionalOptions":{}},"id":"dcfa8d01-83f9-4bd7-b4ab-81a2a64b174c","name":"Capturar dados tabela cena","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-400,992]},{"parameters":{"jsCode":"const uniqueScenes = {};\nconst data = items;\n\ndata.forEach(item => {\n  const scene = item.json;\n  if (!uniqueScenes[scene.Cenas]) {\n    uniqueScenes[scene.Cenas] = scene.Cenas;\n  }\n});\n\nconst uniqueScenesArray = Object.values(uniqueScenes);\n\nreturn uniqueScenesArray.map(scene => ({ json: { Cena: scene } }));"},"id":"fe7f36ea-4f9b-48e3-a247-e5fb3aa65807","name":"Extrair conteudo da coluna cenas","type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,992]},{"parameters":{"options":{}},"id":"96c1b4a5-a12d-471a-a217-e5ee824df85a","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[48,992]},{"parameters":{},"id":"a4e43513-2852-423b-a2ae-6a809904c327","name":"Replace Me1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2368,1088]},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/pqHfZKP75CvOlQylNhV4","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"sk_fe1cadf89327524d7e3a80232b48a120082bcc163de951c4"},{"name":"Content-type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.Cena }}"},{"name":"model_id","value":"eleven_multilingual_v2"}]},"options":{}},"id":"4828af66-000a-477b-8a4b-0aca13a71d11","name":"Gerar Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,1008]},{"parameters":{"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1Qp73Y-v1hMYVCAAVbJp-IzL3lpLWNDtT","mode":"id"},"options":{}},"id":"826aa52f-be75-4849-89c3-188c68f9426a","name":"Upload Audio","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[528,1008]},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{$json.id}}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"id":"298fc6c3-3269-484d-92ff-ce2032f4414c","name":"Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[752,720]},{"parameters":{"databaseId":149560,"tableId":379079,"additionalOptions":{}},"id":"5aa70f0e-18b7-41d5-8d35-b2b5c7ba556b","name":"Capturar dados tabela videos","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[944,848]},{"parameters":{},"id":"52d92489-71c9-4cd1-8dcc-92863337f640","name":"Merge5","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1248,992]},{"parameters":{"jsCode":"const items = $input.all();\n\nconst videoItems = items.filter(item => item.json.hasOwnProperty('ID Vídeo'));\nconst audioItem = items.find(item => item.json.mimeType === 'audio/mpeg');\n\nlet videoItemToUpdate = null;\n\nfor (let video of videoItems) {\n  if (!video.json.Áudio) {\n    if (videoItemToUpdate === null || video.json.id < videoItemToUpdate.json.id) {\n      videoItemToUpdate = video;\n    }\n  }\n}\n\nlet result = {};\n\nif (videoItemToUpdate) {\n  videoItemToUpdate.json.Áudio = audioItem.json.webContentLink;\n  result = {\n    id: videoItemToUpdate.json.id,\n    Áudio: videoItemToUpdate.json.Áudio\n  };\n}\n\nreturn [result];"},"id":"02e319a8-37c4-4761-a9d6-35bb3ba77487","name":"Extrair ID coluna + URL audio","type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,992]},{"parameters":{"operation":"update","databaseId":149560,"tableId":379079,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2864099,"fieldValue":"={{ $json[\"Áudio\"] }}"}]}},"id":"b621ebb1-639d-4aa3-9533-57468984a3e3","name":"Baserow1","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2160,1024]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"585a5fd7-dbd7-41ca-85c9-1a3e72c7f25a","leftValue":"={{ $json[\"Vídeo + Áudio\"] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"17ff4524-be71-4fc5-959e-b24241e208f6","name":"If video + audio = vazio","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-480,1584]},{"parameters":{"jsCode":"const inputData = items;\n\nlet filteredData = inputData.map(item => ({\n  id: item.json.id,\n  video: item.json.Vídeo,\n  audio: item.json.Áudio\n}));\n\nlet uniqueData = [];\nlet ids = new Set();\n\nfilteredData.forEach(item => {\n  if (!ids.has(item.id)) {\n    uniqueData.push(item);\n    ids.add(item.id);\n  }\n});\n\nreturn uniqueData.map(data => ({ json: data }));"},"id":"e1054017-3e3a-4e66-9769-f97679fddf2c","name":"Extrair id + link Vídeo e Áudio","type":"n8n-nodes-base.code","typeVersion":2,"position":[80,1568]},{"parameters":{"databaseId":149560,"tableId":379078,"additionalOptions":{}},"id":"d01025fa-7f34-446f-b4b7-63004bf7081a","name":"Capturar dados tipo de historia","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[384,1344]},{"parameters":{"jsCode":"const inputData = items[0].json;\n\nconst outputData = {\n  width: inputData[\"Largura Output\"],\n  height: inputData[\"Altura Output\"]\n};\n\nreturn [{ json: outputData }];"},"id":"4039834a-34ba-4be8-82c7-e89cf9931225","name":"Extrair dimensão da imagem","type":"n8n-nodes-base.code","typeVersion":2,"position":[592,1344]},{"parameters":{},"id":"a9e8eb6d-3a6d-4e76-a19c-82e03feb74ef","name":"Merge6","type":"n8n-nodes-base.merge","typeVersion":3,"position":[832,1552]},{"parameters":{"jsCode":"const items = $input.all();\n\nconst { width, height } = items[0].json;\n\nconst videoRequests = [];\n\nitems.slice(1).forEach((item, index) => {\n  const scenes = [\n    {\n      comment: `Scene #${index + 1}`,\n      elements: [\n        {\n          type: 'video',\n          src: item.json.video,\n          duration: -2\n        }\n      ],\n    }\n  ];\n\n  const audioElements = [\n    {\n      type: 'audio',\n      src: item.json.audio,\n      duration: -1\n    }\n  ];\n\n  const requestPayload = {\n    id: 'Vídeo + Áudio',\n    fps: 25,\n    cache: false,\n    draft: false,\n    width: parseInt(width, 10),\n    height: parseInt(height, 10),\n    scenes: scenes,\n    quality: 'high',\n    elements: audioElements,\n    settings: {},\n    resolution: 'custom'\n  };\n\n  videoRequests.push({ json: requestPayload });\n});\n\nreturn videoRequests;"},"id":"ac2f3c93-c474-407c-8faf-4c4d1e31fec8","name":"Preparar input para JSON2Video","type":"n8n-nodes-base.code","typeVersion":2,"position":[1184,1552]},{"parameters":{"method":"POST","url":"https://api.json2video.com/v2/movies","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key"},{"name":"Content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"id":"e4e743cf-f4da-463b-8cc9-906d6a696c28","name":"Gerar videos1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1488,1552]},{"parameters":{"amount":30},"id":"ba842bc2-a827-4e21-b812-8e4753a235fb","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1680,1552],"webhookId":"25dfc518-8caa-4b5e-96f0-f8fc44e343f5"},{"parameters":{"url":"https://api.json2video.com/v2/movies","sendQuery":true,"queryParameters":{"parameters":[{"name":"project","value":"={{ $json.project }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key"},{"name":"Content-type","value":"application/json"}]},"options":{}},"id":"6ef0e21f-d90e-4d72-a0a6-d52137dd7925","name":"Buscar videos1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1888,1552]},{"parameters":{"jsCode":"const items = $input.all();\n\nconst uniqueIds = new Set();\n\nitems.forEach((item) => {\n  if (item.json && typeof item.json === 'object' && item.json.id) {\n    uniqueIds.add(item.json.id);\n  }\n});\n\nconst uniqueIdsArray = Array.from(uniqueIds);\n\nreturn uniqueIdsArray.map(id => ({ json: { id } }));"},"id":"17e68b34-a8ca-4575-9c15-a7f0ad59f1b0","name":"Extrair ID linha","type":"n8n-nodes-base.code","typeVersion":2,"position":[2288,1344]},{"parameters":{},"id":"adbd9009-2e30-44b4-8af1-53ba7fe3cd68","name":"Merge7","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2512,1520]},{"parameters":{"databaseId":149560,"tableId":379079,"additionalOptions":{}},"id":"d23e07e2-da2f-4c47-944d-672dfcc107fa","name":"Capturar dados tabela videos1","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2128,1344]},{"parameters":{"jsCode":"function mergeOutputs(inputs) {\n    let mergedOutput = [];\n    let ids = inputs.filter(input => input.json.id !== undefined);\n    let movies = inputs.filter(input => input.json.movie !== undefined);\n\n    ids.forEach((id, index) => {\n        if (index < movies.length) {\n            mergedOutput.push({\n                ...id.json,\n                ...movies[index].json\n            });\n        } else {\n            mergedOutput.push(id.json);\n        }\n    });\n\n    movies.slice(ids.length).forEach(movie => {\n        mergedOutput.push(movie.json);\n    });\n\n    return mergedOutput;\n}\n\nlet inputs = $input.all();\n\nif (!inputs || inputs.length === 0) {\n    throw new Error(\"No inputs received.\");\n}\n\nlet output = mergeOutputs(inputs);\n\nreturn output;"},"id":"af2b192a-d29a-4d48-b135-d09fed4f711d","name":"Mesclar outputs por delay do merge 2","type":"n8n-nodes-base.code","typeVersion":2,"position":[2720,1520]},{"parameters":{"operation":"update","databaseId":149560,"tableId":379079,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2876686,"fieldValue":"={{ $json.movie.url }}"}]}},"id":"a636b5ab-f1b6-4a88-af6a-329b81cb5327","name":"Inserir videos na coluna Video + Audio","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2960,1520]},{"parameters":{"jsCode":"function processInput(items) {\n  let seenIds = new Set();\n\n  let result = [];\n\n  if (Array.isArray(items)) {\n    items.forEach(item => {\n      let currentItem = item.json || {};\n\n      if (currentItem.id && currentItem[\"Vídeo + Áudio\"]) {\n        if (!seenIds.has(currentItem.id)) {\n          seenIds.add(currentItem.id);\n          result.push({ id: currentItem.id, \"Vídeo + Áudio\": currentItem[\"Vídeo + Áudio\"] });\n        }\n      }\n    });\n  }\n  return result;\n}\n\nlet items = $input.all();\n\nlet output = processInput(items);\n\nreturn output;"},"id":"b28d20cd-f8cd-4914-bfe2-32aceb015fe9","name":"Extrair ID e Áudio + Vídeo","type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,2272]},{"parameters":{"databaseId":149560,"tableId":379076,"additionalOptions":{}},"id":"921f1869-c778-46d5-b1b6-87339d6ec284","name":"Capturar dados tabela historias","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[320,1984]},{"parameters":{"jsCode":"const inputData = $input.all();\n\nif (inputData.length > 0) {\n  const firstItem = inputData[0].json;\n\n  const larguraOutput = firstItem[\"Largura Output\"] && firstItem[\"Largura Output\"].length > 0\n    ? firstItem[\"Largura Output\"][0].value\n    : null;\n\n  const alturaOutput = firstItem[\"Altura Output\"] && firstItem[\"Altura Output\"].length > 0\n    ? firstItem[\"Altura Output\"][0].value\n    : null;\n\n  return [\n    {\n      larguraOutput,\n      alturaOutput\n    }\n  ];\n} else {\n  return [\n    {\n      larguraOutput: null,\n      alturaOutput: null\n    }\n  ];\n}"},"id":"1b0d8e14-8bbf-47a1-9add-2bdf33542af9","name":"Extrair altura e largura output 2","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,1984]},{"parameters":{},"id":"5c98425a-10ea-4e7f-a3ac-6986bf5fb004","name":"Merge8","type":"n8n-nodes-base.merge","typeVersion":3,"position":[880,2240]},{"parameters":{"jsCode":"let elementId = 1;\nconst processedLinks = new Set();\nlet elements = [];\nlet validLarguraOutput = null;\nlet validAlturaOutput = null;\n\nitems.forEach(item => {\n  const larguraOutput = item.json[\"larguraOutput\"];\n  const alturaOutput = item.json[\"alturaOutput\"];\n\n  if (larguraOutput && alturaOutput) {\n    validLarguraOutput = parseInt(larguraOutput, 10);\n    validAlturaOutput = parseInt(alturaOutput, 10);\n  }\n});\n\nitems.forEach(item => {\n  const id = item.json[\"id\"];\n  const videoUrl = item.json[\"Vídeo + Áudio\"];\n\n  if (id && videoUrl) {\n    let larguraOutput = validLarguraOutput;\n    let alturaOutput = validAlturaOutput;\n\n    if (!processedLinks.has(videoUrl) && larguraOutput && alturaOutput) {\n      processedLinks.add(videoUrl);\n      elements.push({\n        id: elementId++,\n        type: \"video\",\n        src: videoUrl,\n        duration: -1,\n        zoom: 0,\n        width: larguraOutput,\n        height: alturaOutput,\n        position: \"center-center\"\n      });\n    }\n  }\n});\n\nlet scenes = [];\nelements.forEach(element => {\n  scenes.push({\n    elements: [element]\n  });\n});\n\nconst outputJson = {\n  id: \"Vídeo Completo\",\n  fps: 25,\n  cache: false,\n  draft: false,\n  width: validLarguraOutput,\n  height: validAlturaOutput,\n  scenes: scenes,\n  quality: \"high\",\n  elements: [\n    {\n      type: \"subtitles\",\n      language: \"pt-BR\",\n      settings: {\n        \"all-caps\": true,\n        position: \"mid-bottom-center\",\n        \"font-size\": 75,\n        \"font-family\": \"Luckiest Guy\",\n        \"outline-width\": 5\n      }\n    }\n  ],\n  settings: {},\n  resolution: \"custom\"\n};\n\nreturn [{ json: outputJson }];"},"id":"4df6aa2c-ef37-4bea-a189-ae5bf5951d14","name":"Preparar input para JSON2Video 3","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,2240]},{"parameters":{"method":"POST","url":"https://api.json2video.com/v2/movies","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key"},{"name":"Content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"id":"387ffad0-a7ac-4cb9-a44c-cb6151690325","name":"Gerar videos2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1408,2240]},{"parameters":{"amount":3,"unit":"minutes"},"id":"d551a4a2-6600-477c-b5c5-05e7400375c5","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1600,2240],"webhookId":"25dfc518-8caa-4b5e-96f0-f8fc44e343f5"},{"parameters":{"url":"https://api.json2video.com/v2/movies","sendQuery":true,"queryParameters":{"parameters":[{"name":"project","value":"={{ $json.project }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key"},{"name":"Content-type","value":"application/json"}]},"options":{}},"id":"80bad7e0-289e-4a7d-b111-6ed1589a0f69","name":"Buscar videos2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,2240]},{"parameters":{},"id":"659568d8-11e6-44f1-851f-1948214d01c8","name":"Merge9","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2432,2224]},{"parameters":{"jsCode":"function mergeOutputs(inputs) {\n    let mergedOutput = [];\n    let ids = inputs.filter(input => input.json.id !== undefined);\n    let movies = inputs.filter(input => input.json.movie !== undefined);\n\n    ids.forEach((id, index) => {\n        if (index < movies.length) {\n            mergedOutput.push({\n                ...id.json,\n                ...movies[index].json\n            });\n        } else {\n            mergedOutput.push(id.json);\n        }\n    });\n\n    movies.slice(ids.length).forEach(movie => {\n        mergedOutput.push(movie.json);\n    });\n\n    return mergedOutput;\n}\n\nlet inputs = $input.all();\n\nif (!inputs || inputs.length === 0) {\n    throw new Error(\"No inputs received.\");\n}\n\nlet output = mergeOutputs(inputs);\n\nreturn output;"},"id":"6f7a7c9c-1f76-4923-83c5-7ce48661c277","name":"Mesclar outputs por delay do merge ","type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,2224]},{"parameters":{"databaseId":149560,"tableId":379076,"additionalOptions":{}},"id":"08814ac0-0427-4dd8-93da-4cd88e95aac6","name":"Capturar dados tabela historias1","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2048,2048]},{"parameters":{"jsCode":"const items = $input.all();\n\nconst ids = items.map(item => item.json.id);\n\nconst uniqueIds = [...new Set(ids)];\n\nreturn uniqueIds.map(id => ({ json: { id } }));"},"id":"dc205e2a-e5a7-40fa-a796-6a90a8d2a7e8","name":"Extrair ID linha 2","type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,2048]},{"parameters":{"operation":"update","databaseId":149560,"tableId":379076,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2876666,"fieldValue":"={{ $json.movie.url }}"}]}},"id":"235ddc28-07ec-4c91-aead-1033558c67dc","name":"Inserir videos na tabela","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2880,2224]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Capturar Dados da Tabela História","type":"main","index":0}]]},"Capturar Dados da Tabela História":{"main":[[{"node":"If Historia está vazio","type":"main","index":0}]]},"If Historia está vazio":{"main":[[{"node":"If pronto para ir?","type":"main","index":0}],[{"node":"Capturar dados tabela cenas","type":"main","index":0}]]},"If pronto para ir?":{"main":[[{"node":"Preparar o prompt","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Preparar o prompt":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Inserir a historia na tabela","type":"main","index":0}]]},"Inserir a historia na tabela":{"main":[[{"node":"Capturar dados tabela tipo de historia","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Capturar dados tabela tipo de historia":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Preparar prompt 2","type":"main","index":0}]]},"Preparar prompt 2":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Converter Array","type":"main","index":0}]]},"Converter Array":{"main":[[{"node":"Inserir cenas na tabela","type":"main","index":0}]]},"Capturar dados tabela cenas":{"main":[[{"node":"If Imagem está vazia","type":"main","index":0}]]},"If Imagem está vazia":{"main":[[{"node":"Converter array","type":"main","index":0}],[{"node":"Capturar dados da tabela videos api","type":"main","index":0}]]},"Converter array":{"main":[[{"node":"Capturar dados tabela tipo de história","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"Capturar dados tabela tipo de história":{"main":[[{"node":"Extrair dimensão da imagem + model ID","type":"main","index":0}]]},"Extrair dimensão da imagem + model ID":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Mesclar os outputs por delay do merge":{"main":[[{"node":"Capturar dados tabela Cenas","type":"main","index":0},{"node":"Merge3","type":"main","index":1}]]},"Loop Over Items":{"main":[[{"node":"Capturar url imagem gerada","type":"main","index":0}],[{"node":"ID Image","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Mesclar os outputs por delay do merge","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Mesclar os outputs por delay do merge3","type":"main","index":0}]]},"Capturar dados tabela Cenas":{"main":[[{"node":"Extrair AI Image Prompt","type":"main","index":0}]]},"Extrair AI Image Prompt":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Mesclar os outputs por delay do merge3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Call hugginface inference api1":{"main":[[{"node":"S3","type":"main","index":0}]]},"ID Image":{"main":[[{"node":"Call hugginface inference api1","type":"main","index":0}]]},"S3":{"main":[[{"node":"Baserow","type":"main","index":0}]]},"Baserow":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Capturar dados tabela historia":{"main":[[{"node":"Extrair Altura e Largura Output","type":"main","index":0}]]},"Capturar url imagem gerada":{"main":[[{"node":"Capturar dados tabela historia","type":"main","index":0},{"node":"Extrair ID linha + URL imagem","type":"main","index":0}]]},"Extrair Altura e Largura Output":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Extrair ID linha + URL imagem":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Merge4":{"main":[[{"node":"Preparar input para API video","type":"main","index":0}]]},"Preparar input para API video":{"main":[[{"node":"Gerar videos","type":"main","index":0}]]},"Gerar videos":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Buscar videos","type":"main","index":0}]]},"Buscar videos":{"main":[[{"node":"Inserir video na tabela","type":"main","index":0}]]},"Capturar dados da tabela videos api":{"main":[[{"node":"If Audio = Vazio","type":"main","index":0}]]},"If Audio = Vazio":{"main":[[{"node":"Capturar dados tabela cena","type":"main","index":0}],[{"node":"If video + audio = vazio","type":"main","index":0}]]},"Capturar dados tabela cena":{"main":[[{"node":"Extrair conteudo da coluna cenas","type":"main","index":0}]]},"Extrair conteudo da coluna cenas":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Gerar Audio","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Gerar Audio":{"main":[[{"node":"Upload Audio","type":"main","index":0}]]},"Upload Audio":{"main":[[{"node":"Google Drive","type":"main","index":0},{"node":"Capturar dados tabela videos","type":"main","index":0},{"node":"Merge5","type":"main","index":1}]]},"Capturar dados tabela videos":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"Merge5":{"main":[[{"node":"Extrair ID coluna + URL audio","type":"main","index":0}]]},"Extrair ID coluna + URL audio":{"main":[[{"node":"Baserow1","type":"main","index":0}]]},"Baserow1":{"main":[[{"node":"Replace Me1","type":"main","index":0}]]},"If video + audio = vazio":{"main":[[{"node":"Extrair id + link Vídeo e Áudio","type":"main","index":0}],[{"node":"Extrair ID e Áudio + Vídeo","type":"main","index":0}]]},"Extrair id + link Vídeo e Áudio":{"main":[[{"node":"Capturar dados tipo de historia","type":"main","index":0},{"node":"Merge6","type":"main","index":1}]]},"Capturar dados tipo de historia":{"main":[[{"node":"Extrair dimensão da imagem","type":"main","index":0}]]},"Extrair dimensão da imagem":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"Preparar input para JSON2Video","type":"main","index":0}]]},"Gerar videos1":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Buscar videos1","type":"main","index":0}]]},"Preparar input para JSON2Video":{"main":[[{"node":"Gerar videos1","type":"main","index":0}]]},"Buscar videos1":{"main":[[{"node":"Capturar dados tabela videos1","type":"main","index":0},{"node":"Merge7","type":"main","index":1}]]},"Extrair ID linha":{"main":[[{"node":"Merge7","type":"main","index":0}]]},"Capturar dados tabela videos1":{"main":[[{"node":"Extrair ID linha","type":"main","index":0}]]},"Merge7":{"main":[[{"node":"Mesclar outputs por delay do merge 2","type":"main","index":0}]]},"Mesclar outputs por delay do merge 2":{"main":[[{"node":"Inserir videos na coluna Video + Audio","type":"main","index":0}]]},"Extrair ID e Áudio + Vídeo":{"main":[[{"node":"Capturar dados tabela historias","type":"main","index":0},{"node":"Merge8","type":"main","index":1}]]},"Capturar dados tabela historias":{"main":[[{"node":"Extrair altura e largura output 2","type":"main","index":0}]]},"Extrair altura e largura output 2":{"main":[[{"node":"Merge8","type":"main","index":0}]]},"Merge8":{"main":[[{"node":"Preparar input para JSON2Video 3","type":"main","index":0}]]},"Gerar videos2":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Buscar videos2","type":"main","index":0}]]},"Buscar videos2":{"main":[[{"node":"Capturar dados tabela historias1","type":"main","index":0},{"node":"Merge9","type":"main","index":1}]]},"Merge9":{"main":[[{"node":"Mesclar outputs por delay do merge ","type":"main","index":0}]]},"Mesclar outputs por delay do merge ":{"main":[[{"node":"Inserir videos na tabela","type":"main","index":0}]]},"Preparar input para JSON2Video 3":{"main":[[{"node":"Gerar videos2","type":"main","index":0}]]},"Capturar dados tabela historias1":{"main":[[{"node":"Extrair ID linha 2","type":"main","index":0}]]},"Extrair ID linha 2":{"main":[[{"node":"Merge9","type":"main","index":0}]]}},"pinData":{},"meta":null}