2025/12/09/My workflow 7.json
{"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1088,1792],"id":"37f90e69-d519-48a9-9993-cf5d7061bc1b","name":"When clicking ‘Execute workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1296,1792],"id":"a34e17e6-7a8a-4a03-85af-384f297db12e","name":"Get many workflows","credentials":{"n8nApi":{"id":"6femkhoGHGwWLYUd","name":"n8n account"}}},{"parameters":{"content":"## Subworkflow","height":752,"width":2111,"color":6},"id":"f1f9be15-96a1-4b5d-90f5-0881f463b455","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2720,1904],"typeVersion":1},{"parameters":{},"id":"568c0184-a8f3-4c7a-9acb-10c4ab148577","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[2736,2304],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"efb1da45-1c19-4a07-b6d9-2838cb2fbbf0","name":"Return","type":"n8n-nodes-base.set","position":[4704,2112],"typeVersion":3.3},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"3ce332ca-3827-4c2d-becd-837da737d285","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"f50097d1-cab8-4cdb-a7c6-9c24de9fc871","name":"If file too large","type":"n8n-nodes-base.if","position":[3376,2032],"typeVersion":2},{"parameters":{},"id":"3f322224-5f0a-4885-8589-7fb18e95e53b","name":"Merge Items","type":"n8n-nodes-base.merge","position":[3376,2288],"typeVersion":2},{"parameters":{},"id":"d6018c95-53a0-4893-94ba-d729a61248b3","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[4240,2112],"typeVersion":1},{"parameters":{},"id":"4df6e6a1-2da7-49a1-bf0c-84808930bd91","name":"File is different","type":"n8n-nodes-base.noOp","position":[4240,2272],"typeVersion":1},{"parameters":{},"id":"31f91a42-4423-46e7-97be-6e8f7b5231f6","name":"File is new","type":"n8n-nodes-base.noOp","position":[4240,2464],"typeVersion":1},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_name }}"},"filePath":"={{ $('Create sub path').item.json.subPath }}/{{ $('Execute Workflow Trigger').first().json.name }}.json","fileContent":"={{ JSON.stringify($('Config').first().json.data) }}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.githubStatus}})"},"id":"83386768-7e21-42e1-8b1e-fa3f0b953676","name":"Create new file","type":"n8n-nodes-base.github","position":[4464,2464],"webhookId":"fc6b1cf0-6440-4fb0-94bf-fadabb6ea1fd","typeVersion":1,"credentials":{"githubOAuth2Api":{"id":"onOw8OkhzAdUccDe","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_name }}"},"filePath":"={{ $('Create sub path').item.json.subPath }}/{{ $('Execute Workflow Trigger').first().json.name }}.json","fileContent":"={{ JSON.stringify($('Config').first().json.data) }}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{ $json.githubStatus }})"},"id":"1f657d6f-f127-490a-874c-3fe048905f35","name":"Edit existing file","type":"n8n-nodes-base.github","position":[4464,2272],"webhookId":"81fc5f33-06e3-4368-ba2e-0ef46dd8b021","typeVersion":1,"credentials":{"githubOAuth2Api":{"id":"onOw8OkhzAdUccDe","name":"GitHub account"}}},{"parameters":{"assignments":{"assignments":[{"id":"dae43d3b-56e5-4098-b602-862ebf5cd073","name":"subPath","type":"string","value":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}"}]},"includeOtherFields":true,"options":{}},"id":"41686e40-380b-48f1-a2f7-41a4db64c8dc","name":"Create sub path","type":"n8n-nodes-base.set","position":[3824,2288],"typeVersion":3.3},{"parameters":{"assignments":{"assignments":[{"id":"8f6d1741-772f-462a-811f-4c334185e4f0","name":"repo_owner","type":"string","value":"=Estevaoferreira"},{"id":"8cac215c-4fd7-422f-9fd2-6b2d1e5e0383","name":"repo_name","type":"string","value":"=WatashiLabs-backups_n8n"},{"id":"2b38f96a-a970-4d13-900e-f15e4cd65c51","name":"data","type":"object","value":"={{\n  {\n    \"nodes\": $('Execute Workflow Trigger').item.json.nodes,\n    \"connections\": $('Execute Workflow Trigger').item.json.connections,\n    \"pinData\": $('Execute Workflow Trigger').item.json.pinData,\n    \"meta\": $('Execute Workflow Trigger').item.json.meta\n  }\n}}"}]},"includeOtherFields":true,"options":{}},"id":"2189c075-18ef-4c67-af68-22bb824a69d1","name":"Config","type":"n8n-nodes-base.set","position":[3008,2304],"typeVersion":3.4},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repo_name }}"},"filePath":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}/{{ $('Execute Workflow Trigger').item.json.name }}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"fa5ed405-4944-4413-ace2-ce52c5c5850e","name":"Get file data","type":"n8n-nodes-base.github","position":[3184,2032],"webhookId":"883c4829-4a9d-4320-ab49-226a5bc15863","typeVersion":1,"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"onOw8OkhzAdUccDe","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').item.json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').item.json.repo_name }}"},"filePath":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}/{{ $('Execute Workflow Trigger').item.json.name }}.json","additionalParameters":{}},"id":"ff4fa7b2-ee4a-4a59-99e2-49387b18b41c","name":"Get file","type":"n8n-nodes-base.github","position":[3600,2016],"webhookId":"81fc5f33-06e3-4368-ba2e-0ef46dd8b021","typeVersion":1,"credentials":{"githubOAuth2Api":{"id":"onOw8OkhzAdUccDe","name":"GitHub account"}}},{"parameters":{"jsCode":"// Simple native replacement for _.isMatch(a, b)\nfunction isMatch(object, source) {\n  return Object.keys(source).every(key => {\n    if (typeof source[key] === 'object' && source[key] !== null) {\n      return isMatch(object[key], source[key]);\n    }\n    return object[key] === source[key];\n  });\n}\n\nlet fileInput = null;\n\nif (Object.keys($input.first().json).includes(\"content\")) {\n  fileInput = JSON.parse(\n    Buffer.from($input.all()[0].json.content, 'base64').toString()\n  );\n}\n\nconst n8nInput = $input.last().json.data;\n\nif (!fileInput) {\n  return {\n    githubStatus: \"new\"\n  };\n}\n\nif (isMatch(fileInput, n8nInput)) {\n  return {\n    githubStatus: \"same\"\n  };\n} else {\n  return {\n    githubStatus: \"different\"\n  };\n}\n"},"id":"53f2575c-68a9-4170-8f58-24d9fcc2ddac","name":"verifyTheDifference","type":"n8n-nodes-base.code","position":[3600,2288],"typeVersion":2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"1e6de6b4-3074-41bc-8a9d-465c0eb9a773","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"same"}]},"renameOutput":true,"outputKey":"same"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cf6e130e-c85d-4a24-b11a-abfd0ecfcb19","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"different"}]},"renameOutput":true,"outputKey":"different"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f2fc6dda-85f5-4b81-b016-3e033b1dbcab","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"new"}]},"renameOutput":true,"outputKey":"=new"}]},"options":{}},"id":"6965f1cb-740c-44d0-b7d2-0d99432d4ddc","name":"Switch","type":"n8n-nodes-base.switch","position":[4016,2288],"typeVersion":3.2},{"parameters":{"content":"# Workflows backup to Github\n======================================================================\n\n## Introduction\nThis workflow will backup all of your existed workflows to a single Github repository.\n\nThe Backup folders' name are based on the current backup date and have default format: \"yyyy/MM/dd\" (setup at \"Create sub path\" node).\n\nThroughout the backup process, the N8N will inform user via discord with clear message about Start, Success and Failure backups.\n\n## Tech Stack\nThe following nodes / services / libraries are used in this workflow:\n\n### Nodes:\n1. **Discord:** To send message to configured setup channel.\n2. **N8N:** To get all workflows' information.\n3. **Github:** To store backup data.\n4. **Code:** To run data comparison (Existed vs Latest workflow data).\n5. **Wait:** To avoid discord message rate limit.\n\n### External libraries:\n1. **Underscore.js:** JavaScript library that provides lots of common Javascript functions, to help user save time when using code node.\n\n## Guideline\n1. Open \"Config\" node and setup the following information:\n    - **repo_owner:** Your Github username.\n    - **repo_name:** The repository that you want to store workflows backup data.\n2. Open \"Create sub path\" node and change the naming and path format of backup folder(s).\n3. Setup custom messages in 3 discord nodes:\n    - **Starting Message:** N8N inform user at the time workflow start.\n    - **Inform Success Flows:** After each success backup, N8N will notify user.\n    - **Inform Failed Flows:** After each failure backup, N8N will notify user to have appropriate action.\n    - **Completed Notifications:** Then at the final, the workflow will give user a summary.","height":1400,"width":680,"color":4},"id":"6404ef73-29c2-4e7e-a7f0-17c901f00cfa","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[2016,1264],"typeVersion":1},{"parameters":{"content":"## Main workflow loop","height":616,"width":2113,"color":7},"id":"e937096c-95e7-4f4e-b593-f9d4b182709c","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[2768,1232],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"d64c745f-f247-4183-afdb-ec6de8bbcb07","name":"n8n","type":"n8n-nodes-base.n8n","position":[3408,1440],"typeVersion":1,"credentials":{"n8nApi":{"id":"6femkhoGHGwWLYUd","name":"n8n account"}}},{"parameters":{"options":{}},"id":"49120609-01ed-4bce-8f7c-3277f74e92af","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[3616,1440],"typeVersion":3},{"parameters":{"amount":10},"id":"e556cc44-c83c-48cd-b50e-212e44f92161","name":"Wait","type":"n8n-nodes-base.wait","position":[4256,1456],"webhookId":"4a7448b4-930e-4110-b205-95c55cac5bba","typeVersion":1.1},{"parameters":{},"id":"343f2cbe-dc8b-4684-b3f3-ec4893d33acb","name":"Wait1","type":"n8n-nodes-base.wait","position":[4256,1632],"webhookId":"577d599b-e2eb-4e7c-92aa-b9ca787cc40a","typeVersion":1.1},{"parameters":{"amount":10},"id":"014f4528-7955-4aae-ae02-55923ed0f383","name":"Wait2","type":"n8n-nodes-base.wait","position":[4032,1296],"webhookId":"4a7448b4-930e-4110-b205-95c55cac5bba","typeVersion":1.1},{"parameters":{"resource":"messages-api","instanceName":"Estevão - Business","remoteJid":"5511943356283","messageText":"=The Git backup here. Below is my latest activity:\n```\n👉 Starting Workflow Backup [{{ $execution.id }}]\n```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3200,1440],"id":"8add9512-ae43-4bf7-a0ab-992259e60cb7","name":"Starting Message","credentials":{"evolutionApi":{"id":"XXmpuvteVUlf93Q4","name":"Business"}}},{"parameters":{"resource":"messages-api","instanceName":"Estevão - Business","remoteJid":"5511943356283","messageText":"=The Git backup here. Below is my latest activity:\n```\n✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.\n```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4288,1296],"id":"85720ffb-bb10-46a0-90ad-85b84126f7b6","name":"Completed Notification","credentials":{"evolutionApi":{"id":"XXmpuvteVUlf93Q4","name":"Business"}}},{"parameters":{"resource":"messages-api","instanceName":"Estevão - Business","remoteJid":"5511943356283","messageText":"=The Git backup here. Below is my latest activity:\n```\n✅ Success to backup {{ $('Loop Over Items').item.json.name }}\n```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4464,1456],"id":"b727b809-c7d8-4ce8-95b7-e65dfe16d465","name":"Inform Success Flows","credentials":{"evolutionApi":{"id":"XXmpuvteVUlf93Q4","name":"Business"}}},{"parameters":{"resource":"messages-api","instanceName":"Estevão - Business","remoteJid":"5511943356283","messageText":"=The Git backup here. Below is my latest activity:\n```\n👉 Failed to backup {{ $('Loop Over Items').item.json.name }}\n```","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4464,1632],"id":"c7cac82f-5b9b-43c8-bb03-1fe4c7557f6e","name":"Inform Failed Flows","credentials":{"evolutionApi":{"id":"XXmpuvteVUlf93Q4","name":"Business"}}},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"workflowInputs":{"value":{},"schema":[],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"6f2b972b-2a66-4734-b639-34657c876a5c","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[4032,1536],"typeVersion":1.2,"onError":"continueErrorOutput"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[6],"triggerAtHour":1}]}},"id":"e2ffdf26-458e-458a-b99e-ea1271c2a7d5","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[3008,1536],"typeVersion":1.2}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Config":{"main":[[{"node":"Merge Items","type":"main","index":1},{"node":"Get file data","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Get file":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"verifyTheDifference","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Create sub path":{"main":[[{"node":"Switch","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get file","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"verifyTheDifference":{"main":[[{"node":"Create sub path","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Config","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Wait2","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Inform Success Flows","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Inform Failed Flows","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Completed Notification","type":"main","index":0}]]},"Starting Message":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Inform Success Flows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Inform Failed Flows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Starting Message","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}