2025/12/09/My workflow 2.json
{"nodes":[{"parameters":{},"id":"28308e10-7790-4185-8351-0b8b3c6f91a1","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-400,320]},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[624,304],"id":"975591c3-71ff-46d1-ae72-213e072f823d","name":"Extract from File"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f1e1c15f-6b80-43db-885b-c444e8ee8a86","leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"img1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"img1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5ea58828-407d-4661-93e7-bcaeec23a924","leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"enviarfoto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"envviar foto"}]},"options":{}},"id":"b94f6626-d9fd-4739-a1e7-dd723f70d3f5","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-224,320]},{"parameters":{"assignments":{"assignments":[{"id":"bdf3c023-082c-4f78-b311-6302affcc988","name":"telefone","value":"={{ $('Execute Workflow Trigger').item.json.Remotejid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,304],"id":"1b360c9e-0bac-4299-b5b0-af639dbdc47e","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"7f842ffa-cd8f-40ab-a0a7-40dc173357a7","name":"response","value":"=Sucesso","type":"string"}]},"options":{}},"id":"3fb64db2-d651-4b9e-abe4-5a1d4c1538a8","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1008,304]},{"parameters":{"name":"enviar_img1","description":"=usar para enviar a o pdf dos planos da academia","workflowId":{"__rl":true,"value":"v3cd0ZeDgfCOuqhE","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"img1"},{"name":"Remotejid","stringValue":"={{ $('Dados').item.json.Telefone }}"}]},"jsonSchemaExample":""},"id":"d52b6b24-6c1a-48f7-a9fc-8c671840d3fd","name":"enviar_img","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[32,-96]},{"parameters":{"resource":"fileFolder","queryString":"=","limit":1,"filter":{"folderId":{"__rl":true,"value":"1IJC9U964bkxtiybT9FBYiSiCfi_mLgE_","mode":"list","cachedResultName":"WatashiLabs","cachedResultUrl":"https://drive.google.com/drive/folders/1IJC9U964bkxtiybT9FBYiSiCfi_mLgE_"},"whatToSearch":"files"},"options":{"fields":["mimeType","name","id"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[240,304],"id":"da4643e3-50e3-48a4-8167-a6e680574c50","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"HZOKSVKLRv4VZ1Im","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[416,304],"id":"2afa2ef0-3318-4afa-9ad3-be503e459b09","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"HZOKSVKLRv4VZ1Im","name":"Google Drive account"}}},{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"Estevão - Business","remoteJid":"={{ $('Switch').item.json.Remotejid }}","media":"={{ $json.data }}","caption":"Segue o orçamento","fileName":"","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[816,304],"id":"815305fb-926d-4bc5-95a5-3a85d8e27166","name":"Enviar documento","credentials":{"evolutionApi":{"id":"XXmpuvteVUlf93Q4","name":"Evolution account"}}}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Enviar documento","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Enviar documento":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}