2025/12/09/Robo SEO.json
{"nodes":[{"parameters":{},"id":"7d472ab1-5a92-44d1-8167-9b159f0d8cd3","name":"Executar","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-4000,1088]},{"parameters":{"operation":"information"},"id":"0a29e35a-890b-4134-bdea-ae48b13ddf9d","name":"Pega informações","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[528,800]},{"parameters":{"url":"={{ $node['variaveis'].json[\"Marca dagua Overlay\"] ? $node['variaveis'].json[\"Marca dagua Overlay\"] : \"https://upload.wikimedia.org/wikipedia/commons/c/ca/1x1.png\"}}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"frente"}}}},"id":"4e2234c6-d11e-43bc-af83-8f598442135c","name":"Imagem Overlay","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[816,976],"executeOnce":false,"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"operation":"resize","width":"={{ $json[\"size\"][\"width\"] > 1200 ? 1200 : $json[\"size\"][\"width\"] }}","height":"={{ $json[\"size\"][\"height\"] > 630 ? 630 : $json[\"size\"][\"height\"] }}","resizeOption":"onlyIfLarger","options":{"format":"webp"}},"id":"37c938d2-daa1-469a-ae9b-21291ecc54d2","name":"redimensionar","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[720,800]},{"parameters":{"operation":"information"},"id":"2adb80c0-fad7-4c17-8130-bf6fde34444d","name":"Pega informações redimensionada","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[912,800]},{"parameters":{"operation":"multiStep","operations":{"operations":[{"operation":"composite","dataPropertyNameComposite":"=frente"},{"operation":"composite","dataPropertyNameComposite":"logo","positionX":"={{ ($('Pega informações redimensionada').item.json[\"size\"][\"width\"] - 10) - $('Informações logo subtitulo').item.json[\"size\"][\"width\"] }}\n","positionY":"={{ ($('Pega informações redimensionada').item.json[\"size\"][\"height\"] - 20) - $('Informações logo subtitulo').item.json[\"size\"][\"height\"] }}"}]},"options":{"format":"jpeg"}},"id":"1fb039b0-93db-407c-a993-2d07642a1eca","name":"Aplicar marca dagua","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[1008,976],"notesInFlow":true,"notes":"Altere JPEG ou WEBP"},{"parameters":{"operation":"information","dataPropertyName":"logo"},"id":"64ec91be-c363-4e55-a139-ec0cae2ca1b0","name":"Informações logo subtitulo","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[640,976]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $node['variaveis'].json[\"Planilha ID\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $node['variaveis'].json[\"Planilha Aba\"] }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Execução":"=INICIOU","row_number":"={{ $node['Google Sheets - Ler Palavras Chaves'].json[\"row_number\"] }}","ID da Execução":"={{ $execution.id }}"},"matchingColumns":["row_number"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Palavra Chave Foco","displayName":"Palavra Chave Foco","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Título","displayName":"Título","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID da Categoria","displayName":"ID da Categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Categoria","displayName":"Categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID das Tags","displayName":"ID das Tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Imagem","displayName":"Imagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Outlines","displayName":"Outlines","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Execução","displayName":"Execução","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID da Execução","displayName":"ID da Execução","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Posição","displayName":"Posição","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Concorrência","displayName":"Concorrência","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"7d8df45d-2901-44a8-b11e-02a88310edaa","name":"Google Sheets - Status Executando","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-3328,976],"retryOnFail":true,"maxTries":null,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('variaveis').item.json[\"Planilha ID\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('variaveis').item.json[\"Planilha Aba\"] }}","mode":"id"},"filtersUI":{"values":[{"lookupColumn":"=Execução"}]},"options":{"returnAllMatches":"returnFirstMatch"}},"id":"d31a0d63-7bba-4ee6-980e-37d73bfffb21","name":"Google Sheets - Ler Palavras Chaves","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-3520,976],"retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"url":"={{ $node['variaveis'].json[\"Logo marca dagua\"] ? $node['variaveis'].json[\"Logo marca dagua\"] : \"https://upload.wikimedia.org/wikipedia/commons/c/ca/1x1.png\" }} ","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"logo"}}}},"id":"6b40f596-643d-44dc-8818-e108a4c931fe","name":"logo","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1088,800],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"method":"POST","url":"={{ $node['variaveis'].json[\"URL do Site\"] }}/wp-json/robo-seo-api-rest/v1/update-meta","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"post_id","value":"={{ $node['Wordpress - Publicar Post'].json[\"id\"] }}"},{"name":"keyword","value":"={{ $node['Dados'].json[\"keyword\"] }}"},{"name":"title","value":"={{ $node['Dados SEO'].json[\"title\"] }}"},{"name":"description","value":"={{ $node['Dados SEO'].json[\"description\"] }}"},{"name":"link_internal","value":"={{ $node['Dados'].json[\"post_link_interno\"] == 'true' && $node['Dados'].json[\"keyword\"] }}"},{"name":"faq","value":"={{ \n  $node['Combinar subtítulos'].json[\"faq_schema\"]\n    .filter(item => item !== \"\")\n}}"},{"name":"blog_posting_data.headline","value":"={{ $node['Dados SEO'].json[\"title\"] }}"},{"name":"blog_posting_data.description","value":"={{ $node['Dados SEO'].json[\"description\"] }}"},{"name":"blog_posting_data.keywords","value":"={{ $node['Dados'].json[\"keyword\"] }}"},{"name":"faq_title","value":"={{ \n  $node['Combinar subtítulos'].json[\"faq_schema_title\"]\n    .filter(item => item !== \"\") // Filtra os itens vazios\n    .join('') // Concatena em uma string, que será o título desejado\n}}"}]},"options":{"response":{}}},"id":"dc3b9153-c947-4ce2-95f9-4bfa65e22fb0","name":"Plugins de SEO","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1072,1696],"credentials":{"wordpressApi":{"id":"jSrkhXanhzqPAK6M","name":"estevaoferreira.com.br"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"2178f488-60a5-4aed-9d8a-454227fa2cc7","leftValue":"={{ $node['Leonardo.AI - Resultados'].json[\"generations_by_pk\"][\"status\"] }}","rightValue":"COMPLETE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"9054b15e-2a46-4db4-baa1-abe9e388f3a4","name":"imagem já foi gerada?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[128,1488]},{"parameters":{"assignments":{"assignments":[{"id":"3e1129e4-2ecd-4ba6-af89-2f1e6e2f12ff","name":"keyword","value":"={{ $node['validacao'].json['Palavra Chave Foco'] }}","type":"string"},{"id":"bdc28097-f674-473c-84ca-dfcae0f1b619","name":"post_title","value":"={{ $node['validacao'].json.Título }}","type":"string"},{"id":"efd0562b-2d4b-4bbe-8d22-14c501cf8651","name":"post_categoria_id","value":"={{ $node['validacao'].json['Categoria'] }}","type":"string"},{"id":"e768f7d7-5fe2-4aec-9985-b04394315344","name":"post_tag_id","value":"={{ $node['validacao'].json['Tags'] }}","type":"string"},{"id":"9afed0dd-4650-40be-9b83-157ba83f2b50","name":"banco_de_imagem","value":"={{ $node['validacao'].json['Banco de imagem'] }}","type":"string"},{"id":"57eb063f-fb87-471f-8577-ca668267094e","name":"imagem","value":"={{ $node['validacao'].json.Imagem }}","type":"string"},{"id":"e05029bf-0087-4b66-83f4-b55437c5c088","name":"imagens_no_subtitulos","value":"={{ $node['validacao'].json['Imagens nos Subtítulos?'] }}","type":"string"},{"id":"9fd85fde-445e-4aa8-b088-c52323a75d76","name":"post_subtitulos_quantidade","value":"={{ $node['validacao'].json['Quantidade de Subtítulos'] }}","type":"string"},{"id":"3d2c4ee5-ea4c-4afa-9667-e56f75faf6a2","name":"post_subtitulos","value":"={{ $node['validacao'].json.Subtítulos }}","type":"string"},{"id":"08d17dfc-54bf-45b4-b39b-0dad482bd2b4","name":"post_status","value":"={{ $node['validacao'].json.Status }}","type":"string"},{"id":"94d41a41-6351-4c62-b8ad-d9e6c9f618ef","name":"post_link_interno","value":"={{ $node['validacao'].json['Link Interno?'] }}","type":"string"},{"id":"477b7957-236d-482c-8994-e6f9a1f5680d","name":"post_autor_id","value":"={{ $node['validacao'].json[\"Autor ID\"] ? $node['validacao'].json[\"Autor ID\"] : NULL }}","type":"string"},{"id":"bcd6c94d-3135-48ac-9dc8-e96dd739e264","name":"post_data_hora","value":"={{ $node['validacao'].json.DataHoraISO }}","type":"string"},{"id":"a7d1ebfa-b4ae-492d-9213-b4b63b8a47cd","name":"post_video","value":"={{ $node['validacao'].json.Vídeo }}","type":"boolean"},{"id":"6f82186c-7a74-48b7-9e35-052aed11fdd9","name":"post_video_id","value":"={{ $node['validacao'].json['Vídeo ID'] }}","type":"string"},{"id":"d5b0154e-cb5d-443f-aabc-8876be1dc39a","name":"faq","value":"={{ $node['validacao'].json.FAQ }}","type":"boolean"},{"id":"4b362daf-8ade-4a83-a2df-b684d0c17976","name":"conclusion","value":"={{ $node['validacao'].json.Conclusão }}","type":"boolean"},{"id":"298b2327-142c-46f8-ab27-a4a05e101576","name":"cta","value":"={{ $node['validacao'].json.CTA }}","type":"boolean"},{"id":"1136a865-0ba0-4701-8d9b-8a0d1a622126","name":"cta_text","value":"={{ $node['validacao'].json['CTA Texto'] }}","type":"string"},{"id":"3bd2061e-cc95-4e99-82e5-4c9bbd3ae4aa","name":"cta_link","value":"={{ $node['validacao'].json['CTA Link'] }}","type":"string"},{"id":"d8ab8073-132f-4eb3-89a1-3289a0654ede","name":"language","value":"={{ $node['validacao'].json.Idioma }}","type":"string"},{"id":"3e0e7b6d-de43-40ea-af97-5b1261966d51","name":"summarization","value":"={{ $node['validacao'].json.Resumo }}","type":"boolean"},{"id":"e4864387-b2bb-4a35-ba3a-bfb45e74c569","name":"lsi","value":"={{ $node['Google Sheets - Ler Palavras Chaves'].json['Termos LSI'] }}","type":"string"},{"id":"10400df9-d18b-4ece-a4bb-b2a730497056","name":"prompt","value":"={{ $node['Google Sheets - Ler Palavras Chaves'].json['Prompt'] }}","type":"string"},{"id":"21516132-441e-4962-b843-e730ff42c316","name":"tags_automaticas","value":"={{ $node['validacao'].json['Tags'] == 'automatico'}}","type":"boolean"},{"id":"001b8c05-d1e7-4ced-9f0e-a00ff2f13bea","name":"slug","value":"={{ $node['Google Sheets - Ler Palavras Chaves'].json['Slug'] }}","type":"string"}]},"options":{"dotNotation":true}},"id":"ce790196-4787-4eea-83bc-4df7b9550b06","name":"Dados","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2880,976]},{"parameters":{"assignments":{"assignments":[{"id":"e24ac621-e2d6-46e7-82e6-846d0f5d27f3","name":"title","value":"={{ $node['Dados'].json.post_title ? $node['Dados'].json.post_title : $node[\"SEO\"].json.output.title  }}","type":"string"},{"id":"4502c6f0-9081-4b33-b62f-d5d5ac78b14a","name":"description","value":"={{ $node[\"SEO\"].json.output.description }}","type":"string"},{"id":"89c5ceeb-76c4-4b7b-a3f1-e36a9b6e02df","name":"outlines","value":"={{ $('Dados').item.json.post_subtitulos ? $('Dados').item.json.post_subtitulos.trim().split(';') : $node[\"SEO\"].json.output.outlines }}","type":"array"},{"id":"58d1dd67-0841-4736-86fd-6c874b6c6320","name":"introduction","value":"={{ $node[\"SEO\"].json.output.introduction }}","type":"string"},{"id":"a6cd2611-27b9-48ee-8bc9-8c39a076a2de","name":"image_prompt","value":"={{ $node[\"SEO\"].json.output.image_prompt }}","type":"string"},{"id":"4ef235be-e59c-4d3b-acd7-5e39be4582a5","name":"tag_id","value":"={{ $node['validacao'].json['Tags'] == 'automatico' ?  $node['SEO'].json.output.tag_id.toString().replaceAll('[','').replaceAll(']','').replaceAll(' ','') : $node[\"Dados\"].json.post_tag_id.toString() }}","type":"string"}]},"options":{"dotNotation":true}},"id":"89d9e96f-2ad6-470a-9243-89e943d06ec2","name":"Dados SEO","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1984,1008]},{"parameters":{"batchSize":1,"options":{"reset":false}},"id":"2339cdf5-1fee-4c7f-9584-3e5926d3e5d9","name":"Loop","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-1568,688]},{"parameters":{"amount":40,"unit":"seconds"},"id":"3d4a3f22-ac46-4ef7-8823-7cc69988b463","name":"Aguardar Leonardo.AI","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-288,1488],"webhookId":"e16b7605-0706-4748-a526-cb4d3c068086"},{"parameters":{"method":"POST","url":"https://cloud.leonardo.ai/api/rest/v1/generations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"=Bearer {{ $node['variaveis'].json[\"Leonardo AI API Key\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"height","value":"={{768}}"},{"name":"prompt","value":"={{ \n// Verifica se o índice atual do loop é 0\n$node['Loop'].context.currentRunIndex === 0 ? \n    // Caso seja a imagem em destaque\n    (\n        $node['Dados'].json[\"banco_de_imagem\"].includes(\"automático\") ? \n            // Se o banco de imagem for automático, usa o image_prompt de Dados SEO\n            $node['Dados SEO'].json.image_prompt : \n            // Se não for automático, pega o valor de imagem no formato do loop\n            (\n                $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] ? \n                    $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] : \n                    $node['Dados'].json[\"imagem\"].split(';')[0]\n            )\n    ) : \n    // Caso seja a imagem do subtítulo\n    (\n        $node['Dados'].json[\"banco_de_imagem\"].includes(\"automático\") ? \n            // Se o banco de imagem for automático, usa o image_prompt do node \"Extrator\"\n            $node['Extractor'].json.output.image_prompt : \n            // Se não for automático, pega o valor de imagem no formato do loop\n            (\n                $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] ? \n                    $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] : \n                    $node['Dados'].json[\"imagem\"].split(';')[0]\n            )\n    )\n}}\n{{ $node['Dados SEO'].json.image_prompt  }}"},{"name":"width","value":"={{1360}}"},{"name":"num_images","value":"={{1}}"},{"name":"modelId","value":"aa77f04e-3eec-4034-9c07-d0f619684628"},{"name":"alchemy","value":"={{ true }}"},{"name":"presetStyle","value":"CINEMATIC"}]},"options":{}},"id":"72f25b35-f668-4ac2-9d78-be09363c5a53","name":"Leonard - Solicitar imagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-480,1488]},{"parameters":{"url":"={{ $json.generations_by_pk.generated_images[0].url }}","options":{}},"id":"8324c2e2-5ffe-4a2e-b39f-42f2cdc20898","name":"Leonardo.AI - Baixar imagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[336,1488]},{"parameters":{"url":"=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $json.sdGenerationJob.generationId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"authorization","value":"=Bearer {{ $node['variaveis'].json[\"Leonardo AI API Key\"] }}"}]},"options":{}},"id":"270ecb5b-368b-4c39-b2b6-28a487c50f3b","name":"Leonardo.AI - Resultados","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-80,1488]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"outline_conteudo","renameField":true,"outputFieldName":"conteudo"},{"fieldToAggregate":"id_imagem","renameField":true,"outputFieldName":"imagem_destaque"},{"fieldToAggregate":"faq_schema","renameField":true,"outputFieldName":"faq_schema"},{"fieldToAggregate":"faq_schema_title","renameField":true,"outputFieldName":"faq_schema_title"},{"fieldToAggregate":"summarization"}]},"options":{"mergeLists":true}},"id":"454b7be9-e210-4718-a102-42cdd4270dfd","name":"Combinar subtítulos","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1472,1696]},{"parameters":{"jsCode":"// Extraindo os dados do node \"Dados SEO\"\nconst outlines = $node[\"Dados SEO\"].json['outlines'];\nconst title = $node[\"Dados SEO\"].json['title'];\noutlines.unshift(title);\n\n// Verificando as condições do node \"Dados\"\nconst faq = $node[\"Dados\"].json['faq'] === true;\nconst conclusion = $node[\"Dados\"].json['conclusion'] === true;\nconst summarization = $node[\"Dados\"].json['summarization'] === true;\n\n// Função para processar os outlines com hierarquia H2|H3,H3\nconst parseOutlines = (outlineString) => {\n    const [h2, h3s] = outlineString.split('|');\n    const h3List = h3s ? h3s.split(',') : [];\n    return {\n        h2: h2.trim(),\n        h3: h3List.map(h3 => h3.trim())\n    };\n};\n\n// Criando a estrutura hierárquica para outlines\nconst parsedOutlines = outlines.map(outline => {\n    if (outline.includes('|')) {\n        return parseOutlines(outline);\n    } else {\n        return { h2: outline, h3: [] };\n    }\n});\n\n// Criando o resultado esperado pelo n8n\nconst result = parsedOutlines.map(parsed => ({\n    json: { outlines: parsed }\n}));\n\n// Adicionando o item de conclusão se a condição for verdadeira\nif (conclusion) {\n    result.push({ json: { conclusion: 'Conclusion' } });\n}\n\n// Adicionando o item de FAQ se a condição for verdadeira\nif (faq) {\n    result.push({ json: { faq: 'FAQ' } });\n}\n\n// Adicionando o item de summarization se a condição for verdadeira\nif (summarization) {\n    result.push({ json: { summarization: 'Summarization' } });\n}\n\nreturn result;\n"},"id":"47cc3cee-7117-4d54-a302-ac855348284d","name":"Separar Dados","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1824,672],"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"0abbf40e-3ffc-435b-bea2-55b6a1336e84","name":"Planilha ID","value":"1NGEXV6QOZEktGZ5-HjUftzjEnYbsZaR_0xUdmvsrnCc","type":"string"},{"id":"b838f160-f284-46d4-a20b-6f461959fdb9","name":"Planilha Aba","value":"1558861582","type":"string"},{"id":"dcca4f81-4546-42c9-99c4-f3264b9e69ff","name":"URL do Site","value":"https://estevaoferreira.com.br","type":"string"},{"id":"166f4b24-1e8b-425c-a4e8-99431346705c","name":"Piwigo banco de imagem URL","value":"","type":"string"},{"id":"9a3636c6-459f-4b0e-94b4-491a7f9fb2b5","name":"Logo marca dagua","value":"","type":"string"},{"id":"332b6bc1-1f7f-4080-b516-a7fa7243b7c3","name":"Marca dagua Overlay","value":"","type":"string"},{"id":"1d0f61fd-262b-4cc9-9853-3606e1a742d8","name":"Custom Post Type","value":"","type":"string"},{"id":"8daea85b-4615-47c6-b76e-7ec897d6c8b5","name":"Custom Taxonomia","value":"","type":"string"},{"id":"dfa4e91e-b808-46f5-9b96-01792f6af76f","name":"Pexels API Key","value":"","type":"string"},{"id":"afc85346-7721-4abe-8604-e41b90dbc06c","name":"Pixabay Key","value":"","type":"string"},{"id":"0d56dae9-ce75-45ba-88fa-340922e8edcb","name":"Leonardo AI API Key","value":"","type":"string"},{"id":"7710a690-e221-46d4-81c2-7842bc479390","name":"Midjourney API Key","value":"","type":"string"},{"id":"17b18be4-c465-4598-82dd-ce3aee5a7ced","name":"Hugging Face Token","value":"","type":"string"},{"id":"9de1d3de-8343-4063-98ea-a677609b17f8","name":"freepik_api_key","value":"","type":"string"},{"id":"696d2144-5a49-4324-98de-c068a0305400","name":"Unsplash API","value":"","type":"string"},{"id":"d966e7b0-f462-4703-9a8f-acae25f085a0","name":"imagekit_api","value":"cHJpdmF0ZV9lU2tjV0dUWVkzc3c4UkNkOW9SRHNiUGRmb0k9Og==","type":"string"}]},"options":{}},"id":"1b9f4380-1480-498f-98b9-ed5787730f44","name":"variaveis","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-3760,976]},{"parameters":{"errorMessage":"Imagem não encontrada, servidor fora do ar ou bloqueada para fazer download"},"id":"0ecb7be0-1193-4e54-920d-875cc29bb123","name":"Erro imagem","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[320,-32]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f957393b-6523-4fe0-b411-6b797ed631da","leftValue":"={{ $node['Loop'].data.keys()[0] }}","rightValue":"faq","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"FAQ"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"11652c61-916b-45b5-ae91-fd9ae59c5c13","leftValue":"={{ $node['Loop'].data.keys()[0] }}","rightValue":"summarization","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Resumo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"a2b1a9d7-13ab-48cd-a998-8de3a954614f","leftValue":"={{ $node['Loop'].data.keys()[0] }}","rightValue":"conclusion","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Conclusão"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"eeaa0415-e5ef-4a0d-bd6f-346f5aa54341","leftValue":"={{ $node['Dados'].json.banco_de_imagem}}","rightValue":"Sem imagem","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Sem imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $node['Google Sheets - Ler Palavras Chaves'].json['Imagens nos Subtítulos?'] }}-{{ $('Loop').context[\"currentRunIndex\"] % 2 === 1 }}","rightValue":"SIM em Todos","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"SIM em Todos"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"37f3bc2c-eb0e-44ef-a75d-d2998e58a62c","leftValue":"={{ $node['Google Sheets - Ler Palavras Chaves'].json['Imagens nos Subtítulos?'] }}-{{$('Loop').context[\"currentRunIndex\"] % 2 === 1 }}","rightValue":"SIM, mas intercalando-true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Intercalando Não"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f7d3e12b-e419-4c7c-9757-2340398854fb","leftValue":"={{ $node['Google Sheets - Ler Palavras Chaves'].json['Imagens nos Subtítulos?'] }}-{{ $('Loop').context[\"currentRunIndex\"] % 2 === 1 }}","rightValue":"SIM, mas intercalando-false","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Intercalando Sim"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"5665fae6-3da8-4aa5-ab2c-1c6addd42ed6","leftValue":"={{ $node['Google Sheets - Ler Palavras Chaves'].json['Imagens nos Subtítulos?'] }}-{{ $('Loop').context[\"currentRunIndex\"] % 2 === 1 }}","rightValue":"NÃO","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NÃO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f43b12d6-2bf5-43f0-9b47-b83db99f7294","leftValue":"={{ \n   $node['Google Sheets - Ler Palavras Chaves'].json['Imagens nos Subtítulos?'].startsWith('A cada') && \n   $('Loop').context['currentRunIndex'] % parseInt($node['Google Sheets - Ler Palavras Chaves'].json['Imagens nos Subtítulos?'].split(' ')[2]) === 0 \n}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"A cada X subtítulos"}]},"options":{"fallbackOutput":"extra"}},"id":"051e6728-53d2-44a1-a0ae-9b8bf0ed32e9","name":"Imagem no subtítulo?","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-912,832]},{"parameters":{"url":"=https://image.pollinations.ai/prompt/{{ \n// Verifica se o índice atual do loop é 0\n$node['Loop'].context.currentRunIndex === 0 ? \n    // Caso seja a imagem em destaque\n    (\n        $node['Dados'].json[\"banco_de_imagem\"].includes(\"automático\") ? \n            // Se o banco de imagem for automático, usa o image_prompt de Dados SEO\n            $node['Dados SEO'].json.image_prompt.urlEncode() : \n            // Se não for automático, pega o valor de imagem no formato do loop\n            (\n                $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] ? \n                    $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex].urlEncode() : \n                    $node['Dados'].json[\"imagem\"].split(';')[0].urlEncode()\n            )\n    ) : \n    // Caso seja a imagem do subtítulo\n    (\n        $node['Dados'].json[\"banco_de_imagem\"].includes(\"automático\") ? \n            // Se o banco de imagem for automático, usa o image_prompt do node \"Extrator\"\n            $node['Extractor'].json.output.image_prompt.urlEncode() : \n            // Se não for automático, pega o valor de imagem no formato do loop\n            (\n                $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] ? \n                    $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex].urlEncode() : \n                    $node['Dados'].json[\"imagem\"].split(';')[0].urlEncode()\n            )\n    )\n}}?width=1280&height=720&nologo=true","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"5a274155-ba66-4fdd-bdf0-d2a6c3e64901","name":"Pollinations","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,928],"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"={{ $node['variaveis'].json[\"URL do Site\"] }}/wp-json/wp/v2/{{ $node['variaveis'].json['Custom Post Type'] == '' ? \"posts\" : $node['variaveis'].json['Custom Post Type'] }}/","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"featured_media","value":"={{ $node['Combinar subtítulos'].json[\"imagem_destaque\"][0] }}"},{"name":"date","value":"={{ $node['Dados'].json.post_data_hora ? $node['Dados'].json.post_data_hora : null }}"},{"name":"excerpt","value":"={{ $node['Dados SEO'].json[\"description\"] }}"},{"name":"title","value":"={{ $node[\"Dados SEO\"].json[\"title\"].charAt(0).toUpperCase() + $node[\"Dados SEO\"].json[\"title\"].slice(1) }}"},{"name":"content","value":"={{ // Summarization\n$node['Dados'].json[\"summarization\"] ?\n  $node['Combinar subtítulos'].json[\"summarization\"]\n    .filter(item => item !== \"\") \n    .join('') \n: ''}}{{ $node['Dados SEO'].json[\"introduction\"] }}<br/>\n{{ $node[\"Dados\"].json[\"post_video\"] == true ? '<iframe width=\"720\" height=\"405\" src=\"https://www.youtube.com/embed/' + $node[\"Dados\"].json[\"post_video_id\"] + '\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share\" referrerpolicy=\"strict-origin-when-cross-origin\" allowfullscreen></iframe>' : '' }}\n{{ // Conteúdo\n$node['Combinar subtítulos'].json[\"conteudo\"].join(' ').trim() }}\n{{ $node['Dados'].json[\"cta\"] == true ?  \"<center><a href='\" + $node['Dados'].json[\"cta_link\"] + \"' target='_blank' class='cta-robo-seo' title='\" + $node['Dados'].json[\"cta_text\"] + \"'>\" + $node['Dados'].json[\"cta_text\"] + \"</a></center>\" : \"\"}}"},{"name":"slug","value":"={{ $node['Dados'].json['slug'] == 'Palavra-chave' ? \n$node['Dados'].json.keyword.replaceAll(\" \",\"-\").toLowerCase().normalize('NFD').replace(/\\p{Mn}/gu, \"\") :\n$node['Dados SEO'].json['title'].replaceAll(\" \",\"-\").toLowerCase().normalize('NFD').replace(/\\p{Mn}/gu, \"\") }}"},{"name":"={{ $node['variaveis'].json[\"Custom Taxonomia\"] == '' ? 'categories' : $node['variaveis'].json[\"Custom Taxonomia\"]}}","value":"={{ $node['Dados'].json[\"post_categoria_id\"].replaceAll('.',',') }}"},{"name":"status","value":"={{ $node['Dados'].json[\"post_status\"] }}"},{"name":"type","value":"={{ $node['variaveis'].json['Custom Post Type'] == '' ? \"posts\" : $node['variaveis'].json['Custom Post Type'] }}"},{"name":"tags","value":"={{ $node['Dados SEO'].json[\"tag_id\"] }}"},{"name":"author","value":"={{ $node['Dados'].json[\"post_autor_id\"] }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"316f636d-4b7c-4959-9be1-6760280944bb","name":"Wordpress - Publicar Post","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1264,1696],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"wordpressApi":{"id":"jSrkhXanhzqPAK6M","name":"estevaoferreira.com.br"}}},{"parameters":{"url":"={{ $json.urls.regular.replaceAll('1080','1200') }}","options":{}},"id":"86d1ff0f-7b53-4f20-b0d4-be35a82e0793","name":"Unsplash Download","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-288,448],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"={{ $('variaveis').item.json[\"URL do Site\"] }}/wp-json/wp/v2/media/","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"cache-control","value":"no-cache"},{"name":"content-disposition","value":"=attachment; filename={{ $node['Loop'].json[\"outlines\"].h2\n.replaceAll(\" \", \"-\")\n.toLowerCase()\n.normalize('NFD')\n.replace(/\\p{Mn}/gu, \"\")\n.replace(/[^\\w\\-]/g, \"\") // Remove todos os caracteres não permitidos\n.slice(0, 100) }}.{{ $binary.data.fileExtension }}"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"redirect":{"redirect":{}}}},"id":"1cbd4539-7434-46a3-a311-4f08163894eb","name":"Wordpress - Salvar imagem em mídia","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[688,1296],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"wordpressApi":{"id":"jSrkhXanhzqPAK6M","name":"estevaoferreira.com.br"}}},{"parameters":{"method":"POST","url":"={{ $node['variaveis'].json[\"URL do Site\"] }}/wp-json/wp/v2/media/{{ $node['Wordpress - Salvar imagem em mídia'].json[\"id\"] }}","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"alt_text","value":"={{ $node['Loop'].json[\"outlines\"].h2 }}"},{"name":"title","value":"={{ $node['Loop'].json[\"outlines\"].h2 }}"},{"name":"description","value":"={{ $node['Loop'].json[\"outlines\"].h2 }}"},{"name":"caption","value":"={{ $node['Loop'].json[\"outlines\"].h2 }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"48017303-b8ba-4f11-965c-0579a9242004","name":"Wordpress - Atualizar Atributos da imagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[976,1296],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"wordpressApi":{"id":"jSrkhXanhzqPAK6M","name":"estevaoferreira.com.br"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $node['variaveis'].json[\"Planilha ID\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $node['variaveis'].json[\"Planilha Aba\"] }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $node['Google Sheets - Ler Palavras Chaves'].json[\"row_number\"] }}","Título":"={{ $node['Dados SEO'].json[\"title\"] }}","Link":"={{ $node['Wordpress - Publicar Post'].json[\"link\"] }}","Execução":"CONCLUÍDO"},"matchingColumns":["row_number"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"IA","displayName":"IA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Palavra Chave Foco","displayName":"Palavra Chave Foco","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Título","displayName":"Título","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID da Categoria","displayName":"ID da Categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Categoria","displayName":"Categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID das Tags","displayName":"ID das Tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Banco de imagem","displayName":"Banco de imagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Imagem","displayName":"Imagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Imagens nos Subtítulos?","displayName":"Imagens nos Subtítulos?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Quantidade de Subtítulos","displayName":"Quantidade de Subtítulos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Subtítulos","displayName":"Subtítulos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Execução","displayName":"Execução","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID da Execução","displayName":"ID da Execução","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Indexação","displayName":"Indexação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Posição","displayName":"Posição","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Concorrência","displayName":"Concorrência","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}]},"options":{"cellFormat":"USER_ENTERED"}},"id":"ee3f3b88-825c-49ab-b7d6-d081a38e61e1","name":"Google Sheets - Status Publicado","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[-864,1696],"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f7d3e12b-e419-4c7c-9757-2340398854fb","leftValue":"={{ $node['Dados'].json[\"banco_de_imagem\"] }}","rightValue":"Piwigo","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Piwigo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"37f3bc2c-eb0e-44ef-a75d-d2998e58a62c","leftValue":"={{ $node['Dados'].json[\"banco_de_imagem\"] }}","rightValue":"Pexels","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pexels"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c8eef311-967a-452c-8adc-dcefc22e1d1b","leftValue":"={{ $node['Dados'].json[\"banco_de_imagem\"] }}","rightValue":"Pixabay","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pixabay"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"adc61235-f6dc-4a1a-9a1d-212d998ad8b3","leftValue":"={{ $node['Dados'].json[\"banco_de_imagem\"] }}","rightValue":"Unsplash","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Unsplash"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"0b302740-8d86-4c99-a7e3-cda692a6fb81","leftValue":"={{ $node['Dados'].json[\"banco_de_imagem\"] }}","rightValue":"URL","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"URL"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e22ceb13-bb84-432c-9982-2c1165d3f9c0","leftValue":"={{ $node['Dados'].json[\"banco_de_imagem\"] }}","rightValue":"GPT image","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GPT image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c87efb30-bb2a-4ca9-a5c6-856ec7b3b199","leftValue":"={{ $node['Dados'].json[\"banco_de_imagem\"] }}","rightValue":"Pollinations","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pollinations"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"911e3314-a3f1-45eb-b1ec-c960e6dd88da","leftValue":"={{ $node['Dados'].json[\"banco_de_imagem\"] }}","rightValue":"Flux","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Flux"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"8f969717-b032-45fe-9a62-03fbc7a38ce7","leftValue":"={{ $node['Dados'].json[\"banco_de_imagem\"] }}","rightValue":"Freepik","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Freepik"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9c0816e2-d237-411d-aa4f-8143fa2756aa","leftValue":"={{ $node['Dados'].json[\"banco_de_imagem\"] }}","rightValue":"Leonardo.Ai","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Leonardo.Ai"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"33245498-baca-4031-b550-6f5293397b96","leftValue":"={{ $node['Dados'].json[\"banco_de_imagem\"] }}","rightValue":"Midjourney","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Midjourney"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"1138c7ad-21cd-4a1d-9fd3-bc9e35cbc7c1","leftValue":"={{ $node['Dados'].json[\"banco_de_imagem\"] }}","rightValue":"ImageKit","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ImageKit"}]},"options":{"fallbackOutput":"none"}},"id":"8f76b7af-5f66-4302-b55a-68e3997b7210","name":"Qual banco de imagem?","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-912,272]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"outline_titulo","value":"={{ $node['Loop'].json.outlines }}"},{"name":"outline_conteudo","value":"={{ \n(() => {\n  const loopKey = $node['Loop'].data.keys()[0];\n  const currentRunIndex = $('Loop').context[\"currentRunIndex\"];\n  const outline = $node['Loop'].json['outlines'];\n\n  const extractContent = () => {\n    const content = $node['Extractor'].json.output.content;\n    return content ? content : 'Conteúdo não disponível';\n  };\n\n  const addImage = () => {\n    const imageOption = $node['Dados'].json[\"imagens_no_subtitulos\"];\n    const noImageOption = $node['Dados'].json.banco_de_imagem === \"Sem imagem\";\n\n    // Verifica se a opção de imagem é \"Sem imagem\"\n    if (noImageOption) {\n      return ''; // Não adiciona imagem se a opção for \"Sem imagem\"\n    }\n\n    // Verifica se o node 'Wordpress - Salvar imagem em mídia' foi chamado e tem dados\n    const imageSourceNode = $node['Wordpress - Salvar imagem em mídia'];\n    if (!imageSourceNode || !imageSourceNode.json['source_url']) {\n      return ''; // Retorna vazio se o node não foi chamado ou não tem imagem\n    }\n\n    const imageSource = imageSourceNode.json['source_url'];\n\n    // Adiciona lógica de acordo com a opção de imagens\n    if (imageOption === \"NÃO\") {\n      return ''; // Não adiciona imagem\n    } else if (imageOption === \"SIM em Todos\") {\n      return `<img src='${imageSource}' alt='${outline.h2}' title='${outline.h2}' />`; // Adiciona imagem para todos\n    } else if (imageOption === \"SIM, mas intercalando\" && (currentRunIndex % 2 === 0)) {\n      return `<img src='${imageSource}' alt='${outline.h2}' title='${outline.h2}' />`; // Adiciona imagem de forma intercalada\n    } else if (imageOption.startsWith(\"A cada\")) {\n      // Pega o número X na opção \"a cada X subtítulos\"\n      const step = parseInt(imageOption.split(' ')[2], 10);\n      if (step && currentRunIndex % step === 0) {\n        return `<img src='${imageSource}' alt='${outline.h2}' title='${outline.h2}' />`; // Adiciona imagem a cada X subtítulos\n      }\n    }\n\n    return ''; // Caso nenhuma das condições seja satisfeita, não adiciona imagem\n  };\n\n  if (currentRunIndex === 0) return '';\n\n  // Outlines (agora com apenas o h2)\n  if (loopKey === \"outlines\") {\n    return `<h2>${outline.h2}</h2>${addImage()}${extractContent()}`;\n  }\n\n  // Conclusão\n  if (loopKey === \"conclusion\") {\n    return `${extractContent()}`;\n  }\n\n  return '';\n})()\n}}\n{{ \n  $node['Loop'].data.keys()[0] === 'faq' ?\n  `<h2>${$node['Extractor FAQ'].json.output.faq.title}</h2>` + \n  $node['Extractor FAQ'].json.output.faq.items.map((faq) => \n    `<h3>${faq.question}</h3><p>${faq.answer}</p>`\n  ).join('') : ''\n}}\n"},{"name":"faq_schema","value":"={{ \n  $node['Loop'].data.keys()[0] === 'faq' ?\n  $node['Extractor FAQ'].json[\"output\"][\"faq\"][\"items\"].map((faq) => \n    ({\n      pergunta: faq.question,\n      resposta: faq.answer\n    })\n  ) : ''\n}}"},{"name":"faq_schema_title","value":"={{ \n  $node['Loop'].data.keys()[0] === 'faq' ?\n  $node['Extractor FAQ'].json[\"output\"][\"faq\"][\"title\"] \n  : ''\n}}"},{"name":"summarization","value":"={{ \n  $node['Loop'].data.keys()[0] === 'summarization' ?\n  $node['Extractor'].json.output.summarization\n  : ''\n}}"}],"number":[{"name":"id_imagem","value":"={{ $('Loop').context[\"currentRunIndex\"] == 0 && $node['Dados'].json.banco_de_imagem != \"Sem imagem\" ? $node['Wordpress - Salvar imagem em mídia'].json[\"id\"] : ''}}"}]},"options":{}},"id":"bd394632-fd29-4c97-b083-0d9341a78934","name":"Content","type":"n8n-nodes-base.set","typeVersion":2,"position":[-992,1328]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $execution.id }}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[-1968,1168],"id":"a09e1b17-343c-4f88-a902-d1036faf3dc9","name":"Memory"},{"parameters":{"promptType":"define","text":"=<action>\nForneça um **único** objeto JSON com as seguintes **chaves** **nesta ordem**:\n1. \"keyword\"\n2. \"title\"\n3. \"description\"\n4. \"outlines\"\n5. \"introduction\"\n6. \"image_prompt\"\n7. \"tag_id\"\n\nUse como base: **{{\n  $node[\"Dados\"].json.keyword && $node[\"Dados\"].json.post_title\n    ? 'a palavra-chave: \"' + $node[\"Dados\"].json.keyword + '\" e o título: \"' + $node[\"Dados\"].json.post_title + '\"'\n    : $node[\"Dados\"].json.keyword\n      ? 'na palavra-chave: \"' + $node[\"Dados\"].json.keyword + '\"'\n      : 'no título: \"' + $node[\"Dados\"].json.post_title + '\"'\n}}**\n\n**Regras de Formatação**:  \n- Retorne em formato JSON.  \n- Mantenha as chaves na mesma linha que seus valores.  \n- Não crie qualquer prefixo ou sufixo fora do objeto JSON.\n\n\n**keyword**: \n{{ $node['Dados'].json.keyword ? 'retorne: \"' + $node['Dados'].json.keyword : $('Prompts').item.json.prompt_keyword  }};\n\n**title**: \n{{ $node['Dados'].json.post_title ? 'retorne: \"' + $node['Dados'].json.post_title : $('Prompts').item.json.prompt_titulo  }};\n\n**description**:\n{{ $('Prompts').item.json.prompt_descricao }};\n\n**outlines**:\n{{ $node['Dados'].json.post_subtitulos ? 'retorne ' + $('Dados').item.json.post_subtitulos_quantidade + ' os subtítulos: \"' + $node['Dados'].json.post_subtitulos + '\"' :  $('Prompts').item.json.prompt_criar_subtitulos }};\n\n**introduction**:\n{{ $('Prompts').item.json.prompt_introducao }};\n\n**image_prompt**:\n{{ $('Prompts').item.json.prompt_imagem }};\n\n**tag_id**: \n{{ $('Prompts').item.json.prompt_tags }};\n\nObs: Não altere nomes de atributos e não inclua mais nada além do objeto JSON.\n\n{{ $node['Dados'].json[\"lsi\"] &&  \"Termos LSI: \" + $node['Dados'].json[\"lsi\"].replaceAll('\\n',', ') }}\n\nExample JSON: {\"title\":\"Descubra como a inteligência artificial pode ajudar micro empresas\",\"description\":\"Inteligência artificial para micro empresas é a chave para inovar.\",\"outlines\":[\"O que é Inteligência Artificial?\",\"Benefícios da IA para micro empresas\",\"Como implementar IA na sua micro empresa\"],\"introduction\":\"<p>A Inteligência Artificial para micro empresas está revolucionando a forma como negócios pequenos operam. Ao adotar tecnologias inovadoras, essas empresas podem se destacar no mercado competitivo, otimizar processos e melhorar a experiência do cliente. Neste artigo, vamos explorar o que é essa tecnologia, seus benefícios e como você pode implementar soluções de IA na sua micro empresa.</p>\",\"image_prompt\":\"A young man is holding an orange phone with his hand\"}\n</action>\n\n<language>\n{{ $('Prompts').item.json.prompt_idioma }}\n</language>","hasOutputParser":true,"options":{"systemMessage":"=IMPORTANT: Prompt Initialization: Below, I will provide an <action> for you to execute, the <persona> you should represent, and I will explain the <steps> you need to follow to perform the action. I will send you a set of <data> and explain the <context> of the situation. At the end, I will explain the <format> of the output and provide an <example> for you to follow.  \n\n\n<persona> \n{{ $('Prompts').item.json.prompt_persona }} \n</persona>  \n\n<writing-style> \n{{ $('Prompts').item.json.prompt_estilo_de_escrita }} \n</writing-style>  \n\n<extra>\n{{ $('Prompts').item.json.prompt_adicional }}\n</extra>\n\n<example_full_post>\n{{ $('Prompts').item.json.prompt_exemplo }}\n</example_full_post>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-2320,1008],"id":"ec9d6de8-67e0-4961-ae0a-291d8e1ac73e","name":"SEO"},{"parameters":{"promptType":"define","text":"={{ \n  // Verificar se a entrada é do tipo \"outlines\" com subpropriedades \"h2\" e \"h3\"\n  $node['Loop'].data.keys()[0] == \"outlines\" && $node['Loop'].json[\"outlines\"].h2 ? \n    $node['Prompts'].json.prompt_conteudo_subtitulo + \"\\n\\n\" +\n    $node['Prompts'].json.prompt_imagem +\n    \"\\n\\n# Develop the content and image_prompt in JSON for the subtitle '\" + \n    $node['Loop'].json[\"outlines\"].h2 + \"' and subtopics '\" + \n    $node['Loop'].json[\"outlines\"].h3.join(\", \") + \"'\" :\n    \n  // Caso geral para \"outlines\" (sem subpropriedades)\n  $node['Loop'].data.keys()[0] == \"outlines\" ? \n    $node['Prompts'].json.prompt_conteudo_subtitulo + \"\\n\\n\" +\n    $node['Prompts'].json.prompt_imagem + \n    \"\\n\\n# Develop the content and image_prompt in JSON for the subtitle '\" + \n    $node['Loop'].json[\"outlines\"] + \"'\"  : \n\n  // FAQ\n  $node['Loop'].data.keys()[0] == \"faq\" ? \n    $node['Prompts'].json.prompt_faq :\n\n  // Conclusion\n  $node['Loop'].data.keys()[0] == \"conclusion\" ? \n    $node['Prompts'].json.prompt_conclusao :\n\n  // Summarization\n  $node['Loop'].data.keys()[0] == \"summarization\" ? \n    $node['Prompts'].json.prompt_resumo :\n  ''\n}}\n<language>\n{{ $('Prompts').item.json.prompt_idioma }}\n</language>","options":{"systemMessage":"# INSTRUÇÕES AVANÇADAS DE SAÍDA (ESTRUTURA FIXA + ANTI-IA + TOM HUMANO)\n\nVocê é um redator humano experiente, especialista em criar textos naturais e envolventes.\nSua tarefa é desenvolver o conteúdo a seguir com linguagem fluida, realista e emocionalmente natural, sem qualquer padrão textual que revele IA.\n\n---\n\n## 1. ESTRUTURA FIXA DO ARTIGO\n\nCada subtítulo (H2) deve conter:\n- **4 parágrafos**\n- **Cada parágrafo com 45 a 55 palavras**\n- **Sem listas, tópicos, subtítulos internos ou numerações**\n- **Tom natural e espontâneo**, variando o início das frases e evitando ritmo robótico.\n\nO formato de saída deve ser **exatamente** este (JSON válido e completo):\n\n{\n  \"subtitle\": \"Título do H2\",\n  \"paragraphs\": [\n    \"Parágrafo 1 (45–55 palavras, linguagem natural e envolvente).\",\n    \"Parágrafo 2 (45–55 palavras, com ritmo diferente, tom humano e coerente).\",\n    \"Parágrafo 3 (45–55 palavras, mantendo a naturalidade e sem redundância).\",\n    \"Parágrafo 4 (45–55 palavras, encerrando a ideia com clareza e propósito).\"\n  ],\n  \"image_prompt\": \"Short English description (max 20 words) describing a realistic photo related to the H2 topic\"\n}\n\n---\n\n## 2. TOM E ESTILO HUMANIZADO\n\n- Escreva como uma **pessoa com experiência prática**, não como um narrador neutro.\n- Frases com variação de comprimento e estrutura — algumas mais curtas, outras compostas.\n- Use pausas naturais, transições sutis, e evite o ritmo mecânico “sujeito + verbo + complemento”.\n- Prefira verbos ativos, linguagem emocional leve e expressões que mostrem empatia ou vivência real.\n- Soe **confiante, mas não ensaiado**.\n- Use exemplos concretos e imagens mentais simples.\n- Evite clichês, frases genéricas e repetições estruturais entre parágrafos.\n\n---\n\n## 3. BANCO DE PALAVRAS E EXPRESSÕES PROIBIDAS (ANTI-IA)\n\nVocê **NÃO PODE USAR** qualquer palavra, expressão, conectivo ou frase abaixo (nem sinônimos próximos).\nSe precisar expressar algo similar, **reformule naturalmente** com termos cotidianos, concretos e acessíveis.\n\n### ❌ Palavras e expressões genéricas ou “de IA”:\nabordagem, cenário, jornada, robusto, impulsionar, estratégia eficaz, panorama, ecossistema,  \ndisruptivo, inovador, revolucionário, vanguarda, ponta, integrado, 360, holístico, mindset,  \nframework, dinâmica, metodologia, solução escalável, integração perfeita, transformador,  \nmudança de jogo, escalável, automatizado, automatização, tecnologia de ponta, otimizado,  \neficiência aprimorada, abordagem holística, abordagem moderna, potencializar, aproveitar,  \nfundamental, essencial, relevante, pertinente, primordial, robustez, consistência,  \nsinergia, trajetória, alavancar, empoderar, direcionar, metodologia moderna, insight,  \nexplorar profundamente, aprofundar, iluminar, sublinhar, reforçar, destacar, lançar luz,  \nrevolucionar, aprimorar, refinar, refinar continuamente, destacar-se, catalisador,  \nbenchmark, viés, parâmetro, moldar, transformar, inspirar confiança, influenciar  \nmercado, moldar comportamentos, narrativa estratégica, valor agregado, impulsionar  \nresultados, agregar valor, agregar performance, proposta de valor, performance consistente,  \ntomada de decisão inteligente, performance otimizada, experiência 360, omnichannel,  \ninterativo, intuitivo, disruptivo, diferenciado, excelência, excelência operacional,  \nalinhado com, alinhamento estratégico, abordagem inovadora, em constante evolução,  \ntransformar positivamente, contexto atual, nesse contexto, neste cenário,  \nà medida que, em suma, em linhas gerais, em essência, em sua essência,  \ndito isto, de um modo geral, em termos gerais, de modo geral, em resumo,  \nde uma perspectiva mais ampla, de forma geral, até certo ponto, normalmente,  \ngeralmente, indiscutivelmente, tende a, em outras palavras, em contrapartida,  \npor outro lado, portanto, contudo, todavia, ademais, assim sendo,  \nno entanto, além disso, por conseguinte, com isso, desse modo,  \nnesse sentido, de maneira geral, dessa forma, com base nisso,  \nde forma efetiva, nesse contexto, no cenário atual, vale ressaltar,  \né importante destacar, é importante ressaltar, é válido mencionar,  \né essencial compreender, é fundamental entender, é possível perceber,  \npodemos observar, observa-se que, cabe ressaltar, cabe destacar,  \npodemos notar, nota-se que, é notório que, é evidente que,  \nem primeiro lugar, em segundo lugar, de modo semelhante,  \npor sua vez, de acordo com, conforme mencionado,  \nanalisar, examinar, compreender melhor, identificar padrões,  \nlançar mão, dar ênfase, agregar, contribuir significativamente,  \nrevolucionar processos, inovar mercados, consolidar estratégias.\n\n---\n\n## 4. TONALIDADE NATURAL (REGRAS POSITIVAS)\n\n- Priorize **verbo direto e substantivo simples**.\n- Prefira **palavras humanas** como:\n  “mostrar”, “contar”, “ajudar”, “criar”, “melhorar”, “fazer”, “tornar”, “mudar”, “sentir”.\n- Use **ritmo variado**: misture frases curtas (10–12 palavras) com longas (20–30).\n- Pode usar vírgulas, mas evite frases excessivamente conectadas.\n- Use pontuação natural, não mecânica.\n- Quando possível, **inicie parágrafos de formas diferentes** (ex.: com advérbios, substantivos, pronomes ou verbos).\n- Frases devem parecer escritas por um redator que conhece o assunto e conversa com o leitor.\n\n---\n\n## 5. SAÍDA FINAL\n\n- Retorne **somente o JSON válido**, no formato exato descrito.\n- Nenhum comentário, explicação ou introdução fora do JSON.\n- Se o conteúdo exceder o limite, divida frases naturalmente sem cortar ideias.\n- O JSON deve passar por validação direta de parser, sem caracteres inválidos.\n\n---\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1792,976],"id":"421836ba-51d4-45a6-89a5-13a4b78e5578","name":"Conteúdo"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Loop').context[\"currentRunIndex\"] == 0 && $node['Dados'].json.banco_de_imagem != \"Sem imagem\"}}","rightValue":0,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem em destaque"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cf5fefe-d487-4451-8a1c-aba208866d5f","leftValue":"={{ $('Loop').context[\"currentRunIndex\"] == 0 && $node['Dados'].json.banco_de_imagem == \"Sem imagem\"}}","rightValue":"outlines","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Sem imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dd46bfc7-5d76-400c-a60e-bc18c9aa2f1e","leftValue":"={{ $('Loop').context[\"currentRunIndex\"]}}","rightValue":"={{ 0 }}","operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Conteúdo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1152,672],"id":"9616a2c3-21e6-4b74-9764-6f9457c4fe45","name":"Qual etapa?"},{"parameters":{"text":"={{ $('Conteúdo').item.json.output }}","attributes":{"attributes":[{"name":"={{ $node[\"Loop\"].data.keys()[0] == \"outlines\" ? 'content' : \n$node[\"Loop\"].data.keys()[0] == \"summarization\" ? 'summarization' :\n$node[\"Loop\"].data.keys()[0] == \"conclusion\" ? 'content' :\n$node[\"Loop\"].data.keys()[0] == \"faq\" ? 'faq' :\n'content'}}","description":"={{ $node[\"Loop\"].data.keys()[0] == \"outlines\" ? 'Extraia o conteúdo html da sessão de da sessão do artigo na integra e retorne em JSON' : \n$node[\"Loop\"].data.keys()[0] == \"summarization\" ? 'Extraia o conteúdo em html da sessão de um artigo na integra e retorne em JSON' :\n$node[\"Loop\"].data.keys()[0] == \"conclusion\" ? 'Extraia o conteúdo em html da sessão de um artigo na integra e retorne em JSON' :\n$node[\"Loop\"].data.keys()[0] == \"faq\" ? 'Extraia a faq no formato json' :\n'content'}}"},{"name":"image_prompt","description":"Extraia o prompt da imagem (image_prompt)"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[-1312,976],"id":"211f82e4-f0bf-4847-85fb-00db04218dd8","name":"Extractor"},{"parameters":{"text":"={{ $json.output }}","schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"faq\": {\n      \"type\": \"object\",\n      \"description\": \"Seção de FAQ com um título e 6 perguntas e respostas.\",\n      \"properties\": {\n        \"title\": {\n          \"type\": \"string\",\n          \"description\": \"Título da seção de FAQ.\",\n          \"minLength\": 1\n        },\n        \"items\": {\n          \"type\": \"array\",\n          \"description\": \"Lista de 6 perguntas e respostas.\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"question\": {\n                \"type\": \"string\",\n                \"description\": \"Pergunta da FAQ.\",\n                \"minLength\": 1\n              },\n              \"answer\": {\n                \"type\": \"string\",\n                \"description\": \"Resposta correspondente.\",\n                \"minLength\": 1\n              }\n            },\n            \"required\": [\"question\", \"answer\"]\n          },\n          \"minItems\": 3,\n          \"maxItems\": 6\n        }\n      }\n    }\n  },\n  \"additionalProperties\": false\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[-1312,1200],"id":"238ba68b-6eaa-4506-b85e-449819bf731b","name":"Extractor FAQ"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0082ce66-0436-4a2c-9c43-6856dceeec9d","leftValue":"={{ $node[\"Loop\"].data.keys()[0]}}","rightValue":"faq","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1488,976],"id":"331890c1-f9e3-45c0-9dd5-0ba1508ed1f9","name":"Conteúdo?"},{"parameters":{"jsCode":"// Defina os campos obrigatórios conforme suas especificações\nconst requiredFields = [\"Palavra Chave Foco\", \"Categoria\", \"Status\"];\n\n// Array para armazenar erros\nlet errors = [];\n\n// Verificar se o node \"Google Sheets - Ler Palavras Chaves\" existe e tem dados\nconst sheetData = $node[\"Google Sheets - Ler Palavras Chaves\"]?.json;\nif (!sheetData) {\n  errors.push('O node \"Google Sheets - Ler Palavras Chaves\" não foi encontrado ou não contém dados.');\n}\n\n// Verificar se o node \"variaveis\" existe e tem o campo \"URL do Site\"\nlet urlSite = $node[\"variaveis\"]?.json?.[\"URL do Site\"] || '';\nif (!urlSite) {\n  errors.push('O campo \"URL do Site\" é obrigatório e não foi fornecido pelo node \"variaveis\".');\n}\n\n// Adicionar log para depuração\nconsole.log(\"Valor fornecido para URL do Site:\", urlSite);\n\n// Remover espaços em branco nas extremidades e substituir \"http\" por \"https\"\nurlSite = urlSite.trim().replace(/^http:\\/\\//, 'https://');\n\n// Remover barra final se existir\nif (urlSite.endsWith('/')) {\n  urlSite = urlSite.slice(0, -1);\n}\n\n// Verificar se o URL é válido\nif (!urlSite.match(/^https:\\/\\/[^\\s/$.?#].[^\\s]*$/)) {\n  errors.push(`O campo \"URL do Site\" está malformado. Valor fornecido: \"${urlSite}\"`);\n}\n\n// **Função para Extrair IDs das Categorias e Tags**\nfunction extractIds(field) {\n  return field\n    .split(',')\n    .map(item => item.trim().split(' - ')[0])\n    .join(',');\n}\n\n// **Validação das Tags**\nconst tags = sheetData[\"Tags\"] || \"\";\n\nif (tags.trim() !== \"\") {\n  const tagsLower = tags.toLowerCase().trim();\n\n  if (tagsLower !== \"automatico\") {\n    const tagList = tags.split(',').map(tag => tag.trim());\n    const invalidTags = tagList.filter(tag => !/^\\d+\\s*-\\s*.+/.test(tag));\n    \n    if (invalidTags.length > 0) {\n      errors.push(`O campo \"Tags\" possui valores inválidos. Cada tag deve estar no formato \"ID - Nome da Tag\" ou conter a palavra \"automatico\". Tags inválidas: ${invalidTags.join(', ')}`);\n    }\n  }\n}\n\n// **Validação para verificar se \"Categoria\" contém um número**\nif (!sheetData[\"Categoria\"] || !sheetData[\"Categoria\"].match(/\\d+/)) {\n  errors.push('O campo \"Categoria\" deve conter o ID da categoria.');\n}\n\nlet categoryIds = extractIds(sheetData[\"Categoria\"] || \"\");\nlet tagIds = extractIds(sheetData[\"Tags\"] || \"\");\n\nconsole.log(`ID das Categorias Normalizado: ${categoryIds}`);\nconsole.log(`ID das Tags Normalizado: ${tagIds}`);\n\n// **Tratar Status**\nconst statusMap = {\n  \"Rascunho\": \"draft\",\n  \"Publicado\": \"publish\",\n  \"Agendado\": \"future\",\n  \"Revisão pendente\": \"pending\",\n  \"Privado\": \"private\"\n};\n\nlet status = sheetData ? sheetData[\"Status\"] || \"\" : \"\";\nlet normalizedStatus = statusMap[status] || 'future';\n\n// Adicionar log para depuração do status\nconsole.log(`Status original: \"${status}\", Status normalizado: \"${normalizedStatus}\"`);\n\n// **Validar e Detectar Valores Invertidos de Data e Hora**\nlet data = sheetData ? sheetData[\"Data\"] || \"\" : \"\";\nlet hora = sheetData ? sheetData[\"Hora\"] || \"\" : \"\";\n\n// Verificar e corrigir se data e hora estão invertidas\nif (data.match(/^\\d{2}:\\d{2}$/) && hora.match(/^\\d{2}\\/\\d{2}\\/\\d{4}$/)) {\n  console.warn(\"Detectamos que os campos Data e Hora estão invertidos. Corrigindo...\");\n  [data, hora] = [hora, data];\n}\n\n// Verificar preenchimento condicional de data e hora\nif ((data && !hora) || (!data && hora)) {\n  errors.push(`Se um dos campos \"Data\" ou \"Hora\" for preenchido, ambos devem ser fornecidos.`);\n}\n\n// Converter para ISO apenas se ambos estiverem presentes e válidos\nlet isoDateTime = \"\";\nif (data && hora) {\n  if (!data.match(/^\\d{2}\\/\\d{2}\\/\\d{4}$/)) {\n    errors.push(`A data fornecida é inválida: \"${data}\". Use o formato DD/MM/AAAA.`);\n  }\n  if (!hora.match(/^\\d{2}:\\d{2}$/)) {\n    errors.push(`A hora fornecida é inválida: \"${hora}\". Use o formato hh:mm.`);\n  }\n\n  try {\n    let [day, month, year] = data.split('/');\n    let [hour, minute] = hora.split(':');\n\n    // Converter para números inteiros\n    hour = parseInt(hour, 10);\n    minute = parseInt(minute, 10);\n\n    // Ajuste de fuso horário (UTC+3)\n    hour = (hour + 3) % 24;\n\n    isoDateTime = `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}T` +\n                  `${hour.toString().padStart(2, '0')}:${minute.toString().padStart(2, '0')}:00.000Z`;\n\n    console.log(`Data e hora convertidas para ISO: ${isoDateTime}`);\n  } catch (error) {\n    console.error(`Erro ao converter data e hora: ${error.message}`);\n    errors.push(`Erro ao converter data e hora.`);\n  }\n}\n\n// **Validação do Banco de Imagem e Campo \"Imagem\"**\nconst imageBanksRequiringPrompt = [\n  \"Piwigo\", \"Pexels\", \"Pixabay\", \"Unsplash\", \n  \"URL\", \"GPT image\", \"Leonardo.AI\", \n  \"Midjourney\", \"Pollinations\", \"Flux\", \"ImageKit\"\n];\n\nif (imageBanksRequiringPrompt.includes(sheetData[\"Banco de imagem\"]) && \n    (!sheetData[\"Imagem\"] || sheetData[\"Imagem\"].trim() === \"\")) {\n  errors.push(`O campo da coluna \"Imagem\" é obrigatório quando o Banco de imagem for \"${sheetData[\"Banco de imagem\"]}\".`);\n}\n\n// **Tratar Campos Booleanos com Default False**\nconst booleanFields = [\"Vídeo\", \"Resumo\", \"Conclusão\", \"FAQ\", \"Link Interno\", \"CTA\"];\nbooleanFields.forEach(field => {\n  sheetData[field] = sheetData[field] === true ? true : false;\n});\n\n// **Validação do campo \"Vídeo ID\"**\nif (sheetData[\"Vídeo\"] === true && (!sheetData[\"Vídeo ID\"] || sheetData[\"Vídeo ID\"].trim() === \"\")) {\n  errors.push('O campo \"Vídeo ID\" é obrigatório quando o campo \"Vídeo\" está marcado como verdadeiro.');\n}\n\n// **Validação do campo \"CTA\"**\nif (sheetData[\"CTA\"] === true) {\n  if (!sheetData[\"CTA Texto\"] || sheetData[\"CTA Texto\"].trim() === \"\") {\n    errors.push('O campo \"CTA Texto\" é obrigatório quando o campo \"CTA\" está marcado como verdadeiro.');\n  }\n  if (!sheetData[\"CTA Link\"] || sheetData[\"CTA Link\"].trim() === \"\") {\n    errors.push('O campo \"CTA Link\" é obrigatório quando o campo \"CTA\" está marcado como verdadeiro.');\n  }\n}\n\n// Adicionar os dados ao item final\nconst finalData = {\n  ...sheetData,\n  \"URL do Site\": urlSite,\n  \"Categoria\": categoryIds,\n  \"Tags\": tagIds,\n  \"Status\": normalizedStatus,\n  \"DataHoraISO\": isoDateTime\n};\n\n// Validar que pelo menos \"Palavra Chave Foco\" ou \"Título\" esteja preenchido\nconst keyword = sheetData[\"Palavra Chave Foco\"]?.trim() || \"\";\nconst titulo = sheetData[\"Título\"]?.trim() || \"\";\n\nif (!keyword && !titulo) {\n  errors.push('Pelo menos um dos campos \"Palavra Chave Foco\" ou \"Título\" deve ser preenchido.');\n}\n\n// Validar campos obrigatórios, exceto \"Palavra Chave Foco\" (tratado acima)\nrequiredFields.forEach(field => {\n  if (field !== \"Palavra Chave Foco\" && (!finalData[field] || finalData[field].toString().trim() === \"\")) {\n    errors.push(`O campo \"${field}\" é obrigatório e está vazio.`);\n  }\n});\n\n// Validação de \"Palavra Chave Foco\" para não ser só espaços em branco, se estiver preenchido\nif (keyword && keyword === \"\") {\n  errors.push(`O campo \"Palavra Chave Foco\" não pode ser apenas espaços em branco.`);\n}\n\n// Validação de \"Palavra Chave Foco\" para não ser apenas espaços em branco\nif (finalData[\"Palavra Chave Foco\"] && finalData[\"Palavra Chave Foco\"].trim() === \"\") {\n  errors.push(`O campo \"Palavra Chave Foco\" não pode ser apenas espaços em branco.`);\n}\n\n// Se houver erros, registrar e lançar exceção com tratamento adequado\nif (errors.length > 0) {\n  const errorMessage = errors.map(e => e.trim()).join(\" | \");\n  console.error(\"Erros encontrados:\", errorMessage);\n  throw new Error(\"Validação falhou: \" + errorMessage);\n}\n// Se não houver erros, retornar os dados finais\nreturn finalData;"},"id":"a18b1ddd-8fac-45d3-a948-177719d7e23f","name":"validacao","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3088,976]},{"parameters":{"method":"POST","url":"https://api-inference.huggingface.co/models/black-forest-labs/FLUX.1-dev","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node['variaveis'].json[\"Hugging Face Token\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"=Depict: {{ \n// Verifica se o índice atual do loop é 0\n$node['Loop'].context.currentRunIndex === 0 ? \n    // Caso seja a imagem em destaque\n    (\n        $node['Dados'].json[\"banco_de_imagem\"].includes(\"automático\") ? \n            // Se o banco de imagem for automático, usa o image_prompt de Dados SEO\n            $node['Dados SEO'].json.image_prompt : \n            // Se não for automático, pega o valor de imagem no formato do loop\n            (\n                $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] ? \n                    $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] : \n                    $node['Dados'].json[\"imagem\"].split(';')[0]\n            )\n    ) : \n    // Caso seja a imagem do subtítulo\n    (\n        $node['Dados'].json[\"banco_de_imagem\"].includes(\"automático\") ? \n            // Se o banco de imagem for automático, usa o image_prompt do node \"Extrator\"\n            $node['Extractor'].json.output.image_prompt : \n            // Se não for automático, pega o valor de imagem no formato do loop\n            (\n                $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] ? \n                    $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] : \n                    $node['Dados'].json[\"imagem\"].split(';')[0]\n            )\n    )\n}}\n\nStyle: golden ratio, rule of thirds, cyberpunk, glitch art, octane render, cinematic realism, 8k ::7 --ar 16:9 --s 1000\nCreate a hyper-realistic yet surreal landscape that bends reality, incorporating dreamlike elements and exaggerated proportions. Use vibrant, almost neon colors, and focus on a sense of wonder, play, and fantasy."},{"name":"parameters.width","value":"={{ 1280 }}"},{"name":"parameters.height","value":"={{ 720 }}"}]},"options":{}},"id":"fad9c0d7-4ed2-4ece-b2c7-9404d8e9a5f5","name":"Flux","type":"n8n-nodes-base.httpRequest","position":[-480,1088],"notesInFlow":true,"typeVersion":4.2,"onError":"continueErrorOutput","notes":" "},{"parameters":{"url":"https://api.pexels.com/v1/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] ? $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex].toLowerCase().normalize('NFD').replace(/\\p{Mn}/gu, \"\") : $node['Dados'].json[\"imagem\"].split(';')[0].toLowerCase().normalize('NFD').replace(/\\p{Mn}/gu, \"\") }}"},{"name":"per_page","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $node['variaveis'].json[\"Pexels API Key\"] }}"}]},"options":{}},"id":"70027321-5ced-4e5a-959e-097963d2eaea","name":"Pexels","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-480,128]},{"parameters":{"url":"https://pixabay.com/api/","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $node['variaveis'].json['Pixabay Key'] }}"},{"name":"q","value":"={{ $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] ? $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex].toLowerCase().normalize('NFD').replace(/\\p{Mn}/gu, \"\") : $node['Dados'].json[\"imagem\"].split(';')[0].toLowerCase().normalize('NFD').replace(/\\p{Mn}/gu, \"\") }}"},{"name":"orientation","value":"horizontal"},{"name":"min_width","value":"1000"},{"name":"min_height","value":"600"},{"name":"per_page","value":"=3"},{"name":"lang","value":"pt"},{"name":"page","value":"1"},{"name":"image_type","value":"photo"}]},"options":{}},"id":"589427f6-c234-4230-951f-73f03dbfde86","name":"Pixabay","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-480,288]},{"parameters":{"url":"=https://api.unsplash.com/photos/random/","sendQuery":true,"queryParameters":{"parameters":[{"name":"client_id","value":"={{ $node['variaveis'].json[\"Unsplash API\"] }}"},{"name":"query","value":"={{ $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] ? $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex].toLowerCase().normalize('NFD').replace(/\\p{Mn}/gu, \"\") : $node['Dados'].json[\"imagem\"].split(';')[0].toLowerCase().normalize('NFD').replace(/\\p{Mn}/gu, \"\") }}"},{"name":"orientation","value":"landscape"}]},"options":{"allowUnauthorizedCerts":true}},"id":"f14c61f1-a013-4cf6-98d5-8fcce751123d","name":"Unsplash","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-480,448],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"url":"={{ $node['Pixabay'].json[\"hits\"][0][\"largeImageURL\"] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"a09f2c83-f8f3-4156-b7e4-2927a3c0f149","name":"Pixabay - Download","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-288,288],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"url":"={{ $('Pexels').item.json[\"photos\"][0][\"src\"][\"original\"] }}?auto=compress&cs=tinysrgb&fit=crop&h=630&w=1200","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"3908fdb3-f881-42d8-ae37-9c104168baf7","name":"Pexels - Download","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-288,128],"onError":"continueErrorOutput"},{"parameters":{"url":"={{ $node['Piwigo'].json[\"path\"] }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"863ecec0-b661-4ed3-9c49-e23d51309a0e","name":"Piwigo - Download","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-288,-32],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"url":"={{ $node['variaveis'].json[\"Piwigo banco de imagem URL\"] }}?get_imagens={{ $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] ? $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex].replace('tag:','').replaceAll('piwigo:','') : $node['Dados'].json[\"imagem\"].split(';')[0].replace('tag:','').replaceAll('piwigo:','') }}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"36705ef6-c3bd-4c1a-8db6-1f63fc9f40f6","name":"Piwigo","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-480,-32],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"url":"={{ \n  (() => {\n    const imagens = $node['Dados'].json[\"imagem\"].split(';'); // Divide a string em array\n    const indiceAtual = $('Loop').context.currentRunIndex || 0; // Usa 0 como fallback\n    if (indiceAtual >= 0 && indiceAtual < imagens.length) {\n      return imagens[indiceAtual].toLowerCase().normalize('NFD').replace(/\\p{Mn}/gu, \"\");\n    }\n    return imagens[0].toLowerCase().normalize('NFD').replace(/\\p{Mn}/gu, \"\"); // Fallback\n  })()\n}}","options":{}},"id":"0bcb7af1-27ba-43a8-ad0f-e6e67399e4ad","name":"URL image","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-480,608],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"model":"llama3-70b-8192","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-1712,1648],"id":"0e495bc0-d984-4622-9e8c-2dd6ed70c82c","name":"Groq","disabled":true},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"keyword\": {\n      \"type\": \"string\",\n      \"description\": \"A palavra-chave para o post de blog\"\n    },\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"Título para o post de blog entre 40 a 70 caracteres.\"\n    },\n    \"description\": {\n      \"type\": \"string\",\n      \"description\": \"Descrição entre 150 e 200 caracteres para o post.\"\n    },\n    \"outlines\": {\n      \"type\": \"array\",\n      \"description\": \"Lista de subtítulos gerados com base no conteúdo.\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"minItems\": 1\n    },\n    \"introduction\": {\n      \"type\": \"string\",\n      \"description\": \"Introdução ao artigo com foco em SEO e legibilidade.\",\n      \"minLength\": 1\n    },\n    \"image_prompt\": {\n      \"type\": \"string\",\n      \"description\": \"Prompt da imagem que reflete o conteúdo.\",\n      \"minLength\": 1\n    },\n    \"tag_id\": {\n      \"type\": [\"string\", \"number\", \"null\"],\n      \"description\": \"The ID of the tag associated with the content.\"\n    }\n  },\n  \"required\": [\n    \"keyword\",\n    \"title\",\n    \"description\",\n    \"outlines\",\n    \"introduction\",\n    \"image_prompt\",\n    \"tag_id\"\n  ],\n  \"additionalProperties\": false\n}\n"},"id":"5a498801-5417-4d4a-92cf-07c425d07213","name":"Json Schema","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-2128,1200]},{"parameters":{"content":"## [Planilha](https://docs.google.com/spreadsheets/d/17GRPMADmViYD6db3zceHJp9COOaQv1rNdFYlXj90xng/copy)\n\nPara limites de token por minuto aumente o intervalo\n\n\n💡 [**Sugestões**](https://discord.com/channels/982293798803607602/1181750754902552597)\n\n🪲 [**Suporte ou bugs**](https://discord.com/channels/982293798803607602/1179571731187372064)","height":520,"width":220,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-3088,336],"typeVersion":1,"id":"a95a9842-6fc0-41a4-854a-dc8e1b71d6a7","name":"Sticky Note"},{"parameters":{"amount":30,"unit":"seconds"},"id":"0f3e6db9-c2a4-4f46-a617-515a09eaa3b8","name":"Intervalo","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-1328,672],"webhookId":"359069d9-3f21-4d33-a5a1-0c23b28c6ffd"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":"={{ 15 }}"}]}},"id":"02fd5cf4-f742-4c20-9a17-cf8060b39352","name":"A cada 15 min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-4000,896]},{"parameters":{"method":"POST","url":"https://api-inference.huggingface.co/models/black-forest-labs/FLUX.1-schnell","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node['variaveis'].json[\"Hugging Face Token\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"=Depict: {{ \n// Verifica se o índice atual do loop é 0\n$node['Loop'].context.currentRunIndex === 0 ? \n    // Caso seja a imagem em destaque\n    (\n        $node['Dados'].json[\"banco_de_imagem\"].includes(\"automático\") ? \n            // Se o banco de imagem for automático, usa o image_prompt de Dados SEO\n            $node['Dados SEO'].json.image_prompt : \n            // Se não for automático, pega o valor de imagem no formato do loop\n            (\n                $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] ? \n                    $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] : \n                    $node['Dados'].json[\"imagem\"].split(';')[0]\n            )\n    ) : \n    // Caso seja a imagem do subtítulo\n    (\n        $node['Dados'].json[\"banco_de_imagem\"].includes(\"automático\") ? \n            // Se o banco de imagem for automático, usa o image_prompt do node \"Extrator\"\n            $node['Extractor'].json.output.image_prompt : \n            // Se não for automático, pega o valor de imagem no formato do loop\n            (\n                $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] ? \n                    $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] : \n                    $node['Dados'].json[\"imagem\"].split(';')[0]\n            )\n    )\n}}\nStyle: golden ratio, rule of thirds, cyberpunk, glitch art, octane render, cinematic realism, 8k ::7 --ar 16:9 --s 1000\nCreate a hyper-realistic yet surreal landscape that bends reality, incorporating dreamlike elements and exaggerated proportions. Use vibrant, almost neon colors, and focus on a sense of wonder, play, and fantasy."},{"name":"parameters.width","value":"={{ 1280 }}"},{"name":"parameters.height","value":"={{ 720 }}"}]},"options":{}},"id":"58fca7f5-ada6-4e0b-8d79-f9a747a01f67","name":"Flux.1-schnell","type":"n8n-nodes-base.httpRequest","position":[-288,1088],"notesInFlow":true,"typeVersion":4.2,"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueErrorOutput","notes":" "},{"parameters":{"assignments":{"assignments":[{"id":"3e1129e4-2ecd-4ba6-af89-2f1e6e2f12ff","name":"prompt_persona","value":"=### prompt_persona\n\nAct as an **experienced journalist/writer** specialized in collecting and curating high-value information for articles that captivate readers and rank well on search engines (SEO). You have deep knowledge of research, interviews, fact-checking, and editorial best practices.\n\n**Goals**:\n1. Criar conteúdo **sem plágio**, confiável e embasado em fontes legítimas.\n2. Alcançar **alto valor** para o leitor, fugindo de fórmulas batidas e vícios de linguagem de IA.\n3. Entregar narrativas fluidas, agradáveis, cumprindo as **diretrizes de E-E-A-T** (Experience, Expertise, Authoritativeness, Trustworthiness).\n\n**Contexto**:\n- Você precisa produzir textos que unam **jornalismo de qualidade** com foco em **SEO inteligente**.\n- Deve refinar a linguagem para **não** soar robótico nem superficial.\n- Evitar conclusões rasas ou tom excessivamente afirmativo; priorizar a conversa direta com o leitor.\n\n**Restrições**:\n- Não utilize letras maiúsculas em cada palavra do título ou subtítulo.\n- Evitar conectar parágrafos repetindo “Além disso”, “Portanto” e similares.\n- Evitar verbos no infinitivo e construções excessivamente “engessadas”.","type":"string"},{"id":"bdc28097-f674-473c-84ca-dfcae0f1b619","name":"prompt_estilo_de_escrita","value":"=### prompt_estilo_de_escrita\n\n1. **Tom Conversacional**:  \n   - Escreva como se estivesse batendo um papo, com expressões do cotidiano, variações de ritmo e linguagem **acessível**.  \n   - Insira perguntas retóricas para envolver o leitor (“Já pensou em como isso afeta seu dia a dia?”).\n\n2. **Humanização**:\n   - Dê exemplos reais, conte anedotas breves e use aproximações pessoais (“eu”, “a gente”, “você”).  \n   - Traga **sentimento**, crie empatia no texto.\n   - Adicione \"imperfeições\" controladas: interjeições (ex: \"Olha só...\"), elipses reflexivas e perguntas retóricas.\n\n3. **Variedade e Enriquecimento**:  \n   - Use orações de diferentes extensões para evitar monotonia.  \n   - Inclua **figuras de linguagem** (metáforas, analogias, ironias leves) sem deixar o texto pesado.\n   - Aplique a técnica *Show, Don't Tell*: use exemplos concretos do mundo real em vez de explicações abstratas.\n   - Títulos e subtítulos: apenas a primeira letra maiúscula (ex: \"Como melhorar seu cultivo\" ✔️ / \"Como Melhorar Seu Cultivo\" ❌)\n4. **Estrutura de Parágrafos**:  \n   - Parágrafos curtos (3-4 linhas, no máximo).  \n   - Inserir listas numeradas ou marcadores, quando útil, para clareza.\n\n5. **Negativar Palavras/Padrões de IA**:  \n   - Evitar frases genéricas: “Além disso”, “Por outro lado”, “Em suma”, “Em conclusão”, \"dessa forma\", \"é importante destacar\".  \n   - Evitar estilo muito “afirmativo” com verbos no infinitivo (“Implementar IA ajuda a…”). Prefira frases que estimulem reflexão (“Você pode notar que o uso de IA traz…”).\n   - \"Neste artigo vamos...\" → substituir por \"Eu já testei... e aqui está o que aprendi\".\n\n6. **SEO Básico**:  \n   - Utilizar a **keyword principal** e termos relacionados (LSI).  \n   - Não repetir a palavra-chave principal de forma forçada.\n\n7. **EEAT (Google Guidelines):**\n   - Demonstrar *Expertise*: citar dados de estudos (ex: \"Segundo a Embrapa, 2023...\")\n   - *Experience*: incluir relatos de campo (ex: \"Na minha última safra com clientes no Paraná...\")\n   - *Authoritativeness*: crie o conteúdo para ser autoridade na área.\n   - *Trustworthiness*: mencionar limitações/contraindicações quando aplicável\n\n5. **Camadas Semânticas:**\n   - Para cada parágrafo, incluir:\n     1. Dado factual quando disponíveis (estatística, pesquisa)\n     2. Analogia do mundo real (ex: \"Funciona como um sistema imunológico para suas plantas...\")\n     3. Aplicação prática passo-a-passo","type":"string"},{"id":"4cf348a2-1d84-45d1-88d5-b1db05496243","name":"prompt_idioma","value":"=Write in {{ $json.language }}","type":"string"},{"id":"3b1fba6c-a5f7-40fe-8762-1309bc3775c1","name":"prompt_imagem","value":"=Create the prompt for image generation with artificial intelligence in English, avoid adding text to the image, request a realistic image that illustrates the content that will be developed","type":"string"},{"id":"1f4aaae7-7622-45f4-8a27-4f7349ec365a","name":"prompt_adicional","value":"={{ $node['Dados'].json[\"prompt\"] &&  \"Prompt Adicional: \" + $node['Dados'].json[\"prompt\"] }}\n\n{{ $node['Dados'].json[\"lsi\"] &&  \"Termos de Lsi: \" + $node['Dados'].json[\"lsi\"] }}","type":"string"},{"id":"176fd4fa-3574-4531-94b8-1b8a10b2c2e8","name":"prompt_keyword","value":"=- Identificar a palavra-chave principal que melhor representa o tema central do post.\n- A keyword deve ser curta e objetiva (preferencialmente entre 1 e 2 palavras).\n- Escolher um termo com alto potencial de busca e relevância para SEO, evitando expressões genéricas demais.","type":"string"},{"id":"caf61e22-2225-4644-b179-c879ca528133","name":"prompt_titulo","value":"=- Criar um título que gere curiosidade e incentive cliques nos resultados de busca, mantendo a **keyword principal** no início.\n- Entre 60 e 80 caracteres (incluindo espaços).\n- A keyword deve aparecer de forma clara no começo do título.  \n- Transmitir benefício, curiosidade ou urgência.\n- Não utilize letras maiúsculas em todas as palavras do título (apenas a primeira, se apropriado) e em pronomes próprios.","type":"string"},{"id":"bda44592-8b7f-4b9f-92f0-6268318961ed","name":"prompt_descricao","value":"=- Crie uma descrição (meta description) para exibir nos resultados de pesquisa, fornecendo um resumo envolvente e que complemente o título, estimulando o clique.\n- No tamanho de 18 a 22 palavras, com no máximo 156 caracteres (incluindo espaços).\n- Mencionar a keyword principal de forma clara, preferencialmente no início.  \n- Tom convincente e conversacional, evitando construções genéricas.  \n- Evitar uso de conectivos repetitivos (“além disso”, “por fim”).","type":"string"},{"id":"c808515d-0bec-43e9-89d7-1e001f5767e4","name":"prompt_introducao","value":"=- Gere a introdução que prenda o leitor e o incentive a continuar lendo, destacando a keyword principal logo no início.\n- 1 parágrafo com no máximo 2-3 linhas.\n- Linguagem acessível, tom conversacional.\n- Consider readability with a score of 70-80 and 7th grade level.\n- Incluir a keyword principal em **negrito** (`<strong>`) na primeira menção.\n- Evitar repetições excessivas.\n- Use exemplos, perguntas ou expressões que convidem à leitura.\n- Evite tom 100% afirmativo.\n- Responder em **JSON** com o campo `\"introduction\"`.\n","type":"string"},{"id":"4b04e0e7-d435-4d83-91fc-0ac18480f050","name":"prompt_criar_subtitulos","value":"=- Generate a clear and **user-focused** set of post outlines (subtitles) in JSON format. These outlines will serve como subtítulos para um artigo, abordando o tema principal de forma lógica e abrangente, com foco em **utilidade** e **relevância** para o leitor.\n- Criar exatamente {{ $node['Dados'].json[\"post_subtitulos_quantidade\"] ? $node['Dados'].json[\"post_subtitulos_quantidade\"] : \"3\" }} subtítulos.\n- Cada subtítulo deve corresponder a um tópico principal que explore o tema solicitado. - Evite a criação de introdução ou conclusão; focar em conteúdos intermediários que agreguem valor.\n- Utilize uma linguagem objetiva e clara, sem redundâncias.\n- Não utilize letras maiúsculas em todas as palavras do subtítulo (apenas a primeira, se apropriado).","type":"string"},{"id":"e768f7d7-5fe2-4aec-9985-b04394315344","name":"prompt_conteudo_subtitulo","value":"=# Conteúdo\nDesenvolva o conteúdo em JSON para o outline. Gere o conteúdo para o subtítulo de uma postagem de blog, com base no subtítulo, seguindo regras específicas: \n\n'content': Crie o conteúdo para o subtítulo, use apenas tags HTML no conteúdo. Não adicione um título <h2> ou <h3> no início. Evite criar conclusões, evite criar introduções. Considere a legibilidade readability with a score of 70-80 and 7th grade.\n\nCrie conteúdo detalhado, use <strong> ou <h3> no meio do conteúdo quando possível. Não altere o nome do atributo. Não crie nenhuma introdução ou prefixo nos resultados. Evite gerar conteúdo duplicado. Considere os subtítulos: :'Com base no conteúdo gerado para esta seção, crie um prompt em inglês para uma ferramenta de geração de imagens de IA que reflita visualmente os elementos descritos, unindo todos os aspectos em uma imagem coesa';\n\nDesenvolva o JSON do conteúdo otimizado para SEO baseado no subtítulo fornecido no contexto do artigo, seguindo regras específicas:\n- Use apenas tags HTML no conteúdo.\n- Evite adicionar título no início.\n- Consider Flesch Reading Ease score of 70-80 and 7th grade.\n- Destaque o conteúdo com <strong> usando tags html quando necessário.\n- \n\n\n\n# Example JSON\n{'content':'<p>The adoption of Artificial Intelligence (AI) can bring numerous benefits to small businesses, from automating repetitive tasks to personalizing customer service and analyzing data. The implementation of AI should be done gradually, identifying areas that can benefit immediately and conducting pilot projects to assess the efficiency of these solutions.</p><h3>Benefits of AI for Small Businesses</h3><p>AI can help small businesses streamline their operations by automating routine processes such as scheduling, data entry, and customer interactions. This not only saves time but also allows employees to focus on more strategic tasks that drive growth.</p><h3>How to Start Implementing AI</h3><p>Starting with AI can be simplified by assessing the specific needs of your business. Pilot projects can serve as a valuable way to test new tools and evaluate their impact. Choose a manageable project that can deliver measurable results and scale as needed.</p><p>Success stories in different sectors show how AI can be a powerful tool to boost growth and improve operational efficiency. For example, retail businesses have used AI-powered chatbots to enhance customer service, while data analytics tools have enabled precise marketing campaigns.</p><h3>Challenges and Considerations</h3><p>While AI offers many opportunities, it is essential to address challenges such as data privacy and the learning curve associated with adopting new technology. Ensuring that staff receive appropriate training and that data handling is secure are key factors for a successful implementation.</p><p>With AI, small businesses can not only compete on equal footing with larger companies but also innovate and create new opportunities in the market. Therefore, do not overlook the potential of AI to revolutionize your business and unlock new levels of productivity and growth.</p>','image_prompt':'A young man is holding an orange phone with his hand'}","type":"string"},{"id":"57eb063f-fb87-471f-8577-ca668267094e","name":"prompt_faq","value":"=# FAQ\nCreate a FAQ with 1 title and 6 items with 'question' and 'answer' related to the created content.\n\n#Example JSON\n{\\n\\n'faq': [\\n\\n{'title_faq':'FAQ - Perguntas frequentes sobre inteligência artificial em micro empresa'},\\n\\n{'question': 'Como a automação de tarefas pode beneficiar minha micro empresa?', 'answer': 'A automação de tarefas libera sua equipe de atividades repetitivas, aumentando a produtividade e permitindo que se concentrem em tarefas mais estratégicas.'},\\n\\n{'question': 'Quais ferramentas posso usar para análise de dados?', 'answer': 'Existem várias ferramentas disponíveis, como Google Analytics, Tableau e Microsoft Power BI, que ajudam a coletar e interpretar dados valiosos.'},\\n\\n{'question': 'O que são chatbots e como eles melhoram o atendimento ao cliente?', 'answer': 'Chatbots são assistentes virtuais que podem responder perguntas e resolver problemas a qualquer hora do dia, melhorando a experiência do cliente e liberando sua equipe.'},\\n\\n{'question': 'Como posso personalizar a experiência do cliente?', 'answer': 'Através da análise de dados, você pode entender melhor as preferências dos clientes e oferecer recomendações e promoções personalizadas.'},\\n\\n{'question': 'Qual a importância do feedback do cliente?', 'answer': 'O feedback é essencial para identificar áreas que precisam de melhorias e ajustar sua estratégia de atendimento, garantindo a satisfação do cliente.'},\\n\\n{'question': 'A inteligência artificial é acessível para micro empresas?', 'answer': 'Sim, existem diversas soluções de IA acessíveis e escaláveis que podem ser implementadas por micro empresas para melhorar a eficiência e o atendimento.'}\\n\\n]\\n\\n}\" ","type":"string"},{"id":"9afed0dd-4650-40be-9b83-157ba83f2b50","name":"prompt_conclusao","value":"=# Conclusion\nGenerate the conclusion for the created content, consider readability with a score of 70-80 and 7th grade.\n\n# Example JSON\n{'conclusion':'<h2>Finally what is the best way to implement AI</h2><p>The adoption of Artificial Intelligence (AI) can bring numerous benefits to small businesses, from automating repetitive tasks to personalizing customer service and analyzing data.</p><p>The implementation of AI should be done gradually, identifying areas that can benefit immediately and conducting pilot projects to assess the efficiency of these solutions.</p><p>Success stories in different sectors show how AI can be a powerful tool to boost growth and improve operational efficiency. With AI, small businesses can not only compete on equal footing with larger companies but also innovate and create new opportunities in the market.</p><p>Therefore, do not overlook the potential of AI to revolutionize your business.</p>'\\n\\n}","type":"string"},{"id":"9fd85fde-445e-4aa8-b088-c52323a75d76","name":"prompt_exemplo","value":"=<p>The adoption of Artificial Intelligence (AI) can bring numerous benefits to small businesses, from automating repetitive tasks to personalizing customer service and analyzing data. The implementation of AI should be done gradually, identifying areas that can benefit immediately and conducting pilot projects to assess the efficiency of these solutions.</p><h3>Benefits of AI for Small Businesses</h3><p>AI can help small businesses streamline their operations by automating routine processes such as scheduling, data entry, and customer interactions. This not only saves time but also allows employees to focus on more strategic tasks that drive growth.</p><h3>How to Start Implementing AI</h3><p>Starting with AI can be simplified by assessing the specific needs of your business. Pilot projects can serve as a valuable way to test new tools and evaluate their impact. Choose a manageable project that can deliver measurable results and scale as needed.</p><p>Success stories in different sectors show how AI can be a powerful tool to boost growth and improve operational efficiency. For example, retail businesses have used AI-powered chatbots to enhance customer service, while data analytics tools have enabled precise marketing campaigns.</p><h3>Challenges and Considerations</h3><p>While AI offers many opportunities, it is essential to address challenges such as data privacy and the learning curve associated with adopting new technology. Ensuring that staff receive appropriate training and that data handling is secure are key factors for a successful implementation.</p><p>With AI, small businesses can not only compete on equal footing with larger companies but also innovate and create new opportunities in the market. Therefore, do not overlook the potential of AI to revolutionize your business and unlock new levels of productivity and growth.</p>","type":"string"},{"id":"db2f33fb-02c0-4278-aeaa-72915e68fd4e","name":"prompt_tags","value":"={{ $node[\"Dados\"].json.tags_automaticas ? \n\"Defina no máximo 3 tags relacionadas com o post que será criado.\\n\\nChame na ordem as tools para cada tag:\\n1 - 'search_tag': verifica se a tag existe, passando o nome da tag definida, caso alguma solicitação retorne vazio, passe para o segundo passo.\\n\\n2 - 'create_tag': Caso a tool 'search_tag' retorne erro ou vazio em alguma consulta, chame essa tool para criar a tag que faltou, passando o nome da tag que deverá ser criada.\\n\\nRetorne sempre apenas os id das tags, separados por vírgula.\" \n: \"null\" }}","type":"string"},{"id":"2c202664-899c-4cf6-848a-dbd7e9e3ed3c","name":"prompt_resumo","value":"=Develop an **abstractive summarization** in JSON based on the content provided. The summarization must directly address the main user query (keyword) de forma breve e objetiva, emulando um “featured snippet” do Google.  **Diretrizes**: 1. **Formato HTML**: Retornar o resultado em `<p class='summarization'><strong>...</strong></p>`. 2. **Parágrafo Único**: Responda em apenas 1 frases, sem introduções ou rodeios. 3. **Foco na Query**: Abordar o tema/termo principal imediatamente, com tom claro e autoritativo. 4. **Concisão (40–60 palavras)**: Seja direto, evitando qualquer preenchimento irrelevante. 5. **Sem Geralizações**: Não use frases vagas (“Isso é importante porque...”); fale com precisão e objetividade. 6. **Evitar Conectivos Genéricos**: Não use “Além disso”, “Por fim”, “Em suma”, “Portanto” etc. 7. **Exemplo de Estrutura JSON**: {'summarization':'<p class=\\\"summarization\\\"><strong>EEAT é uma sigla que significa Experiência, Especialização, Autoridade e Confiabilidade. É um conjunto de critérios usados pelo Google para avaliar a qualidade e a confiabilidade de conteúdos online.</strong></p>'}","type":"string"}]},"options":{"dotNotation":true}},"id":"655e917f-fb8f-469a-b50b-e9c537bd3a3a","name":"Prompts","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2592,976],"notesInFlow":true,"notes":"Personalização dos prompts"},{"parameters":{"operation":"toBinary","sourceProperty":"data[0].base64","options":{"mimeType":"image/webp"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-240,1312],"id":"ba4f574a-ae2a-46d9-95f1-ffa4c3bc7e46","name":"Base64 para Jpeg"},{"parameters":{"method":"POST","url":"https://api.freepik.com/v1/ai/text-to-image","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-freepik-api-key","value":"={{ $node[\"variaveis\"].json[\"freepik_api_key\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"= {{ \n// Verifica se o índice atual do loop é 0\n$node['Loop'].context.currentRunIndex === 0 ? \n    // Caso seja a imagem em destaque\n    (\n        $node['Dados'].json[\"banco_de_imagem\"].includes(\"automático\") ? \n            // Se o banco de imagem for automático, usa o image_prompt de Dados SEO\n            $node['Dados SEO'].json.image_prompt : \n            // Se não for automático, pega o valor de imagem no formato do loop\n            (\n                $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] ? \n                    $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] : \n                    $node['Dados'].json[\"imagem\"].split(';')[0]\n            )\n    ) : \n    // Caso seja a imagem do subtítulo\n    (\n        $node['Dados'].json[\"banco_de_imagem\"].includes(\"automático\") ? \n            // Se o banco de imagem for automático, usa o image_prompt do node \"Extrator\"\n            $node['Extractor'].json.output.image_prompt : \n            // Se não for automático, pega o valor de imagem no formato do loop\n            (\n                $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] ? \n                    $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] : \n                    $node['Dados'].json[\"imagem\"].split(';')[0]\n            )\n    )\n}}"},{"name":"num_images","value":"={{ 1 }}"},{"name":"image.size","value":"widescreen_16_9"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,1312],"id":"88e8ada0-44ad-4ec7-bd30-b53cd5dc3184","name":"Freepik"},{"parameters":{"content":"![LOGO](https://maiconramos.com/wp-content/uploads/2024/10/avatar-asl.webp)","height":299.51753054424125,"width":287.5943472009539,"color":7},"id":"059c784b-a988-473a-9f7f-5d3d06e8e7f9","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3824,352]},{"parameters":{"content":"## Robô SEO - Optimus Prime\n\n#### Aviso de Uso e Direitos Autorais  \nEsta automação (registro nº 934292728) é licenciada para uso pessoal e para prestação de serviços a clientes.  \n\n**📌 Permissões e Restrições:**\n- **Permitido:** Usar a automação como parte de um serviço de automação ou consultoria para clientes.  \n- **Proibido:** Vender, redistribuir ou compartilhar o arquivo da automação.  \n- **Proibido:** Publicar ou revender a automação como se fosse sua criação, gratuita ou paga.  \n\n\n**⚖️ Atenção:**\nO uso indevido será tratado como violação de direitos autorais, sujeito a ações legais e indenizações.  \n\n© 2025 Automação sem Limites | Todos os direitos reservados.\n","height":469.6694881479302,"width":406.3915849784425,"color":7},"id":"f53e5f96-59b1-4132-8a60-12baf39d6e21","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3520,352]},{"parameters":{"content":"- **Instagram**: [@maiconramosx](https://www.instagram.com/maiconramosx/)\n- **Youtube**: [@maiconramos](https://www.youtube.com/@maiconramos)\n- **Site**: [Automação sem Limites](https://automacaosemlimites.com.br/)\n\n**Precisa de Suporte? assista a aula de suporte com os links e detalhes**","height":151.70513211006778,"width":288.0067964741826,"color":7},"id":"6f98d1c1-088f-4552-a00e-7402db27dcd5","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3824,672]},{"parameters":{"content":"","height":520,"width":760,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-3840,336],"typeVersion":1,"id":"a47be033-8182-4b53-bceb-0a00622671da","name":"Sticky Note8"},{"parameters":{"content":"## ALTERE AQUI\n","height":543,"width":259,"color":4},"id":"1ed596b2-dfde-465b-b55b-daf56a6f219c","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3840,880]},{"parameters":{"content":"## Wordpress\nSelecione as credenciais do Wordpress\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n❌ [**Erros Comuns do Wordpress**](https://trello.com/c/vhORuZah/9-credencial-do-wordpress)","height":353,"width":789},"id":"19c5c939-7759-4970-aa31-68bb24795c78","name":"Sticky Note31","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[496,1200]},{"parameters":{"content":"## Personalização de Prompt","height":303,"width":339,"color":4},"id":"bf4f5068-0ca4-4270-adb2-212212409cce","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2704,880]},{"parameters":{"url":"https://api.imagekit.io/v1/files/","sendQuery":true,"queryParameters":{"parameters":[{"name":"path","value":"={{ $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] ? $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] : $node['Dados'].json[\"imagem\"].split(';')[0] }}"},{"name":"limit","value":"1000"},{"name":"fileType","value":"image"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"=Basic {{ $node['variaveis'].json[\"imagekit_api\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,2208],"id":"1ab256d2-2a90-4c47-9da5-24c96340a3e3","name":"imagekit","alwaysOutputData":true},{"parameters":{"type":"random"},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-144,2208],"id":"b04d5e42-1573-44ab-b4e9-e1b986425f7e","name":"Aleatório"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[32,2208],"id":"eaadc522-b4d8-4e07-8f9d-b48a03f67a9e","name":"Limitar à 1"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,2208],"id":"5f627119-90fe-4af8-96e7-a1aa71ec1a9a","name":"Download imagekit"},{"parameters":{"model":"gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-2288,1648],"id":"e5db4fe0-5724-42f6-b330-763a4048e9de","name":"OpenAI GPT","credentials":{"openAiApi":{"id":"weRYa0TBSGHi3tuF","name":"X3"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[-2128,1648],"id":"21ef8e93-7089-4812-a12a-0138a2a29206","name":"Anthropic","disabled":true},{"parameters":{"modelName":"models/gemini-1.5-pro-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1984,1648],"id":"e0e7348e-d8ad-4edc-ac83-579527a5e4b7","name":"Google Gemini","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-1840,1648],"id":"d95fd7d2-981d-49de-8d93-de727530c3c9","name":"DeepSeek","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3cde394d-27b4-4a38-b623-b4263aae35d3","leftValue":"={{ $json.data.status }}","rightValue":"=completed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"0e40a28f-87ca-4e8e-8bcb-042491c5590c","name":"imagem_gerada?","type":"n8n-nodes-base.if","typeVersion":2,"position":[96,1728]},{"parameters":{"url":"=https://api.goapi.ai/api/v1/task/{{ $json.data.task_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"={{ $node['variaveis'].json[\"Midjourney API Key\"] }}"}]},"options":{}},"id":"8230ae02-a833-4f2f-baaa-2d1e0ae5b57c","name":"midjourney_imagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-80,1728],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.goapi.ai/api/v1/task","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"={{ $node['variaveis'].json[\"Midjourney API Key\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"input.origin_task_id","value":"={{ $node['Midjourney gerar prompt'].json.data.task_id }}"},{"name":"input.index","value":"1"},{"name":"model","value":"midjourney"},{"name":"task_type","value":"upscale"}]},"options":{}},"id":"7ee96762-06da-4398-a7ec-7786e201dd7f","name":"midjourney_upscale","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-480,1984],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"amount":30,"unit":"seconds"},"id":"cf108d6c-4a7e-465c-8d09-2c3d26105a9d","name":"aguarde_upscale","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-224,1984],"webhookId":"c45c4151-12a7-4a7d-a958-aa74f34c70ed"},{"parameters":{"url":"=https://api.goapi.ai/api/v1/task/{{ $node ['midjourney_upscale'].json.data.task_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"={{ $node['variaveis'].json[\"Midjourney API Key\"] }}"}]},"options":{}},"id":"2bcd1a58-9632-4a48-a410-7376e8da755f","name":"midjourney_resultados","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-48,1984],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3cde394d-27b4-4a38-b623-b4263aae35d3","leftValue":"={{ $node[\"midjourney_resultados\"].json[\"data\"][\"status\"] }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"8ae9f8a0-19b0-4c28-bf4a-5874d21d00c1","name":"resultado_finalizado?","type":"n8n-nodes-base.if","typeVersion":2,"position":[128,1984]},{"parameters":{"amount":30,"unit":"seconds"},"id":"814a8311-8578-4697-adfc-c2d1d81c6d4a","name":"aguarde_geracao","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-272,1728],"webhookId":"d658e2d8-c782-406e-a4b2-44631c77cd9b"},{"parameters":{"url":"={{ $node ['midjourney_resultados'].json.data.output.image_url }}","options":{}},"id":"3b43cdef-a72e-49bf-b903-e823854fc790","name":"Midjourney baixar imagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[320,1984],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"method":"POST","url":"https://api.goapi.ai/api/v1/task","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"={{ $node['variaveis'].json[\"Midjourney API Key\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"input.prompt","value":"={{ \n// Verifica se o índice atual do loop é 0\n$node['Loop'].context.currentRunIndex === 0 ? \n    // Caso seja a imagem em destaque\n    (\n        $node['Dados'].json[\"banco_de_imagem\"].includes(\"automático\") ? \n            // Se o banco de imagem for automático, usa o image_prompt de Dados SEO\n            $node['Dados SEO'].json.image_prompt : \n            // Se não for automático, pega o valor de imagem no formato do loop\n            (\n                $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] ? \n                    $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] : \n                    $node['Dados'].json[\"imagem\"].split(';')[0]\n            )\n    ) : \n    // Caso seja a imagem do subtítulo\n    (\n        $node['Dados'].json[\"banco_de_imagem\"].includes(\"automático\") ? \n            // Se o banco de imagem for automático, usa o image_prompt do node \"Extrator\"\n            $node['Extractor'].json.output.image_prompt : \n            // Se não for automático, pega o valor de imagem no formato do loop\n            (\n                $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] ? \n                    $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] : \n                    $node['Dados'].json[\"imagem\"].split(';')[0]\n            )\n    )\n}}"},{"name":"input.process_mode","value":"fast"},{"name":"input.aspect_ratio","value":"16:9"},{"name":"input.skip_prompt_check","value":"={{true}}"},{"name":"model","value":"midjourney"},{"name":"task_type","value":"imagine"}]},"options":{}},"id":"d96aeeb7-7127-491a-a341-4e4c78a76df9","name":"Midjourney gerar prompt","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-480,1728],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"content":"## Agente de IA\nSelecione a **Credencial** do Agente","height":660,"width":1360},"type":"n8n-nodes-base.stickyNote","position":[-2368,880],"typeVersion":1,"id":"0130f912-4e5c-404e-8eb5-45ea906f2c58","name":"Sticky Note3"},{"parameters":{"content":"## Banco de imagem\nSelecione a **Credencial** da OPENAI nos nós Dall-e\n","height":2480,"width":1180},"type":"n8n-nodes-base.stickyNote","position":[-688,-128],"typeVersion":1,"id":"6ea23af2-bca6-4d31-9e58-0aa901b3c616","name":"Sticky Note1"},{"parameters":{"content":"## Publicação do conteúdo\nSelecione a **Credencial** do Google Sheets\nSelecione a **Credencial** do Wordpress\n","height":360,"width":820},"type":"n8n-nodes-base.stickyNote","position":[-1504,1536],"typeVersion":1,"id":"e781ff90-6e4d-448a-b793-4c15968e6382","name":"Sticky Note5"},{"parameters":{"content":"## Escolha aqui qual IA irá usar\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n**Vai criar conteúdo muito grande?** Verifique os modelos de IA, alguns tem limites token maiores que outros.\n\nAlguns modelos não aceitam *json schema* corretamente","height":360,"width":860,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2368,1536],"typeVersion":1,"id":"d767710f-6bfd-44cf-8a68-8f9d3b45a0f3","name":"Sticky Note4"},{"parameters":{"toolDescription":"Search for the tag, passing the name of the tag that will be searched","url":"={{ $('variaveis').item.json[\"URL do Site\"] }}/wp-json/wp/v2/tags","sendQuery":true,"parametersQuery":{"values":[{"name":"search","valueProvider":"fieldValue","value":"{tag_name}"}]},"placeholderDefinitions":{"values":[{"name":"tag_name","description":"Tag name","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-2624,1312],"id":"9a640c08-48bd-4b53-9abe-52e38757a314","name":"search_tag"},{"parameters":{"content":"## Criar Tags automática","height":443,"width":339,"color":5},"id":"0d61ca24-b096-432b-af00-78e601b7e7f5","name":"Sticky Note20","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2704,1168]},{"parameters":{"toolDescription":"Create the tag, passing the name of the tag that will be created","method":"POST","url":"={{ $('variaveis').item.json[\"URL do Site\"] }}/wp-json/wp/v2/tags","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendBody":true,"parametersBody":{"values":[{"name":"name"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-2512,1456],"id":"cf8d3695-1406-4b1b-974d-db1bcadff6b7","name":"create_tags","notesInFlow":true,"credentials":{"wordpressApi":{"id":"jSrkhXanhzqPAK6M","name":"estevaoferreira.com.br"}},"notes":"Criar tags"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19bda03b-81ae-47e0-9b32-73943390a03e","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-320,2208],"id":"6480d06a-0460-4cc3-885f-1ba7cde87edc","name":"Existe pasta?"},{"parameters":{"content":"## Validação","height":540,"width":440},"type":"n8n-nodes-base.stickyNote","position":[-3152,880],"typeVersion":1,"id":"fd26b72f-d09c-4ed3-b499-8c8961661f29","name":"Sticky Note7"},{"parameters":{"content":"## Google Sheets\nSelecione apenas a **Credencial** do Google Sheets\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n❌ [**Erros Comuns do Google Sheets**](https://trello.com/c/V7wmteYt/11-planilha-do-google-com-erro)","height":540,"width":440},"type":"n8n-nodes-base.stickyNote","position":[-3584,880],"typeVersion":1,"id":"bd13db84-3acb-41f8-92f5-0020b853c3d8","name":"Sticky Note9"},{"parameters":{"content":"## Otimização + Marca d'agua + Metadados da imagem","height":480,"width":780},"type":"n8n-nodes-base.stickyNote","position":[496,720],"typeVersion":1,"id":"d6f78d33-4bea-426d-bdd7-e557e66eb33a","name":"Sticky Note12"},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"={{ \n// Verifica se o índice atual do loop é 0\n$node['Loop'].context.currentRunIndex === 0 ? \n    // Caso seja a imagem em destaque\n    (\n        $node['Dados'].json[\"banco_de_imagem\"].includes(\"automático\") ? \n            // Se o banco de imagem for automático, usa o image_prompt de Dados SEO\n            $node['Dados SEO'].json.image_prompt : \n            // Se não for automático, pega o valor de imagem no formato do loop\n            (\n                $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] ? \n                    $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] : \n                    $node['Dados'].json[\"imagem\"].split(';')[0]\n            )\n    ) : \n    // Caso seja a imagem do subtítulo\n    (\n        $node['Dados'].json[\"banco_de_imagem\"].includes(\"automático\") ? \n            // Se o banco de imagem for automático, usa o image_prompt do node \"Extrator\"\n            $node['Extractor'].json.output.image_prompt : \n            // Se não for automático, pega o valor de imagem no formato do loop\n            (\n                $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] ? \n                    $node['Dados'].json[\"imagem\"].split(';')[$('Loop').context.currentRunIndex] : \n                    $node['Dados'].json[\"imagem\"].split(';')[0]\n            )\n    )\n}}","options":{"quality":"medium","size":"1536x1024"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-480,768],"id":"f80b5301-d2ca-41b9-8314-f28009db60fc","name":"GPT Image","credentials":{"openAiApi":{"id":"weRYa0TBSGHi3tuF","name":"X3"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1TR1AC5Y0yYctVABG8WWM4uk09hfYqqR7l9JsEbowyaI","mode":"list","cachedResultName":"Status dos fluxos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TR1AC5Y0yYctVABG8WWM4uk09hfYqqR7l9JsEbowyaI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1911914465,"mode":"list","cachedResultName":"Erros","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TR1AC5Y0yYctVABG8WWM4uk09hfYqqR7l9JsEbowyaI/edit#gid=1911914465"},"columns":{"mappingMode":"autoMapInputData","value":{"row_number":0},"matchingColumns":["row_number"],"schema":[{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"34d8d15e-6f89-4e18-b8db-71663e708225","name":"Google Sheets - Status ERRO","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-3440,1232],"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{},"id":"9f0ab00e-7244-4464-b680-33dacb78e56b","name":"Ocorreu Erro","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-4032,1312]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"Planilha ID"},{"name":"Planilha Aba"},{"name":"N8N URL"}]},"options":{}},"id":"cf7a327b-e267-447f-a2e3-13ddbe5e5a78","name":"variaveis_erro","type":"n8n-nodes-base.set","typeVersion":2,"position":[-3792,1232]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1TR1AC5Y0yYctVABG8WWM4uk09hfYqqR7l9JsEbowyaI","mode":"list","cachedResultName":"Status dos fluxos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TR1AC5Y0yYctVABG8WWM4uk09hfYqqR7l9JsEbowyaI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ $('Code in JavaScript1').item.json.nome_gerado }}","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"fluxo","displayName":"fluxo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"data_hora","displayName":"data_hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1040,1936],"id":"8ab84ab0-8cc9-4fde-8374-046d4db505c1","name":"Append row in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// n8n Function node\nconst tz = 'America/Sao_Paulo';\nconst now = new Date();\n\n// pega dia/mês/ano na timezone desejada\nconst parts = new Intl.DateTimeFormat('pt-BR', {\n  timeZone: tz,\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n}).formatToParts(now).reduce((acc, p) => {\n  acc[p.type] = p.value; \n  return acc;\n}, {});\n\n// monta yyyy-mm-dd\nconst yyyy = parts.year;\nconst mm   = parts.month;\nconst dd   = parts.day;\nconst hoje = `${yyyy}-${mm}-${dd}`;\n\n// monta o nome que você quiser\nconst nome = `arquivo_${hoje}`; // ex.: \"arquivo_2025-10-13\"\n\nreturn [\n  {\n    json: {\n      data_hoje: hoje,\n      nome_gerado: nome,\n      timezone: tz,\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1456,1936],"id":"b5412ff2-fe31-42b5-8ae3-b2493d103999","name":"Code in JavaScript1"},{"parameters":{"assignments":{"assignments":[{"id":"a3704e14-a39a-4ab3-83e4-84b5829d6730","name":"fluxo","value":"={{ $workflow.name }}","type":"string"},{"id":"807c9d30-af54-4edd-8369-456a5a500b36","name":"data_hora","value":"={{ $now.setZone('America/Sao_Paulo').toFormat('yyyy-LL-dd HH:mm:ss') }}","type":"string"},{"id":"dbd90c91-4af9-49a4-b2b3-db0db7a23370","name":"link","value":"={{ $('Google Sheets - Status Publicado').item.json.Link }}","type":"string"},{"id":"d374b032-b93e-493d-aad0-ce526b986c89","name":"status","value":"={{ $('Google Sheets - Status Publicado').item.json.Link ? '✅ OK' : '❌ Sem link' }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1248,1936],"id":"b8191d31-8899-48ee-9d7b-91c76b311958","name":"Edit Fields"}],"connections":{"Executar":{"main":[[{"node":"variaveis","type":"main","index":0}]]},"Pega informações":{"main":[[{"node":"redimensionar","type":"main","index":0}]]},"Imagem Overlay":{"main":[[{"node":"Aplicar marca dagua","type":"main","index":0}]]},"redimensionar":{"main":[[{"node":"Pega informações redimensionada","type":"main","index":0}]]},"Pega informações redimensionada":{"main":[[{"node":"logo","type":"main","index":0}]]},"Aplicar marca dagua":{"main":[[{"node":"Wordpress - Salvar imagem em mídia","type":"main","index":0}]]},"Informações logo subtitulo":{"main":[[{"node":"Imagem Overlay","type":"main","index":0}]]},"Google Sheets - Status Executando":{"main":[[{"node":"validacao","type":"main","index":0}]]},"Google Sheets - Ler Palavras Chaves":{"main":[[{"node":"Google Sheets - Status Executando","type":"main","index":0}]]},"logo":{"main":[[{"node":"Informações logo subtitulo","type":"main","index":0}]]},"Plugins de SEO":{"main":[[{"node":"Google Sheets - Status Publicado","type":"main","index":0}]]},"imagem já foi gerada?1":{"main":[[{"node":"Leonardo.AI - Baixar imagem","type":"main","index":0}],[{"node":"Aguardar Leonardo.AI","type":"main","index":0}]]},"Dados":{"main":[[{"node":"Prompts","type":"main","index":0}]]},"Dados SEO":{"main":[[{"node":"Separar Dados","type":"main","index":0}]]},"Loop":{"main":[[{"node":"Intervalo","type":"main","index":0}],[{"node":"Combinar subtítulos","type":"main","index":0}]]},"Aguardar Leonardo.AI":{"main":[[{"node":"Leonardo.AI - Resultados","type":"main","index":0}]]},"Leonard - Solicitar imagem":{"main":[[{"node":"Aguardar Leonardo.AI","type":"main","index":0}]]},"Leonardo.AI - Baixar imagem":{"main":[[{"node":"Pega informações","type":"main","index":0}]]},"Leonardo.AI - Resultados":{"main":[[{"node":"imagem já foi gerada?1","type":"main","index":0}]]},"Combinar subtítulos":{"main":[[{"node":"Wordpress - Publicar Post","type":"main","index":0}]]},"Separar Dados":{"main":[[{"node":"Loop","type":"main","index":0}],[{"node":"SEO","type":"main","index":0}]]},"variaveis":{"main":[[{"node":"Google Sheets - Ler Palavras Chaves","type":"main","index":0}]]},"Imagem no subtítulo?":{"main":[[{"node":"Content","type":"main","index":0}],[{"node":"Content","type":"main","index":0}],[{"node":"Content","type":"main","index":0}],[{"node":"Content","type":"main","index":0}],[{"node":"Qual banco de imagem?","type":"main","index":0}],[{"node":"Content","type":"main","index":0}],[{"node":"Qual banco de imagem?","type":"main","index":0}],[{"node":"Content","type":"main","index":0}],[{"node":"Qual banco de imagem?","type":"main","index":0}],[{"node":"Content","type":"main","index":0}]]},"Pollinations":{"main":[[{"node":"Pega informações","type":"main","index":0}],[{"node":"Erro imagem","type":"main","index":0}]]},"Wordpress - Publicar Post":{"main":[[{"node":"Plugins de SEO","type":"main","index":0}]]},"Unsplash Download":{"main":[[{"node":"Pega informações","type":"main","index":0}],[{"node":"Erro imagem","type":"main","index":0}]]},"Wordpress - Salvar imagem em mídia":{"main":[[{"node":"Wordpress - Atualizar Atributos da imagem","type":"main","index":0}]]},"Wordpress - Atualizar Atributos da imagem":{"main":[[{"node":"Content","type":"main","index":0}]]},"Google Sheets - Status Publicado":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Qual banco de imagem?":{"main":[[{"node":"Piwigo","type":"main","index":0}],[{"node":"Pexels","type":"main","index":0}],[{"node":"Pixabay","type":"main","index":0}],[{"node":"Unsplash","type":"main","index":0}],[{"node":"URL image","type":"main","index":0}],[{"node":"GPT Image","type":"main","index":0}],[{"node":"Pollinations","type":"main","index":0}],[{"node":"Flux","type":"main","index":0}],[{"node":"Freepik","type":"main","index":0}],[{"node":"Leonard - Solicitar imagem","type":"main","index":0}],[{"node":"Midjourney gerar prompt","type":"main","index":0}],[{"node":"imagekit","type":"main","index":0}]]},"Content":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Memory":{"ai_memory":[[{"node":"Conteúdo","type":"ai_memory","index":0},{"node":"SEO","type":"ai_memory","index":0}]]},"SEO":{"main":[[{"node":"Dados SEO","type":"main","index":0}]]},"Conteúdo":{"main":[[{"node":"Conteúdo?","type":"main","index":0}]]},"Qual etapa?":{"main":[[{"node":"Qual banco de imagem?","type":"main","index":0}],[{"node":"Loop","type":"main","index":0}],[{"node":"Conteúdo","type":"main","index":0}]]},"Extractor":{"main":[[{"node":"Imagem no subtítulo?","type":"main","index":0}]]},"Extractor FAQ":{"main":[[{"node":"Content","type":"main","index":0}]]},"Conteúdo?":{"main":[[{"node":"Extractor","type":"main","index":0}],[{"node":"Extractor FAQ","type":"main","index":0}]]},"validacao":{"main":[[{"node":"Dados","type":"main","index":0}]]},"Flux":{"main":[[{"node":"Pega informações","type":"main","index":0}],[{"node":"Flux.1-schnell","type":"main","index":0}]]},"Pexels":{"main":[[{"node":"Pexels - Download","type":"main","index":0}]]},"Pixabay":{"main":[[{"node":"Pixabay - Download","type":"main","index":0}]]},"Unsplash":{"main":[[{"node":"Unsplash Download","type":"main","index":0}]]},"Pixabay - Download":{"main":[[{"node":"Pega informações","type":"main","index":0}],[{"node":"Erro imagem","type":"main","index":0}]]},"Pexels - Download":{"main":[[{"node":"Pega informações","type":"main","index":0}],[{"node":"Erro imagem","type":"main","index":0}]]},"Piwigo - Download":{"main":[[{"node":"Pega informações","type":"main","index":0}]]},"Piwigo":{"main":[[{"node":"Piwigo - Download","type":"main","index":0}]]},"URL image":{"main":[[{"node":"Pega informações","type":"main","index":0}],[{"node":"Erro imagem","type":"main","index":0}]]},"Json Schema":{"ai_outputParser":[[{"node":"SEO","type":"ai_outputParser","index":0}]]},"Intervalo":{"main":[[{"node":"Qual etapa?","type":"main","index":0}]]},"A cada 15 min":{"main":[[{"node":"variaveis","type":"main","index":0}]]},"Flux.1-schnell":{"main":[[{"node":"Pega informações","type":"main","index":0}],[{"node":"Pollinations","type":"main","index":0}]]},"Prompts":{"main":[[{"node":"SEO","type":"main","index":0}]]},"Base64 para Jpeg":{"main":[[{"node":"Pega informações","type":"main","index":0}]]},"Freepik":{"main":[[{"node":"Base64 para Jpeg","type":"main","index":0}]]},"imagekit":{"main":[[{"node":"Existe pasta?","type":"main","index":0}]]},"Aleatório":{"main":[[{"node":"Limitar à 1","type":"main","index":0}]]},"Limitar à 1":{"main":[[{"node":"Download imagekit","type":"main","index":0}]]},"Download imagekit":{"main":[[{"node":"Pega informações","type":"main","index":0}]]},"OpenAI GPT":{"ai_languageModel":[[{"node":"SEO","type":"ai_languageModel","index":0},{"node":"Conteúdo","type":"ai_languageModel","index":0},{"node":"Extractor FAQ","type":"ai_languageModel","index":0},{"node":"Extractor","type":"ai_languageModel","index":0}]]},"imagem_gerada?":{"main":[[{"node":"midjourney_upscale","type":"main","index":0}],[{"node":"aguarde_geracao","type":"main","index":0}]]},"midjourney_imagem":{"main":[[{"node":"imagem_gerada?","type":"main","index":0}]]},"midjourney_upscale":{"main":[[{"node":"aguarde_upscale","type":"main","index":0}]]},"aguarde_upscale":{"main":[[{"node":"midjourney_resultados","type":"main","index":0}]]},"midjourney_resultados":{"main":[[{"node":"resultado_finalizado?","type":"main","index":0}]]},"resultado_finalizado?":{"main":[[{"node":"Midjourney baixar imagem","type":"main","index":0}],[{"node":"aguarde_upscale","type":"main","index":0}]]},"aguarde_geracao":{"main":[[{"node":"midjourney_imagem","type":"main","index":0}]]},"Midjourney baixar imagem":{"main":[[{"node":"Pega informações","type":"main","index":0}]]},"Midjourney gerar prompt":{"main":[[{"node":"aguarde_geracao","type":"main","index":0}]]},"search_tag":{"ai_tool":[[{"node":"SEO","type":"ai_tool","index":0}]]},"create_tags":{"ai_tool":[[{"node":"SEO","type":"ai_tool","index":0}]]},"Existe pasta?":{"main":[[{"node":"Aleatório","type":"main","index":0}],[{"node":"Erro imagem","type":"main","index":0}]]},"GPT Image":{"main":[[{"node":"Pega informações","type":"main","index":0}]]},"Ocorreu Erro":{"main":[[{"node":"variaveis_erro","type":"main","index":0}]]},"variaveis_erro":{"main":[[{"node":"Google Sheets - Status ERRO","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}