2025/12/09/VIP 000 - Lootbox Legends (WhatsApp).json
{"nodes":[{"parameters":{"promptType":"define","text":"=Produto: {{ $('Extrai Informações').item.json.productName }}\nLink de Oferta: {{ $('Extrai Informações').item.json.offerLink }}\nPreço: {{ (() => {\n  const rawMin = $('Extrai Informações').item.json.priceMin;\n  const rawMax = $('Extrai Informações').item.json.priceMax;\n  const toNum = v => Number(String(v ?? '').replace(',', '.'));\n  const pmin = toNum(rawMin);\n  const pmax = toNum(rawMax);\n  const fmt = v => isFinite(v) ? ('R$ ' + v.toFixed(2).replace('.', ',')) : null;\n\n  if (!isFinite(pmin) && !isFinite(pmax)) return 'Indisponível';\n  if (isFinite(pmin) && isFinite(pmax)) {\n    if (Math.abs(pmax - pmin) < 0.01) return fmt(pmin);\n    const spread = (pmax - pmin) / Math.max(pmin, 0.01);\n    return spread >= 0.2 ? ('a partir de ' + fmt(pmin)) : ('de ' + fmt(pmin) + ' a ' + fmt(pmax));\n  }\n  if (isFinite(pmin)) return 'a partir de ' + fmt(pmin);\n  if (isFinite(pmax)) return 'até ' + fmt(pmax);\n  return 'Indisponível';\n})() }}\nAvaliação: {{ (Number($('Extrai Informações').item.json.ratingStar) || 0).toFixed(1).replace('.', ',') }} ★\n","options":{"systemMessage":"={\n  \"name\": \"AutoPromo\",\n  \"context\": {\n    \"identity\": \"Bot Vendedor da Automação Inteligente\",\n    \"business\": \"Sistema de Automação Inteligente\",\n    \"Language\": \"português brasileiro\",\n    \"data_atual\": \"hoje é: {{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, hora: {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n  \"Informação atualizada para usar em resposta\": \"{{ $json.output }}\",\n  \"personality\": [\n    \"Tom persuasivo, envolvente e natural\",\n    \"Usa emojis estratégicos 🎯🔧🔥 para chamar atenção sem exageros\",\n    \"Estilo formal-coloquial: próximo e humano, sem gírias excessivas\",\n    \"Enfatiza benefícios, urgência e escassez para aumentar conversão\"\n  ],\n  \"objectives\": [\n    \"Gerar mensagens automáticas curtas, criativas e visualmente organizadas para divulgar produtos da Shopee no WhatsApp\",\n    \"Criar textos que incentivem o clique imediato, transmitindo valor e urgência\"\n  ],\n  \"general_rules\": [\n    \"Resumir o nome do produto para no máximo 4–6 palavras, removendo termos irrelevantes (ex.: numeração, códigos, descrições longas)\",\n    \"Nunca incluir o link da Shopee mais de uma vez na mesma mensagem\",\n    \"Não repetir a mesma informação em blocos diferentes da mensagem\",\n    \"Não usar formato de link clicável com texto igual ao link\",\n    \"Usar quebras de linha para criar blocos visuais claros\",\n    \"Começar com título chamativo, pergunta de impacto ou alerta\",\n    \"Usar bullets ou marcadores ✔️🔧💡 para listar vantagens\",\n    \"Transmitir urgência real (ex.: últimas unidades, válido só hoje)\",\n    \"Finalizar com CTA direta e destacada: 'Clique agora', 'Garanta já', 'Aproveite aqui'\",\n    \"Evitar parágrafos longos; manter leitura escaneável\",\n    \"Nunca coloque o preço e o link duas vezes, SEMPRE uma vez\"\n  ],\n  \"price_logic\": \"Se min==max (ou diferença < R$0,01) → preço único. Se spread >= 20% → 'a partir de R$ min'. Caso contrário → 'de R$ min a R$ max'. Se só min → 'a partir de R$ min'. Se só max → 'até R$ max'.\",\n  \"flow_de_atendimento_padrão\": {\n    \"steps\": [\n      {\n        \"1\": \"Mensagem inicial de impacto:\\n🚨 *PROMOÇÃO RELÂMPAGO* 🚨\\n❓ *Já pensou em ter {{ $('Extrai Informações').item.json.productShortName }} em casa?*\\n💥 *Campeão de vendas na Shopee!*\"\n      },\n      {\n        \"2\": \"Lista de benefícios + preço:\\n✔️ Benefício 1\\n✔️ Benefício 2\\n✔️ Benefício 3\\n💡 Preço: {{ (() => { const toNum = v => Number(String(v ?? '').replace(',', '.')); const pmin = toNum($('Extrai Informações').item.json.priceMin); const pmax = toNum($('Extrai Informações').item.json.priceMax); const fmt = v => isFinite(v) ? ('R$ ' + v.toFixed(2).replace('.', ',')) : null; if (!isFinite(pmin) && !isFinite(pmax)) return 'Indisponível'; if (isFinite(pmin) && isFinite(pmax)) { if (Math.abs(pmax - pmin) < 0.01) return fmt(pmin); const spread = (pmax - pmin) / Math.max(pmin, 0.01); return spread >= 0.2 ? ('a partir de ' + fmt(pmin)) : ('de ' + fmt(pmin) + ' a ' + fmt(pmax)); } if (isFinite(pmin)) return 'a partir de ' + fmt(pmin); if (isFinite(pmax)) return 'até ' + fmt(pmax); return 'Indisponível'; })() }}\"\n      },\n      {\n        \"3\": \"Urgência e CTA:\\n🔥 *Últimas unidades!*\\n👉 *Garanta agora:* {{ $('Extrai Informações').item.json.offerLink }}\\n⏳ *Promoção válida só hoje!*\"\n      },\n      {\n        \"4\": \"Modelos extras para diversidade (alternar aleatoriamente)\",\n        \"modelos\": [\n          \"🔥 **{{ produto_curto }}**\\n💰 {{ preço }}\\n⭐ Avaliação: {{ avaliação }} ★\\n📦 Aproveite agora → {{ link }}\",\n          \"⚠️ Restam poucas peças de **{{ produto_curto }}**!\\n💵 {{ preço }} | ⭐ {{ avaliação }}\\n🛒 Garanta o seu: {{ link }}\",\n          \"🎯 Você precisa ver isso: **{{ produto_curto }}**\\nDe: ~~preço antigo~~ | Por: {{ preço }}\\n⭐ Avaliação: {{ avaliação }}\\n📌 Clique e compre: {{ link }}\",\n          \"🏆 Top vendas: **{{ produto_curto }}**\\n💲 {{ preço }} | ⭐ {{ avaliação }}\\n💨 Não fique sem → {{ link }}\",\n          \"📢 Só hoje: **{{ produto_curto }}**\\n💰 {{ preço }} | ⭐ {{ avaliação }}\\n🛒 Garanta com desconto → {{ link }}\"\n        ]\n      }\n    ]\n  }\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-1840,608],"id":"ebfc1372-ba9e-4bf4-8745-17765ad0f916","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2032,704],"id":"cde9103b-47a7-4e78-a551-160628972f58","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Estevão - pessoal","remoteJid":"={{ $('VIP 000 - Lootbox Legends - Numero').item.json.VIP_000_Lootbox_Legends_numero }}","media":"={{ $('Extrair imagem do link').item.json.imagem_produto }}","caption":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1216,608],"id":"79e6eb2d-8d7b-4bc2-891c-62f9527c661b","name":"Enviar imagem","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"yNcLlaUxCcsYBcUx","name":"Pessoal"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * 5) + 40 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1440,608],"id":"a9a582b7-ddaf-4070-a667-9cdda682b965","name":"Wait","webhookId":"ecf1edd3-c449-4c00-99b9-fbe92b7b4731"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2192,592],"id":"f2655b6a-22c3-4cda-bf20-6a1435eb1538","name":"Loop Over Items1"},{"parameters":{"content":"","height":384,"width":1712,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2512,32],"id":"1a7eef3f-e93f-427f-81a0-a47f705e756f","name":"Sticky Note"},{"parameters":{"content":"## Pega informações do produto tal como a imagem","height":80,"width":576,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2512,32],"id":"312a228d-5c5a-47ac-92a2-76d13e85884f","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"b9ac5523-a007-4069-8263-37d73524fb2a","name":"ID Produto","value":"={{ $('Extrai Informações').item.json.itemId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2448,1120],"id":"9308a05d-730f-4223-9c8c-9fde2ca827f8","name":"Edit Fields"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":25}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2480,176],"id":"80ed0d52-29de-43a5-94bb-3552975e96fa","name":"Schedule Trigger","disabled":true},{"parameters":{"content":"","height":432,"width":1488,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2512,448],"id":"64847471-f500-40f2-9edd-3f4ce881da32","name":"Sticky Note2"},{"parameters":{"content":"## Pega 'telefone' dos grupos, prepara mensagem e envia os produtos nos grupos","height":96,"width":672},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2512,448],"id":"3baca9de-4c2a-4646-b5e1-3912429b24c6","name":"Sticky Note3"},{"parameters":{"content":"","height":384,"width":560,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2512,944],"id":"7bd12ba0-bf79-4513-a037-54028b84ff81","name":"Sticky Note4"},{"parameters":{"content":"## Marca 'enviado' no produto","height":96,"width":384,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2512,944],"id":"a7313e71-7b4c-45bf-8ef0-8cf47d6c7ce0","name":"Sticky Note5"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-1824,1072],"id":"8ca1e9ad-ffc0-4f9a-acee-87ebf5d294ac","name":"Error Trigger"},{"parameters":{"promptType":"define","text":"={{ $json.execution }}","options":{"systemMessage":"={\n  \"name\": \"LogBot\",\n  \"context\": {\n    \"identity\": \"Robô de monitoramento técnico de workflows N8N\",\n    \"business\": \"Watashi Labs - Divulgador de Shopee\",\n    \"Language\": \"português brasileiro\",\n    \"data_atual\": \"hoje é: {{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, hora: {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n  \"Informação atualizada para usar em resposta\": \"{{ $json.output }}\",\n  \"personality\": [\n    \"Tom técnico e direto\",\n    \"Sem emojis\",\n    \"Sem perguntas ou interação com usuário\",\n    \"Mensagem padronizada de erro com detalhamento técnico\"\n  },\n  \"objectives\": [\n    \"Identificar falhas em execuções de workflow\",\n    \"Gerar relatório técnico estruturado e fixo para desenvolvedores corrigirem problemas\"\n  ],\n  \"general_rules\": [\n    \"Sempre incluir ID da execução e do workflow\",\n    \"Sempre incluir URL da execução com link clicável\",\n    \"Sempre incluir mensagem de erro\",\n    \"Sempre incluir stack trace\",\n    \"Sempre indicar o modo da execução\",\n    \"Não perguntar nada ao usuário\",\n    \"Não tentar resolver ou interagir, apenas reportar\"\n  ],\n  \"flow_de_atendimento_padrão\": {\n    \"steps\": [\n      {\n        \"1\": \"Mensagem automática de erro detectado: '🚨 ERRO IDENTIFICADO NA EXECUÇÃO DO WORKFLOW'\"\n      },\n      {\n        \"2\": \"Relatório técnico fixo:\\n\\n➡️ **Workflow**: {{ $json.workflow.name }} (ID: {{ $json.workflow.id }})\\n➡️ **Execução**: ID {{ $json.execution.id }}\\n➡️ **Modo de execução**: {{ $json.execution.mode }}\\n➡️ **Data/Hora**: {{ $now.format('dd/MM/yyyy - HH:mm') }}\\n➡️ **Link da execução**: {{ $json.execution.url }}\\n\\n🛑 **Mensagem de erro**:\\n{{ $json.execution.error.message }}\\n\\n📄 **Stack trace**:\\n{{ $json.execution.error.stack }}\\n\\n✅ Ação recomendada: revisar o workflow no editor do N8N e validar se há algum nó com configuração incorreta, desatualizada ou dependência ausente.\"\n      }\n    ]\n  },\n  \"tools\": []\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-1616,1072],"id":"1d490538-eb22-4c2b-8b7a-306957d624e8","name":"AI Agent1"},{"parameters":{"listId":"68941895b8977bbbe1efd59d","name":"=Erro em {{ $('Error Trigger').item.json.workflow.name }} - {{ $json.execucao_id }}","description":"=# ❗ Erro identificado na execução do Workflow\n\n> 💡 **Dica:**  \n> **{{ $json.recomendacao }}**\n\n---\n\n## 🧩 Informações do Workflow\n\n- **Workflow:** Divulgador de Shopee  \n- **ID do Workflow:** `{{ $json.workflow_id }}`  \n- **ID da Execução:** `{{ $json.execucao_id }}`  \n- **Modo de Execução:** `{{ $json.modo_execucao }}`  \n- **Data/Hora:** `{{ $json.data_hora }}`  \n- **🔗 Link da Execução:**  \n  [Clique aqui para visualizar a execução]({{ $json.link_execucao }})\n\n---\n\n## 🛑 Mensagem de Erro\n\n{{ $json.mensagem_erro }}\n\n\n---\n\n## 📄 Stack Trace\n\n{{ $json.stack_trace }}\n\n\n---\n\n## ✅ Próximos passos sugeridos\n\n- Verificar se há nós mal configurados ou desatualizados  \n- Checar dependências e credenciais externas  \n- Testar o fluxo manualmente no editor n8n  \n","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-1056,1072],"id":"abc45ad9-f663-4a99-b51c-7b287096263d","name":"Create a card","credentials":{"trelloApi":{"id":"OSvKEx1wr5hUtthA","name":"Estevão"}}},{"parameters":{"jsCode":"const texto = items[0].json.output || items[0].json?.output;\n\n// Expressões regulares para capturar os campos\nconst workflowId = texto.match(/\\*\\*Workflow\\*\\*: .*?\\(ID: ([^)]+)\\)/)?.[1] || null;\nconst execucaoId = texto.match(/\\*\\*Execução\\*\\*: ID (\\d+)/)?.[1] || null;\nconst modo = texto.match(/\\*\\*Modo de execução\\*\\*: ([^\\n]+)/)?.[1]?.trim() || null;\nconst dataHora = texto.match(/\\*\\*Data\\/Hora\\*\\*: ([^\\n]+)/)?.[1]?.trim() || null;\n\n// Captura o link e troca 'webhook.' por 'n8n.'\nconst linkMatch = texto.match(/\\[Clique aqui\\]\\((https:\\/\\/[^\\)]+)\\)/);\nconst link = linkMatch?.[1]?.replace('webhook.', 'n8n.') || null;\n\n// Mensagem de erro e stack trace\nconst mensagemErro = texto.match(/\\*\\*Mensagem de erro\\*\\*:\\n(.+?)\\n\\n/)?.[1]?.trim() || null;\nconst stackTrace = texto.match(/\\*\\*Stack trace\\*\\*:\\n([\\s\\S]+?)\\n\\n✅/)?.[1]?.trim() || null;\n\n// Ação recomendada\nconst recomendacao = texto.match(/✅ Ação recomendada: (.+)$/)?.[1]?.trim() || null;\n\n// Retorna o objeto com todos os dados extraídos\nreturn [\n  {\n    json: {\n      workflow_id: workflowId,\n      execucao_id: execucaoId,\n      modo_execucao: modo,\n      data_hora: dataHora,\n      link_execucao: link,\n      mensagem_erro: mensagemErro,\n      stack_trace: stackTrace,\n      recomendacao: recomendacao,\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1264,1072],"id":"3e1407aa-70eb-49c9-9cb3-0c711fcdadc1","name":"Code"},{"parameters":{"content":"","height":416,"width":1024,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1872,944],"id":"0ccd9913-577c-478b-8880-c247c8f59a83","name":"Sticky Note6"},{"parameters":{"content":"## MIni fluxo de erros - card no trello","height":96,"width":384,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1872,944],"id":"62284c78-0df7-4682-9eb6-0ebb2f29b509","name":"Sticky Note7"},{"parameters":{"url":"={{ $('Extrai Informações').item.json.imageUrl }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1168,192],"id":"14e058fa-dd38-4456-903e-f6f8e593dac0","name":"Pesquisa imagem"},{"parameters":{"operation":"binaryToPropery","destinationKey":"imagem_produto","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-992,192],"id":"2c18e83b-b49b-4141-994d-d624e4812a2c","name":"Extrair imagem do link"},{"parameters":{"method":"POST","url":"=https://open-api.affiliate.shopee.com.br/graphql","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $json.authorizationHeader }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.requestBody }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2032,176],"id":"33391f58-b420-4b09-b82e-c03a7146032f","name":"API Shopee"},{"parameters":{"jsCode":"const crypto = require('crypto');\n\n// --- Suas credenciais da Shopee ---\nconst appId = '18398850421';\nconst secret = 'Q24H7XRYJKETZ7FTTSCL3GL7XLKFV5VV';\n\n// --- IDs do produto que você quer consultar (usaremos para filtrar DEPOIS da requisição) ---\n\n\n// --- 1. Definir o Payload da Requisição GraphQL (SEM ARGUMENTOS DE FILTRO) ---\nconst graphqlPayloadObject = {\n  query: `\n    query GetProductOffers {\n      productOfferV2 { // <--- Chamando sem argumentos\n        nodes {\n          productName\n          itemId\n          shopId\n          commissionRate\n          commission\n          price\n          sales\n          imageUrl\n          shopName\n          productLink\n          offerLink\n          periodStartTime\n          periodEndTime\n          priceMin\n          priceMax\n          productCatIds\n          ratingStar\n          priceDiscountRate\n          shopType\n          sellerCommissionRate\n          shopeeCommissionRate\n        }\n        pageInfo {\n          page\n          limit\n          hasNextPage\n          scrollId\n        }\n      }\n    }\n  `,\n  variables: {} // Objeto de variáveis vazio, pois não estamos passando argumentos\n};\n\n// O payload para a assinatura deve ser a string JSON exata que será enviada.\nconst payloadString = JSON.stringify(graphqlPayloadObject);\n\n// --- 2. Obter o Timestamp Atual ---\nconst timestamp = Math.floor(Date.now() / 1000);\n\n// --- 3. Construir o Fator de Assinatura ---\nconst signatureFactor = `${appId}${timestamp}${payloadString}${secret}`;\n\n// --- 4. Calcular a Assinatura SHA256 ---\nconst signature = crypto.createHash('sha256').update(signatureFactor).digest('hex');\n\n// --- 5. Gerar o Cabeçalho de Autorização ---\nconst authorizationHeader = `SHA256 Credential=${appId}, Timestamp=${timestamp}, Signature=${signature}`;\n\n// Retornar os dados necessários para o próximo nó (HTTP Request)\nreturn [{\n  json: {\n    authorizationHeader: authorizationHeader,\n    requestBody: graphqlPayloadObject\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2240,176],"id":"c0b1ab52-63ef-4523-a9c5-c7facfbe5ad8","name":"Prepara Query para API Shopee"},{"parameters":{"jsCode":"// Pega o JSON retornado pelo node anterior\nconst input = $json;\n\n// Acesso seguro aos dados do primeiro produto\nconst product = input?.data?.productOfferV2?.nodes?.[0];\nif (!product) {\n  throw new Error('Nenhum produto encontrado na resposta.');\n}\n\n// Monta um objeto mais limpo com os campos desejados\nreturn [{\n  json: {\n    itemId: product.itemId,\n    shopId: product.shopId,\n    productName: product.productName,\n    productLink: product.productLink,\n    offerLink: product.offerLink,\n    imageUrl: product.imageUrl,\n    shopName: product.shopName,\n    priceMin: parseFloat(product.priceMin),\n    priceMax: parseFloat(product.priceMax),\n    commissionRate: parseFloat(product.commissionRate),\n    sellerCommissionRate: parseFloat(product.sellerCommissionRate),\n    shopeeCommissionRate: parseFloat(product.shopeeCommissionRate),\n    ratingStar: parseFloat(product.ratingStar),\n    sales: product.sales\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1808,176],"id":"a3968031-1d1a-4fa0-a960-ed0e316a2594","name":"Extrai Informações"},{"parameters":{"assignments":{"assignments":[{"id":"2e2a3ebf-2538-4960-b2ae-c7d7825abe32","name":"VIP_000_Lootbox_Legends_numero","value":"120363403802905664@g.us","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2416,592],"id":"77196676-92fd-4a55-b4fd-a11f192c5317","name":"VIP 000 - Lootbox Legends - Numero"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":1996874015,"mode":"list","cachedResultName":"VIP 000 - Lootbox Legends","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=1996874015"},"columns":{"mappingMode":"defineBelow","value":{"ID do produto":"={{ $json['ID Produto'] }}"},"matchingColumns":["ID do produto"],"schema":[{"id":"ID do produto","displayName":"ID do produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-2176,1120],"id":"2850ffce-3e7e-48b6-89e7-58acf4e06335","name":"Adiciona produto na planilha","credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":1996874015,"mode":"list","cachedResultName":"VIP 000 - Lootbox Legends","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=1996874015"},"filtersUI":{"values":[{"lookupColumn":"ID do produto","lookupValue":"={{ $json.itemId }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1600,176],"id":"8b95dca0-5575-4360-b4d3-f64fa6803500","name":"Pesquisa produto","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"46494b7d-471c-47c3-b0dd-50f47f687053","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1392,176],"id":"5359aa85-3714-4049-aefa-5a84c3fd026a","name":"se retornou algo"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-1952,704],"id":"8535ebe8-5583-4f9e-baab-eab28cd75fd6","name":"Groq Chat Model","credentials":{"groqApi":{"id":"goykBSqf3Way2XVY","name":"Groq account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Produtos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"nao_enviado"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-336,288],"id":"ebcfb5fd-c25e-4754-8cba-e4b471395d76","name":"Pega produto na planilha","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":309245581,"mode":"list","cachedResultName":"Grupos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=309245581"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-464,704],"id":"50a39bc7-e0d6-48f4-b334-3b27ed683a3a","name":"Pega 'telefone' dos grupos","credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Produtos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_produto }}","Status":"enviado","Finalizado em":"=Finalizado em: {{ new Date().toLocaleString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\", weekday: \"long\", day: \"2-digit\", month: \"2-digit\", year: \"numeric\", hour: \"2-digit\", minute: \"2-digit\" }) }}"},"matchingColumns":["row_number"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Item Name","displayName":"Item Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Price","displayName":"Price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Sales","displayName":"Sales","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Shop Name","displayName":"Shop Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Commission Rate","displayName":"Commission Rate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Commission","displayName":"Commission","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Product Link","displayName":"Product Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Offer Link","displayName":"Offer Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Finalizado em","displayName":"Finalizado em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-224,1232],"id":"655c9e90-aa5d-4e6c-abc1-c91f66d325ca","name":"Pega produto na planilha1","credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"content":"","height":1552,"width":1808,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-608,16],"id":"7dc01892-2746-41b4-9eef-922345412437","name":"Sticky Note8"},{"parameters":{"content":"# Shopee","height":80,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-608,16],"id":"58028a35-3a99-4d1a-b6c2-029927fb6172","name":"Sticky Note9"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-320,32],"id":"a82cf091-0c55-4c12-a603-d8e8730840cf","name":"Schedule Trigger3","disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":16}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[144,32],"id":"29a17e0e-7d58-4fb6-9aa9-e32e2c4443d8","name":"Schedule Trigger4","disabled":true},{"parameters":{"promptType":"define","text":"=Produto: {{ $('Extrai Informações1').item.json.productName }}\nLink de Oferta: {{ $('Extrai Informações1').item.json.offerLink }}\nPreço: {{ (() => {\n  const rawMin = $('Extrai Informações1').item.json.priceMin;\n  const rawMax = $('Extrai Informações1').item.json.priceMax;\n  const toNum = v => Number(String(v ?? '').replace(',', '.'));\n  const pmin = toNum(rawMin);\n  const pmax = toNum(rawMax);\n  const fmt = v => isFinite(v) ? ('R$ ' + v.toFixed(2).replace('.', ',')) : null;\n\n  if (!isFinite(pmin) && !isFinite(pmax)) return 'Indisponível';\n  if (isFinite(pmin) && isFinite(pmax)) {\n    if (Math.abs(pmax - pmin) < 0.01) return fmt(pmin);\n    const spread = (pmax - pmin) / Math.max(pmin, 0.01);\n    return spread >= 0.2 ? ('a partir de ' + fmt(pmin)) : ('de ' + fmt(pmin) + ' a ' + fmt(pmax));\n  }\n  if (isFinite(pmin)) return 'a partir de ' + fmt(pmin);\n  if (isFinite(pmax)) return 'até ' + fmt(pmax);\n  return 'Indisponível';\n})() }}\nAvaliação: {{ (Number($('Extrai Informações1').item.json.ratingStar) || 0).toFixed(1).replace('.', ',') }} ★\n","options":{"systemMessage":"={\n  \"name\": \"AutoPromo\",\n  \"context\": {\n    \"identity\": \"Bot Vendedor da Automação Inteligente\",\n    \"business\": \"Sistema de Automação Inteligente\",\n    \"Language\": \"português brasileiro\",\n    \"data_atual\": \"hoje é: {{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, hora: {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n  \"Informação atualizada para usar em resposta\": \"{{ $json.output }}\",\n  \"personality\": [\n    \"Tom persuasivo, envolvente e natural\",\n    \"Usa emojis estratégicos 🎯🔧🔥 para chamar atenção sem exageros\",\n    \"Estilo formal-coloquial: próximo e humano, sem gírias excessivas\",\n    \"Enfatiza benefícios, urgência e escassez para aumentar conversão\"\n  ],\n  \"objectives\": [\n    \"Gerar mensagens automáticas curtas, criativas e visualmente organizadas para divulgar produtos da Shopee no WhatsApp\",\n    \"Criar textos que incentivem o clique imediato, transmitindo valor e urgência\"\n  ],\n  \"general_rules\": [\n    \"Resumir o nome do produto para no máximo 4–6 palavras, removendo termos irrelevantes (ex.: numeração, códigos, descrições longas)\",\n    \"Nunca incluir o link da Shopee mais de uma vez na mesma mensagem\",\n    \"Não repetir a mesma informação em blocos diferentes da mensagem\",\n    \"Não usar formato de link clicável com texto igual ao link\",\n    \"Usar quebras de linha para criar blocos visuais claros\",\n    \"Começar com título chamativo, pergunta de impacto ou alerta\",\n    \"Usar bullets ou marcadores ✔️🔧💡 para listar vantagens\",\n    \"Transmitir urgência real (ex.: últimas unidades, válido só hoje)\",\n    \"Finalizar com CTA direta e destacada: 'Clique agora', 'Garanta já', 'Aproveite aqui'\",\n    \"Evitar parágrafos longos; manter leitura escaneável\",\n    \"Nunca coloque o preço e o link duas vezes, SEMPRE uma vez\"\n  ],\n  \"price_logic\": \"Se min==max (ou diferença < R$0,01) → preço único. Se spread >= 20% → 'a partir de R$ min'. Caso contrário → 'de R$ min a R$ max'. Se só min → 'a partir de R$ min'. Se só max → 'até R$ max'.\",\n  \"flow_de_atendimento_padrão\": {\n    \"steps\": [\n      {\n        \"1\": \"Mensagem inicial de impacto:\\n🚨 *PROMOÇÃO RELÂMPAGO* 🚨\\n❓ *Já pensou em ter {{ $('Extrai Informações1').item.json.productName }} em casa?*\\n💥 *Campeão de vendas na Shopee!*\"\n      },\n      {\n        \"2\": \"Lista de benefícios + preço:\\n✔️ Benefício 1\\n✔️ Benefício 2\\n✔️ Benefício 3\\n💡 Preço: {{ (() => { const toNum = v => Number(String(v ?? '').replace(',', '.')); const pmin = toNum($('Extrai Informações1').item.json.priceMin); const pmax = toNum($('Extrai Informações1').item.json.priceMax); const fmt = v => isFinite(v) ? ('R$ ' + v.toFixed(2).replace('.', ',')) : null; if (!isFinite(pmin) && !isFinite(pmax)) return 'Indisponível'; if (isFinite(pmin) && isFinite(pmax)) { if (Math.abs(pmax - pmin) < 0.01) return fmt(pmin); const spread = (pmax - pmin) / Math.max(pmin, 0.01); return spread >= 0.2 ? ('a partir de ' + fmt(pmin)) : ('de ' + fmt(pmin) + ' a ' + fmt(pmax)); } if (isFinite(pmin)) return 'a partir de ' + fmt(pmin); if (isFinite(pmax)) return 'até ' + fmt(pmax); return 'Indisponível'; })() }}\"\n      },\n      {\n        \"3\": \"Urgência e CTA:\\n🔥 *Últimas unidades!*\\n👉 *Garanta agora:* {{ $('Extrai Informações1').item.json.offerLink }}\\n⏳ *Promoção válida só hoje!*\"\n      },\n      {\n        \"4\": \"Modelos extras para diversidade (alternar aleatoriamente)\",\n        \"modelos\": [\n          \"🔥 **{{ produto_curto }}**\\n💰 {{ preço }}\\n⭐ Avaliação: {{ avaliação }} ★\\n📦 Aproveite agora → {{ link }}\",\n          \"⚠️ Restam poucas peças de **{{ produto_curto }}**!\\n💵 {{ preço }} | ⭐ {{ avaliação }}\\n🛒 Garanta o seu: {{ link }}\",\n          \"🎯 Você precisa ver isso: **{{ produto_curto }}**\\nDe: ~~preço antigo~~ | Por: {{ preço }}\\n⭐ Avaliação: {{ avaliação }}\\n📌 Clique e compre: {{ link }}\",\n          \"🏆 Top vendas: **{{ produto_curto }}**\\n💲 {{ preço }} | ⭐ {{ avaliação }}\\n💨 Não fique sem → {{ link }}\",\n          \"📢 Só hoje: **{{ produto_curto }}**\\n💰 {{ preço }} | ⭐ {{ avaliação }}\\n🛒 Garanta com desconto → {{ link }}\"\n        ]\n      }\n    ]\n  }\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[112,720],"id":"cbbe8b4b-c94c-4c29-be35-e933dbde7600","name":"AI Agent2"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Estevão - pessoal","remoteJid":"={{ $('Pega \\'telefone\\' dos grupos').item.json['Número do grupo'] }}","media":"={{ $('Extrair imagem do link1').item.json.imagem_produto }}","caption":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[720,720],"id":"37ae1138-d878-4b51-a9a3-e51379023701","name":"Enviar imagem1","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"yNcLlaUxCcsYBcUx","name":"Pessoal"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * 5) + 40 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[512,720],"id":"ad0a7dce-9f40-4428-87e8-32ea3e19705f","name":"Wait1","webhookId":"1717c0cb-3a74-4962-a2a6-0645684ae23a"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-240,704],"id":"a080ce10-d723-41c0-b61a-e2c931f27f1e","name":"Loop Over Items"},{"parameters":{"content":"","height":352,"width":1344,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-560,144],"id":"a436ba5c-d9e0-42fe-874b-4cea1eca7d2d","name":"Sticky Note10"},{"parameters":{"content":"## Pega informações do produto tal como a imagem","height":80,"width":576,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-560,144],"id":"620dea08-c9f9-4ebc-aec8-3b8493473ff5","name":"Sticky Note11"},{"parameters":{"assignments":{"assignments":[{"id":"b9ac5523-a007-4069-8263-37d73524fb2a","name":"row_produto","value":"={{ $('Pega produto na planilha').item.json.row_number }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,1232],"id":"d19652fc-dfea-44a0-8e66-e1c8fdcf2c70","name":"Edit Fields1"},{"parameters":{"content":"","height":432,"width":1488,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-560,560],"id":"8dea28c7-b572-472e-ba51-343d27caa58e","name":"Sticky Note12"},{"parameters":{"content":"## Pega 'telefone' dos grupos, prepara mensagem e envia os produtos nos grupos","height":96,"width":672,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-560,560],"id":"9b1fe365-a897-4f75-b9ae-f394f59cd95a","name":"Sticky Note13"},{"parameters":{"content":"","height":384,"width":608,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-560,1056],"id":"d164f995-1794-45ec-ac70-26776153a265","name":"Sticky Note14"},{"parameters":{"content":"## Marca 'enviado' no produto","height":96,"width":384,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-560,1056],"id":"1f286b9a-b904-46dc-bbf6-35ec58b418e2","name":"Sticky Note15"},{"parameters":{"promptType":"define","text":"={{ $json.execution }}","options":{"systemMessage":"={\n  \"name\": \"LogBot\",\n  \"context\": {\n    \"identity\": \"Robô de monitoramento técnico de workflows N8N\",\n    \"business\": \"Watashi Labs - Divulgador de Shopee\",\n    \"Language\": \"português brasileiro\",\n    \"data_atual\": \"hoje é: {{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, hora: {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n  \"Informação atualizada para usar em resposta\": \"{{ $json.output }}\",\n  \"personality\": [\n    \"Tom técnico e direto\",\n    \"Sem emojis\",\n    \"Sem perguntas ou interação com usuário\",\n    \"Mensagem padronizada de erro com detalhamento técnico\"\n  },\n  \"objectives\": [\n    \"Identificar falhas em execuções de workflow\",\n    \"Gerar relatório técnico estruturado e fixo para desenvolvedores corrigirem problemas\"\n  ],\n  \"general_rules\": [\n    \"Sempre incluir ID da execução e do workflow\",\n    \"Sempre incluir URL da execução com link clicável\",\n    \"Sempre incluir mensagem de erro\",\n    \"Sempre incluir stack trace\",\n    \"Sempre indicar o modo da execução\",\n    \"Não perguntar nada ao usuário\",\n    \"Não tentar resolver ou interagir, apenas reportar\"\n  ],\n  \"flow_de_atendimento_padrão\": {\n    \"steps\": [\n      {\n        \"1\": \"Mensagem automática de erro detectado: '🚨 ERRO IDENTIFICADO NA EXECUÇÃO DO WORKFLOW'\"\n      },\n      {\n        \"2\": \"Relatório técnico fixo:\\n\\n➡️ **Workflow**: {{ $json.workflow.name }} (ID: {{ $json.workflow.id }})\\n➡️ **Execução**: ID {{ $json.execution.id }}\\n➡️ **Modo de execução**: {{ $json.execution.mode }}\\n➡️ **Data/Hora**: {{ $now.format('dd/MM/yyyy - HH:mm') }}\\n➡️ **Link da execução**: {{ $json.execution.url }}\\n\\n🛑 **Mensagem de erro**:\\n{{ $json.execution.error.message }}\\n\\n📄 **Stack trace**:\\n{{ $json.execution.error.stack }}\\n\\n✅ Ação recomendada: revisar o workflow no editor do N8N e validar se há algum nó com configuração incorreta, desatualizada ou dependência ausente.\"\n      }\n    ]\n  },\n  \"tools\": []\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[336,1184],"id":"1be5c33c-3250-4e77-b8fd-9468d4575f34","name":"AI Agent3"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[128,1264],"id":"96be49f3-b106-456f-b6a7-917f68c54338","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"listId":"68941895b8977bbbe1efd59d","name":"=Erro em {{ $('Error Trigger').item.json.workflow.name }} - {{ $json.execucao_id }}","description":"=# ❗ Erro identificado na execução do Workflow\n\n> 💡 **Dica:**  \n> **{{ $json.recomendacao }}**\n\n---\n\n## 🧩 Informações do Workflow\n\n- **Workflow:** Divulgador de Shopee  \n- **ID do Workflow:** `{{ $json.workflow_id }}`  \n- **ID da Execução:** `{{ $json.execucao_id }}`  \n- **Modo de Execução:** `{{ $json.modo_execucao }}`  \n- **Data/Hora:** `{{ $json.data_hora }}`  \n- **🔗 Link da Execução:**  \n  [Clique aqui para visualizar a execução]({{ $json.link_execucao }})\n\n---\n\n## 🛑 Mensagem de Erro\n\n{{ $json.mensagem_erro }}\n\n\n---\n\n## 📄 Stack Trace\n\n{{ $json.stack_trace }}\n\n\n---\n\n## ✅ Próximos passos sugeridos\n\n- Verificar se há nós mal configurados ou desatualizados  \n- Checar dependências e credenciais externas  \n- Testar o fluxo manualmente no editor n8n  \n","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[896,1184],"id":"26dd241e-e723-42a3-a3b1-7ba51bdc66b4","name":"Create a card1","credentials":{"trelloApi":{"id":"OSvKEx1wr5hUtthA","name":"Estevão"}}},{"parameters":{"jsCode":"const texto = items[0].json.output || items[0].json?.output;\n\n// Expressões regulares para capturar os campos\nconst workflowId = texto.match(/\\*\\*Workflow\\*\\*: .*?\\(ID: ([^)]+)\\)/)?.[1] || null;\nconst execucaoId = texto.match(/\\*\\*Execução\\*\\*: ID (\\d+)/)?.[1] || null;\nconst modo = texto.match(/\\*\\*Modo de execução\\*\\*: ([^\\n]+)/)?.[1]?.trim() || null;\nconst dataHora = texto.match(/\\*\\*Data\\/Hora\\*\\*: ([^\\n]+)/)?.[1]?.trim() || null;\n\n// Captura o link e troca 'webhook.' por 'n8n.'\nconst linkMatch = texto.match(/\\[Clique aqui\\]\\((https:\\/\\/[^\\)]+)\\)/);\nconst link = linkMatch?.[1]?.replace('webhook.', 'n8n.') || null;\n\n// Mensagem de erro e stack trace\nconst mensagemErro = texto.match(/\\*\\*Mensagem de erro\\*\\*:\\n(.+?)\\n\\n/)?.[1]?.trim() || null;\nconst stackTrace = texto.match(/\\*\\*Stack trace\\*\\*:\\n([\\s\\S]+?)\\n\\n✅/)?.[1]?.trim() || null;\n\n// Ação recomendada\nconst recomendacao = texto.match(/✅ Ação recomendada: (.+)$/)?.[1]?.trim() || null;\n\n// Retorna o objeto com todos os dados extraídos\nreturn [\n  {\n    json: {\n      workflow_id: workflowId,\n      execucao_id: execucaoId,\n      modo_execucao: modo,\n      data_hora: dataHora,\n      link_execucao: link,\n      mensagem_erro: mensagemErro,\n      stack_trace: stackTrace,\n      recomendacao: recomendacao,\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,1184],"id":"16ac909b-6e34-4c34-b144-e2d2bc16ff04","name":"Code1"},{"parameters":{"content":"","height":416,"width":1056,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[80,1056],"id":"7bedad11-88b3-4085-b1e8-197241993e1e","name":"Sticky Note16"},{"parameters":{"content":"## MIni fluxo de erros - card no trello","height":96,"width":384,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[80,1056],"id":"14ec80ce-1e45-405e-90a2-3a56b46f5c4f","name":"Sticky Note17"},{"parameters":{"url":"={{ $json.imageUrl }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,288],"id":"9c4885d0-7530-4df0-9370-1c6bde139eb0","name":"Pesquisa imagem1"},{"parameters":{"operation":"binaryToPropery","destinationKey":"imagem_produto","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[544,288],"id":"de563b81-d9f3-4f33-8c21-9a999bef688e","name":"Extrair imagem do link1"},{"parameters":{"method":"POST","url":"=https://open-api.affiliate.shopee.com.br/graphql","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $json.authorizationHeader }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.requestBody }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[16,288],"id":"faab8cda-9b69-40db-911c-854cb0586f81","name":"API Shopee1"},{"parameters":{"jsCode":"const crypto = require('crypto');\n\nconst appId = '18398850421';\nconst secret = 'Q24H7XRYJKETZ7FTTSCL3GL7XLKFV5VV';\n\n// Pega link do produto do node \"Pega produto na planilha\"\nconst url = $('Pega produto na planilha').first().json['Product Link'];\nif (!url) throw new Error('Nenhum link encontrado no campo \"Product Link\".');\n\n// Extrai shopId/itemId de /product/{shopId}/{itemId} ou -i.{shopId}.{itemId}\nlet shopId, itemId;\nlet m = url.match(/\\/product\\/(\\d+)\\/(\\d+)/);\nif (m) { \n  shopId = m[1]; \n  itemId = m[2]; \n} else {\n  m = url.match(/-i\\.(\\d+)\\.(\\d+)/);\n  if (m) { \n    shopId = m[1]; \n    itemId = m[2]; \n  }\n}\nif (!itemId) throw new Error('Não foi possível extrair itemId/shopId do link.');\n\n// Monta query GraphQL com literais\nconst rawQuery = `\n  query {\n    productOfferV2(itemId: ${itemId}, shopId: ${shopId || 'null'}, page: 1, limit: 1) {\n      nodes {\n        itemId shopId productName productLink offerLink imageUrl shopName\n        priceMin priceMax commissionRate sellerCommissionRate shopeeCommissionRate\n        ratingStar sales\n      }\n      pageInfo { page limit hasNextPage }\n    }\n  }\n`;\n\n// Minifica\nlet q = rawQuery\n  .replace(/\\/\\/.*$/gm, '')\n  .replace(/\\/\\*[\\s\\S]*?\\*\\//g, '')\n  .replace(/[\\n\\r]/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .replace(/\\s*([(){}:,])\\s*/g, '$1')\n  .trim();\n\nconst graphqlPayloadObject = { query: q };\nconst payloadString = JSON.stringify(graphqlPayloadObject);\n\nconst timestamp = Math.floor(Date.now() / 1000);\nconst signatureFactor = `${appId}${timestamp}${payloadString}${secret}`;\nconst signature = crypto.createHash('sha256').update(signatureFactor).digest('hex');\nconst authorizationHeader = `SHA256 Credential=${appId}, Timestamp=${timestamp}, Signature=${signature}`;\n\nreturn [{\n  json: {\n    url, itemId, shopId,\n    authorizationHeader,\n    requestBody: graphqlPayloadObject\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,288],"id":"90a5bdf0-b2eb-4267-b542-1d8836b1ec60","name":"Prepara Query para API Shopee1"},{"parameters":{"jsCode":"// Pega o JSON retornado pelo node anterior\nconst input = $json;\n\n// Acesso seguro aos dados do primeiro produto\nconst product = input?.data?.productOfferV2?.nodes?.[0];\nif (!product) {\n  throw new Error('Nenhum produto encontrado na resposta.');\n}\n\n// Monta um objeto mais limpo com os campos desejados\nreturn [{\n  json: {\n    itemId: product.itemId,\n    shopId: product.shopId,\n    productName: product.productName,\n    productLink: product.productLink,\n    offerLink: product.offerLink,\n    imageUrl: product.imageUrl,\n    shopName: product.shopName,\n    priceMin: parseFloat(product.priceMin),\n    priceMax: parseFloat(product.priceMax),\n    commissionRate: parseFloat(product.commissionRate),\n    sellerCommissionRate: parseFloat(product.sellerCommissionRate),\n    shopeeCommissionRate: parseFloat(product.shopeeCommissionRate),\n    ratingStar: parseFloat(product.ratingStar),\n    sales: product.sales\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,288],"id":"f5c9dc6a-b820-4f5b-994a-ae8769d04c69","name":"Extrai Informações1"},{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-112,32],"id":"829f6911-434e-438b-b172-73f91dd82cd2","name":"Schedule Trigger1","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[16,816],"id":"8b888cf7-3da4-4394-959f-88d022a8b8bd","name":"Groq Chat Model1","credentials":{"groqApi":{"id":"goykBSqf3Way2XVY","name":"Groq account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1760,1216],"id":"3441648d-d38a-48b1-87a1-2c795f5cf311","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"model":"llama-3.1-8b-instant","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-1616,1248],"id":"a1696c48-ebcd-453e-8dee-33080c5e0cf9","name":"Groq Chat Model2","credentials":{"groqApi":{"id":"goykBSqf3Way2XVY","name":"Groq account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[336,1344],"id":"167e2096-7c7d-47af-9403-af2fbfde006f","name":"Groq Chat Model3","credentials":{"groqApi":{"id":"goykBSqf3Way2XVY","name":"Groq account"}}},{"parameters":{"promptType":"define","text":"=Produto: {{ $('Extrai Informações2').item.json.nome }}\nLink de Oferta: {{ $('Extrai Informações2').item.json.linkAfiliado }}\nPreço: {{ $('Extrai Informações2').item.json.faixaPrecoFormatada }}\nAvaliação: {{ $('Extrai Informações2').item.json.avaliacao }} ★\n\n\n\n","options":{"systemMessage":"={\n  \"name\": \"AutoPromo\",\n  \"context\": {\n    \"identity\": \"Bot Vendedor da Automação Inteligente\",\n    \"business\": \"Sistema de Automação Inteligente\",\n    \"Language\": \"português brasileiro\",\n    \"data_atual\": \"hoje é: {{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, hora: {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n  \"Informação atualizada para usar em resposta\": \"{{ $json.output }}\",\n  \"personality\": [\n    \"Tom persuasivo, envolvente e natural\",\n    \"Usa emojis estratégicos 🎯🔧🔥 para chamar atenção sem exageros\",\n    \"Estilo formal-coloquial: próximo e humano, sem gírias excessivas\",\n    \"Enfatiza benefícios, urgência e escassez para aumentar conversão\"\n  ],\n  \"objectives\": [\n    \"Gerar mensagens automáticas curtas, criativas e visualmente organizadas para divulgar produtos da Shopee no WhatsApp\",\n    \"Criar textos que incentivem o clique imediato, transmitindo valor e urgência\"\n  ],\n  \"general_rules\": [\n    \"Resumir o nome do produto para no máximo 4–6 palavras, removendo termos irrelevantes (ex.: numeração, códigos, descrições longas)\",\n    \"Nunca incluir o link da Shopee mais de uma vez na mesma mensagem\",\n    \"Não repetir a mesma informação em blocos diferentes da mensagem\",\n    \"Não usar formato de link clicável com texto igual ao link\",\n    \"Usar quebras de linha para criar blocos visuais claros\",\n    \"Começar com título chamativo, pergunta de impacto ou alerta\",\n    \"Usar bullets ou marcadores ✔️🔧💡 para listar vantagens\",\n    \"Transmitir urgência real (ex.: últimas unidades, válido só hoje)\",\n    \"Finalizar com CTA direta e destacada: 'Clique agora', 'Garanta já', 'Aproveite aqui'\",\n    \"Evitar parágrafos longos; manter leitura escaneável\",\n    \"Nunca coloque o preço e o link duas vezes, SEMPRE uma vez\"\n  ],\n  \"price_logic\": \"Se min==max (ou diferença < R$0,01) → preço único. Se spread >= 20% → 'a partir de R$ min'. Caso contrário → 'de R$ min a R$ max'. Se só min → 'a partir de R$ min'. Se só max → 'até R$ max'.\",\n  \"flow_de_atendimento_padrão\": {\n    \"steps\": [\n      {\n        \"1\": \"Mensagem inicial de impacto:\\n🚨 *PROMOÇÃO RELÂMPAGO* 🚨\\n❓ *Já pensou em ter {{ $('Extrai Informações2').item.json.nome }} em casa?*\\n💥 *Campeão de vendas na Shopee!*\"\n      },\n      {\n        \"2\": \"Lista de benefícios + preço:\\n✔️ Benefício 1\\n✔️ Benefício 2\\n✔️ Benefício 3\\n💡 Preço: {{ $('Extrai Informações2').item.json.faixaPrecoFormatada }}\"\n      },\n      {\n        \"3\": \"Urgência e CTA:\\n🔥 *Últimas unidades!*\\n👉 *Garanta agora:* {{ $('Extrai Informações2').item.json.linkAfiliado }}\\n⏳ *Promoção válida só hoje!*\"\n      },\n      {\n        \"4\": \"Modelos extras para diversidade (alternar aleatoriamente)\",\n        \"modelos\": [\n          \"🔥 **{{ produto_curto }}**\\n💰 {{ preço }}\\n⭐ Avaliação: {{ avaliação }} ★\\n📦 Aproveite agora → {{ link }}\",\n          \"⚠️ Restam poucas peças de **{{ produto_curto }}**!\\n💵 {{ preço }} | ⭐ {{ avaliação }}\\n🛒 Garanta o seu: {{ link }}\",\n          \"🎯 Você precisa ver isso: **{{ produto_curto }}**\\nDe: ~~preço antigo~~ | Por: {{ preço }}\\n⭐ Avaliação: {{ avaliação }}\\n📌 Clique e compre: {{ link }}\",\n          \"🏆 Top vendas: **{{ produto_curto }}**\\n💲 {{ preço }} | ⭐ {{ avaliação }}\\n💨 Não fique sem → {{ link }}\",\n          \"📢 Só hoje: **{{ produto_curto }}**\\n💰 {{ preço }} | ⭐ {{ avaliação }}\\n🛒 Garanta com desconto → {{ link }}\"\n        ]\n      }\n    ]\n  }\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-1680,2320],"id":"c07c8671-46e5-4ee9-bf1b-4fb1bdd9dd9f","name":"AI Agent4"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Estevão - pessoal","remoteJid":"={{ $('VIP 000 - Lootbox Legends - Numero1').item.json.VIP_000_Lootbox_Legends_numero }}","media":"={{ $('Extrair imagem do link2').item.json.imagem_produto }}","caption":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1056,2320],"id":"8b0b6396-66fd-4c96-86fc-c8464f32787a","name":"Enviar imagem2","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"yNcLlaUxCcsYBcUx","name":"Pessoal"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * 5) + 40 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1280,2320],"id":"0dc11f24-ed18-4c7e-8f6d-c9ef5e9c8b6b","name":"Wait2","webhookId":"ecf1edd3-c449-4c00-99b9-fbe92b7b4731"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2240,2304],"id":"9a4c14d5-77ed-4ab0-b7ed-d7d0ce1d2c17","name":"Loop Over Items2"},{"parameters":{"content":"","height":384,"width":2304,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2544,1680],"id":"4c8f3d5e-dbfe-474e-ab5a-7ceddd7ccf1f","name":"Sticky Note18"},{"parameters":{"content":"## Pega informações do produto tal como a imagem","height":80,"width":576,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2544,1680],"id":"d33cc680-b85f-4686-ac3f-d1029c6f15e6","name":"Sticky Note19"},{"parameters":{"assignments":{"assignments":[{"id":"b9ac5523-a007-4069-8263-37d73524fb2a","name":"ID Produto","value":"={{ $('Extrai Informações2').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2464,2816],"id":"ebd03012-e869-44f3-889c-0a01badab150","name":"Edit Fields2"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0,15,30,45 * * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2480,1808],"id":"0e060a15-2f67-440a-8c2b-13639ae6b7f5","name":"Schedule Trigger2"},{"parameters":{"content":"","height":432,"width":1904,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2544,2160],"id":"7aa9f67e-8a69-4732-a000-ec3a214ffb39","name":"Sticky Note20"},{"parameters":{"content":"## Pega 'telefone' dos grupos, prepara mensagem e envia os produtos nos grupos","height":96,"width":672},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2544,2160],"id":"f7b83bf0-386e-4da0-8a69-24454bbb6355","name":"Sticky Note21"},{"parameters":{"content":"","height":384,"width":560,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2528,2640],"id":"f34f36c1-87d8-4009-aace-98daad5cb039","name":"Sticky Note22"},{"parameters":{"content":"## Marca 'enviado' no produto","height":96,"width":384,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2528,2640],"id":"6edc58c7-f591-4bac-a57c-7e2a0123a310","name":"Sticky Note23"},{"parameters":{"url":"={{ $('Extrai Informações2').item.json.imagem }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,1824],"id":"dda65375-92a7-49b0-a76d-05a9015473c4","name":"Pesquisa imagem2"},{"parameters":{"operation":"binaryToPropery","destinationKey":"imagem_produto","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-464,1824],"id":"656e1b68-fb24-42cd-b1b3-577253ba2bfe","name":"Extrair imagem do link2"},{"parameters":{"method":"POST","url":"=https://open-api.affiliate.shopee.com.br/graphql","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $json.authorizationHeader }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.requestBody }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1792,1808],"id":"f42561eb-1e29-4470-b5ad-a59bebb92911","name":"API Shopee2"},{"parameters":{"jsCode":"const crypto = require('crypto');\n\n// --- Suas credenciais Shopee ---\nconst appId = '18398850421';\nconst secret = 'Q24H7XRYJKETZ7FTTSCL3GL7XLKFV5VV';\n\n// --- Pega a keyword de um node anterior ---\nconst keyword = $json.keyword || \"maternidade\"; // fallback pra não quebrar se não vier nada\n\n// --- Payload da query ---\nconst graphqlPayloadObject = {\n  query: `\n    query GetProductOffers {\n      productOfferV2(\n        keyword: \"${keyword}\"\n        page: 1\n        limit: 50\n      ) {\n        nodes {\n          productName\n          itemId\n          shopId\n          commissionRate\n          commission\n          price\n          sales\n          imageUrl\n          shopName\n          productLink\n          offerLink\n          periodStartTime\n          periodEndTime\n          priceMin\n          priceMax\n          productCatIds\n          ratingStar\n          priceDiscountRate\n          shopType\n          sellerCommissionRate\n          shopeeCommissionRate\n        }\n        pageInfo {\n          page\n          limit\n          hasNextPage\n          scrollId\n        }\n      }\n    }\n  `,\n  variables: {} // Não precisa mexer, mas pode usar variáveis também\n};\n\nconst payloadString = JSON.stringify(graphqlPayloadObject);\nconst timestamp = Math.floor(Date.now() / 1000);\nconst signatureFactor = `${appId}${timestamp}${payloadString}${secret}`;\nconst signature = crypto.createHash('sha256').update(signatureFactor).digest('hex');\nconst authorizationHeader = `SHA256 Credential=${appId}, Timestamp=${timestamp}, Signature=${signature}`;\n\n// Retorno correto pra n8n:\nreturn [{\n  json: {\n    authorizationHeader: authorizationHeader,\n    requestBody: graphqlPayloadObject\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2016,1808],"id":"ee57251a-bcb2-4597-8f7c-1b4b8d6cbeb2","name":"Prepara Query para API Shopee2"},{"parameters":{"jsCode":"// n8n: cada execução recebe UM item por vez\nconst prod = $json;\n\nfunction formatFaixaPreco(pminRaw, pmaxRaw) {\n  const toNum = v => Number(String(v ?? '').replace(',', '.'));\n  const pmin = toNum(pminRaw);\n  const pmax = toNum(pmaxRaw);\n  const fmt = v => isFinite(v) ? ('R$ ' + v.toFixed(2).replace('.', ',')) : null;\n\n  if (!isFinite(pmin) && !isFinite(pmax)) return 'Indisponível';\n  if (isFinite(pmin) && isFinite(pmax)) {\n    if (Math.abs(pmax - pmin) < 0.01) return fmt(pmin);\n    const spread = (pmax - pmin) / Math.max(pmin, 0.01);\n    return spread >= 0.2 ? ('a partir de ' + fmt(pmin)) : ('de ' + fmt(pmin) + ' a ' + fmt(pmax));\n  }\n  if (isFinite(pmin)) return 'a partir de ' + fmt(pmin);\n  if (isFinite(pmax)) return 'até ' + fmt(pmax);\n  return 'Indisponível';\n}\n\nreturn [\n  {\n    json: {\n      nome: prod.productName,\n      id: prod.itemId,\n      loja: prod.shopName,\n      preco: Number(prod.price),\n      comissao: Number(prod.commission),\n      percentualComissao: Number(prod.percentCommission),\n      vendas: prod.sales,\n      avaliacao: prod.ratingStar,\n      imagem: prod.imageUrl,\n      linkProduto: prod.productLink,\n      linkAfiliado: prod.offerLink,\n      categorias: prod.productCatIds,\n      faixaPrecoFormatada: formatFaixaPreco(prod.priceMin, prod.priceMax)\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,1808],"id":"e2aff7ff-87ef-4aa9-8062-ebe0df76f66a","name":"Extrai Informações2"},{"parameters":{"assignments":{"assignments":[{"id":"2e2a3ebf-2538-4960-b2ae-c7d7825abe32","name":"VIP_000_Lootbox_Legends_numero","value":"120363403802905664@g.us","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2464,2304],"id":"1a2ffae6-9b00-4f08-8eba-cbbab242c6aa","name":"VIP 000 - Lootbox Legends - Numero1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":1996874015,"mode":"list","cachedResultName":"VIP 000 - Lootbox Legends","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=1996874015"},"columns":{"mappingMode":"defineBelow","value":{"ID do produto":"={{ $json['ID Produto'] }}"},"matchingColumns":["ID do produto"],"schema":[{"id":"ID do produto","displayName":"ID do produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-2192,2816],"id":"eeefbd46-cd2f-423a-9483-7e15c086068e","name":"Adiciona produto na planilha1","credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":1996874015,"mode":"list","cachedResultName":"VIP 000 - Lootbox Legends","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=1996874015"},"filtersUI":{"values":[{"lookupColumn":"ID do produto","lookupValue":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1120,1808],"id":"ec5ebdde-a43c-4770-bf0b-c993d7cc31a7","name":"Pesquisa produto1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"46494b7d-471c-47c3-b0dd-50f47f687053","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-864,1808],"id":"5c426ddb-61e9-4e0f-9900-6515b0b82732","name":"se retornou algo1"},{"parameters":{"model":"llama-3.1-8b-instant","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-1792,2416],"id":"325c2782-5ac9-48ae-991b-cf47d7649df8","name":"Groq Chat Model4","credentials":{"groqApi":{"id":"goykBSqf3Way2XVY","name":"Groq account"}}},{"parameters":{"assignments":{"assignments":[{"id":"7414a362-692e-40ee-9bfb-a2a021bc4ead","name":"keyword","value":"={{ (() => {   const min = Number($json[\"Minute\"]);   if (min === 0) return \"Celulares e Dispositivos\";   if (min === 15) return \"Computadores e Acessórios\";   if (min === 30) return \"Celulares e Dispositivos\";   if (min === 45) return \"Casa e Construção\";   return \"Indefinido\"; })() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2256,1808],"id":"be7d5a2f-ca8a-4211-be05-068fe0558f28","name":"Edit Fields3"},{"parameters":{"jsCode":"// Acesse todos os items do input\nconst items = $input.all(); // array, cada item tem .json\n\nconst results = [];\n\nfor (const item of items) {\n  // Caminho até produtos na resposta\n  const nodes = item.json?.data?.productOfferV2?.nodes || [];\n  for (const product of nodes) {\n    // Converta para numero\n    const commission = parseFloat(product.commission);\n    const price = parseFloat(product.price);\n\n    // Verifica se price é maior que zero para evitar divisão por zero\n    if (price > 0 && commission > 0) {\n      const percent = (commission / price) * 100;\n      // Passa só se for maior que 40%\n      if (percent > 40) {\n        results.push({ json: { ...product, percentCommission: percent } });\n      }\n    }\n  }\n}\n\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1584,1808],"id":"11cd784c-fc44-4332-a7f0-611df8e11b35","name":"Code2"},{"parameters":{"method":"POST","url":"=https://open-api.affiliate.shopee.com.br/graphql","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $json.authorizationHeader }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.requestBody }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1616,656],"id":"09547aac-e3c0-4a75-b433-ce6058db37d3","name":"API Shopee3"},{"parameters":{"jsCode":"const crypto = require('crypto');\n\n// --- Suas credenciais da Shopee ---\nconst appId = '18398850421';\nconst secret = 'Q24H7XRYJKETZ7FTTSCL3GL7XLKFV5VV';\n\n// --- IDs do produto que você quer consultar (usaremos para filtrar DEPOIS da requisição) ---\n\n\n// --- 1. Definir o Payload da Requisição GraphQL (SEM ARGUMENTOS DE FILTRO) ---\nconst graphqlPayloadObject = {\n  query: `\n    query GetProductOffers {\n      productOfferV2 { // <--- Chamando sem argumentos\n        nodes {\n          productName\n          itemId\n          shopId\n          commissionRate\n          commission\n          price\n          sales\n          imageUrl\n          shopName\n          productLink\n          offerLink\n          periodStartTime\n          periodEndTime\n          priceMin\n          priceMax\n          productCatIds\n          ratingStar\n          priceDiscountRate\n          shopType\n          sellerCommissionRate\n          shopeeCommissionRate\n        }\n        pageInfo {\n          page\n          limit\n          hasNextPage\n          scrollId\n        }\n      }\n    }\n  `,\n  variables: {} // Objeto de variáveis vazio, pois não estamos passando argumentos\n};\n\n// O payload para a assinatura deve ser a string JSON exata que será enviada.\nconst payloadString = JSON.stringify(graphqlPayloadObject);\n\n// --- 2. Obter o Timestamp Atual ---\nconst timestamp = Math.floor(Date.now() / 1000);\n\n// --- 3. Construir o Fator de Assinatura ---\nconst signatureFactor = `${appId}${timestamp}${payloadString}${secret}`;\n\n// --- 4. Calcular a Assinatura SHA256 ---\nconst signature = crypto.createHash('sha256').update(signatureFactor).digest('hex');\n\n// --- 5. Gerar o Cabeçalho de Autorização ---\nconst authorizationHeader = `SHA256 Credential=${appId}, Timestamp=${timestamp}, Signature=${signature}`;\n\n// Retornar os dados necessários para o próximo nó (HTTP Request)\nreturn [{\n  json: {\n    authorizationHeader: authorizationHeader,\n    requestBody: graphqlPayloadObject\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,656],"id":"ab30217c-dec3-4b64-b602-fc9f3cf9cd38","name":"Prepara Query para API Shopee3"},{"parameters":{"jsCode":"const prod = $json;\n\nfunction formatFaixaPreco(pminRaw, pmaxRaw) {\n  const toNum = v => Number(String(v ?? '').replace(',', '.'));\n  const pmin = toNum(pminRaw);\n  const pmax = toNum(pmaxRaw);\n  const fmt = v => isFinite(v) ? ('R$ ' + v.toFixed(2).replace('.', ',')) : null;\n  if (!isFinite(pmin) && !isFinite(pmax)) return 'Indisponível';\n  if (isFinite(pmin) && isFinite(pmax)) {\n    if (Math.abs(pmax - pmin) < 0.01) return fmt(pmin);\n    const spread = (pmax - pmin) / Math.max(pmin, 0.01);\n    return spread >= 0.2 ? ('a partir de ' + fmt(pmin)) : ('de ' + fmt(pmin) + ' a ' + fmt(pmax));\n  }\n  if (isFinite(pmin)) return 'a partir de ' + fmt(pmin);\n  if (isFinite(pmax)) return 'até ' + fmt(pmax);\n  return 'Indisponível';\n}\n\nreturn [\n  {\n    json: {\n      nome: prod.productName,\n      id: prod.itemId,\n      loja: prod.shopName,\n      vendas: Number(prod.sales),\n      avaliacao: prod.ratingStar,\n      comissao: Number(prod.commission),\n      comissaoPercent: Number(prod.commissionRate) * 100,\n      preco: Number(prod.price),\n      faixaPreco: formatFaixaPreco(prod.priceMin, prod.priceMax),\n      desconto: prod.priceDiscountRate,\n      imagem: prod.imageUrl,\n      link: prod.productLink,\n      linkAfiliado: prod.offerLink,\n      categorias: prod.productCatIds\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2304,672],"id":"09f10a05-8d75-4a3f-af8d-5cccf94eed2c","name":"Extrai Informações3"},{"parameters":{"jsCode":"const items = $input.all();\nconst resultados = [];\n\n// Percorre todos os items do input\nfor (const item of items) {\n  const nodes = item.json?.data?.productOfferV2?.nodes || [];\n  for (const prod of nodes) {\n    if (Number(prod.sales) > 5000) {\n      resultados.push({ json: prod });\n    }\n  }\n}\n\nreturn resultados;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,656],"id":"f56e2b83-a70d-4953-88ff-330ef8ebe66a","name":"Code3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2032,656],"id":"0222343b-44de-41ad-9097-a97bf3d444c5","name":"Loop Over Items3"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Produtos shopee","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Status":"nao_enviado","ID":"={{ $('Extrai Informações3').item.json.id }}","Item Name":"={{ $('Extrai Informações3').item.json.nome }}","Price":"={{ $('Extrai Informações3').item.json.preco }}","Sales":"={{ $('Extrai Informações3').item.json.vendas }}","Shop Name":"={{ $('Extrai Informações3').item.json.loja }}","Commission Rate":"={{ $('Extrai Informações3').item.json.comissaoPercent }}","Commission":"={{ $('Extrai Informações3').item.json.comissao }}","Product Link":"={{ $('Extrai Informações3').item.json.link }}","Offer Link":"={{ $('Extrai Informações3').item.json.linkAfiliado }}"},"matchingColumns":[],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Item Name","displayName":"Item Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Price","displayName":"Price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sales","displayName":"Sales","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Shop Name","displayName":"Shop Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Commission Rate","displayName":"Commission Rate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Commission","displayName":"Commission","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Product Link","displayName":"Product Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Offer Link","displayName":"Offer Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Finalizado em","displayName":"Finalizado em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2992,688],"id":"39307c81-6839-4c8e-b033-b094c9443e7d","name":"Adiciona produto na planilha2","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Produtos shopee","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ID","lookupValue":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2512,672],"id":"35040b00-4256-4150-b7e3-7d01927dc212","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca6a2dd3-bb03-4c47-b07c-bb3224f3bd6b","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2720,672],"id":"07cfcbf8-b01c-4720-863e-2396afda78de","name":"If"},{"parameters":{"content":"","height":416,"width":2128,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1344,512],"id":"f08c08b5-2e9f-4f5a-a34d-a3767264ec2b","name":"Sticky Note24"},{"parameters":{"content":"# Alimenta lista de produtos shopee","height":96,"width":608,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1344,512],"id":"8bf79358-a062-4bc4-aca9-ea5fb4404a50","name":"Sticky Note25"},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Produtos shopee","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"nao_enviado"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2160,224],"id":"9d4d415b-70ce-4dd6-8697-7547f6997e6b","name":"Get row(s) in sheet1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"659049be-e916-4801-a50a-de412742ff37","leftValue":"={{ $items().length }}","rightValue":3,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2368,224],"id":"71c6af4f-dd57-4a42-862c-77b04d3f0d64","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2576,208],"id":"86c3fb59-e696-4ec7-bcf8-18c5c97b7f0b","name":"No Operation, do nothing"},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1424,224],"id":"0c5c5be1-850e-4b00-b996-482a461b37ed","name":"Schedule Trigger6","disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1888,224],"id":"40fff51b-dadc-4811-a83c-3044615f9e92","name":"Schedule Trigger7","disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1632,224],"id":"35c166a8-c13d-4a31-8023-2fdc475698f2","name":"Schedule Trigger8","disabled":true},{"parameters":{"content":"","height":368,"width":1776},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1344,112],"id":"2b75456f-ee0f-421e-81a3-704c20c264f9","name":"Sticky Note26"},{"parameters":{"content":"# Verifica se já tem o suficiente na planilha","height":80,"width":688,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1344,112],"id":"22af659c-142f-44b7-ade0-8d97204c489d","name":"Sticky Note27"}],"connections":{"AI Agent":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Enviar imagem":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Enviar imagem","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Adiciona produto na planilha","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Prepara Query para API Shopee","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Create a card","type":"main","index":0}]]},"Pesquisa imagem":{"main":[[{"node":"Extrair imagem do link","type":"main","index":0}]]},"Extrair imagem do link":{"main":[[{"node":"VIP 000 - Lootbox Legends - Numero","type":"main","index":0}]]},"API Shopee":{"main":[[{"node":"Extrai Informações","type":"main","index":0}]]},"Prepara Query para API Shopee":{"main":[[{"node":"API Shopee","type":"main","index":0}]]},"Extrai Informações":{"main":[[{"node":"Pesquisa produto","type":"main","index":0}]]},"VIP 000 - Lootbox Legends - Numero":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Pesquisa produto":{"main":[[{"node":"se retornou algo","type":"main","index":0}]]},"se retornou algo":{"main":[[{"node":"Prepara Query para API Shopee","type":"main","index":0}],[{"node":"Pesquisa imagem","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Pega produto na planilha":{"main":[[{"node":"Prepara Query para API Shopee1","type":"main","index":0}]]},"Pega 'telefone' dos grupos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"Pega produto na planilha","type":"main","index":0}]]},"Schedule Trigger4":{"main":[[{"node":"Pega produto na planilha","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Enviar imagem1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Enviar imagem1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"AI Agent2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Pega produto na planilha1","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Create a card1","type":"main","index":0}]]},"Pesquisa imagem1":{"main":[[{"node":"Extrair imagem do link1","type":"main","index":0}]]},"Extrair imagem do link1":{"main":[[{"node":"Pega 'telefone' dos grupos","type":"main","index":0}]]},"API Shopee1":{"main":[[{"node":"Extrai Informações1","type":"main","index":0}]]},"Prepara Query para API Shopee1":{"main":[[{"node":"API Shopee1","type":"main","index":0}]]},"Extrai Informações1":{"main":[[{"node":"Pesquisa imagem1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Pega produto na planilha","type":"main","index":0}]]},"Groq Chat Model1":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Groq Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Groq Chat Model3":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"AI Agent4":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Enviar imagem2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Enviar imagem2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"AI Agent4","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Adiciona produto na planilha1","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Pesquisa imagem2":{"main":[[{"node":"Extrair imagem do link2","type":"main","index":0}]]},"Extrair imagem do link2":{"main":[[{"node":"VIP 000 - Lootbox Legends - Numero1","type":"main","index":0}]]},"API Shopee2":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Prepara Query para API Shopee2":{"main":[[{"node":"API Shopee2","type":"main","index":0}]]},"Extrai Informações2":{"main":[[{"node":"Pesquisa produto1","type":"main","index":0}]]},"VIP 000 - Lootbox Legends - Numero1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Pesquisa produto1":{"main":[[{"node":"se retornou algo1","type":"main","index":0}]]},"se retornou algo1":{"main":[[{"node":"Prepara Query para API Shopee2","type":"main","index":0}],[{"node":"Pesquisa imagem2","type":"main","index":0}]]},"Groq Chat Model4":{"ai_languageModel":[[{"node":"AI Agent4","type":"ai_languageModel","index":0}]]},"Edit Fields3":{"main":[[{"node":"Prepara Query para API Shopee2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Extrai Informações2","type":"main","index":0}]]},"API Shopee3":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Prepara Query para API Shopee3":{"main":[[{"node":"API Shopee3","type":"main","index":0}]]},"Extrai Informações3":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Extrai Informações3","type":"main","index":0}]]},"Adiciona produto na planilha2":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Adiciona produto na planilha2","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Prepara Query para API Shopee3","type":"main","index":0}]]},"Schedule Trigger6":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Schedule Trigger7":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Schedule Trigger8":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]}},"pinData":{"Schedule Trigger3":[{"json":{"timestamp":"2025-08-20T08:00:06.006-03:00","Readable date":"August 20th 2025, 8:00:06 am","Readable time":"8:00:06 am","Day of week":"Wednesday","Year":"2025","Month":"August","Day of month":"20","Hour":"08","Minute":"00","Second":"06","Timezone":"America/Sao_Paulo (UTC-03:00)"}}],"Schedule Trigger2":[{"json":{"timestamp":"2025-08-22T22:15:00.005-03:00","Readable date":"August 22nd 2025, 10:15:00 pm","Readable time":"10:15:00 pm","Day of week":"Friday","Year":"2025","Month":"August","Day of month":"22","Hour":"22","Minute":"15","Second":"00","Timezone":"America/Sao_Paulo (UTC-03:00)"}}],"Error Trigger":[{"json":{"execution":{"id":"15970","url":"https://webhook.watashilabs.com.br/workflow/yJt0LEJ0hSkRPAJN/executions/15970","error":{"level":"warning","tags":{"reWrapped":true},"description":"The model `llama3-8b-8192` has been decommissioned and is no longer supported. Please refer to https://console.groq.com/docs/deprecations for a recommendation on which model to use instead.","timestamp":1763142304683,"context":{},"functionality":"regular","name":"NodeOperationError","node":{"parameters":{"aiAgentStarterCallout":"","preBuiltAgentsCallout":"","promptType":"define","text":"=Produto: {{ $('Extrai Informações2').item.json.nome }}\nLink de Oferta: {{ $('Extrai Informações2').item.json.linkAfiliado }}\nPreço: {{ $('Extrai Informações2').item.json.faixaPrecoFormatada }}\nAvaliação: {{ $('Extrai Informações2').item.json.avaliacao }} ★\n\n\n\n","hasOutputParser":false,"needsFallback":false,"options":{"systemMessage":"={\n  \"name\": \"AutoPromo\",\n  \"context\": {\n    \"identity\": \"Bot Vendedor da Automação Inteligente\",\n    \"business\": \"Sistema de Automação Inteligente\",\n    \"Language\": \"português brasileiro\",\n    \"data_atual\": \"hoje é: {{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, hora: {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n  \"Informação atualizada para usar em resposta\": \"{{ $json.output }}\",\n  \"personality\": [\n    \"Tom persuasivo, envolvente e natural\",\n    \"Usa emojis estratégicos 🎯🔧🔥 para chamar atenção sem exageros\",\n    \"Estilo formal-coloquial: próximo e humano, sem gírias excessivas\",\n    \"Enfatiza benefícios, urgência e escassez para aumentar conversão\"\n  ],\n  \"objectives\": [\n    \"Gerar mensagens automáticas curtas, criativas e visualmente organizadas para divulgar produtos da Shopee no WhatsApp\",\n    \"Criar textos que incentivem o clique imediato, transmitindo valor e urgência\"\n  ],\n  \"general_rules\": [\n    \"Resumir o nome do produto para no máximo 4–6 palavras, removendo termos irrelevantes (ex.: numeração, códigos, descrições longas)\",\n    \"Nunca incluir o link da Shopee mais de uma vez na mesma mensagem\",\n    \"Não repetir a mesma informação em blocos diferentes da mensagem\",\n    \"Não usar formato de link clicável com texto igual ao link\",\n    \"Usar quebras de linha para criar blocos visuais claros\",\n    \"Começar com título chamativo, pergunta de impacto ou alerta\",\n    \"Usar bullets ou marcadores ✔️🔧💡 para listar vantagens\",\n    \"Transmitir urgência real (ex.: últimas unidades, válido só hoje)\",\n    \"Finalizar com CTA direta e destacada: 'Clique agora', 'Garanta já', 'Aproveite aqui'\",\n    \"Evitar parágrafos longos; manter leitura escaneável\",\n    \"Nunca coloque o preço e o link duas vezes, SEMPRE uma vez\"\n  ],\n  \"price_logic\": \"Se min==max (ou diferença < R$0,01) → preço único. Se spread >= 20% → 'a partir de R$ min'. Caso contrário → 'de R$ min a R$ max'. Se só min → 'a partir de R$ min'. Se só max → 'até R$ max'.\",\n  \"flow_de_atendimento_padrão\": {\n    \"steps\": [\n      {\n        \"1\": \"Mensagem inicial de impacto:\\n🚨 *PROMOÇÃO RELÂMPAGO* 🚨\\n❓ *Já pensou em ter {{ $('Extrai Informações2').item.json.nome }} em casa?*\\n💥 *Campeão de vendas na Shopee!*\"\n      },\n      {\n        \"2\": \"Lista de benefícios + preço:\\n✔️ Benefício 1\\n✔️ Benefício 2\\n✔️ Benefício 3\\n💡 Preço: {{ $('Extrai Informações2').item.json.faixaPrecoFormatada }}\"\n      },\n      {\n        \"3\": \"Urgência e CTA:\\n🔥 *Últimas unidades!*\\n👉 *Garanta agora:* {{ $('Extrai Informações2').item.json.linkAfiliado }}\\n⏳ *Promoção válida só hoje!*\"\n      },\n      {\n        \"4\": \"Modelos extras para diversidade (alternar aleatoriamente)\",\n        \"modelos\": [\n          \"🔥 **{{ produto_curto }}**\\n💰 {{ preço }}\\n⭐ Avaliação: {{ avaliação }} ★\\n📦 Aproveite agora → {{ link }}\",\n          \"⚠️ Restam poucas peças de **{{ produto_curto }}**!\\n💵 {{ preço }} | ⭐ {{ avaliação }}\\n🛒 Garanta o seu: {{ link }}\",\n          \"🎯 Você precisa ver isso: **{{ produto_curto }}**\\nDe: ~~preço antigo~~ | Por: {{ preço }}\\n⭐ Avaliação: {{ avaliação }}\\n📌 Clique e compre: {{ link }}\",\n          \"🏆 Top vendas: **{{ produto_curto }}**\\n💲 {{ preço }} | ⭐ {{ avaliação }}\\n💨 Não fique sem → {{ link }}\",\n          \"📢 Só hoje: **{{ produto_curto }}**\\n💰 {{ preço }} | ⭐ {{ avaliação }}\\n🛒 Garanta com desconto → {{ link }}\"\n        ]\n      }\n    ]\n  }\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-1680,2320],"id":"c07c8671-46e5-4ee9-bf1b-4fb1bdd9dd9f","name":"AI Agent4"},"messages":["400 {\"error\":{\"message\":\"The model `llama3-8b-8192` has been decommissioned and is no longer supported. Please refer to https://console.groq.com/docs/deprecations for a recommendation on which model to use instead.\",\"type\":\"invalid_request_error\",\"code\":\"model_decommissioned\"}}"],"message":"Bad request - please check your parameters","stack":"NodeOperationError: Bad request - please check your parameters\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_22f59901f979c793064e516a96540f2f/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V2/execute.ts:313:12\n    at Array.forEach (<anonymous>)\n    at ExecuteContext.toolsAgentExecute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_22f59901f979c793064e516a96540f2f/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V2/execute.ts:302:16)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_22f59901f979c793064e516a96540f2f/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/V2/AgentV2.node.ts:131:10)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1093:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1274:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1708:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_08b575bec2313d5d8a4cc75358971443/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2324:11"},"lastNodeExecuted":"AI Agent4","mode":"trigger"},"workflow":{"id":"yJt0LEJ0hSkRPAJN","name":"VIP 000 - Lootbox Legends (WhatsApp)"}}}]},"meta":null}