2025/12/13/Agendamento.json
{"nodes":[{"parameters":{"content":"# Agendamento","height":80,"width":283,"color":5},"id":"3fe66f50-e7a4-482f-826f-782256466300","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[736,192]},{"parameters":{},"id":"f221c858-e3e1-43f8-9471-623d6d3b29a4","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[736,464]},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"23d9addb648a594e1499e45a1a4e715baf1889e657930c1b29e43a6644ffbed5@group.calendar.google.com","mode":"list","cachedResultName":"WatashiLabs"},"timeMin":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"start\"] }}","timeMax":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"end\"] }}","options":{}},"id":"1ace2b5d-ad22-46b7-bcbf-ca07f0677d6a","name":"Disponibilidade","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1728,272],"credentials":{"googleCalendarOAuth2Api":{"id":"An2yu1wVFlFfXSSe","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"23d9addb648a594e1499e45a1a4e715baf1889e657930c1b29e43a6644ffbed5@group.calendar.google.com","mode":"list","cachedResultName":"WatashiLabs"},"start":"={{ $('Switch4').item.json.query.start }}","end":"={{ $('Switch4').item.json.query.end }}","additionalFields":{"attendees":["={{ $('Switch4').item.json.query.email }}"],"conferenceDataUi":{"conferenceDataValues":{"conferenceSolution":"hangoutsMeet"}},"description":"={{ $('Switch4').item.json.Remotejid }}","summary":"={{ $('Execute Workflow Trigger').item.json.query.nome }}"}},"id":"1092b559-eeef-4dec-b95b-7b4a99415669","name":"Marca","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[2224,272],"credentials":{"googleCalendarOAuth2Api":{"id":"An2yu1wVFlFfXSSe","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"23d9addb648a594e1499e45a1a4e715baf1889e657930c1b29e43a6644ffbed5@group.calendar.google.com","mode":"list","cachedResultName":"WatashiLabs"},"options":{"query":"={{ $json.query.email }}"}},"id":"67b104c1-0447-478a-8167-3aa08198d8ef","name":"Já tem um evento","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1264,208],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"An2yu1wVFlFfXSSe","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"23d9addb648a594e1499e45a1a4e715baf1889e657930c1b29e43a6644ffbed5@group.calendar.google.com","mode":"list","cachedResultName":"WatashiLabs"},"returnAll":true,"options":{"query":"={{ $item(\"0\").$node[\"Switch4\"].json[\"query\"][\"email\"] }}"}},"id":"24221031-a140-4f5a-b3c8-24e8e887614d","name":"Verifica evento","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1264,448],"credentials":{"googleCalendarOAuth2Api":{"id":"An2yu1wVFlFfXSSe","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"23d9addb648a594e1499e45a1a4e715baf1889e657930c1b29e43a6644ffbed5@group.calendar.google.com","mode":"list","cachedResultName":"WatashiLabs"},"returnAll":true,"options":{"query":"={{ $item(\"0\").$node[\"Switch4\"].json[\"query\"][\"email\"] }}"}},"id":"409ff355-4351-4e62-98a8-04a056670dd4","name":"Verifica evento1","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1840,624],"credentials":{"googleCalendarOAuth2Api":{"id":"An2yu1wVFlFfXSSe","name":"Google Calendar account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be5649a9-7624-4621-bd2d-84c25577c0ce","leftValue":"={{ $json.available }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"d5153808-8eff-422e-8353-9792ca32fd9c","name":"If6","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1440,640]},{"parameters":{"assignments":{"assignments":[{"id":"86ff282a-3ede-4417-98c1-0d10858bc5dc","name":"response","value":"=Você já tem uma reunião agendada para o dia: {{(() => { \n    const data = new Date($json.start.dateTime);\n    const opcoes = { day: '2-digit', month: 'long', hour: '2-digit', minute: '2-digit' };\n    return `dia ${data.toLocaleDateString('pt-BR', opcoes).replace(' ', ' de ').replace(',', ' às')}`;\n})()}} gostaria de reagendar? ","type":"string"}]},"options":{}},"id":"0250f53f-2dff-405c-9df5-159dd064834e","name":"Edit Fields6","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1744,112]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8d192ed0-aebd-404e-8339-daab0d29651f","leftValue":"={{ $item(\"0\").$node[\"Já tem um evento\"].json[\"attendees\"][\"0\"][\"email\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"05a1ac76-3628-4d7e-aaf3-9df5487f42df","name":"If5","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1456,208]},{"parameters":{"assignments":{"assignments":[{"id":"7f842ffa-cd8f-40ab-a0a7-40dc173357a7","name":"response","value":"Informe o usuário que o agendamento foi cancelado e que estará sempre à disposição para um novo agendamento.","type":"string"}]},"options":{}},"id":"9f44b4d8-e96f-4596-9024-4c79a8209ba2","name":"Edit Fields7","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1680,448]},{"parameters":{"assignments":{"assignments":[{"id":"04c6ca35-7572-4699-bcb7-bbf2f2a6e6a4","name":"response","value":"horário não disponivel, peça outro horário","type":"string"}]},"options":{}},"id":"1f731f10-7da2-4f63-8590-aa6d8eba1b24","name":"Edit Fields9","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2224,432]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"agendamento","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"agendamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a57e8e8-5227-4cde-8d58-7b447cd55a17","leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"cancelamento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancelamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d788021f-29ab-41f2-b355-2b18963d30f2","leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"reagendamento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"reagendamento"}]},"options":{}},"id":"b3442825-6007-43cd-a473-0789da51dcac","name":"Switch4","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1008,448]},{"parameters":{"content":"","height":800.6667333432747,"width":2503.09595343677,"color":4},"type":"n8n-nodes-base.stickyNote","position":[656,80],"typeVersion":1,"id":"8e92fae9-1a25-461d-b7a4-419322d5c6a6","name":"Sticky Note8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be5649a9-7624-4621-bd2d-84c25577c0ce","leftValue":"={{ $json.available }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"919f6eaa-5bbc-437b-995d-984927c1d1d3","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1920,272]},{"parameters":{"assignments":{"assignments":[{"id":"7f842ffa-cd8f-40ab-a0a7-40dc173357a7","name":"response","value":"=sua reunião foi reagendada para a data:{{(() => { \n    const data = new Date($json.start.dateTime);\n    const opcoes = { day: '2-digit', month: 'long', hour: '2-digit', minute: '2-digit' };\n    return `dia ${data.toLocaleDateString('pt-BR', opcoes).replace(' ', ' de ').replace(',', ' às')}`;\n})()}} o link da reunião é: {{ $json.hangoutLink }}","type":"string"}]},"options":{}},"id":"9db30ac1-11ad-4709-9f0a-8a5dc2fc1d07","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2224,624]},{"parameters":{"name":"criar_reuniao","description":"=Chame esta ferramenta após o usuário informar nome e email e data do agendamento. \n\nNa variável \"nome\", você vai preencher o nome do usuário e na variavel \"email\" você vai preencher com email do usuário\n\nA data do agendamento você vai transformar para seguinte formato, exemplo: 2024-10-18T14:30:00-03:00 e vai preencher a variavel \"start\"\n\nEm seguida você vai inserir 50 minutos a mais depois no horario de agendamento e na variavel \"end\" você vai prencher com o horario no mesmo formato da variavel start","workflowId":{"__rl":true,"value":"6zYrwzO9AI8ZeyZg","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"agendamento"},{"name":"Remotejid","stringValue":"={{ $('Variáveis').item.json.telefone }}"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"nome\": \"nome do usuario\",\n    \"email\": \"email do usuario\",\n    \"start\": \"data hora do inicio da reunião\",\n    \"end\": \"data hora do fim da reunião\"\n}"},"id":"83ff6930-a480-44b1-ba77-a23a6378f46f","name":"criar_reuniao","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2720,-64]},{"parameters":{"name":"cancelar_reuniao","description":"=Chame esta ferramenta após o usuário informar que quer cancelar a reunião, colete o email e nome\n\nNa variável \"nome\", você vai preencher o nome do usuário e na variavel \"email\" você vai preencher com email do usuário","workflowId":{"__rl":true,"value":"6zYrwzO9AI8ZeyZg","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"cancelamento"},{"name":"Remotejid","stringValue":"={{ $('Variáveis').item.json.telefone }}"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"nome\": \"nome do usuario\",\n    \"email\": \"email do usuario\"\n}"},"id":"7cf64b04-08f6-4d85-aebc-9ab0241a6f23","name":"cancelar_reuniao","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[3024,-64]},{"parameters":{"name":"reagendar_reuniao","description":"=Após o usuário informar que quer reagendar e colete o nome, email e nova data Chame esta tool\n\nNa variável \"nome\", você vai preencher o nome do usuário e na variavel \"email\" você vai preencher com email do usuário\n\nA data do agendamento você vai transformar para seguinte formato, exemplo: 2024-10-18T14:30:00-03:00 e vai preencher a variavel \"start\"\n\nEm seguida você vai inserir 50 minutos a mais depois no horário de agendamento e na variavel \"end\" você vai prencher com o horario no mesmo formato da variavel start","workflowId":{"__rl":true,"value":"6zYrwzO9AI8ZeyZg","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"reagendamento"},{"name":"Remotejid","stringValue":"={{ $('Variáveis').item.json.telefone }}"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"nome\": \"nome do usuario\",\n    \"email\": \"email do usuario\",\n    \"start\": \"data hora do inicio da reunião\",\n    \"end\": \"data hora do fim da reunião\"\n}"},"id":"ec64a323-ab59-4861-9e55-0d7d9372150d","name":"reagendar_reuniao","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2864,-64]},{"parameters":{"assignments":{"assignments":[{"id":"86ff282a-3ede-4417-98c1-0d10858bc5dc","name":"response","value":"=Agendamento concluído para a data {{(() => { \n    const data = new Date($json.start.dateTime);\n    const opcoes = { day: '2-digit', month: 'long', hour: '2-digit', minute: '2-digit' };\n    return `dia ${data.toLocaleDateString('pt-BR', opcoes).replace(' ', ' de ').replace(',', ' às')}`;\n})()}}\no link da reunião é: {{ $json.hangoutLink }}","type":"string"}]},"options":{}},"id":"5560efe4-b4e4-486e-a490-f5ba8587a273","name":"Edit Fields10","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2480,272]},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"23d9addb648a594e1499e45a1a4e715baf1889e657930c1b29e43a6644ffbed5@group.calendar.google.com","mode":"list","cachedResultName":"WatashiLabs"},"timeMin":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"start\"] }}","timeMax":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"end\"] }}","options":{}},"id":"c1efce70-023f-4097-bfc2-646cf8d00fe6","name":"Disponibilidade1","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1248,640],"credentials":{"googleCalendarOAuth2Api":{"id":"An2yu1wVFlFfXSSe","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"estevaoeferreira9984@gmail.com","mode":"list","cachedResultName":"estevaoeferreira9984@gmail.com"},"eventId":"={{ $item(\"0\").$node[\"Verifica evento\"].json[\"id\"] }}","options":{}},"id":"5e4d8292-ec9f-4fa4-817b-ea80f1f99d49","name":"Delete an event","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1488,448],"credentials":{"googleCalendarOAuth2Api":{"id":"An2yu1wVFlFfXSSe","name":"Google Calendar account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"23d9addb648a594e1499e45a1a4e715baf1889e657930c1b29e43a6644ffbed5@group.calendar.google.com","mode":"list","cachedResultName":"WatashiLabs"},"eventId":"={{ $item(\"0\").$node[\"Verifica evento1\"].json[\"id\"] }}","useDefaultReminders":false,"updateFields":{"end":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"end\"] }}","sendUpdates":"all","start":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"start\"] }}"}},"id":"7a355f03-fcf3-4cca-b275-d590aa351c8a","name":"Update an event","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[2048,624],"credentials":{"googleCalendarOAuth2Api":{"id":"An2yu1wVFlFfXSSe","name":"Google Calendar account"}}}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Switch4","type":"main","index":0}]]},"Disponibilidade":{"main":[[{"node":"If","type":"main","index":0}]]},"Marca":{"main":[[{"node":"Edit Fields10","type":"main","index":0}]]},"Já tem um evento":{"main":[[{"node":"If5","type":"main","index":0}]]},"Verifica evento":{"main":[[{"node":"Delete an event","type":"main","index":0}]]},"Verifica evento1":{"main":[[{"node":"Update an event","type":"main","index":0}]]},"If6":{"main":[[{"node":"Verifica evento1","type":"main","index":0}],[{"node":"Edit Fields9","type":"main","index":0}]]},"If5":{"main":[[{"node":"Edit Fields6","type":"main","index":0}],[{"node":"Disponibilidade","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"Já tem um evento","type":"main","index":0}],[{"node":"Verifica evento","type":"main","index":0}],[{"node":"Disponibilidade1","type":"main","index":0}]]},"If":{"main":[[{"node":"Marca","type":"main","index":0}],[{"node":"Edit Fields9","type":"main","index":0}]]},"Disponibilidade1":{"main":[[{"node":"If6","type":"main","index":0}]]},"Delete an event":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Update an event":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"pinData":{"Execute Workflow Trigger":[{"json":{"query":{"nome":"Estevão Ferreira","email":"estevaoeferreira@hotmail.com","start":"2025-03-14T15:00:00-03:00","end":"2025-03-14T15:50:00-03:00"},"Evento":"agendamento","Remotejid":"5511943356283@s.whatsapp.net"}}]},"meta":{"templateCredsSetupCompleted":true}}