2025/12/13/Ferramenta Disparo em Massa.json
{"nodes":[{"parameters":{"content":"","height":820,"width":2383,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1088,-256],"typeVersion":1,"id":"95a9e7b3-349f-4fd4-9c21-956130816534","name":"Sticky Note11"},{"parameters":{"content":"# CAPTAÇÃO DE CLIENTES","height":80,"width":551.2183277924504,"color":5},"id":"6e6879a3-597d-4ad4-bfc9-5a4bf8f8f009","name":"Sticky Note30","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1088,-256]},{"parameters":{"jsCode":"// Obtém os valores dos nós anteriores\nconst sessionid1 = $input.item.json.data;  // Do nó \"Gerar sessionID\"\nconst sessionid2 = $input.item.json.sessionid;  // Do nó \"Supabase\"\n\n// Retorna apenas o que existir, chamando sempre de \"sessionId\"\nreturn [{ sessionId: sessionid1 || sessionid2 || null }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,32],"id":"8c01f483-001f-4748-b606-99e4bee95f77","name":"Code"},{"parameters":{"fieldToSplitOut":"phone_number","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-512,80],"id":"9bb64ddd-aab4-44c3-b16d-4116a7a8f532","name":"Split Out","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"6d2854de-1eab-46f1-945c-c872b4e212c5","name":"Phone Number","value":"={{ (() => {\n    const phone = $json.phone_number ? $json.phone_number.toString().replace(/\\D/g, '') : '';\n    return phone ? phone + '@s.whatsapp.net' : '@s.whatsapp.net';\n})() }}","type":"string"},{"id":"94a4147a-782e-4810-a3e5-8681bf74ea8b","name":"Nome da empresa","value":"={{ $json.nome_empresa }}","type":"string"},{"id":"6ef7de47-1caf-4866-8807-8b33fb16db58","name":"Nome da pessoa","value":"={{ $json.nome_pessoa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-336,80],"id":"406aae51-9f82-42cc-a48f-57a06394d4bc","name":"Mapear Lead"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/20 10-17 * * 1-5"}]}},"id":"a41a454f-334c-4dd7-b386-26a800998426","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1040,80]},{"parameters":{"documentId":{"__rl":true,"value":"1n_aCZ94hI5vSu-ZDb4OPrQgs-lR2Yo33pTGuUoRfB70","mode":"list","cachedResultName":"Atendimento -  Watashilabs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n_aCZ94hI5vSu-ZDb4OPrQgs-lR2Yo33pTGuUoRfB70/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1505256262,"mode":"list","cachedResultName":"prospeccao","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n_aCZ94hI5vSu-ZDb4OPrQgs-lR2Yo33pTGuUoRfB70/edit#gid=1505256262"},"combineFilters":"OR","options":{}},"id":"ce2eb253-7417-42ed-a7aa-710119a26179","name":"Get row(s) in sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-864,80],"executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"amount":1},"id":"ebfd948a-8f49-4472-826d-9634d0c3f337","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-672,80],"webhookId":"78f1c2c3-6305-4095-9a10-04987b76a7b8"},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json['Phone Number'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-160,80],"id":"7cd917d4-9866-4c0a-ae3c-71509409b8e2","name":"Get a row","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[64,80],"id":"2c4f7849-8382-421f-86d8-241de42f4135","name":"If"},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[224,32],"id":"615df2ab-2ccc-40d0-85e2-e574634e65a1","name":"Get Dados","credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[736,352],"id":"302201bc-3664-47d2-ab5d-64a8123c1a4e","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"sHGsuRh89fX2ELpX","name":"Postgres account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[576,320],"id":"d2a9ccde-4004-4c1d-a8f4-b5677efa1f32","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"tableId":"dados_cliente","fieldsUi":{"fieldValues":[{"fieldId":"sessionid","fieldValue":"={{ $json.data }}"},{"fieldId":"telefone","fieldValue":"={{ $('Mapear Lead').item.json['Phone Number'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[384,208],"id":"a3f205c8-7e44-46e4-a23e-f121f682d4aa","name":"Create a row","credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[208,208],"id":"a74f113b-0396-4975-96e9-fdaf6edfc315","name":"Gerar sessionID"},{"parameters":{"resource":"messages-api","instanceName":"Estevão - Business","remoteJid":"=+{{ $('Mapear Lead').item.json['Phone Number'].split('@')[0] }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[912,32],"id":"17603419-1af2-4c0d-85c9-01dc924c1144","name":"Enviar texto","alwaysOutputData":false,"credentials":{"evolutionApi":{"id":"XXmpuvteVUlf93Q4","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1n_aCZ94hI5vSu-ZDb4OPrQgs-lR2Yo33pTGuUoRfB70","mode":"list","cachedResultName":"Atendimento -  Watashilabs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n_aCZ94hI5vSu-ZDb4OPrQgs-lR2Yo33pTGuUoRfB70/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1505256262,"mode":"list","cachedResultName":"prospeccao","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1n_aCZ94hI5vSu-ZDb4OPrQgs-lR2Yo33pTGuUoRfB70/edit#gid=1505256262"}},"id":"99eeac64-b00b-4035-bb27-d92f1b523f24","name":"Delete rows or columns from sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1072,32],"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=Mensagens a serem enviadas sem dicas de uso somente a mensagem que será enviada, escolha uma das 6:\nOi, esse contato pertence a {{ $('Mapear Lead').item.json['Nome da pessoa'] }}?,\nOlá, estou falando com {{ $('Mapear Lead').item.json['Nome da pessoa'] }}?,\nBoa tarde, esse número é de {{ $('Mapear Lead').item.json['Nome da pessoa'] }}?,\nOi, por favor, esse contato é de {{ $('Mapear Lead').item.json['Nome da pessoa'] }}?,\nOlá, esse telefone pertence a {{ $('Mapear Lead').item.json['Nome da pessoa'] }}?,\nOi, aqui é um contato para {{ $('Mapear Lead').item.json['Nome da pessoa'] }}, estou falando com a pessoa certa?","options":{"systemMessage":"=Me da a resposta sem dicas de uso ou textos adicionais"}},"id":"157ea1e3-59c7-4500-a70d-716194647fe6","name":"Atendente","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[544,32],"executeOnce":true}],"connections":{"Code":{"main":[[{"node":"Atendente","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Mapear Lead","type":"main","index":0}]]},"Mapear Lead":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Get a row":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Get Dados","type":"main","index":0}],[{"node":"Gerar sessionID","type":"main","index":0}]]},"Get Dados":{"main":[[{"node":"Code","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Atendente","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Atendente","type":"ai_languageModel","index":0}]]},"Create a row":{"main":[[{"node":"Code","type":"main","index":0}]]},"Gerar sessionID":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Enviar texto":{"main":[[]]},"Atendente":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}