2025/12/13/Follow up Whatsapp.json
{"nodes":[{"parameters":{"operation":"getAll","tableId":"chats","filters":{"conditions":[{"keyName":"updated_at","condition":"lt","keyValue":"={{ $now.plus(5,'minutes') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[224,368],"id":"2367baca-fb57-4f99-ad0a-e71ccbca5ccc","name":"ListChats-Supabase","credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"chat_messages","matchType":"allFilters","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $json.phone }}"},{"keyName":"active","condition":"eq","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[624,384],"id":"599f9941-b242-4a5f-9517-39420fc6ff88","name":"ListMessages-Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"chat_messages","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Aggregate')?.item?.json?.conversas?.last()?.phone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"active","fieldValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2400,576],"id":"248724b9-f9b4-4323-b60b-d69588b023cd","name":"DisableMessage-Supabase","credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c9c00627-84a9-49a9-bc7e-d923a5918346","name":"output","value":"={{ $json.text }}","type":"string"},{"id":"0e34f673-b6dc-4748-89d2-a178dfe91853","name":"phone","value":"={{ $('ListChats-Supabase').item.json.phone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2112,64],"id":"fbd23d07-db21-4ede-9340-4efd41dcf56b","name":"SetConfig"},{"parameters":{"promptType":"define","text":"=# Você é um agente facilitador de vendas e está buscando conversas não finalizadas entre o cliente e um agent de IA. \n\n# Cria a somente a resposta não precisa justificar sua resposta\n\n# Identifique o cliente não enviou mais mensagens de resposta\n\n# Se o cliente não responder mesmo assim, agradeça e diga que irá encerrar o pedido e está a disposição para outros pedidos\n\n# Use frase simples e naturais como nos exemplos\n\nExemplos : \n- 'Vamos continuar seu agendamento?' \n- 'Vamos agendar sua visita' \n\n# Conversa entre o cliete e o agente de IA:\n{{ $json.texto }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1616,64],"id":"c3ae853f-6f96-4480-8876-fbe4c47325ff","name":"Basic LLM Chain"},{"parameters":{"inputText":"={{ $json.texto }}","categories":{"categories":[{"category":"pendente_resposta","description":"Pendende de agendar a visita ou informar horario para visita"},{"category":"encerrada","description":"Houve um desfecho da conversa  ou  agendamento de uma visita foi confirmadoo com hoorario ou o agente de IA se despediu"},{"category":"personal","description":"Pediu infoormação sobre personal"},{"category":"Sem resposta","description":"Ficou sem responder"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[1184,352],"id":"eaf26764-88d4-47f8-83d9-aab879fd1a75","name":"Text Classifier"},{"parameters":{"jsCode":"return $('Aggregate').all().map(item => {\n  // Tenta acessar a propriedade 'conversas' e verifica se ela é um array\n  const conversas = item.json.conversas || []; // Garante que é pelo menos um array vazio\n\n  if (!Array.isArray(conversas)) {\n    throw new Error(\"A propriedade 'conversas' não é um array.\");\n  }\n\n  // Processa cada conversa e verifica as mensagens\n  const textoUnico = conversas.map(conversa => {\n    const cliente = conversa.user_message || \"sem mensagem do chatbot\";\n    const agente = conversa.bot_message || \"sem resposta\";\n    \n    // Verifica se a data existe e formata\n    const dataOriginal = conversa.created_at || \"Data da Mensagem indisponível\";\n    const dataFormatada = dataOriginal !== \"Data da Mensagem indisponível\"\n      ? formatarData(dataOriginal)\n      : dataOriginal;\n\n    return `em: ${dataFormatada}\\n\\n - agente(chatbot): ${agente} \\n - cliente: ${cliente}\\n`;\n  }).join('\\n\\n');\n\n  // Retorna o texto final como resultado\n  return {\n    json: {\n      texto: textoUnico\n    }\n  };\n});\n\n// Função para formatar a data\nfunction formatarData(dataString) {\n  const data = new Date(dataString); // Converte a string em objeto Date\n  if (isNaN(data)) {\n    return \"Data inválida\"; // Retorna se a data não for válida\n  }\n  \n  // Formata no padrão DD/MM/YYYY HH:mm\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0'); // Mês começa em 0\n  const ano = data.getFullYear();\n  const horas = String(data.getHours()).padStart(2, '0');\n  const minutos = String(data.getMinutes()).padStart(2, '0');\n  \n  return `${dia}/${mes}/${ano} ${horas}:${minutos}`;\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[992,384],"id":"7d8ba42e-e34b-4372-92fa-d5c7dbbde229","name":"Code4"},{"parameters":{"tableId":"chat_messages","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Aggregate').item.json.conversas.last().phone }}"},{"fieldId":"message_type","fieldValue":"={{ $('Aggregate').item.json.conversas.last().message_type }}"},{"fieldId":"bot_message","fieldValue":"={{ $json.text }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2032,368],"id":"e9c7daed-655a-4a68-b411-43222fcb2531","name":"Supabase2","credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[432,368],"id":"93573938-830b-42ba-9aa6-be26f3ce7084","name":"Loop Over Items2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1952,576],"id":"21fad11a-204e-4e59-b9fc-5e8b0cf8190f","name":"Wait2","webhookId":"88302532-fa1b-4e15-b77a-e85dedce41a0"},{"parameters":{"content":"","height":840,"width":2640,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"8bf941f1-dec3-4423-9629-1a13e4a51098","name":"Sticky Note58"},{"parameters":{"content":"# Follow up Whatsapp","height":80,"width":393,"color":4},"id":"c60e6fbf-4f59-4d9f-85e4-480a9062c72e","name":"Sticky Note59","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[48,48]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1072,576],"id":"a2922ade-99ad-42e6-bbb6-ffafcb5eb78e","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"conversas","include":"specifiedFields","fieldsToInclude":"id,message_type,created_at,user_message, bot_message,phone","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[784,384],"id":"69365a94-a618-4fbe-800e-983843994c33","name":"Aggregate"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1296,160],"id":"efd6ec7d-e2e1-413c-8e89-c86443724527","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c9c00627-84a9-49a9-bc7e-d923a5918346","name":"output","value":"={{ $json.text }}","type":"string"},{"id":"0e34f673-b6dc-4748-89d2-a178dfe91853","name":"phone","value":"={{ $('ListChats-Supabase').item.json.phone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2112,208],"id":"6e68ee70-fe66-491a-86d2-68ed11487f90","name":"SetConfig1"},{"parameters":{"promptType":"define","text":"=# Você é um agente facilitador de vendas e está buscando conversas não finalizadas entre o cliente e um agent de IA. \n\n# Cria a somente a resposta não precisa justificar sua resposta\n\n# Identifique o cliente não enviou mais mensagens de resposta\n\n# Se o cliente não responder mesmo assim, agradeça e diga que irá encerrar o pedido e está a disposição para outros pedidos\n\n# Use frase simples e naturais como nos exemplos\n\nExemplos : \n- 'Posso pedir um personal para entrar em contato?' \n\n# Conversa entre o cliete e o agente de IA:\n{{ $json.texto }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1616,208],"id":"03c52f6a-877d-4f4a-8768-04755482ed0e","name":"Basic LLM Chain2"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"50 8 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[32,368],"id":"8685ea39-4c27-42d0-941e-55ef5e2639d2","name":"Schedule Trigger"},{"parameters":{"resource":"messages-api","instanceName":"Estevão - Business","remoteJid":"={{ $('Loop Over Items2').item.json.phone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2272,64],"id":"cf7ac1e3-2b28-49ab-b67f-8c9a6bca8842","name":"Enviar texto","credentials":{"evolutionApi":{"id":"XXmpuvteVUlf93Q4","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"Estevão - Business","remoteJid":"={{ $('Loop Over Items2').item.json.phone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2288,208],"id":"6bd96fb3-fa19-4d03-806c-e457d62c6a4e","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"XXmpuvteVUlf93Q4","name":"Evolution account"}}}],"connections":{"ListChats-Supabase":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"ListMessages-Supabase":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"DisableMessage-Supabase":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"SetConfig":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"SetConfig","type":"main","index":0},{"node":"Supabase2","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}],[{"node":"Basic LLM Chain2","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"ListMessages-Supabase","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"DisableMessage-Supabase","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Aggregate":{"main":[[{"node":"Code4","type":"main","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain2","type":"ai_languageModel","index":0}]]},"SetConfig1":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"Basic LLM Chain2":{"main":[[{"node":"SetConfig1","type":"main","index":0},{"node":"Supabase2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"ListChats-Supabase","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}