2025/12/13/Importa Categorias e Tags.json
{"nodes":[{"parameters":{},"id":"898edc9d-e62b-4445-88e8-4126597557ef","name":"Executar","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-544,64]},{"parameters":{"content":"## TROQUE OS DADOS","height":306,"width":267},"id":"8da79f9c-c803-4546-8ee4-e337d4e7a825","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,-48]},{"parameters":{"assignments":{"assignments":[{"id":"0bbc1389-0f6a-4ecf-a658-1a69c9f98132","name":"Planilha ID","value":"1NGEXV6QOZEktGZ5-HjUftzjEnYbsZaR_0xUdmvsrnCc","type":"string"},{"id":"2d3c9387-7ddf-408e-bde2-1f659f978ba8","name":"URL do Site","value":"https://estevaoferreira.com.br","type":"string"},{"id":"a5699b67-55cf-44a7-90b2-a558daa5c010","name":"Planilha Aba Categorias","value":"1695428958","type":"string"},{"id":"2684ae76-cf9c-4f89-950e-a425cd0bf943","name":"Planilha Aba Tags","value":"1869950791","type":"string"}]},"options":{}},"id":"a7af2f2b-a5fd-463d-bc8c-4bc1af268fc9","name":"variaveis","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-256,64]},{"parameters":{"content":"Configure o **Timezone** nos 3 pontinhos ao lado do save antes de ativar","height":220.4568364843337,"width":184.478415473571},"id":"db495707-3398-4875-ae20-abb472a78edf","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-576,-208]},{"parameters":{"content":"## Google Sheets\nSelecione apenas a **Credencial** do Google Sheets\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n❌ [**Erros Comuns do Google Sheets**](https://trello.com/c/V7wmteYt/11-planilha-do-google-com-erro)","height":547,"width":345},"id":"165e9d86-3301-4f1e-aaa5-384d85c4272f","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[352,-48]},{"parameters":{"url":"={{ $node['variaveis'].json[\"URL do Site\"] }}/wp-json/wp/v2/categories","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"per_page","value":"={{ 100 }}"},{"name":"page","value":"={{ 1 }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"469bab2a-021d-4737-b4ad-138d67a43054","name":"Wordpress - Categorias","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[64,64],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"wordpressApi":{"id":"jSrkhXanhzqPAK6M","name":"estevaoferreira.com.br"}}},{"parameters":{"url":"={{ $node['variaveis'].json[\"URL do Site\"] }}/wp-json/wp/v2/tags","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"per_page","value":"={{ 100 }}"},{"name":"page","value":"={{ 1 }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"984c9417-cf94-4b54-828d-5b7c8efd1525","name":"Wordpress - Tags","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[64,272],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"wordpressApi":{"id":"jSrkhXanhzqPAK6M","name":"estevaoferreira.com.br"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"={{ $node['variaveis'].json[\"Planilha ID\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $node['variaveis'].json[\"Planilha Aba Categorias\"] }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Categorias":"={{ $('Wordpress - Categorias').item.json.id }} - {{ $('Wordpress - Categorias').item.json.name }}"},"matchingColumns":["Categorias"],"schema":[{"id":"Categorias","displayName":"Categorias","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"5b8da196-a0de-41af-94a2-41da21151576","name":"Google Sheets - Atualizar categorias","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[464,64],"retryOnFail":true,"maxTries":null,"waitBetweenTries":5000,"executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"={{ $node['variaveis'].json[\"Planilha ID\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $node['variaveis'].json[\"Planilha Aba Tags\"] }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Tags":"={{ $('Wordpress - Tags').item.json.id }} - {{ $('Wordpress - Tags').item.json.name }}"},"matchingColumns":["Tags"],"schema":[{"id":"Tags","displayName":"Tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"7c9e0217-c81a-4ec9-a505-66fbac00e2be","name":"Google Sheets - Atualizar tags","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[464,272],"retryOnFail":true,"maxTries":null,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"content":"## Wordpress\nSelecione as credenciais do Wordpress\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n❌ [**Erros Comuns do Wordpress**](https://trello.com/c/vhORuZah/9-credencial-do-wordpress)","height":553,"width":349},"id":"5496f204-1887-41da-8a5b-865884a1b1a5","name":"Sticky Note31","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-32,-48]},{"parameters":{"rule":{"interval":[{"field":"weeks","weeksInterval":"={{ 1 }}","triggerAtHour":11,"triggerAtMinute":"={{ 0 }}"}]}},"id":"068f9566-3e54-4fd3-8a63-6322fa9ad195","name":"Toda semana","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-544,-128]}],"connections":{"Executar":{"main":[[{"node":"variaveis","type":"main","index":0}]]},"variaveis":{"main":[[{"node":"Wordpress - Categorias","type":"main","index":0},{"node":"Wordpress - Tags","type":"main","index":0}]]},"Wordpress - Categorias":{"main":[[{"node":"Google Sheets - Atualizar categorias","type":"main","index":0}]]},"Wordpress - Tags":{"main":[[{"node":"Google Sheets - Atualizar tags","type":"main","index":0}]]},"Toda semana":{"main":[[{"node":"variaveis","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}