2025/12/13/Mercado Livre.json
{"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[320,0],"id":"88d3bf00-364b-4b34-b533-c83b696a2319","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://www.mercadolivre.com.br/ofertas?container_id=MLB779362-1&promotion_type=lightning#filter_applied=promotion_type&filter_position=2&is_recommended_domain=false&origin=scut","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-224,-16],"id":"4c993284-aa9c-4c3c-998f-c35b3cc0549e","name":"HTTP Request"},{"parameters":{"path":"dd7b7db1-3226-48ab-a88b-f0959d830ef3","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-112,416],"id":"bdc87db9-40c4-4fda-a2e5-5399b0d131c7","name":"URL de retornos de chamada de notificação","webhookId":"dd7b7db1-3226-48ab-a88b-f0959d830ef3"},{"parameters":{"path":"07aa5c5a-0c15-4cd9-beb1-32bd57266bab","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[304,208],"id":"8f9f2cfd-0ee8-4612-9de9-896839d05d07","name":"URIs de redirect *","webhookId":"07aa5c5a-0c15-4cd9-beb1-32bd57266bab"},{"parameters":{"assignments":{"assignments":[{"id":"f8676590-03f6-4094-9da0-138729c75492","name":"Client ID:","value":"2679567251723316 ","type":"string"},{"id":"2b9289e9-72b9-4e29-9b88-6e2659031538","name":"Link hook","value":"https://auth.mercadolivre.com.br/authorization?response_type=code&client_id=2679567251723316&redirect_uri=https://webhook.watashilabs.com.br/webhook/07aa5c5a-0c15-4cd9-beb1-32bd57266bab","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,0],"id":"440acdc2-0a9e-4823-ba20-b554467fdf72","name":"EF Automations - Afiliado Mercado Livre"},{"parameters":{"url":"https://api.mercadolibre.com/users/me","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-288,-160],"id":"fb85f138-d22e-4941-8267-af39e0db08bc","name":"HTTP Request2"},{"parameters":{"method":"POST","url":"https://api.mercadolibre.com/oauth/token","sendBody":true,"bodyParameters":{"parameters":[{"name":"grant_type","value":"authorization_code"},{"name":"client_id","value":"2679567251723316"},{"name":"client_secret","value":"U5K4b1CpMzzSRlge3k3NbHQe8XYSXS2V"},{"name":"code","value":"={{ $json[\"query\"][\"code\"] }}"},{"name":"redirect_uri","value":"https://webhook.watashilabs.com.br/webhook/07aa5c5a-0c15-4cd9-beb1-32bd57266bab"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[512,208],"id":"8e8be6ac-d045-4112-a29d-bf1da1c43368","name":"HTTP Request1"},{"parameters":{"url":"={{ \"https://api.mercadolibre.com/users/\" + $node[\"HTTP Request1\"].json[\"user_id\"] + \"/items/search?limit=20&offset=0\" }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ \"Bearer \" + $node[\"HTTP Request1\"].json[\"access_token\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[720,208],"id":"33282555-e8f1-404d-bab4-03fc25c2b897","name":"Listar anúncios"},{"parameters":{"jsCode":"const results = $json.results || [];\n\nreturn results.map(id => ({\n  json: { item_id: id }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,208],"id":"a266dace-51d5-4f18-971b-5fcb2e754315","name":"Code in JavaScript"},{"parameters":{"url":"={{ \"https://api.mercadolibre.com/items/\" + $json[\"item_id\"] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ \"Bearer \" + $node[\"HTTP Request1\"].json[\"access_token\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1136,208],"id":"6bfb78bf-ef9d-4fe3-a815-4476876e5351","name":"HTTP Request3"},{"parameters":{"jsCode":"const p = $json;\n\nconst title = p.title || \"Produto\";\nconst priceNumber = typeof p.price === 'number' ? p.price : 0;\nconst price = priceNumber.toFixed(2).replace('.', ',');\nconst link = p.permalink || '';\nconst thumb = (p.thumbnail || '').replace('-I.jpg', '-O.jpg');\n\nconst textoDivulgacao = `*${title}*\n💰 R$ ${price}\n🔗 Veja mais: ${link}`;\n\nreturn {\n  id: p.id,\n  titulo: title,\n  preco: price,\n  link,\n  imagem: thumb,\n  textoDivulgacao\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,208],"id":"1aa973e8-8993-4faf-8e63-d2aa91fe2fdb","name":"Code in JavaScript1"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Estevão - pessoal","remoteJid":"=5511918675938","media":"={{ $json.imagem_produto }}","caption":"={{ $('Code in JavaScript1').item.json.titulo }}\n{{ $('Code in JavaScript1').item.json.preco }}\n{{ $('Code in JavaScript1').item.json.textoDivulgacao }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1904,208],"id":"1710345b-d5d8-4e62-afda-72f15bca68ac","name":"Enviar mensagem com produto ML","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"yNcLlaUxCcsYBcUx","name":"Pessoal"}}},{"parameters":{"url":"={{ $json.imagem }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1504,208],"id":"3199d874-b6a1-4977-9a70-719be86f8801","name":"Pesquisa imagem2"},{"parameters":{"operation":"binaryToPropery","destinationKey":"imagem_produto","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1696,208],"id":"d4ac4b67-254a-4441-a7b8-de1788d34ba4","name":"Extrair imagem do link2"},{"parameters":{"url":"=https://n8n.watashilabs.com.br/webhook-test/07aa5c5a-0c15-4cd9-beb1-32bd57266bab","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[768,16],"id":"020c917c-e128-4aca-b257-858389a54764","name":"HTTP Request4"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"EF Automations - Afiliado Mercado Livre","type":"main","index":0}]]},"URIs de redirect *":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Listar anúncios","type":"main","index":0}]]},"Listar anúncios":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Pesquisa imagem2","type":"main","index":0}]]},"Pesquisa imagem2":{"main":[[{"node":"Extrair imagem do link2","type":"main","index":0}]]},"Extrair imagem do link2":{"main":[[{"node":"Enviar mensagem com produto ML","type":"main","index":0}]]},"EF Automations - Afiliado Mercado Livre":{"main":[[]]}},"pinData":{"HTTP Request2":[{"json":{"id":672062146,"nickname":"ESTEVAOFERREIRA01","registration_date":"2020-11-13T13:19:45.000-04:00","first_name":"Estevão","last_name":"Ferreira","gender":"M","country_id":"BR","email":"estevaoeferreira9984@gmail.com","identification":{"number":"18829377759","type":"CPF"},"address":{"address":"Rua Maceió 25","city":"Jundiaí","state":"BR-SP","zip_code":"13203010"},"phone":{"area_code":null,"extension":"","number":"11943356283","verified":false},"alternative_phone":{"area_code":"","extension":"","number":""},"user_type":"normal","tags":["normal","messages_as_seller"],"logo":null,"points":1,"site_id":"MLB","permalink":"http://perfil.mercadolivre.com.br/ESTEVAOFERREIRA01","seller_experience":"NEWBIE","bill_data":{"accept_credit_note":null},"seller_reputation":{"level_id":null,"power_seller_status":null,"transactions":{"canceled":0,"completed":0,"period":"historic","ratings":{"negative":0,"neutral":0,"positive":0},"total":0},"metrics":{"sales":{"period":"365 days","completed":0},"claims":{"period":"365 days","rate":0,"value":0},"delayed_handling_time":{"period":"365 days","rate":0,"value":0},"cancellations":{"period":"365 days","rate":0,"value":0}}},"buyer_reputation":{"canceled_transactions":0,"tags":[],"transactions":{"canceled":{"paid":null,"total":null},"completed":null,"not_yet_rated":{"paid":null,"total":null,"units":null},"period":"historic","total":null,"unrated":{"paid":null,"total":null}}},"status":{"billing":{"allow":true,"codes":[]},"buy":{"allow":true,"codes":[],"immediate_payment":{"reasons":[],"required":false}},"confirmed_email":true,"shopping_cart":{"buy":"allowed","sell":"allowed"},"immediate_payment":false,"list":{"allow":true,"codes":[],"immediate_payment":{"reasons":[],"required":false}},"mercadoenvios":"not_accepted","mercadopago_account_type":"personal","mercadopago_tc_accepted":true,"required_action":null,"sell":{"allow":true,"codes":[],"immediate_payment":{"reasons":[],"required":false}},"site_status":"active","user_type":"simple_registration"},"secure_email":"eesteva.1n33194@mail.mercadolivre.com","company":{"brand_name":"Estevão soluções de TI","city_tax_id":"","corporate_name":"","identification":"","state_tax_id":"","cust_type_id":"CO","soft_descriptor":null},"credit":{"consumed":0,"credit_level_id":"MLB5","rank":"payer"},"context":{"device":"web-desktop","flow":"bookmark","ip_address":"177.83.164.100","source":"mercadolibre"},"registration_identifiers":[{"user_identifier":"5511943356283","registration_type":"phone_identifier","creation_date":"2024-02-19T16:52:43-04:00","last_updated":"2024-02-19T16:52:43-04:00","metadata":{"country_code":"55","number":"11943356283"}}]},"pairedItem":{"item":0}}],"URIs de redirect *":[{"json":{"headers":{"host":"webhook.watashilabs.com.br","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:146.0) Gecko/20100101 Firefox/146.0","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8","accept-encoding":"gzip, deflate, br, zstd","accept-language":"pt-BR,pt;q=0.8,en-US;q=0.5,en;q=0.3","cookie":"rl_session=RudderEncrypt%3AU2FsdGVkX19IFcGL0xq4zqiRe3xz8sSfIeBIb0SWq3lF2I5lTxpH%2B1HlPKvQoFxwrR1vACrxHWa85pie6iSB5vUUkfUGE4I8W7RQedm3pq0edRmEKC4jbziWq0L4SS5ZxdQIK0%2F1PHHYjXCkiVNd2w%3D%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2BoIoDNzSTAP4yTow2rclS2svHKa6rAkKTXZrbjBF%2FMbKtXI3dCIjD3Y0DpHBPLpXKlzKvwqLroAw%3D%3D; rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX181WmkqUm%2FuZxkQObHuHK9vhhFfaLgoSvA%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19bz94rRuiWDwueNcfZfnHvfCS7dOQNCD4%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19H3%2Bl3y0wvv9cXXQLGqEUZ%2FMXDrCjHQI%2Fo8K%2BHlBcY0UfUGvWP7N%2B3BuhnnUcsqwUpiFIoVPd3BZO%2Bq%2FQ%2FTmlEtTwBZO3HivfQtUha7jQ7b7bOZsg55J7Dgw3hF%2FnMILJspZFgMg2mCcQCaA20JGvSiOt6z2B0N4s%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2BlWxWJYytMysChOo6BU38rb1%2B%2FQeFS6sjhOH652C%2FjjFNhuYLvajP%2B0hbmTEYoXqPcuqY9xyoC%2BQPaaBPZuZX7Oc9erWY1tWrEnXyDVHMe1uSELgNRsN3BsXUbwFgRE0KfSgZXp4NThc8BTRh0sCRpS5hdU%2FQh7K0%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%2278e3f023c3291fc03c77a434bd90ba9f2e862deca67afacaa952c22d15d69047%2307e541e8-b891-44e9-98d8-b5694401be50%22%2C%22%24sesid%22%3A%5B1765400153120%2C%22019b09eb-8813-78c1-a4ac-cc3957a89837%22%2C1765397989393%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.watashilabs.com.br%2Fsignin%3Fredirect%3D%25252F%22%7D%7D","priority":"u=0, i","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"none","sec-fetch-user":"?1","te":"trailers","upgrade-insecure-requests":"1","x-forwarded-for":"45.175.112.106","x-forwarded-host":"webhook.watashilabs.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"833c51d2224c","x-real-ip":"45.175.112.106"},"params":{},"query":{"code":"TG-6939de59807aeb00011bc724-672062146"},"body":{},"webhookUrl":"https://webhook.watashilabs.com.br/webhook/07aa5c5a-0c15-4cd9-beb1-32bd57266bab","executionMode":"production"},"pairedItem":{"item":0}}]},"meta":{"templateCredsSetupCompleted":true}}