2025/12/13/My workflow 8.json
{"nodes":[{"parameters":{"httpMethod":"POST","path":"170ca3cd-38ad-4c68-a485-55d975a05c22","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-656,-64],"id":"d8d2083d-a804-4b0a-b6db-296082e08fb3","name":"Webhook","webhookId":"170ca3cd-38ad-4c68-a485-55d975a05c22"},{"parameters":{"operation":"getAll","tableId":"users","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $json.Phone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-240,-64],"id":"e75546d6-ffb7-4cdd-ac92-b4a3e2a17ca0","name":"Pega dados no BD","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d81a5d04-a1d8-4542-9cbb-f5883e6606ec","leftValue":"={{ $json.phone }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-32,-64],"id":"f6859d5d-ce08-4599-84af-3ef30710c81f","name":"Verifica se Existe"},{"parameters":{"tableId":"users","fieldsUi":{"fieldValues":[{"fieldId":"name","fieldValue":"={{ $('Dados Cliente').item.json.Name }}"},{"fieldId":"phone","fieldValue":"={{ $('Dados Cliente').item.json.Phone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[224,-192],"id":"4c835517-3b8e-4528-b869-5de6b20af949","name":"Cria usuário","credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"0a00a88f-c380-433a-a2a9-f77de91cd955","name":"Name","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"2d6f30a9-9d63-4e62-9b2a-4205388faf9c","name":"Phone","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"412c9a85-8bfa-4566-9831-c9aa145ad5d9","name":"Last Message","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,-64],"id":"91863c75-7c12-4032-8f18-c922fbbbe10e","name":"Dados Cliente"},{"parameters":{"resource":"messages-api","operation":"send-buttons","instanceName":"Estevão - pessoal","remoteJid":"5511975731391@s.whatsapp.net","title":"teste","description":"teste","footer":"teste","buttons":{"buttonValues":[{"displayText":"teste","id":"3EB013C334B6BA03A98F11"}]}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[544,-144],"id":"d5bce8b9-caad-4f5b-86bf-0c87a833a531","name":"Enviar bot es","credentials":{"evolutionApi":{"id":"yNcLlaUxCcsYBcUx","name":"Pessoal"}}},{"parameters":{"method":"POST","url":"=https://api.watashilabs.com.br/message/sendText/Estevão - pessoal","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"AAD409A12084-45AF-8608-06DB89A4E1F4"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"5511975731391@s.whatsapp.net"},{"name":"text","value":"teste"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[288,112],"id":"e3b374f0-b051-4c7b-bcdc-17f87098c4c0","name":"HTTP Request"},{"parameters":{"method":"POST","url":"=https://api.watashilabs.com.br/message/sendList/Estevão - pessoal","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"AAD409A12084-45AF-8608-06DB89A4E1F4"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[288,384],"id":"320a1ccf-b5bb-4be5-9aa6-25ccefacae6c","name":"HTTP Request1"}],"connections":{"Webhook":{"main":[[{"node":"Dados Cliente","type":"main","index":0}]]},"Pega dados no BD":{"main":[[{"node":"Verifica se Existe","type":"main","index":0}]]},"Verifica se Existe":{"main":[[{"node":"Cria usuário","type":"main","index":0}],[]]},"Cria usuário":{"main":[[]]},"Dados Cliente":{"main":[[{"node":"Pega dados no BD","type":"main","index":0}]]}},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.watashilabs.com.br","user-agent":"axios/1.13.2","content-length":"1779","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.watashilabs.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"833c51d2224c","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Estevão - Business","data":{"key":{"remoteJid":"5511943356283@s.whatsapp.net","remoteJidAlt":"232014250823691@lid","fromMe":false,"id":"3EB013C334B6BA03A98F11","participant":"","addressingMode":"pn"},"pushName":"~ Estevão Ferreira ~","status":"DELIVERY_ACK","message":{"messageContextInfo":{"threadId":[],"deviceListMetadata":{"senderKeyIndexes":[],"recipientKeyIndexes":[],"senderKeyHash":{"0":70,"1":116,"2":81,"3":36,"4":29,"5":140,"6":124,"7":9,"8":16,"9":232},"senderTimestamp":{"low":1763994248,"high":0,"unsigned":true},"senderAccountType":0,"receiverAccountType":0,"recipientKeyHash":{"0":219,"1":209,"2":5,"3":235,"4":175,"5":6,"6":0,"7":19,"8":5,"9":96},"recipientTimestamp":{"low":1765053157,"high":0,"unsigned":true}},"deviceListMetadataVersion":2,"messageSecret":{"0":228,"1":26,"2":225,"3":178,"4":193,"5":191,"6":178,"7":5,"8":0,"9":114,"10":152,"11":23,"12":124,"13":100,"14":220,"15":230,"16":150,"17":236,"18":108,"19":71,"20":236,"21":132,"22":109,"23":113,"24":135,"25":246,"26":17,"27":155,"28":156,"29":233,"30":221,"31":138},"limitSharingV2":{"trigger":0,"initiatedByMe":false}},"conversation":"opa"},"contextInfo":{"mentionedJid":[],"groupMentions":[],"statusAttributions":[],"ephemeralSettingTimestamp":{"low":1765141080,"high":0,"unsigned":false},"disappearingMode":{"initiator":0,"trigger":1,"initiatedByMe":false}},"messageType":"conversation","messageTimestamp":1765314781,"instanceId":"ab0dc9e6-3b39-4a1d-9052-7c3ee57a3ce4","source":"web"},"destination":"https://webhook.watashilabs.com.br/webhook/170ca3cd-38ad-4c68-a485-55d975a05c22","date_time":"2025-12-09T18:13:01.347Z","sender":"5511918675938@s.whatsapp.net","server_url":"https://api.watashilabs.com.br","apikey":"ABE889E3C71F-4A93-A0C6-6627A2DAF723"},"webhookUrl":"https://webhook.watashilabs.com.br/webhook/170ca3cd-38ad-4c68-a485-55d975a05c22","executionMode":"production"},"pairedItem":{"item":0}}]},"meta":{"templateCredsSetupCompleted":true}}