2025/12/13/My workflow 5.json
{"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":2000911832,"mode":"list","cachedResultName":"Golden ADS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=2000911832"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"nao_enviado"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1696,144],"id":"a72c5332-6790-4c1c-8d2e-1237374dfdb8","name":"Pega produto na planilha2","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"url":"={{ $json.Imagem }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2896,144],"id":"5ad108d9-37cf-443d-b74d-694d2b6f56c0","name":"Pesquisa imagem1"},{"parameters":{"operation":"binaryToPropery","destinationKey":"imagem_produto","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2336,144],"id":"8d32f434-d6c0-4ce1-af01-b111f3471cd5","name":"Extrair imagem do link1"},{"parameters":{"promptType":"define","text":"=Nomde do Produto: {{ $('Pega produto na planilha2').item.json.Nome }}\nMensagem pronta de envio: {{ $('Pega produto na planilha2').item.json['Mensagem pronta'] }}\nLink de Oferta: {{ $('Pega produto na planilha2').item.json['Página de venda'] }}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[2464,352],"id":"0e980295-e7de-4f50-a715-f6ef4bbbb1d4","name":"AI Agent2"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2160,512],"id":"fc8a5e05-64dd-4d2a-9e89-8d4cf444663e","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Estevão - pessoal","remoteJid":"={{ $('Pega \\'telefone\\' dos grupos1').item.json['Número do grupo'] }}","media":"={{ $('Extrair imagem do link1').item.json.imagem_produto }}","caption":"={{ $('Pega produto na planilha2').item.json['Mensagem pronta'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2800,624],"id":"bf6e6041-7d9e-4af1-a8e3-ddc67896687d","name":"Enviar imagem1","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"yNcLlaUxCcsYBcUx","name":"Pessoal"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * 5) + 40 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2512,624],"id":"bfac2c1a-6410-4a55-a052-447ce3941cba","name":"Wait1","webhookId":"1717c0cb-3a74-4962-a2a6-0645684ae23a"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2192,608],"id":"43cd7163-bc8b-471a-9487-e074d3bd22a2","name":"Loop Over Items"},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":309245581,"mode":"list","cachedResultName":"Grupos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=309245581"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1552,608],"id":"c85dff8f-3d23-4b5a-bd4a-7671a18f4ef5","name":"Pega 'telefone' dos grupos1","credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":2000911832,"mode":"list","cachedResultName":"Golden ADS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=2000911832"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_produto }}","Status":"enviado"},"matchingColumns":["row_number"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tipo","displayName":"Tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Página de venda","displayName":"Página de venda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Mensagem pronta","displayName":"Mensagem pronta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Imagem","displayName":"Imagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Material de divulgação","displayName":"Material de divulgação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Criativos","displayName":"Criativos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Drive Produtor","displayName":"Drive Produtor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Script de atendimento","displayName":"Script de atendimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Cupom de desconto","displayName":"Cupom de desconto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Página do produto","displayName":"Página do produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2208,1056],"id":"f4bead95-5539-4f94-8e91-20ebda5187bd","name":"Pega produto na planilha3","credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b9ac5523-a007-4069-8263-37d73524fb2a","name":"row_produto","value":"={{ $('Pega produto na planilha2').item.json.row_number }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,1056],"id":"9843b1d6-edb7-4627-b593-b69020fa31f4","name":"Edit Fields1"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1760,-112],"id":"9b9b1e96-f552-49db-ad2f-8a056427f1f1","name":"Schedule Trigger5","disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":12,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1968,-112],"id":"ebfd5ffd-44be-4224-9f34-2db715552864","name":"Schedule Trigger6","disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":16,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[2224,-112],"id":"a8e83d4d-dc9e-40ac-8d21-977113b66233","name":"Schedule Trigger7","disabled":true},{"parameters":{"model":"llama-3.1-8b-instant","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[2352,448],"id":"11f20c9f-159d-49c2-88ba-95c360ce9a98","name":"Groq Chat Model1","credentials":{"groqApi":{"id":"goykBSqf3Way2XVY","name":"Groq account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1440,144],"id":"0116c721-c3de-4234-8fe2-1baa1fbb7286","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.Imagem }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1904,144],"id":"d8a4448b-adf6-492e-b510-bb84c77b08a4","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"HZOKSVKLRv4VZ1Im","name":"Google Drive account"}}},{"parameters":{"operation":"resize","width":1080,"height":1080,"options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[2112,144],"id":"349312c5-a624-43e4-94e5-865e8628a505","name":"Edit Image1"}],"connections":{"Pega produto na planilha2":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Pesquisa imagem1":{"main":[[]]},"Extrair imagem do link1":{"main":[[{"node":"Pega 'telefone' dos grupos1","type":"main","index":0}]]},"AI Agent2":{"main":[[]]},"Enviar imagem1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Enviar imagem1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Pega 'telefone' dos grupos1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Pega produto na planilha3","type":"main","index":0}]]},"Schedule Trigger5":{"main":[[{"node":"Pega produto na planilha2","type":"main","index":0}]]},"Schedule Trigger6":{"main":[[{"node":"Pega produto na planilha2","type":"main","index":0}]]},"Schedule Trigger7":{"main":[[{"node":"Pega produto na planilha2","type":"main","index":0}]]},"Groq Chat Model1":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Pega produto na planilha2","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Edit Image1","type":"main","index":0}]]},"Edit Image1":{"main":[[{"node":"Extrair imagem do link1","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}