2025/12/13/Shopee - Lista Produtos.json
{"nodes":[{"parameters":{"method":"POST","url":"=https://open-api.affiliate.shopee.com.br/graphql","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $json.authorizationHeader }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.requestBody }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-512,864],"id":"aeabcc46-2241-4936-a2a2-949714998af4","name":"API Shopee3"},{"parameters":{"jsCode":"const crypto = require('crypto');\n\n// --- Suas credenciais da Shopee ---\nconst appId = '18398850421';\nconst secret = 'Q24H7XRYJKETZ7FTTSCL3GL7XLKFV5VV';\n\n// --- IDs do produto que você quer consultar (usaremos para filtrar DEPOIS da requisição) ---\n\n\n// --- 1. Definir o Payload da Requisição GraphQL (SEM ARGUMENTOS DE FILTRO) ---\nconst graphqlPayloadObject = {\n  query: `\n    query GetProductOffers {\n      productOfferV2 { // <--- Chamando sem argumentos\n        nodes {\n          productName\n          itemId\n          shopId\n          commissionRate\n          commission\n          price\n          sales\n          imageUrl\n          shopName\n          productLink\n          offerLink\n          periodStartTime\n          periodEndTime\n          priceMin\n          priceMax\n          productCatIds\n          ratingStar\n          priceDiscountRate\n          shopType\n          sellerCommissionRate\n          shopeeCommissionRate\n        }\n        pageInfo {\n          page\n          limit\n          hasNextPage\n          scrollId\n        }\n      }\n    }\n  `,\n  variables: {} // Objeto de variáveis vazio, pois não estamos passando argumentos\n};\n\n// O payload para a assinatura deve ser a string JSON exata que será enviada.\nconst payloadString = JSON.stringify(graphqlPayloadObject);\n\n// --- 2. Obter o Timestamp Atual ---\nconst timestamp = Math.floor(Date.now() / 1000);\n\n// --- 3. Construir o Fator de Assinatura ---\nconst signatureFactor = `${appId}${timestamp}${payloadString}${secret}`;\n\n// --- 4. Calcular a Assinatura SHA256 ---\nconst signature = crypto.createHash('sha256').update(signatureFactor).digest('hex');\n\n// --- 5. Gerar o Cabeçalho de Autorização ---\nconst authorizationHeader = `SHA256 Credential=${appId}, Timestamp=${timestamp}, Signature=${signature}`;\n\n// Retornar os dados necessários para o próximo nó (HTTP Request)\nreturn [{\n  json: {\n    authorizationHeader: authorizationHeader,\n    requestBody: graphqlPayloadObject\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,864],"id":"f90c64a5-01d4-42b9-ba00-70a7fe226013","name":"Prepara Query para API Shopee3"},{"parameters":{"jsCode":"const prod = $json;\n\nfunction formatFaixaPreco(pminRaw, pmaxRaw) {\n  const toNum = v => Number(String(v ?? '').replace(',', '.'));\n  const pmin = toNum(pminRaw);\n  const pmax = toNum(pmaxRaw);\n  const fmt = v => isFinite(v) ? ('R$ ' + v.toFixed(2).replace('.', ',')) : null;\n  if (!isFinite(pmin) && !isFinite(pmax)) return 'Indisponível';\n  if (isFinite(pmin) && isFinite(pmax)) {\n    if (Math.abs(pmax - pmin) < 0.01) return fmt(pmin);\n    const spread = (pmax - pmin) / Math.max(pmin, 0.01);\n    return spread >= 0.2 ? ('a partir de ' + fmt(pmin)) : ('de ' + fmt(pmin) + ' a ' + fmt(pmax));\n  }\n  if (isFinite(pmin)) return 'a partir de ' + fmt(pmin);\n  if (isFinite(pmax)) return 'até ' + fmt(pmax);\n  return 'Indisponível';\n}\n\nreturn [\n  {\n    json: {\n      nome: prod.productName,\n      id: prod.itemId,\n      loja: prod.shopName,\n      vendas: Number(prod.sales),\n      avaliacao: prod.ratingStar,\n      comissao: Number(prod.commission),\n      comissaoPercent: Number(prod.commissionRate) * 100,\n      preco: Number(prod.price),\n      faixaPreco: formatFaixaPreco(prod.priceMin, prod.priceMax),\n      desconto: prod.priceDiscountRate,\n      imagem: prod.imageUrl,\n      link: prod.productLink,\n      linkAfiliado: prod.offerLink,\n      categorias: prod.productCatIds\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,880],"id":"7f19362a-bb88-4db9-9946-6246ff44257e","name":"Extrai Informações3"},{"parameters":{"jsCode":"const items = $input.all();\nconst resultados = [];\n\n// Percorre todos os items do input\nfor (const item of items) {\n  const nodes = item.json?.data?.productOfferV2?.nodes || [];\n  for (const prod of nodes) {\n    if (Number(prod.sales) > 5000) {\n      resultados.push({ json: prod });\n    }\n  }\n}\n\nreturn resultados;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-304,864],"id":"bf50a956-db0a-487b-a23d-6eb70d0eded3","name":"Code3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-96,864],"id":"42089914-4c3f-4004-a3f6-8860bb2f1344","name":"Loop Over Items3"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Produtos shopee","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Status":"nao_enviado","ID":"={{ $('Extrai Informações3').item.json.id }}","Item Name":"={{ $('Extrai Informações3').item.json.nome }}","Price":"={{ $('Extrai Informações3').item.json.preco }}","Sales":"={{ $('Extrai Informações3').item.json.vendas }}","Shop Name":"={{ $('Extrai Informações3').item.json.loja }}","Commission Rate":"={{ $('Extrai Informações3').item.json.comissaoPercent }}","Commission":"={{ $('Extrai Informações3').item.json.comissao }}","Product Link":"={{ $('Extrai Informações3').item.json.link }}","Offer Link":"={{ $('Extrai Informações3').item.json.linkAfiliado }}"},"matchingColumns":[],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Item Name","displayName":"Item Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Price","displayName":"Price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sales","displayName":"Sales","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Shop Name","displayName":"Shop Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Commission Rate","displayName":"Commission Rate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Commission","displayName":"Commission","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Product Link","displayName":"Product Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Offer Link","displayName":"Offer Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Finalizado em","displayName":"Finalizado em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[864,896],"id":"9e3657b9-38ab-4140-aade-de5e85f6e4f2","name":"Adiciona produto na planilha2","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Produtos shopee","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ID","lookupValue":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[384,880],"id":"40252c05-16e0-44c0-b35c-e25a1f89287b","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca6a2dd3-bb03-4c47-b07c-bb3224f3bd6b","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[592,880],"id":"75c75dff-7d1c-4940-8748-298ad0c62e83","name":"If"},{"parameters":{"content":"","height":416,"width":2128,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-784,720],"id":"40a7d74d-1a24-4dc0-bb5d-f36c8b0a79ef","name":"Sticky Note24"},{"parameters":{"content":"# Alimenta lista de produtos shopee","height":96,"width":608,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-784,720],"id":"4835cf44-b1f1-4f33-8e6c-c6ee53f3b932","name":"Sticky Note25"},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Produtos shopee","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"nao_enviado"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[32,432],"id":"e64d88e0-13ae-4006-9c5b-3e96b90b9e77","name":"Get row(s) in sheet1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"659049be-e916-4801-a50a-de412742ff37","leftValue":"={{ $items().length }}","rightValue":3,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,432],"id":"30446963-b2e8-46b0-8654-ec3c30762b91","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[448,416],"id":"ab0d2570-c529-48c2-bd06-37c940f8950b","name":"No Operation, do nothing"},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-704,432],"id":"a8f425d4-347a-4b28-87fc-10ebf4c55ea8","name":"Schedule Trigger6"},{"parameters":{"rule":{"interval":[{"triggerAtHour":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-240,432],"id":"e3f3292e-29d0-4adf-ac59-40a90a9186af","name":"Schedule Trigger7"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-496,432],"id":"eae4c193-7593-4265-b8d8-65208e02989b","name":"Schedule Trigger8"},{"parameters":{"content":"","height":368,"width":1776},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-784,320],"id":"a2eb9deb-5464-431c-a22b-6d00d3c56a2e","name":"Sticky Note26"},{"parameters":{"content":"# Verifica se já tem o suficiente na planilha","height":80,"width":688,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-784,320],"id":"575c01b5-3a12-4764-9480-8919a4babf50","name":"Sticky Note27"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-720,64],"id":"fe624d71-672e-46fb-9620-aa2f2ea911ed","name":"Schedule Trigger"},{"parameters":{"operation":"clear","documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Produtos shopee","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=0"},"clear":"specificRange","range":"A2:K"},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-528,64],"id":"a9debf32-1b5c-4cff-97f6-56143f868000","name":"Clear sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"content":"### Zera planilha de produtos para sempre produtos novos no dia","height":80,"width":512,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-800,-96],"id":"71c9ee3b-9865-43ec-b711-75f5c40cc812","name":"Sticky Note"},{"parameters":{"content":"","height":384,"width":512,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-800,-96],"id":"348d4f80-efbf-4ec5-8d95-25cbe2446770","name":"Sticky Note1"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-976,864],"id":"10a441d5-9750-4e16-b055-e3eb397c0840","name":"Schedule Trigger9","disabled":true}],"connections":{"API Shopee3":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Prepara Query para API Shopee3":{"main":[[{"node":"API Shopee3","type":"main","index":0}]]},"Extrai Informações3":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Extrai Informações3","type":"main","index":0}]]},"Adiciona produto na planilha2":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Adiciona produto na planilha2","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Prepara Query para API Shopee3","type":"main","index":0}]]},"Schedule Trigger6":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Schedule Trigger7":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Schedule Trigger8":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Clear sheet","type":"main","index":0}]]},"Schedule Trigger9":{"main":[[{"node":"Prepara Query para API Shopee3","type":"main","index":0}]]}},"pinData":{},"meta":null}