2025/12/27/Captura grupos.json
{"nodes":[{"parameters":{"httpMethod":"POST","path":"8db90a5d-0f23-44b8-8c3c-45ef1fd6345c","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-608,-112],"id":"648ffef3-f070-41cb-990d-2d2c9cbe3f13","name":"Webhook","webhookId":"8db90a5d-0f23-44b8-8c3c-45ef1fd6345c"},{"parameters":{"jsCode":"// O array 'items' contém os dados de entrada do nó anterior\nconst inputItem = items[0]; // Assumimos que há pelo menos um item de entrada\n\n// Caminho para o remoteJid no seu JSON\nconst remoteJidPath = inputItem?.json?.body?.data?.key?.remoteJid;\n\nlet outputValue;\n\n// Verifica se remoteJid existe e se termina com \"@g.us\"\nif (remoteJidPath && remoteJidPath.endsWith('@g.us')) {\n  outputValue = remoteJidPath;\n} else {\n  outputValue = 'nao tem';\n}\n\n// Retorna um array de objetos, conforme o formato esperado pela n8n\nreturn [{\n  json: {\n    groupIdentifier: outputValue // O nome da propriedade de saída\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-400,-112],"id":"5545433c-dd22-4220-b32c-70ae8354678c","name":"Code"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[128,112],"id":"552a48d4-15ac-48e5-9029-bb69c57d985c","name":"No Operation, do nothing"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":309245581,"mode":"list","cachedResultName":"Grupos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=309245581"},"columns":{"mappingMode":"defineBelow","value":{"Número do grupo":"={{ $('Code').item.json.groupIdentifier }}"},"matchingColumns":["Número do grupo"],"schema":[{"id":"Número do grupo","displayName":"Número do grupo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[656,-208],"id":"1b2721d2-ca5e-4d59-909a-13455390d5fa","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":309245581,"mode":"list","cachedResultName":"Grupos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=309245581"},"filtersUI":{"values":[{"lookupColumn":"Número do grupo","lookupValue":"={{ $json.groupIdentifier }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[128,-192],"id":"83c4a7cc-e8a1-4cbc-8729-fc89b3d17db3","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5b0ffc54-a5e8-4566-9890-d745c82dd15d","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"number","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[336,-192],"id":"7e3c11e4-dff1-4511-9518-d15b5de781d9","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5d3acdd8-a638-4202-8b27-8828a448a453","leftValue":"={{ $json.groupIdentifier }}","rightValue":"=nao tem","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-240,-112],"id":"42d63416-3839-4d13-b5ff-c729562ee472","name":"If1"}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Append row in sheet","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If1":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.watashilabs.com.br","user-agent":"axios/1.10.0","content-length":"1058","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.watashilabs.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f5b37fea3403","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Estevão - pessoal","data":{"key":{"remoteJid":"5511964416453-1595336265@g.us","fromMe":true,"id":"3EB017DB6F768AF552044D","participant":"5511943356283@s.whatsapp.net"},"pushName":"~ Estevão Ferreira ~","status":"SERVER_ACK","message":{"senderKeyDistributionMessage":{"groupId":"5511964416453-1595336265@g.us","axolotlSenderKeyDistributionMessage":"MwjnvsLvARABGiCFan7c1GBDfQ+GfImy0fKKIskwECD+JaSCvUQ9DgKbGyIhBXFuE8q8HNcuZkZmCPLXCeijkii0i9MIACrMHbzzLgZI"},"messageContextInfo":{"messageSecret":"pN6+pF8LA6DPdcA6PyltixhdPDxGad9s6IxuAfyUCMo=","limitSharingV2":{"trigger":"UNKNOWN","initiatedByMe":false}},"conversation":"."},"messageType":"conversation","messageTimestamp":1756162313,"instanceId":"e6b1dc45-7479-46ce-9dd7-92bd2d28b9a2","source":"web"},"destination":"https://webhook.watashilabs.com.br/webhook/8db90a5d-0f23-44b8-8c3c-45ef1fd6345c","date_time":"2025-08-25T19:51:53.634Z","sender":"5511943356283@s.whatsapp.net","server_url":"https://api.watashilabs.com.br","apikey":"AAD409A12084-45AF-8608-06DB89A4E1F4"},"webhookUrl":"https://webhook.watashilabs.com.br/webhook/8db90a5d-0f23-44b8-8c3c-45ef1fd6345c","executionMode":"production"}}]},"meta":{"templateCredsSetupCompleted":true}}