2025/12/27/Golden ADS.json
{"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-608,368],"id":"cc98f270-91f8-40fd-b0e9-0c6994a9a78e","name":"gatilho manual"},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":2000911832,"mode":"list","cachedResultName":"Golden ADS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=2000911832"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"nao_enviado"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-384,368],"id":"311bc0a7-84d1-4502-9a3a-3e90fbdbefd2","name":"Pega produto na planilha4","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"content":"","height":352,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-656,272],"id":"0905f127-dfc7-441e-9a4e-cc41c272f6d8","name":"Sticky Note19"},{"parameters":{"content":"## Pega informações do produto tal como a imagem","height":80,"width":576,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-656,272],"id":"f61f4385-55bf-4f36-bcfc-3fa59edeac9a","name":"Sticky Note20"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Estevão - pessoal","remoteJid":"={{ $('Pega \\'telefone\\' dos grupos2').item.json['Número do grupo'] }}","media":"={{ $('Extrair imagem do drive').item.json.imagem_produto }}","caption":"={{ $('Pega produto na planilha4').item.json['Mensagem pronta'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[112,896],"id":"e18de94b-1bbe-42f4-9a46-601acb17ae3f","name":"Enviar imagem2","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"yNcLlaUxCcsYBcUx","name":"Pessoal"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * 5) + 1}}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-96,896],"id":"7ddb421f-e935-4146-8e95-102e3f3b9a42","name":"Wait2","webhookId":"1717c0cb-3a74-4962-a2a6-0645684ae23a"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-320,880],"id":"ac66896e-5685-42bd-931c-a9a823be9eab","name":"Loop Over Items2"},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":309245581,"mode":"list","cachedResultName":"Grupos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=309245581"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-544,880],"id":"a620b5a2-c19f-4675-96b2-7e5dc427e903","name":"Pega 'telefone' dos grupos2","credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"content":"","height":432,"width":1488,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-656,736],"id":"6a41b8c1-2e17-4ad9-bc0b-b27c35e8b8db","name":"Sticky Note18"},{"parameters":{"content":"## Pega 'telefone' dos grupos, prepara mensagem e envia os produtos nos grupos","height":96,"width":672,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-656,736],"id":"a92f294d-a242-4c99-ad25-cf1fc6c595c5","name":"Sticky Note21"},{"parameters":{"content":"","height":1392,"width":1696,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-752,128],"id":"7cde8cbd-afab-40f6-8a6e-0660edd6225e","name":"Sticky Note22"},{"parameters":{"content":"# Golden ADS","height":80,"width":368,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-752,128],"id":"1baef9bd-6ff0-40d3-992f-7402a9a558c0","name":"Sticky Note23"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-336,144],"id":"df83df0e-3fdf-4598-a902-102e158a4a88","name":"Schedule Trigger8"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-128,144],"id":"ff96ec64-c7bb-48b4-9588-29bb0deb45ad","name":"Schedule Trigger9"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.Imagem }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-176,368],"id":"ac80183e-04fb-4a2f-bc3e-550f85120868","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"HZOKSVKLRv4VZ1Im","name":"Google Drive account"}}},{"parameters":{"operation":"binaryToPropery","destinationKey":"imagem_produto","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[32,368],"id":"bc7c4500-759c-4074-9bdc-aec696417f20","name":"Extrair imagem do drive"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":2000911832,"mode":"list","cachedResultName":"Golden ADS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=2000911832"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Pega produto na planilha4').item.json.row_number }}","Status":"enviado"},"matchingColumns":["row_number"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tipo","displayName":"Tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Página de venda","displayName":"Página de venda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Mensagem pronta","displayName":"Mensagem pronta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Imagem","displayName":"Imagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Material de divulgação","displayName":"Material de divulgação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Criativos","displayName":"Criativos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Drive Produtor","displayName":"Drive Produtor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Script de atendimento","displayName":"Script de atendimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Cupom de desconto","displayName":"Cupom de desconto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Página do produto","displayName":"Página do produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[368,864],"id":"4f080782-cfe0-48bf-b500-c15b7707e16c","name":"Pega produto na planilha5","credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":2000911832,"mode":"list","cachedResultName":"Golden ADS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=2000911832"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"enviado"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-400,1344],"id":"75e5b80e-4885-4f5f-94a3-3dfa65f9bd13","name":"Pega produto na planilha6","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[64,144],"id":"d26ce612-fe66-4f98-a6ca-9ae8f48faf90","name":"Schedule Trigger10"},{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,144],"id":"92ffcc5b-1caa-4bef-9601-4d1491e1501f","name":"Schedule Trigger11"},{"parameters":{"rule":{"interval":[{"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[416,144],"id":"c4acaf8a-b15b-470e-8ca9-540f60fbdbb5","name":"Schedule Trigger12"},{"parameters":{"rule":{"interval":[{"triggerAtHour":16}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[608,144],"id":"a9eaeef6-b89a-4016-b629-0a5254dd91d1","name":"Schedule Trigger13"},{"parameters":{"rule":{"interval":[{"triggerAtHour":18}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[784,144],"id":"ae2c6ea3-795f-4921-8eb9-14fb8c75f53d","name":"Schedule Trigger14"},{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-624,1344],"id":"de48c762-3b0c-4195-90f1-b786a0983fde","name":"Schedule Trigger15"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":2000911832,"mode":"list","cachedResultName":"Golden ADS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=2000911832"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","Status":"nao_enviado"},"matchingColumns":["row_number"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tipo","displayName":"Tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Página de venda","displayName":"Página de venda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Mensagem pronta","displayName":"Mensagem pronta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Imagem","displayName":"Imagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Material de divulgação","displayName":"Material de divulgação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Criativos","displayName":"Criativos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Drive Produtor","displayName":"Drive Produtor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Script de atendimento","displayName":"Script de atendimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Cupom de desconto","displayName":"Cupom de desconto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Página do produto","displayName":"Página do produto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-176,1344],"id":"85366ce7-6914-4158-9fbe-a00c68bf0e88","name":"Pega produto na planilha7","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}}],"connections":{"gatilho manual":{"main":[[{"node":"Pega produto na planilha4","type":"main","index":0}]]},"Pega produto na planilha4":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Enviar imagem2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Enviar imagem2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Pega produto na planilha5","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Pega 'telefone' dos grupos2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Schedule Trigger8":{"main":[[{"node":"Pega produto na planilha4","type":"main","index":0}]]},"Schedule Trigger9":{"main":[[{"node":"Pega produto na planilha4","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Extrair imagem do drive","type":"main","index":0}]]},"Extrair imagem do drive":{"main":[[{"node":"Pega 'telefone' dos grupos2","type":"main","index":0}]]},"Pega produto na planilha6":{"main":[[{"node":"Pega produto na planilha7","type":"main","index":0}]]},"Schedule Trigger10":{"main":[[{"node":"Pega produto na planilha4","type":"main","index":0}]]},"Schedule Trigger11":{"main":[[{"node":"Pega produto na planilha4","type":"main","index":0}]]},"Schedule Trigger12":{"main":[[{"node":"Pega produto na planilha4","type":"main","index":0}]]},"Schedule Trigger13":{"main":[[{"node":"Pega produto na planilha4","type":"main","index":0}]]},"Schedule Trigger14":{"main":[[{"node":"Pega produto na planilha4","type":"main","index":0}]]},"Schedule Trigger15":{"main":[[{"node":"Pega produto na planilha6","type":"main","index":0}]]}},"pinData":{},"meta":null}