2025/12/27/Lista Produtos shopee.json
{"nodes":[{"parameters":{"method":"POST","url":"=https://open-api.affiliate.shopee.com.br/graphql","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $json.authorizationHeader }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.requestBody }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,480],"id":"079cd437-c903-4655-9f0d-605c42feae79","name":"API Shopee3"},{"parameters":{"jsCode":"const crypto = require('crypto');\n\n// --- Suas credenciais da Shopee ---\nconst appId = '18398850421';\nconst secret = 'Q24H7XRYJKETZ7FTTSCL3GL7XLKFV5VV';\n\n// --- IDs do produto que você quer consultar (usaremos para filtrar DEPOIS da requisição) ---\n\n\n// --- 1. Definir o Payload da Requisição GraphQL (SEM ARGUMENTOS DE FILTRO) ---\nconst graphqlPayloadObject = {\n  query: `\n    query GetProductOffers {\n      productOfferV2 { // <--- Chamando sem argumentos\n        nodes {\n          productName\n          itemId\n          shopId\n          commissionRate\n          commission\n          price\n          sales\n          imageUrl\n          shopName\n          productLink\n          offerLink\n          periodStartTime\n          periodEndTime\n          priceMin\n          priceMax\n          productCatIds\n          ratingStar\n          priceDiscountRate\n          shopType\n          sellerCommissionRate\n          shopeeCommissionRate\n        }\n        pageInfo {\n          page\n          limit\n          hasNextPage\n          scrollId\n        }\n      }\n    }\n  `,\n  variables: {} // Objeto de variáveis vazio, pois não estamos passando argumentos\n};\n\n// O payload para a assinatura deve ser a string JSON exata que será enviada.\nconst payloadString = JSON.stringify(graphqlPayloadObject);\n\n// --- 2. Obter o Timestamp Atual ---\nconst timestamp = Math.floor(Date.now() / 1000);\n\n// --- 3. Construir o Fator de Assinatura ---\nconst signatureFactor = `${appId}${timestamp}${payloadString}${secret}`;\n\n// --- 4. Calcular a Assinatura SHA256 ---\nconst signature = crypto.createHash('sha256').update(signatureFactor).digest('hex');\n\n// --- 5. Gerar o Cabeçalho de Autorização ---\nconst authorizationHeader = `SHA256 Credential=${appId}, Timestamp=${timestamp}, Signature=${signature}`;\n\n// Retornar os dados necessários para o próximo nó (HTTP Request)\nreturn [{\n  json: {\n    authorizationHeader: authorizationHeader,\n    requestBody: graphqlPayloadObject\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-688,480],"id":"57e9d03d-5341-4af5-a19f-103d746a96a4","name":"Prepara Query para API Shopee3"},{"parameters":{"jsCode":"const prod = $json;\n\nfunction formatFaixaPreco(pminRaw, pmaxRaw) {\n  const toNum = v => Number(String(v ?? '').replace(',', '.'));\n  const pmin = toNum(pminRaw);\n  const pmax = toNum(pmaxRaw);\n  const fmt = v => isFinite(v) ? ('R$ ' + v.toFixed(2).replace('.', ',')) : null;\n  if (!isFinite(pmin) && !isFinite(pmax)) return 'Indisponível';\n  if (isFinite(pmin) && isFinite(pmax)) {\n    if (Math.abs(pmax - pmin) < 0.01) return fmt(pmin);\n    const spread = (pmax - pmin) / Math.max(pmin, 0.01);\n    return spread >= 0.2 ? ('a partir de ' + fmt(pmin)) : ('de ' + fmt(pmin) + ' a ' + fmt(pmax));\n  }\n  if (isFinite(pmin)) return 'a partir de ' + fmt(pmin);\n  if (isFinite(pmax)) return 'até ' + fmt(pmax);\n  return 'Indisponível';\n}\n\nreturn [\n  {\n    json: {\n      nome: prod.productName,\n      id: prod.itemId,\n      loja: prod.shopName,\n      vendas: Number(prod.sales),\n      avaliacao: prod.ratingStar,\n      comissao: Number(prod.commission),\n      comissaoPercent: Number(prod.commissionRate) * 100,\n      preco: Number(prod.price),\n      faixaPreco: formatFaixaPreco(prod.priceMin, prod.priceMax),\n      desconto: prod.priceDiscountRate,\n      imagem: prod.imageUrl,\n      link: prod.productLink,\n      linkAfiliado: prod.offerLink,\n      categorias: prod.productCatIds\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,496],"id":"44d85543-6209-4cce-b128-e7fdd959f657","name":"Extrai Informações3"},{"parameters":{"jsCode":"const items = $input.all();\nconst resultados = [];\n\n// Percorre todos os items do input\nfor (const item of items) {\n  const nodes = item.json?.data?.productOfferV2?.nodes || [];\n  for (const prod of nodes) {\n    if (Number(prod.sales) > 5000) {\n      resultados.push({ json: prod });\n    }\n  }\n}\n\nreturn resultados;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-272,480],"id":"fcfdd878-8ac1-42c4-a2b6-978783e00ded","name":"Code3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-64,480],"id":"4c8a2180-c221-49af-8b6e-be0d990c494d","name":"Loop Over Items3"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Produtos shopee","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Status":"nao_enviado","ID":"={{ $('Extrai Informações3').item.json.id }}","Item Name":"={{ $('Extrai Informações3').item.json.nome }}","Price":"={{ $('Extrai Informações3').item.json.preco }}","Sales":"={{ $('Extrai Informações3').item.json.vendas }}","Shop Name":"={{ $('Extrai Informações3').item.json.loja }}","Commission Rate":"={{ $('Extrai Informações3').item.json.comissaoPercent }}","Commission":"={{ $('Extrai Informações3').item.json.comissao }}","Product Link":"={{ $('Extrai Informações3').item.json.link }}","Offer Link":"={{ $('Extrai Informações3').item.json.linkAfiliado }}"},"matchingColumns":[],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Item Name","displayName":"Item Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Price","displayName":"Price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sales","displayName":"Sales","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Shop Name","displayName":"Shop Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Commission Rate","displayName":"Commission Rate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Commission","displayName":"Commission","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Product Link","displayName":"Product Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Offer Link","displayName":"Offer Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Finalizado em","displayName":"Finalizado em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[896,512],"id":"870141c4-45c8-461d-8ce4-864f6ec210d1","name":"Adiciona produto na planilha2","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Produtos shopee","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ID","lookupValue":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[416,496],"id":"825aef08-b152-4bc7-b281-18ae3be225cd","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca6a2dd3-bb03-4c47-b07c-bb3224f3bd6b","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[624,496],"id":"fe6eab97-432a-4463-b3d1-bdc218747b57","name":"If"},{"parameters":{"content":"","height":416,"width":2128,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-752,336],"id":"7d6778a8-8b66-4f32-bdf2-f5d908369467","name":"Sticky Note24"},{"parameters":{"content":"# Alimenta lista de produtos shopee","height":96,"width":608,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-752,336],"id":"59637a62-c691-4a0e-be61-fb1fa9aea76f","name":"Sticky Note25"},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Produtos shopee","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"nao_enviado"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[64,48],"id":"4811764e-b8d7-4708-b980-956af5be16f6","name":"Get row(s) in sheet1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"659049be-e916-4801-a50a-de412742ff37","leftValue":"={{ $items().length }}","rightValue":3,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[272,48],"id":"362a0242-9258-4e79-822f-5f16c7f2e06a","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[480,32],"id":"f77fc652-aebc-48cd-83c4-bc3bf6d16a01","name":"No Operation, do nothing"},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-672,48],"id":"adc27965-635f-4496-a6cc-c113a676bdfa","name":"Schedule Trigger6"},{"parameters":{"rule":{"interval":[{"triggerAtHour":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-208,48],"id":"b0410d06-007b-4b2a-9288-38db81749fe9","name":"Schedule Trigger7"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-464,48],"id":"887e7812-790b-4b31-8631-d684b0c60e06","name":"Schedule Trigger8"},{"parameters":{"content":"","height":368,"width":1776},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-752,-64],"id":"e1ccdede-0d0f-46be-8f32-4860acff50e5","name":"Sticky Note26"},{"parameters":{"content":"# Verifica se já tem o suficiente na planilha","height":80,"width":688,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-752,-64],"id":"13eadda0-b9ac-49bc-b8fe-17b554e74fd4","name":"Sticky Note27"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-688,-320],"id":"e7e4b939-e084-43da-aec5-14c902eab138","name":"Schedule Trigger"},{"parameters":{"operation":"clear","documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Produtos shopee","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=0"},"clear":"specificRange","range":"A2:K"},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-496,-320],"id":"ac508c2d-8f73-4d04-8432-894d21508cf5","name":"Clear sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"content":"### Zera planilha de produtos para sempre produtos novos no dia","height":80,"width":512,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-768,-480],"id":"2cee6cfa-dd0e-4864-a146-68fe28645e7b","name":"Sticky Note"},{"parameters":{"content":"","height":384,"width":512,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-768,-480],"id":"4e28fe67-75eb-477f-9998-f87413d78f35","name":"Sticky Note1"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-944,480],"id":"083a31ce-8544-43d7-aa8b-a4af76f374b1","name":"Schedule Trigger9","disabled":true}],"connections":{"API Shopee3":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Prepara Query para API Shopee3":{"main":[[{"node":"API Shopee3","type":"main","index":0}]]},"Extrai Informações3":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Extrai Informações3","type":"main","index":0}]]},"Adiciona produto na planilha2":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Adiciona produto na planilha2","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Prepara Query para API Shopee3","type":"main","index":0}]]},"Schedule Trigger6":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Schedule Trigger7":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Schedule Trigger8":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Clear sheet","type":"main","index":0}]]},"Schedule Trigger9":{"main":[[{"node":"Prepara Query para API Shopee3","type":"main","index":0}]]}},"pinData":{},"meta":null}