2025/12/27/My workflow 2.json
{"nodes":[{"parameters":{"options":{}},"id":"22a53a84-c2e1-4251-8e47-81c3eb0cf343","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3200,1984]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"b4b6191c-3b43-4ae3-bf4c-1d241e28efe7","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[2640,2048]},{"parameters":{"content":"# Agente IA","height":80,"width":196,"color":5},"id":"0039360b-f256-4f4a-836c-e6093161ca80","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3488,1600]},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"e5891f68-9877-4ddb-af6f-3e492a73ff97","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[2832,2000]},{"parameters":{"content":"","height":620,"width":820,"color":4},"type":"n8n-nodes-base.stickyNote","position":[3472,1584],"typeVersion":1,"id":"7ec03432-5013-4e4a-b923-e2eaac69d4ef","name":"Sticky Note4"},{"parameters":{"model":"gpt-4.1-mini","options":{}},"id":"7abedaf7-f958-48d1-89da-be3e0b6e18cc","name":"OpenAI3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[4448,2064]},{"parameters":{"options":{}},"id":"829263a1-7215-455e-9325-db766e2aa635","name":"Loop Over Items3","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5040,1888]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"},"id":"4eda0582-2034-411b-87f5-c0d1b7a8e2bd","name":"OutputParser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[4672,2064]},{"parameters":{"promptType":"define","text":"=Whatsapp message to be splitted and formated: {{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"={\n  \"messages\": [\n    \"Por favor, gere a saída no seguinte formato JSON: {\\\"messages\\\": [\\\"splitedMessage\\\", \\\"splitedMessage\\\", \\\"splitedMessage\\\"]}\",\n    \"As mensagens devem ser divididas de forma natural, afinal estamos conversando com um humano. Certifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\",\n    \"Jamais separe uma mensagem vazia. Cada mensagem deve ter entre 300 e 500 caracteres, sem cortar informações, pois é uma conversa de chat.\",\n    \"Certifique-se de que a resposta siga exatamente essa estrutura: *negrito* (substitua '**' por '*') não made nada em negrito remova todos '*'; ~tachado~ (caso seja algo excluído/alterado); _itálico_ (extremamente raro).\",\n    \"Tudo o que for link, pode colocar entre \\\"`\\\", ou seja, na seguinte formatação: `www.link.com.br`. Use sempre essa formatação para todos os links.\",\n\"troque essas palavra: Prazer por: feliz em conhecer\"\n  ]\n}"}]}},"id":"aabce108-be44-47fe-bc9d-090177926b3f","name":"Parser  Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[4464,1872]},{"parameters":{"content":"","height":620,"width":1380,"color":4},"type":"n8n-nodes-base.stickyNote","position":[4320,1584],"typeVersion":1,"id":"1bdb8088-370e-4a5e-85cc-0a3eb5f7b06f","name":"Sticky Note18"},{"parameters":{"content":"# Divisão de Mensagens Inteligente - Texto","height":80,"width":736,"color":5},"id":"409a8f7d-5824-4037-8bbe-d9272a726cf7","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4352,1600]},{"parameters":{"model":"gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3520,1968],"id":"e5cb270c-b1ec-401e-8203-06f290df79a7","name":"OpenAI Chat Model"},{"parameters":{"promptType":"define","text":"={{ $('Mensagem Completa').item.json.mensagem_completa }}","options":{"systemMessage":"={\n  \"name\": \"Amanda\",\n  \"context\": {\n    \"identity\": \"Consultora Comercial de Vendas\",\n    \"business\": \"Fluxo Atendimento por IA para Terapeutas\",\n    \"Language\": \"português brasileiro\",\n    \"date\": \"{{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n  \"Informação atualizada para usar em resposta\": \"{{ $json.output }}\",\n  \"personality\": [\n    \"Fala simples, objetiva e amigável\",\n    \"Tono de voz educado e consultivo\",\n    \"Não usa emojis\",\n    \"Fala de forma personalizada, chamando pelo nome se souber\",\n    \"Faz uma pergunta por vez para manter o foco\",\n    \"Cria leve senso de urgência para agendamento\",\n    \"Reforça benefícios de forma prática\"\n  ],\n  \"objectives\": [\n    \"Apresentar a solução de atendimento por IA no WhatsApp para terapeutas\",\n    \"Agendar uma reunião comercial com o terapeuta no horário comercial\"\n  ],\n  \"general_rules\": [\n    \"Atender apenas terapeutas e profissionais da área emocional\",\n    \"Reforçar que as reuniões são online, rápidas e 100% focadas na necessidade do terapeuta\",\n    \"Agendar reuniões somente de segunda a sexta-feira em horário comercial\",\n    \"Caso peçam algo fora do fluxo, gentilmente redirecionar para o agendamento de reunião\",\n    \"Nunca prometer preço ou condições comerciais sem a reunião\",\n    \"Se a pessoa pedir para falar direto com um humano, informar que a reunião é o caminho para atendimento personalizado\",\n    \"Evitar termos técnicos como 'chatbot' ou 'automação' e usar sempre 'atendimento inteligente por IA', reforçando que o atendimento é como de uma secretária e não automatizado para agendamentos\",\n    \"Palavras proibidas: robô, automático, chatbot, grátis\"\n  ],\n  \"flow\": {\n    \"steps\": [\n      {\n        \"step\": \"Perguntar o nome\",\n        \"instructions\": \"Se apresentar e perguntar o nome da pessoa antes de prosseguir\",\n        \"example_message\": \"Olá! Meu nome é Amanda, faço parte da equipe da Fluxo Atendimento por IA para Terapeutas. Como posso te chamar?\"\n      },\n      {\n        \"step\": \"Confirmar se é terapeuta\",\n        \"instructions\": \"Após receber o nome, confirmar se a pessoa é terapeuta\",\n        \"example_message\": \"Prazer, Você é terapeuta ou atua em outra área da saúde?\"\n      },\n      {\n        \"step\": \"Explicação breve da solução\",\n        \"instructions\": \"Se confirmar que é terapeuta, explicar brevemente o benefício da solução\",\n        \"example_message\": \"Nós ajudamos terapeutas a terem um atendimento inteligente no WhatsApp, como uma secretária virtual que acolhe seus pacientes e organiza a comunicação, poupando seu tempo.\"\n      },\n      {\n        \"step\": \"Identificar o maior desafio\",\n        \"instructions\": \"Antes de oferecer reunião, perguntar qual é o maior desafio atual no atendimento\",\n        \"example_message\": \"Hoje, qual é o maior desafio que você enfrenta no seu atendimento? Seria dificuldade para contratar pessoas, agilidade nas respostas, atendimento fora do horário comercial, ou outra situação?\"\n      },\n      {\n        \"step\": \"Conectar solução à dor\",\n        \"instructions\": \"Após identificar a dor, reforçar que a solução pode ajudar especificamente nesse ponto\",\n        \"example_message\": \"Entendo. Nossa solução foi criada exatamente para ajudar terapeutas com essa dificuldade!\"\n      },\n      {\n        \"step\": \"Explicação adicional da solução\",\n        \"instructions\": \"Antes de oferecer a reunião, explicar detalhes extras da solução\",\n        \"example_message\": \"Nossa IA entende áudios enviados pelos seus clientes, interpreta múltiplas mensagens de texto e, após coletar informações sobre o motivo da busca por terapia, ela também te notifica em um grupo exclusivo com o nome do potencial cliente e um resumo do seu caso.\"\n      },\n      {\n        \"step\": \"Oferecer agendamento de reunião\",\n        \"instructions\": \"Depois de explicar a funcionalidade, convidar para agendar uma reunião\",\n        \"example_message\": \"Gostaria que eu te mostrasse tudo isso em detalhes numa reunião rápida de 30 minutos?\"\n      },\n      {\n        \"step\": \"Agendar reunião\",\n        \"instructions\": \"Se a pessoa demonstrar interesse, pedir para sugerir um dia e um período (manhã ou tarde)\",\n        \"example_message\": \"Que dia e período (manhã ou tarde) seria melhor para você? Assim organizamos tudo certinho.\"\n      },\n      {\n        \"step\": \"Confirmação de agendamento\",\n        \"instructions\": \"Após receber a sugestão, informar que um especialista entrará em contato para confirmar o horário certinho e enviar o número de protocolo\",\n        \"example_message\": \"Perfeito! Vou pedir para um dos nossos especialistas entrar em contato para confirmar direitinho o horário com você. Seu número de protocolo é 338201. Até breve!\"\n      }\n    ]\n  }\n}\n"}},"id":"2b79e755-1328-49bc-a202-9721457f50a4","name":"Atendente","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[3600,1760]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Dados').item.json.Telefone }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3664,1952],"id":"8265356c-c1d3-4acb-8f36-370e54780926","name":"Postgres Chat Memory"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"338201","operator":{"type":"string","operation":"notContains"},"id":"2aa763f7-cf04-44e7-9bbb-8f8de823aef8"}],"combinator":"and"},"renameOutput":true,"outputKey":"Continuar na IA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"820760d6-3546-4007-8917-55d366a74261","leftValue":"={{ $json.output }}","rightValue":"338201","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Avisar Lead grupo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4048,1840],"id":"0967cd65-7fc5-484f-981c-619924b80861","name":"Switch2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[5120,2528],"id":"72dad6f4-d378-4b7f-b638-62334a8bf0a2","name":"OpenAI Chat Model2"},{"parameters":{"content":"","height":400,"width":1620,"color":4},"type":"n8n-nodes-base.stickyNote","position":[4320,2240],"typeVersion":1,"id":"599690a7-7596-4c43-9c83-c5f210017732","name":"Sticky Note44"},{"parameters":{"content":"# AVISAR NOVO LEAD NO GRUPO","height":80,"width":656,"color":5},"id":"850974f3-9a5f-45d2-905e-cdabb9c6adab","name":"Sticky Note45","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4352,2272]},{"parameters":{"resource":"messages-api","instanceName":"Breno2","remoteJid":"={{ $('Dados').item.json.Telefone }}","messageText":"={{ $json.output }}","options_message":{"delay":4200,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[5328,1904],"id":"33a7a704-151f-4adb-9208-73124466ce08","name":"Evolution API"},{"parameters":{"resource":"messages-api","instanceName":"Breno2","remoteJid":"={{ $('Dados').item.json.Telefone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4368,2368],"id":"92580a9c-7354-40f1-8a78-a94dc8322050","name":"Evolution API1"},{"parameters":{"resource":"messages-api","instanceName":"Breno2","remoteJid":"120363418914433116@g.us","messageText":"={{ (() => { \n  const telefone = $('Dados').item.json.Telefone;\n  return '🚨 Novo Lead: wa.me/' + telefone.split('@')[0] + ' 🚨';\n})() }}\n\n*Cliente:* {{ $('Dados').item.json.NomeWpp }}\n\n*CASO:*\n{{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[5488,2368],"id":"af9f491d-725c-4e27-a696-eb832ea246a1","name":"Evolution API2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[5040,1328],"id":"9c31bb5c-121e-42ae-b9f9-5c11f735d1af","name":"Merge1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"defac08a-6745-422b-bb05-90da9f47d91b","leftValue":"={{ $('Busca Telefone').last().json.values() }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4544,1328],"id":"08bb2e6b-68cb-422d-90d7-e5bc2d19ceeb","name":"If4"},{"parameters":{"content":"","height":380,"width":1380,"color":4},"type":"n8n-nodes-base.stickyNote","position":[4320,1184],"typeVersion":1,"id":"36f89b54-1b0d-4a87-97d0-b81169b25117","name":"Sticky Note54"},{"parameters":{"content":"# Cadastra Chat Supabase","height":80,"width":450,"color":5},"id":"ad56bec6-1b3c-4c85-a269-75b580a5ba37","name":"Sticky Note55","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4352,1200]},{"parameters":{"operation":"get","tableId":"chats","filters":{"conditions":[{"keyName":"phone","keyValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4384,1328],"id":"bc001204-0b23-4881-81bb-db13db316de2","name":"Busca Telefone","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"tableId":"chats","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Dados').item.json.Telefone }}"},{"fieldId":"updated_at","fieldValue":"={{ $now}}"},{"fieldId":"created_at","fieldValue":"={{ $now}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4832,1232],"id":"cc824062-46d7-41c2-a3c4-f8aed91cd909","name":"Adiciona CHAT supabase"},{"parameters":{"operation":"update","tableId":"chats","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"updated_at","fieldValue":"={{ $now }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4848,1408],"id":"857593c2-6602-4070-a456-922f11b5c7cc","name":"Atualiza CHAT Supabase","alwaysOutputData":true},{"parameters":{"tableId":"chat_messages","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Dados').item.json.Telefone }}"},{"fieldId":"bot_message","fieldValue":"={{ $('Atendente').item.json.output }}"},{"fieldId":"user_message","fieldValue":"={{ $('Dados').item.json.message.content }}"},{"fieldId":"message_type","fieldValue":"={{ $('Dados').item.json.body.event }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"},{"fieldId":"nomewpp","fieldValue":"={{ $('Dados').item.json.NomeWpp }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5248,1328],"id":"9949ebd6-fe1e-4cb8-88be-d494ede8647f","name":"Cria Histórico Supabase"},{"parameters":{"fieldToSplitOut":"output.messages","options":{"destinationFieldName":"output"}},"id":"fb4cc021-1965-48dc-ae2c-ffb3f7ab225f","name":"Split de Mensagem","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[4832,1888]},{"parameters":{"amount":1},"id":"0e88e2f7-9f00-4b5e-8796-87aad26b913e","name":"1 segundo","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5552,1904],"webhookId":"a2c69e1c-13fe-44a2-962c-1249288537eb"},{"parameters":{"operation":"delete","key":"={{ $('Dados').item.json.Telefone }}"},"id":"695fb210-d36c-47d7-8ddd-b52f758b1212","name":"Delete Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[5440,1328]},{"parameters":{"name":"buscar_documentos","description":"Analise o documento se encontrar uma informação que seja relevante traga o texto dele como resposta sem alterações, caso não encontre devolva o resultado em branco sem nem um texto","topK":2},"id":"21c374b9-34ea-4810-9c16-dec704cf062d","name":"buscar_documentos","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[2960,1840]},{"parameters":{"operation":"getAll","tableId":"chat_messages","matchType":"allFilters","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"},{"keyName":"active","condition":"eq","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4560,2368],"id":"3d85d33c-0564-4ee1-b1a2-1141d52a1d50","name":"ListMessages-Supabase2","alwaysOutputData":true},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"conversas","include":"specifiedFields","fieldsToInclude":"id,message_type,created_at,user_message, bot_message,phone","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4768,2368],"id":"2eadb018-3da7-422f-9449-385da839f95b","name":"Aggregate2"},{"parameters":{"jsCode":"return $('Aggregate2').all().map(item => {\n  // Tenta acessar a propriedade 'conversas' e verifica se ela é um array\n  const conversas = item.json.conversas || []; // Garante que é pelo menos um array vazio\n\n  if (!Array.isArray(conversas)) {\n    throw new Error(\"A propriedade 'conversas' não é um array.\");\n  }\n\n  // Processa cada conversa e verifica as mensagens\n  const textoUnico = conversas.map(conversa => {\n    const cliente = conversa.user_message || \"sem mensagem do chatbot\";\n    const agente = conversa.bot_message || \"sem resposta\";\n    \n    // Verifica se a data existe e formata\n    const dataOriginal = conversa.created_at || \"Data da Mensagem indisponível\";\n    const dataFormatada = dataOriginal !== \"Data da Mensagem indisponível\"\n      ? formatarData(dataOriginal)\n      : dataOriginal;\n\n    return `em: ${dataFormatada}\\n\\n - agente(chatbot): ${agente} \\n - cliente: ${cliente}\\n`;\n  }).join('\\n\\n');\n\n  // Retorna o texto final como resultado\n  return {\n    json: {\n      texto: textoUnico\n    }\n  };\n});\n\n// Função para formatar a data\nfunction formatarData(dataString) {\n  const data = new Date(dataString); // Converte a string em objeto Date\n  if (isNaN(data)) {\n    return \"Data inválida\"; // Retorna se a data não for válida\n  }\n  \n  // Formata no padrão DD/MM/YYYY HH:mm\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0'); // Mês começa em 0\n  const ano = data.getFullYear();\n  const horas = String(data.getHours()).padStart(2, '0');\n  const minutos = String(data.getMinutes()).padStart(2, '0');\n  \n  return `${dia}/${mes}/${ano} ${horas}:${minutos}`;\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4944,2368],"id":"a9c91ec1-4340-42a2-8ccb-6339840a0b27","name":"Code6"},{"parameters":{"promptType":"define","text":"={\n  \"role\": \"Agente Resumidor de atendimento\",\n  \"proposito\": \"Analisar conversas cliente-agente e criar resumos detalhados do atendimento\",\n  \"instrucoes\": {\n    \"tarefa_principal\": \"Extrair e resumir apenas sobre o atendimento do cliente a partir das conversas\",\n    \"formato\": \"Incluir data da sessão quando disponível\",\n    \"foco\": \"demandas do cliente, excluir respostas do agente\",\n    \"estilo\": \"Resumos detalhados mas concisos\",\n    \"evitar\": \"Dicas de uso, informações extras ou explicações\",\n    \"Me de o resultado somente com o resumo sem caracteres especiais\"\n  },\n  \"formato_entrada\": {\n    \"conversa\": \"{{ $json.texto }}\"\n  },\n  \"formato_saida\": {\n    \"resumo\": \"Descrição concisa do caso do cliente e data que ele gostaria de agendar uma rerunião\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[5152,2368],"id":"4991b887-e05e-4270-b5f4-e5aa11401deb","name":"Basic LLM Chain1"},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Dados').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1344,1952],"id":"0d3d8288-cb9b-4847-bad1-62200c6dae86","name":"Supabase","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1136,1888],"id":"691286b3-2b28-4fdf-9105-e60a1fa2a4b3","name":"If1"},{"parameters":{"tableId":"dados_cliente","fieldsUi":{"fieldValues":[{"fieldId":"nomewpp","fieldValue":"={{ $('Dados').item.json.NomeWpp }}"},{"fieldId":"telefone","fieldValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"},{"fieldId":"created_at","fieldValue":"={{ $now}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-960,2032],"id":"7f9f0da3-b58f-41c2-8c6d-1e2e44598245","name":"Supabase1"},{"parameters":{"content":"","height":620,"width":980,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1600,1584],"typeVersion":1,"id":"24b13696-46bb-40a4-acb4-3ab2c04b85e2","name":"Sticky Note17"},{"parameters":{"content":"","height":660,"width":960,"color":4},"type":"n8n-nodes-base.stickyNote","position":[592,1552],"typeVersion":1,"id":"a0661561-3fd6-4aff-89b1-33cf8dc7816d","name":"Sticky Note20"},{"parameters":{"content":"","height":440,"width":740,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1376,1760],"typeVersion":1,"id":"706abd24-55ea-4f5c-b01e-2dd5e9dc2114","name":"Sticky Note22"},{"parameters":{"content":"# Cadastrar Lead Supa Base","height":80,"width":596,"color":4},"id":"e697d55a-d881-4f02-96ab-bb99ea812670","name":"Sticky Note23","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1376,1792]},{"parameters":{"content":"","height":500,"width":1120,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-624,1712],"typeVersion":1,"id":"140ce317-006b-4ef4-99a7-048fe092fca3","name":"Sticky Note26"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[48,544],"typeVersion":1,"id":"8c4e60a5-a6c7-499f-bdfa-7c6bd5d63401","name":"Sticky Note31"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[848,144],"typeVersion":1,"id":"1a585975-2ba4-4ede-938f-b1eb16023ea7","name":"Sticky Note33"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[1088,544],"typeVersion":1,"id":"9bb9866f-6048-403d-bb39-47579ebc9c4e","name":"Sticky Note37"},{"parameters":{"httpMethod":"POST","path":"aula","options":{}},"id":"5a0f5010-0764-461a-b20a-1733a9907d8a","name":"Webhook EVO","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1984,1968],"webhookId":"7ecd43ed-123c-4fef-b86d-f9ce39e55d64"},{"parameters":{"content":"# Pausar IA","height":80,"width":216,"color":4},"id":"b074c8c0-524c-43ab-b25a-1c92a158c39e","name":"Sticky Note41","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-624,1712]},{"parameters":{"operation":"executeQuery","query":"create table dados_cliente (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  telefone text, \n  nomewpp text,\n  atendimento_ia text\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[384,160],"id":"9332bf8a-abb5-441e-a081-248faaad3b19","name":"Cria Tabela Dados Cliente"},{"parameters":{"operation":"executeQuery","query":"-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1440,192],"id":"97fc2055-a18d-402c-af9e-966f5cfa4401","name":"Cria Tabela Documentos"},{"parameters":{"operation":"executeQuery","query":"delete from documents","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1152,560],"id":"a7b581ab-23e1-40cc-a964-65593d96326a","name":"Deleta Conteúdo Documentos"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[1104,144],"typeVersion":1,"id":"d1e8914d-647a-4e52-bdea-11eea96ddca5","name":"Sticky Note40"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[1392,144],"typeVersion":1,"id":"d2fa32e8-503e-468d-88be-d999a76b9bef","name":"Sticky Note48"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[64,144],"typeVersion":1,"id":"91e93e17-99d9-4f93-868a-f03cfee69ab4","name":"Sticky Note49"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[592,144],"typeVersion":1,"id":"e1103693-509b-4d02-8b05-78b842a7e377","name":"Sticky Note50"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[560,544],"typeVersion":1,"id":"9f592b4e-cb8e-481e-b797-3f5eaee272c2","name":"Sticky Note56"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[320,144],"typeVersion":1,"id":"0e2ec18a-46dc-47d8-bf51-75263dd33716","name":"Sticky Note57"},{"parameters":{"operation":"executeQuery","query":"delete from n8n_chat_histories","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[112,592],"id":"4287d2a4-9386-41eb-b1f8-fd8f599ab126","name":"Deleta Histórico"},{"parameters":{"operation":"executeQuery","query":"create function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1168,160],"id":"2fea2586-0ac8-400d-8259-a150666061eb","name":"Cria função Busca em Vetor"},{"parameters":{"operation":"executeQuery","query":"create extension vector;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[912,160],"id":"61bb847c-df6f-46ff-bfab-ee9f5b9ddaf0","name":"Cria Extensão Vetor"},{"parameters":{"operation":"executeQuery","query":"create table chats (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  phone text,\n  updated_at text\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[640,160],"id":"a5fe9f08-b7a3-4ac6-a291-e8bdd93d446e","name":"Cria Tabela Chats"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[832,544],"typeVersion":1,"id":"76e5b9fb-1892-4ed9-8e6c-d71e718c0d29","name":"Sticky Note65"},{"parameters":{"operation":"executeQuery","query":"delete from chats","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[880,560],"id":"eff1ceee-44ed-4a4e-88fa-3cf5b5bed492","name":"Deleta Conteúdo Chats"},{"parameters":{"operation":"executeQuery","query":"delete from dados_cliente","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[624,560],"id":"aea0edbb-7196-45f3-9441-1cb7199acf4b","name":"Deleta Conteúdo Dados Cliente"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[304,544],"typeVersion":1,"id":"1d778b29-979e-4d2d-9515-32546bf79551","name":"Sticky Note66"},{"parameters":{"operation":"executeQuery","query":"delete from chat_messages","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[368,560],"id":"fe3bf7f3-deea-438c-935b-869e8325f6f5","name":"Deleta Conteúdo Chat_Messages"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE chat_messages (\n  id BIGSERIAL PRIMARY KEY,\n  created_at TIMESTAMPTZ, \n  phone TEXT,\n  nomewpp TEXT, \n  bot_message TEXT,\n  user_message TEXT, \n  message_type TEXT,\n  active BOOLEAN DEFAULT TRUE\n);\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[128,160],"id":"a5e51910-260b-47da-ad3e-6d15993ea242","name":"Cria Tabela Chat_Messages"},{"parameters":{"content":"","height":440,"width":600,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2016,1760],"typeVersion":1,"id":"f79605ab-8a91-4829-89e1-e0c72b35c2cc","name":"Sticky Note32"},{"parameters":{"content":"## WEBHOOK & ROTAS","height":80,"width":276,"color":4},"id":"57fdd94f-3b4b-4886-b1ab-19ad4c813874","name":"Sticky Note67","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2000,1792]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.png","mimeType":"image/png"}},"id":"63f7db3e-68ed-4d38-b2c4-6d165dde102b","name":"Convert to File1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[848,2048]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook EVO').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"9ca9c460-0859-4d86-b73f-5d70754dd857","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,2048]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ade56c50-1520-4760-8df5-e99617d6d3ad","leftValue":"={{ $('Webhook EVO').item.json.body.data.message.imageMessage.caption }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"315f7747-98d8-451b-89fb-0be9b01149df","name":"If3","type":"n8n-nodes-base.if","typeVersion":2,"position":[1184,2048]},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.Telefone }}","messageData":"={{ $('Dados').item.json.message.content }}, {{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"1dec2ac0-2375-4842-9276-b293e5d4f23c","name":"Redis4","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1344,2064]},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.Telefone }}","messageData":"={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"f88a024a-ee12-45d8-bf23-d761900ff409","name":"Redis5","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1344,1888]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"id":"344b0be9-8db3-4f29-b465-1e20cf10f6c9","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[608,1808]},{"parameters":{"content":"# Mensagem Picotada","height":80,"width":396,"color":4},"id":"a0c94a04-8c69-4dda-a4d7-f6c23431b3ca","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1600,1584]},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Analise a imagem e me traga um resumo simples e o mais curto possível do que ela é","inputType":"base64","options":{}},"id":"08be3c5c-dc3a-4b3c-8a0a-4aa7d08fca62","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1008,2048]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5a342e9-585b-42ea-be44-644adae10199","leftValue":"={{ $json.Redis2 }}","rightValue":"={{ $json.Redis1 }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"ae0b5a2a-deae-4b09-8db6-1778d0de7f6d","name":"Compara Get Memory1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2240,1840]},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.Telefone }}","messageData":"={{ $('Dados').item.json.message.content }}","tail":true},"id":"5dee5950-7c9d-4997-bce5-e70d781a417e","name":"Text Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1344,1568]},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.Telefone }}","messageData":"={{ $json.text }}","tail":true},"id":"c4195b8d-a7b6-431c-aec5-db13d6596280","name":"Audio Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1344,1728]},{"parameters":{"assignments":{"assignments":[{"id":"f336a1ff-e577-489d-a739-1eb8bd509245","name":"Redis2","value":"={{ $json.propertyName }}","type":"string"},{"id":"946d1420-e379-46e3-8fcd-3816340fbabb","name":"Redis1","value":"={{ $('Get Memory 1').item.json.propertyName }}","type":"string"}]},"options":{}},"id":"59f05234-b030-4eef-b534-441b146e5902","name":"Edit Fields8","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2080,1840]},{"parameters":{"amount":40},"id":"4e3781c1-d1f1-4437-8986-60368ff764d7","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1792,1840],"webhookId":"9f0edf0b-ca36-42a6-bab6-bf62ca08ac51"},{"parameters":{"operation":"get","key":"={{ $('Dados').item.json.Telefone }}","options":{}},"id":"0b832e60-9e67-4050-80e8-8ab78f393cc2","name":"Get Memory 1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1648,1840]},{"parameters":{"operation":"get","key":"={{ $('Dados').item.json.Telefone }}","options":{}},"id":"1252f081-030a-4050-8340-064e3e9ecfce","name":"Get Memory 2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1952,1840]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Dados').item.json.message.event }}","rightValue":"outcoming","operator":{"type":"string","operation":"equals"},"id":"7c878f9b-2c93-4061-954a-a832153e7647"}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $('Dados').item.json.message.event }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"13016656-b709-46d2-95d9-a8b2c0a04145","name":"Switch6","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-608,1984]},{"parameters":{"content":"# Filtro de mensagem","height":80,"width":356,"color":4},"id":"6bec946a-ae66-45fe-a022-eaa8ac31a16b","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[592,1552]},{"parameters":{"jsCode":"const redis1 = JSON.parse($json.Redis1);\nconst redis2 = JSON.parse($json.Redis2);\n\nconst combinadoSemDuplicatas = Array.from(new Set([...redis1, ...redis2]));\n\nconst mensagem = combinadoSemDuplicatas.join(\" \");\n\nreturn [{ json: { mensagem_completa: mensagem } }];"},"id":"f1203d80-b921-4926-b62b-d52348ee4f1f","name":"Mensagem Completa","type":"n8n-nodes-base.code","typeVersion":2,"position":[2464,1824]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"id":"707d9d2c-5b37-4317-a4c4-ae0a1b1ad4ca","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[992,1840]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook EVO').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"ca1a2554-8f9c-4a7b-8e5a-a7578e887d01","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,1840]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"0cf1d15a-1cd0-40e8-9a95-b50a2a5ace4b","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1168,1840]},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"id":"38137c12-d271-430f-af79-7abe3d8de312","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-1344,2720],"typeVersion":1.2},{"parameters":{"content":"## Agente treinamento RAG, ativação automática como o texto: TreinoIA1212:","height":840,"width":2220,"color":4},"id":"61c0dba3-59d0-4743-94cd-2dc8ce26f679","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[-1376,2240],"typeVersion":1},{"parameters":{"descriptionType":"manual","toolDescription":"Use para buscar informações na planilha caso tenha um treinamento paricido devovlea o numeroo da rtoow para ela ser atualziada","documentId":{"__rl":true,"value":"1Q-s8_cB8PO-ZZ8ZZCzzaTezL-3VHXW4_vVu0iRNxWfI","mode":"list","cachedResultName":"Aula nova","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q-s8_cB8PO-ZZ8ZZCzzaTezL-3VHXW4_vVu0iRNxWfI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q-s8_cB8PO-ZZ8ZZCzzaTezL-3VHXW4_vVu0iRNxWfI/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-1200,2768],"id":"386c05da-fb42-42c8-bb3c-109653935aa8","name":"Treinamento_feito"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"431357d9-14f2-40fd-8413-9942bc1c9ad1","name":"Insert into Supabase Vectorstore1","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[512,2544]},{"parameters":{"separator":"/n","chunkSize":1200,"chunkOverlap":200},"id":"a13b2d9a-17a9-4476-8b58-80e2df0c81cb","name":"Character Text Splitter1","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[640,2944]},{"parameters":{"aggregate":"aggregateAllItemData","include":"allFieldsExcept","fieldsToExclude":"rew_number","options":{}},"id":"dea4d2cb-2827-4ec2-9c1e-c54f32869e33","name":"Aggregate1","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[112,2544]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"ef51ee2a-4869-4245-a356-2a242019442d","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[368,2784]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"Arquivo","value":"={{ $('Download File1').item.json.name }}"}]}}},"id":"ce45bd14-1829-4775-86f3-08b9ce35621a","name":"Default Data Loader1","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[528,2784]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"20aa0f76-1b04-4824-a94b-ed7c8bf386dd","name":"Download File1","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-560,2512],"executeOnce":false,"credentials":{"googleDriveOAuth2Api":{"id":"HZOKSVKLRv4VZ1Im","name":"Google Drive account"}}},{"parameters":{"operation":"xlsx","options":{}},"id":"c7d6464b-9846-43fe-9a2f-f08db31de561","name":"Extract from Excel2","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-64,2448]},{"parameters":{"promptType":"define","text":"={{ $('Webhook EVO').item.json.body.data.message.conversation || '' }}","options":{"systemMessage":"={\n  \"name\": \"AgenteTreinamentoPlanilha\",\n  \"objectives\": [\n    \"Receber um texto e corrigi-lo\",\n    \"Verificar se já existe pergunta similar na planilha\",\n    \"Atualizar a planilha com a pergunta e a resposta corrigida\",\n    \"Caso peça para atualizar, não execute nem uma tool\"\n  ],\n  \"tools\": [\n    {\n      \"name\": \"Treinamento_feito\",\n      \"description\": \"Verifica se existe conteúdo similar antes de atualizar, caso exista deve ser removido ou substituído\"\n    },\n    {\n      \"name\": \"Atualizar_treinamento\",\n      \"description\": \"Cria ou atualiza linha na planilha com as colunas: Pergunta e Resposta\"\n    }\n  ],\n  \"general_rules\": [\n    \"Não mencionar a planilha ou as ferramentas na resposta ao usuário\",\n    \"Corrigir sempre o texto recebido antes de registrar no sistema\",\n    \"Seja preciso e consistente ao preencher as colunas pergunta e resposta\",\n    \"Gere sua resposta sem acentos nas palavras ou caracteres especiais\"\n  ]\n}\n"}},"id":"c561ef8c-036d-40ac-a83a-583d7e70d72a","name":"Agente Treinamento RAG","type":"@n8n/n8n-nodes-langchain.agent","position":[-1344,2480],"typeVersion":1.8},{"parameters":{"content":"# Ferramentas para criar\n\n","height":80,"width":456,"color":4},"id":"b8389b26-0d85-433d-bc60-85613a7fb3f6","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[64,48]},{"parameters":{"content":"# Ferramentaspara apagar\n\n","height":80,"width":496,"color":3},"id":"94149a3e-e6ab-4fc9-bbe6-6d262ca9efcb","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[32,448]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5922557b-71e7-4390-af21-10b683e7a875","leftValue":"={{ $json.Telefone }}","rightValue":"553173374875@s.whatsapp.net","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Numero pessoal"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"9865cb5b-33da-490c-afc3-186457d5b564","operator":{"type":"string","operation":"notStartsWith"},"leftValue":"={{ $json.message.content }}","rightValue":"TreinoIA1212:"}],"combinator":"and"},"renameOutput":true,"outputKey":"Rota normal"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"5a9a1fee-b408-469f-a08c-e8d690fc9792","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $json.message.content }}","rightValue":"TreinoIA1212:"}],"combinator":"and"},"renameOutput":true,"outputKey":"Treinamento IA"}]},"options":{}},"id":"d7c32d05-c8f3-4c21-861a-163af788c1bc","name":"Rotas","type":"n8n-nodes-base.switch","position":[-1600,1968],"typeVersion":3.2},{"parameters":{"operation":"update","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"atendimento_ia","fieldValue":"pause"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-256,1744],"id":"82e29744-b395-4297-98e8-e8a93a6ed802","name":"Pausar IA"},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Dados').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-256,2064],"id":"1d32be9a-1104-4af4-9f8d-00fd6914b94b","name":"Verificar Pause"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.atendimento_ia }}","rightValue":"pause","operator":{"type":"string","operation":"notStartsWith"},"id":"ff00573b-e517-43c6-8644-14a4fe8565d1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Ativa"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.atendimento_ia }}","rightValue":"pause","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia pausada"}]},"options":{}},"id":"bc991e60-955b-4e5c-a495-a34a59b8165d","name":"Rota Atendimento","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-48,2064]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"9865cb5b-33da-490c-afc3-186457d5b564","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $('Rotas').item.json.message.content }}","rightValue":"Atendimento finalizado"}],"combinator":"and"},"renameOutput":true,"outputKey":"IA Pausada"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"5a9a1fee-b408-469f-a08c-e8d690fc9792","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Rotas').item.json.message.content }}","rightValue":"Atendimento finalizado"}],"combinator":"and"},"renameOutput":true,"outputKey":"Reativar IA"}]},"options":{}},"id":"80be042e-47ba-44e2-bb6c-1b5bbb7a8beb","name":"Rotas1","type":"n8n-nodes-base.switch","position":[-464,1888],"typeVersion":3.2},{"parameters":{"operation":"update","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"atendimento_ia","fieldValue":"reativada"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-80,1904],"id":"8122b9f4-7ff2-4891-9406-60a17cd767ee","name":"Reativar IA"},{"parameters":{"assignments":{"assignments":[{"id":"11800d83-ecca-4f9c-a878-a2419db0c8e9","name":"message.chat_id","value":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid || '' }}","type":"string"},{"id":"c33f9527-e661-49e5-8e5e-64f3b430928a","name":"message.content_type","value":"={{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('Webhook EVO').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('Webhook EVO').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage ? 'image' : '' }}","type":"string"},{"id":"06eba1c9-cff0-4f68-b6da-6bb0092466b7","name":"message.content","value":"={{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('Webhook EVO').item.json.body.data.message.conversation || '' }}","type":"string"},{"id":"b97f1af3-5361-46fc-9303-d644921231d8","name":"message.timestamp","value":"={{ $('Webhook EVO').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"},{"id":"dc3dc59c-90a3-4a45-bea2-de092c91083b","name":"message.content_url","value":"={{ $('Webhook EVO').item.json.body.data.message.audioMessage?.url || '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"8b01a818-a456-476e-bace-adefe2f04eb4","name":"message.event","value":"={{ $('Webhook EVO').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}","type":"string"},{"id":"886e3751-e39b-4fc6-98d1-3113eaeebbb4","name":"=body.event","value":"={{ $('Webhook EVO').item.json.body.event }}","type":"string"},{"id":"d04a0c6e-7842-41d2-bdb0-c0ce51d6dad7","name":"Telefone","value":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"a57db642-3e13-452e-bb5b-19f7e9f3bd5d","name":"NomeWpp","value":"={{ $json.body.data.pushName }}","type":"string"}]},"options":{}},"id":"413ce31d-5f4f-4aee-8081-3d85774a33c5","name":"Dados","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1776,1968]},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-256,1904],"id":"c38c375b-25f7-43eb-9d91-f39535c2691a","name":"Wait","webhookId":"b9c0dc3b-a05b-4e71-bcbe-fee8c71142a2"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Dados').item.json.Telefone }}","message":"={\"type\": \"ai\", \"content\": \"{{ $('Rotas').item.json.message.content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[304,2032],"id":"bd20a0af-6384-475d-af0c-079c0eeb628a","name":"Salvar Historicoo Humano1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2672,1872],"id":"60b9033e-e80b-49e9-ab96-13b25368c43b","name":"OpenAI Chat Model4"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem_completa }}","options":{"systemMessage":"={\n  \"name\": \"AgenteRag\",\n  \"objectives\": [\n    \"Responder somente com dados obtidos da ferramenta buscar_documentos, sem dicas extras\"\n  ],\n  \"tools\": [\n    {\n      \"name\": \"buscar_documentos\",\n      \"description\": \"Use esta ferramenta para obter a resposta. Se não houver dados, retorne: não invente resposta somente do que vier da tool buscar_documentos'.\",\n      \"required\": true\n    }\n  ],\n  \"general_rules\": [\n    \"Não inventar respostas\",\n    \"Sempre usar a ferramenta buscar_documentos\",\n    \"caso não tenha uma resposta envie a resposta assim: sem dica de resposta\"\n  ]\n}\n"}},"id":"b97e6750-4eef-475e-bad3-448cdf374878","name":"Agente Rag","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[2672,1680]},{"parameters":{"content":"# Agente RAG","height":80,"width":336,"color":4},"id":"aecd287a-e7f3-4b27-83f8-056589673083","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2624,1584]},{"parameters":{"content":"","height":380,"width":1680,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"a4fbf9b8-263e-4b11-be97-89bf71c89064","name":"Sticky Note12"},{"parameters":{"content":"","height":380,"width":1680,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,400],"typeVersion":1,"id":"f236b755-7d7b-4050-ba55-236689db5040","name":"Sticky Note13"},{"parameters":{"content":"","height":620,"width":820,"color":4},"type":"n8n-nodes-base.stickyNote","position":[2608,1584],"typeVersion":1,"id":"80dabb6a-7475-439c-9f43-85f03ee55b49","name":"Sticky Note6"},{"parameters":{"descriptionType":"manual","toolDescription":"Analise se já existeuma coluca pareceida se sim atualize ela se não crie uma nova linha","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Q-s8_cB8PO-ZZ8ZZCzzaTezL-3VHXW4_vVu0iRNxWfI","mode":"list","cachedResultName":"Aula nova","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q-s8_cB8PO-ZZ8ZZCzzaTezL-3VHXW4_vVu0iRNxWfI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q-s8_cB8PO-ZZ8ZZCzzaTezL-3VHXW4_vVu0iRNxWfI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Pergunta":"={{ $fromAI(\"Pergunta\",\"isso é a pergunta\") }}","Resposta":"={{ $fromAI(\"Resposta\",\"isso é a resposta\") }}"},"matchingColumns":["Pergunta"],"schema":[{"id":"Pergunta","displayName":"Pergunta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Resposta","displayName":"Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"75dc13c6-b877-42a9-8fc8-0644e7459ca6","name":"Atualizar_treinamento","type":"n8n-nodes-base.googleSheetsTool","position":[-1008,2768],"typeVersion":4.5},{"parameters":{"operation":"text","options":{}},"id":"39f1df3a-0aed-4454-bf31-561b916973a6","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-64,2784],"alwaysOutputData":true},{"parameters":{"operation":"pdf","options":{}},"id":"07015254-dc8a-4a7b-be97-c40980a01eeb","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-64,2272]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.mimeType }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"d324b22b-cdf4-4216-a5ac-7db17ab11851"}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"excel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"8bd558b2-8c70-4edd-ab19-92540895ae46","leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.google-apps.spreadsheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CVS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Google Docs"}]},"options":{"fallbackOutput":3}},"id":"f9d1c70a-03b8-4b6f-a54b-ed759da039bc","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-384,2480]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"09eef682-4b1b-4e43-ab19-86002b662c66","name":"Summarize1","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[304,2544]},{"parameters":{"options":{}},"id":"c4ea77a6-b9e8-4ab6-80f6-2369354c3383","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-64,2624]},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1rP1DWBKusmnmMLbxcAEy11nlRIpU2a4r","mode":"list","cachedResultName":"Aula nova","cachedResultUrl":"https://drive.google.com/drive/folders/1rP1DWBKusmnmMLbxcAEy11nlRIpU2a4r"}},"options":{"fields":["mimeType","id","name"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-736,2512],"id":"f6595076-1be6-4b84-b30d-27c43d249a15","name":"Google Drive","executeOnce":true},{"parameters":{"operation":"delete","tableId":"documents","filters":{"conditions":[{"keyName":"id","condition":"neq","keyValue":"0"}]}},"id":"49f5c503-c072-44dd-8d82-1729d93ea53d","name":"Deleta linhas antigas do documento1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-928,2512],"alwaysOutputData":true,"executeOnce":false},{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1088,2320],"id":"1fdead53-90e7-4f39-93f4-f475adbd29d6","name":"Schedule Trigger"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Dados').item.json.Telefone }}","message":"={\"type\": \"human\", \"content\": \"{{ $('Rotas').item.json.message.content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[240,1744],"id":"8c525807-f4b9-448e-aa68-bb15d6054115","name":"Salvar Historicoo Humano"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[3184,480],"id":"64dea065-e605-4a11-b78f-114f02274b82","name":"When chat message received","webhookId":"af870e9f-98ab-46c8-858d-84fedf8036b2","disabled":true},{"parameters":{"options":{"systemMessage":"={\n  \"name\": \"Amanda\",\n  \"context\": {\n    \"identity\": \"Consultora Comercial de Vendas\",\n    \"business\": \"Fluxo Atendimento por IA para Terapeutas\",\n    \"Language\": \"português brasileiro\",\n    \"date\": \"{{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n  \"Informação atualizada para usar em resposta\": \"{{ $json.output }}\",\n  \"personality\": [\n    \"Fala simples, objetiva e amigável\",\n    \"Tono de voz educado e consultivo\",\n    \"Não usa emojis\",\n    \"Fala de forma personalizada, chamando pelo nome se souber\",\n    \"Faz uma pergunta por vez para manter o foco\",\n    \"Cria leve senso de urgência para agendamento\",\n    \"Reforça benefícios de forma prática\"\n  ],\n  \"objectives\": [\n    \"Apresentar a solução de atendimento por IA no WhatsApp para terapeutas\",\n    \"Agendar uma reunião comercial com o terapeuta no horário comercial\"\n  ],\n  \"general_rules\": [\n    \"Atender apenas terapeutas e profissionais da área emocional\",\n    \"Reforçar que as reuniões são online, rápidas e 100% focadas na necessidade do terapeuta\",\n    \"Agendar reuniões somente de segunda a sexta-feira em horário comercial\",\n    \"Caso peçam algo fora do fluxo, gentilmente redirecionar para o agendamento de reunião\",\n    \"Nunca prometer preço ou condições comerciais sem a reunião\",\n    \"Se a pessoa pedir para falar direto com um humano, informar que a reunião é o caminho para atendimento personalizado\",\n    \"Evitar termos técnicos como 'chatbot' ou 'automação' e usar sempre 'atendimento inteligente por IA', reforçando que o atendimento é como de uma secretária e não automatizado para agendamentos\",\n    \"Palavras proibidas: robô, automático, chatbot, grátis\"\n  ],\n  \"flow\": {\n    \"steps\": [\n      {\n        \"step\": \"Perguntar o nome\",\n        \"instructions\": \"Se apresentar e perguntar o nome da pessoa antes de prosseguir\",\n        \"example_message\": \"Olá! Meu nome é Amanda, faço parte da equipe da Fluxo Atendimento por IA para Terapeutas. Como posso te chamar?\"\n      },\n      {\n        \"step\": \"Confirmar se é terapeuta\",\n        \"instructions\": \"Após receber o nome, confirmar se a pessoa é terapeuta\",\n        \"example_message\": \"Prazer, Você é terapeuta ou atua em outra área da saúde?\"\n      },\n      {\n        \"step\": \"Explicação breve da solução\",\n        \"instructions\": \"Se confirmar que é terapeuta, explicar brevemente o benefício da solução\",\n        \"example_message\": \"Nós ajudamos terapeutas a terem um atendimento inteligente no WhatsApp, como uma secretária virtual que acolhe seus pacientes e organiza a comunicação, poupando seu tempo.\"\n      },\n      {\n        \"step\": \"Identificar o maior desafio\",\n        \"instructions\": \"Antes de oferecer reunião, perguntar qual é o maior desafio atual no atendimento\",\n        \"example_message\": \"Hoje, qual é o maior desafio que você enfrenta no seu atendimento? Seria dificuldade para contratar pessoas, agilidade nas respostas, atendimento fora do horário comercial, ou outra situação?\"\n      },\n      {\n        \"step\": \"Conectar solução à dor\",\n        \"instructions\": \"Após identificar a dor, reforçar que a solução pode ajudar especificamente nesse ponto\",\n        \"example_message\": \"Entendo. Nossa solução foi criada exatamente para ajudar terapeutas com essa dificuldade!\"\n      },\n      {\n        \"step\": \"Explicação adicional da solução\",\n        \"instructions\": \"Antes de oferecer a reunião, explicar detalhes extras da solução\",\n        \"example_message\": \"Nossa IA entende áudios enviados pelos seus clientes, interpreta múltiplas mensagens de texto e, após coletar informações sobre o motivo da busca por terapia, ela também te notifica em um grupo exclusivo com o nome do potencial cliente e um resumo do seu caso.\"\n      },\n      {\n        \"step\": \"Oferecer agendamento de reunião\",\n        \"instructions\": \"Depois de explicar a funcionalidade, convidar para agendar uma reunião\",\n        \"example_message\": \"Gostaria que eu te mostrasse tudo isso em detalhes numa reunião rápida de 30 minutos?\"\n      },\n      {\n        \"step\": \"Agendar reunião\",\n        \"instructions\": \"Se a pessoa demonstrar interesse, pedir para sugerir um dia e um período (manhã ou tarde)\",\n        \"example_message\": \"Que dia e período (manhã ou tarde) seria melhor para você? Assim organizamos tudo certinho.\"\n      },\n      {\n        \"step\": \"Confirmação de agendamento\",\n        \"instructions\": \"Após receber a sugestão, informar que um especialista entrará em contato para confirmar o horário certinho e enviar o número de protocolo\",\n        \"example_message\": \"Perfeito! Vou pedir para um dos nossos especialistas entrar em contato para confirmar direitinho o horário com você. Seu número de protocolo é 338201. Até breve!\"\n      }\n    ]\n  }\n}\n"}},"id":"0c1bc6f9-b418-4f1a-a02b-7b4973a10fb9","name":"Atendente1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[3408,480],"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"16","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[3712,608],"id":"16a4d1f5-3c9f-4bb5-8de8-85d77d23b507","name":"Simple Memory","disabled":true},{"parameters":{"operation":"update","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"atendimento_ia","fieldValue":"pause"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5728,2368],"id":"2e1b5b18-dad0-4f55-bc7e-7c975ba04aae","name":"Pausar IA1"}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"buscar_documentos","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"buscar_documentos","type":"ai_vectorStore","index":0}]]},"OpenAI3":{"ai_languageModel":[[{"node":"Parser  Chain","type":"ai_languageModel","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Evolution API","type":"main","index":0}]]},"OutputParser1":{"ai_outputParser":[[{"node":"Parser  Chain","type":"ai_outputParser","index":0}]]},"Parser  Chain":{"main":[[{"node":"Split de Mensagem","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Atendente","type":"ai_languageModel","index":0}]]},"Atendente":{"main":[[{"node":"Switch2","type":"main","index":0},{"node":"Busca Telefone","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Atendente","type":"ai_memory","index":0}]]},"Switch2":{"main":[[{"node":"Parser  Chain","type":"main","index":0}],[{"node":"Evolution API1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Evolution API":{"main":[[{"node":"1 segundo","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"ListMessages-Supabase2","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Cria Histórico Supabase","type":"main","index":0}]]},"If4":{"main":[[{"node":"Adiciona CHAT supabase","type":"main","index":0}],[{"node":"Atualiza CHAT Supabase","type":"main","index":0}]]},"Busca Telefone":{"main":[[{"node":"If4","type":"main","index":0}]]},"Adiciona CHAT supabase":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Atualiza CHAT Supabase":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Cria Histórico Supabase":{"main":[[{"node":"Delete Memory","type":"main","index":0}]]},"Split de Mensagem":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"1 segundo":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"buscar_documentos":{"ai_tool":[[{"node":"Agente Rag","type":"ai_tool","index":0}]]},"ListMessages-Supabase2":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Pausar IA1","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Switch6","type":"main","index":0}],[{"node":"Supabase1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Switch6","type":"main","index":0}]]},"Webhook EVO":{"main":[[{"node":"Dados","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"If3":{"main":[[{"node":"Redis5","type":"main","index":0}],[{"node":"Redis4","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Redis5":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Text Memory1","type":"main","index":0}],[{"node":"Text Memory1","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"If3","type":"main","index":0}]]},"Compara Get Memory1":{"main":[[{"node":"Mensagem Completa","type":"main","index":0}]]},"Text Memory1":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Audio Memory1":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Compara Get Memory1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Get Memory 2","type":"main","index":0}]]},"Get Memory 1":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Get Memory 2":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Switch6":{"main":[[{"node":"Rotas1","type":"main","index":0}],[{"node":"Verificar Pause","type":"main","index":0}]]},"Mensagem Completa":{"main":[[{"node":"Agente Rag","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Audio Memory1","type":"main","index":0}]]},"OpenAI Model":{"ai_languageModel":[[{"node":"Agente Treinamento RAG","type":"ai_languageModel","index":0}]]},"Treinamento_feito":{"ai_tool":[[{"node":"Agente Treinamento RAG","type":"ai_tool","index":0}]]},"Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Aggregate1":{"main":[[{"node":"Summarize1","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore1","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Insert into Supabase Vectorstore1","type":"ai_document","index":0}]]},"Download File1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Extract from Excel2":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Agente Treinamento RAG":{"main":[[{"node":"Deleta linhas antigas do documento1","type":"main","index":0}]]},"Rotas":{"main":[[],[{"node":"Supabase","type":"main","index":0}],[{"node":"Agente Treinamento RAG","type":"main","index":0}]]},"Pausar IA":{"main":[[{"node":"Salvar Historicoo Humano","type":"main","index":0}]]},"Verificar Pause":{"main":[[{"node":"Rota Atendimento","type":"main","index":0}]]},"Rota Atendimento":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"Salvar Historicoo Humano1","type":"main","index":0}]]},"Rotas1":{"main":[[{"node":"Pausar IA","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Reativar IA":{"main":[[{"node":"Salvar Historicoo Humano","type":"main","index":0}]]},"Dados":{"main":[[{"node":"Rotas","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Reativar IA","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Agente Rag","type":"ai_languageModel","index":0}]]},"Agente Rag":{"main":[[{"node":"Atendente","type":"main","index":0}]]},"Atualizar_treinamento":{"ai_tool":[[{"node":"Agente Treinamento RAG","type":"ai_tool","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel2","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Summarize1":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Download File1","type":"main","index":0}]]},"Deleta linhas antigas do documento1":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Deleta linhas antigas do documento1","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Atendente1","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Atendente1","type":"ai_memory","index":0}]]},"Salvar Historicoo Humano1":{"main":[[{"node":"Switch1","type":"main","index":0}]]}},"pinData":{"Webhook EVO":[{"json":{"headers":{"host":"webhook.brenoluiz.com","user-agent":"axios/1.7.9","content-length":"952","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.brenoluiz.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"a48f6555c969","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Breno2","data":{"key":{"remoteJid":"553199905686@s.whatsapp.net","fromMe":false,"id":"3EB076C5765248E2104FD0"},"pushName":"Breno Luiz","status":"DELIVERY_ACK","message":{"conversation":"qual é meu numero de protocolo mesmo ?","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"uF9ZSLJLccNn9Q==","senderTimestamp":"1745523443","senderAccountType":"E2EE","receiverAccountType":"E2EE","recipientKeyHash":"7Zmo8dM6/NwyLQ==","recipientTimestamp":"1745523475"},"deviceListMetadataVersion":2,"messageSecret":"mtGggzkfRSgy8h41m6BJxDvZe197Ds0P5ZSz5g/OPo4="}},"messageType":"conversation","messageTimestamp":1745623915,"instanceId":"4baef9ca-f39b-450c-a0ad-8ade3fac4486","source":"web"},"destination":"https://webhook.brenoluiz.com/webhook/aula","date_time":"2025-04-25T20:31:55.895Z","sender":"553193673427@s.whatsapp.net","server_url":"https://api.brenoluiz.com","apikey":"DC93469263FD-4FE6-8B66-63D4B0D8461F"},"webhookUrl":"https://webhook.brenoluiz.com/webhook/aula","executionMode":"production"}}],"Agente Rag":[{"json":{"output":"sem dica de resposta"}}]},"meta":null}