2025/12/27/Shopee - Lista Produtos.json
{"nodes":[{"parameters":{"method":"POST","url":"=https://open-api.affiliate.shopee.com.br/graphql","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $json.authorizationHeader || $json.headers.Authorization}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.requestBody || $json.body}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-544,864],"id":"aeabcc46-2241-4936-a2a2-949714998af4","name":"API Shopee3"},{"parameters":{"jsCode":"const root = $json;\n\n// Suporta formato direto ou encapsulado\nconst dataObj = root?.data ? root : (Array.isArray(root) ? root[0] : root);\nconst nodes = dataObj?.data?.productOfferV2?.nodes ?? [];\n\nconst now = Math.floor(Date.now() / 1000);\n\nfunction toNum(v) {\n  if (v === null || v === undefined) return null;\n  const n = Number(String(v).replace(',', '.'));\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction isOfertaAtivaHoje(p) {\n  const discount = toNum(p.priceDiscountRate) ?? 0;\n  const start = toNum(p.periodStartTime) ?? 0;\n  const end = toNum(p.periodEndTime) ?? 0;\n\n  const dentroDoPeriodo = (!start || now >= start) && (!end || now <= end);\n  return discount > 0 && dentroDoPeriodo;\n}\n\n// Chave de unicidade (prioriza itemId; fallback em link/nome)\nfunction uniqueKey(p) {\n  return (\n    p.itemId ??\n    p.productId ??\n    p.productLink ??\n    p.offerLink ??\n    (p.productName ? String(p.productName).toLowerCase().trim() : null) ??\n    JSON.stringify(p)\n  );\n}\n\n// 1) Filtra ofertas do dia\nlet ofertas = nodes.filter(isOfertaAtivaHoje);\n\n// Fallback: se não tiver oferta do dia, pega todos\nif (ofertas.length === 0) ofertas = nodes;\n\n// 2) Remove duplicados (mantém a melhor versão do mesmo produto)\n// Critério de \"melhor\" aqui já considera comissão maior\nconst map = new Map();\n\nfor (const p of ofertas) {\n  const key = uniqueKey(p);\n  const current = map.get(key);\n\n  const cr = toNum(p.commissionRate) ?? 0; // taxa (ex: 0.12)\n  const cc = toNum(p.commission) ?? 0;     // valor, se existir\n  const dr = toNum(p.priceDiscountRate) ?? 0;\n\n  if (!current) {\n    map.set(key, p);\n  } else {\n    const cr2 = toNum(current.commissionRate) ?? 0;\n    const cc2 = toNum(current.commission) ?? 0;\n    const dr2 = toNum(current.priceDiscountRate) ?? 0;\n\n    // escolhe o que tiver maior commissionRate\n    if (cr > cr2) map.set(key, p);\n    // desempates (opcionais): maior valor de comissão, maior desconto\n    else if (cr === cr2 && cc > cc2) map.set(key, p);\n    else if (cr === cr2 && cc === cc2 && dr > dr2) map.set(key, p);\n  }\n}\n\nofertas = Array.from(map.values());\n\n// 3) Ordena por taxa de comissão (maior -> menor)\n// Desempates: valor de comissão, desconto, menor preço\nofertas.sort((a, b) => {\n  const ra = toNum(a.commissionRate) ?? 0;\n  const rb = toNum(b.commissionRate) ?? 0;\n  if (rb !== ra) return rb - ra;\n\n  const ca = toNum(a.commission) ?? 0;\n  const cb = toNum(b.commission) ?? 0;\n  if (cb !== ca) return cb - ca;\n\n  const da = toNum(a.priceDiscountRate) ?? 0;\n  const db = toNum(b.priceDiscountRate) ?? 0;\n  if (db !== da) return db - da;\n\n  const pa = toNum(a.price) ?? Number.POSITIVE_INFINITY;\n  const pb = toNum(b.price) ?? Number.POSITIVE_INFINITY;\n  return pa - pb;\n});\n\n// 4) Deixa passar só 1\nif (!ofertas || ofertas.length === 0) {\n  return [{ json: { found: false, motivo: 'Sem produtos no retorno' } }];\n}\n\nconst prod = ofertas[0];\nconst preco = toNum(prod.price);\nconst commissionRate = toNum(prod.commissionRate); // ex: 0.12\nconst commission = toNum(prod.commission);\n\nreturn [\n  {\n    json: {\n      found: true,\n      nome: prod.productName ?? null,\n      id: prod.itemId ?? null,\n      preco: preco,\n      desconto: prod.priceDiscountRate ?? 0,\n      imagem: prod.imageUrl ?? null,\n      link: prod.productLink ?? null,\n      periodoInicio: prod.periodStartTime ?? null,\n      periodoFim: prod.periodEndTime ?? null,\n      ofertaAtiva: isOfertaAtivaHoje(prod),\n\n      loja: prod.shopName ?? null,\n      vendas: prod.sales != null ? toNum(prod.sales) : null,\n      avaliacao: prod.ratingStar != null ? toNum(prod.ratingStar) : null,\n\n      // comissão\n      comissao: commission,\n      // se vier 0.12 vira 12 (%)\n      comissaoPercent: commissionRate != null ? commissionRate * 100 : null,\n\n      linkAfiliado: prod.offerLink ?? null,\n      categorias: prod.productCatIds ?? null\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-336,864],"id":"7f19362a-bb88-4db9-9946-6246ff44257e","name":"Extrai Informações3"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-96,864],"id":"42089914-4c3f-4004-a3f6-8860bb2f1344","name":"Loop Over Items3"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Produtos shopee","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Status":"nao_enviado","ID":"={{ $('Loop Over Items3').item.json.id }}","Item Name":"={{ $('Loop Over Items3').item.json.nome }}","Shop Name":"={{ $('Loop Over Items3').item.json.loja }}","Commission Rate":"={{ $('Loop Over Items3').item.json.comissao }}","Commission":"={{ $('Loop Over Items3').item.json.comissaoPercent }}","Product Link":"={{ $('Loop Over Items3').item.json.link }}","Offer Link":"={{ $('Loop Over Items3').item.json.linkAfiliado }}","Price":"={{ $('Loop Over Items3').item.json.preco }}","Sales":"={{ $('Loop Over Items3').item.json.vendas }}"},"matchingColumns":[],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Item Name","displayName":"Item Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Price","displayName":"Price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sales","displayName":"Sales","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Shop Name","displayName":"Shop Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Commission Rate","displayName":"Commission Rate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Commission","displayName":"Commission","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Product Link","displayName":"Product Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Offer Link","displayName":"Offer Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Finalizado em","displayName":"Finalizado em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1008,928],"id":"9e3657b9-38ab-4140-aade-de5e85f6e4f2","name":"Adiciona produto na planilha2","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Produtos shopee","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ID","lookupValue":"={{ $json.id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,880],"id":"40252c05-16e0-44c0-b35c-e25a1f89287b","name":"Get row(s) in sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca6a2dd3-bb03-4c47-b07c-bb3224f3bd6b","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,880],"id":"75c75dff-7d1c-4940-8748-298ad0c62e83","name":"If"},{"parameters":{"content":"","height":416,"width":2128,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-784,720],"id":"40a7d74d-1a24-4dc0-bb5d-f36c8b0a79ef","name":"Sticky Note24"},{"parameters":{"content":"# Alimenta lista de produtos shopee","height":96,"width":608,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-784,720],"id":"4835cf44-b1f1-4f33-8e6c-c6ee53f3b932","name":"Sticky Note25"},{"parameters":{"content":"","height":368,"width":1776},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-784,320],"id":"a2eb9deb-5464-431c-a22b-6d00d3c56a2e","name":"Sticky Note26"},{"parameters":{"content":"# Verifica se já tem o suficiente na planilha","height":80,"width":688,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-784,320],"id":"575c01b5-3a12-4764-9480-8919a4babf50","name":"Sticky Note27"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-720,64],"id":"fe624d71-672e-46fb-9620-aa2f2ea911ed","name":"Schedule Trigger"},{"parameters":{"operation":"clear","documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Produtos shopee","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=0"},"clear":"specificRange","range":"A2:K"},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-528,64],"id":"a9debf32-1b5c-4cff-97f6-56143f868000","name":"Clear sheet","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"content":"### Zera planilha de produtos para sempre produtos novos no dia","height":80,"width":512,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-800,-96],"id":"71c9ee3b-9865-43ec-b711-75f5c40cc812","name":"Sticky Note"},{"parameters":{"content":"","height":384,"width":512,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-800,-96],"id":"348d4f80-efbf-4ec5-8d95-25cbe2446770","name":"Sticky Note1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1296,-384],"id":"64871354-080d-4a2d-ab81-3e2a0afd939f","name":"HTTP Request"},{"parameters":{"jsCode":"const shopId = 296730532;\n\nconst graphqlPayloadObject = {\n  query: `\n    query GetProductOffersByShop($shopId: Int!) {\n      productOfferV2(shopId: $shopId) {\n        nodes {\n          productName\n          itemId\n          shopId\n          shopName\n          commissionRate\n          commission\n          price\n          sales\n          imageUrl\n          productLink\n          offerLink\n          periodStartTime\n          periodEndTime\n          priceMin\n          priceMax\n          ratingStar\n          priceDiscountRate\n          productCatIds\n        }\n        pageInfo {\n          page\n          limit\n          hasNextPage\n          scrollId\n        }\n      }\n    }\n  `,\n  variables: { shopId }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1664,-320],"id":"9e30c678-8041-4f84-ab6a-472dcf3a3388","name":"Prepara Query para API Shopee"},{"parameters":{"jsCode":"const crypto = require('crypto');\n\nconst APP_ID = '18398850421';\nconst SECRET = 'Q24H7XRYJKETZ7FTTSCL3GL7XLKFV5VV';\n\nconst timestamp = Math.floor(Date.now() / 1000);\n\nconst productCatId = 100073;\n\nconst payload = {\n  query: `\n    query GetOffers($page:Int,$limit:Int,$productCatId:Int){\n      productOfferV2(\n        page:$page,\n        limit:$limit,\n        productCatId:$productCatId,\n        sortType:2\n      ){\n        nodes{\n          productName\n          itemId\n          price\n          priceDiscountRate\n          periodStartTime\n          periodEndTime\n          productLink\n          offerLink\n          commissionRate\n          commission\n          shopName\n          sales\n          ratingStar\n          productCatIds\n          imageUrl\n        }\n      }\n    }\n  `,\n  variables: {\n    page: 1,\n    limit: 50,\n    productCatId\n  }\n};\n\nconst payloadString = JSON.stringify(payload);\nconst signature = crypto\n  .createHash('sha256')\n  .update(`${APP_ID}${timestamp}${payloadString}${SECRET}`)\n  .digest('hex');\n\nreturn [{\n  json: {\n    headers: {\n      Authorization: `SHA256 Credential=${APP_ID}, Timestamp=${timestamp}, Signature=${signature}`\n    },\n    body: payload\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,976],"id":"cf59a654-4ca5-4f70-99f2-3b898c96318b","name":"ELETRÔNICOS & ACESSÓRIOS"},{"parameters":{"jsCode":"const crypto = require('crypto');\n\nconst APP_ID = '18398850421';\nconst SECRET = 'Q24H7XRYJKETZ7FTTSCL3GL7XLKFV5VV';\n\nconst timestamp = Math.floor(Date.now() / 1000);\n\nconst productCatId = 100636;\n\nconst payload = {\n  query: `\n    query GetOffers($page:Int,$limit:Int,$productCatId:Int){\n      productOfferV2(\n        page:$page,\n        limit:$limit,\n        productCatId:$productCatId,\n        sortType:2\n      ){\n        nodes{\n          productName\n          itemId\n          price\n          priceDiscountRate\n          periodStartTime\n          periodEndTime\n          productLink\n          offerLink\n          commissionRate\n          commission\n          shopName\n          sales\n          ratingStar\n          productCatIds\n          imageUrl\n        }\n      }\n    }\n  `,\n  variables: {\n    page: 1,\n    limit: 50,\n    productCatId\n  }\n};\n\nconst payloadString = JSON.stringify(payload);\nconst signature = crypto\n  .createHash('sha256')\n  .update(`${APP_ID}${timestamp}${payloadString}${SECRET}`)\n  .digest('hex');\n\nreturn [{\n  json: {\n    headers: {\n      Authorization: `SHA256 Credential=${APP_ID}, Timestamp=${timestamp}, Signature=${signature}`\n    },\n    body: payload\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,1168],"id":"3505baf9-0e46-45ce-9533-dea0cbee598a","name":"CASA & COZINHA"},{"parameters":{"jsCode":"const crypto = require('crypto');\n\nconst APP_ID = '18398850421';\nconst SECRET = 'Q24H7XRYJKETZ7FTTSCL3GL7XLKFV5VV';\n\nconst timestamp = Math.floor(Date.now() / 1000);\n\nconst productCatId = 100630;\n\nconst payload = {\n  query: `\n    query GetOffers($page:Int,$limit:Int,$productCatId:Int){\n      productOfferV2(\n        page:$page,\n        limit:$limit,\n        productCatId:$productCatId,\n        sortType:2\n      ){\n        nodes{\n          productName\n          itemId\n          price\n          priceDiscountRate\n          periodStartTime\n          periodEndTime\n          productLink\n          offerLink\n          commissionRate\n          commission\n          shopName\n          sales\n          ratingStar\n          productCatIds\n          imageUrl\n        }\n      }\n    }\n  `,\n  variables: {\n    page: 1,\n    limit: 50,\n    productCatId\n  }\n};\n\nconst payloadString = JSON.stringify(payload);\nconst signature = crypto\n  .createHash('sha256')\n  .update(`${APP_ID}${timestamp}${payloadString}${SECRET}`)\n  .digest('hex');\n\nreturn [{\n  json: {\n    headers: {\n      Authorization: `SHA256 Credential=${APP_ID}, Timestamp=${timestamp}, Signature=${signature}`\n    },\n    body: payload\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,1344],"id":"c1f45ec9-53a7-4997-ab59-1f4888a03db0","name":"BELEZA & CUIDADOS PESSOAIS"},{"parameters":{"jsCode":"const crypto = require('crypto');\n\nconst APP_ID = '18398850421';\nconst SECRET = 'Q24H7XRYJKETZ7FTTSCL3GL7XLKFV5VV';\n\nconst timestamp = Math.floor(Date.now() / 1000);\n\nconst productCatId = 100012;\n\nconst payload = {\n  query: `\n    query GetOffers($page:Int,$limit:Int,$productCatId:Int){\n      productOfferV2(\n        page:$page,\n        limit:$limit,\n        productCatId:$productCatId,\n        sortType:2\n      ){\n        nodes{\n          productName\n          itemId\n          price\n          priceDiscountRate\n          periodStartTime\n          periodEndTime\n          productLink\n          offerLink\n          commissionRate\n          commission\n          shopName\n          sales\n          ratingStar\n          productCatIds\n          imageUrl\n        }\n      }\n    }\n  `,\n  variables: {\n    page: 1,\n    limit: 50,\n    productCatId\n  }\n};\n\nconst payloadString = JSON.stringify(payload);\nconst signature = crypto\n  .createHash('sha256')\n  .update(`${APP_ID}${timestamp}${payloadString}${SECRET}`)\n  .digest('hex');\n\nreturn [{\n  json: {\n    headers: {\n      Authorization: `SHA256 Credential=${APP_ID}, Timestamp=${timestamp}, Signature=${signature}`\n    },\n    body: payload\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,1536],"id":"6b6fde5c-3aac-4d0e-a667-c35860595be9","name":"MODA & ACESSÓRIOS"},{"parameters":{"jsCode":"const crypto = require('crypto');\n\nconst APP_ID = '18398850421';\nconst SECRET = 'Q24H7XRYJKETZ7FTTSCL3GL7XLKFV5VV';\n\nconst timestamp = Math.floor(Date.now() / 1000);\n\nconst productCatId = 100641;\n\nconst payload = {\n  query: `\n    query GetOffers($page:Int,$limit:Int,$productCatId:Int){\n      productOfferV2(\n        page:$page,\n        limit:$limit,\n        productCatId:$productCatId,\n        sortType:2\n      ){\n        nodes{\n          productName\n          itemId\n          price\n          priceDiscountRate\n          periodStartTime\n          periodEndTime\n          productLink\n          offerLink\n          commissionRate\n          commission\n          shopName\n          sales\n          ratingStar\n          productCatIds\n          imageUrl\n        }\n      }\n    }\n  `,\n  variables: {\n    page: 1,\n    limit: 50,\n    productCatId\n  }\n};\n\nconst payloadString = JSON.stringify(payload);\nconst signature = crypto\n  .createHash('sha256')\n  .update(`${APP_ID}${timestamp}${payloadString}${SECRET}`)\n  .digest('hex');\n\nreturn [{\n  json: {\n    headers: {\n      Authorization: `SHA256 Credential=${APP_ID}, Timestamp=${timestamp}, Signature=${signature}`\n    },\n    body: payload\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,1712],"id":"929de19b-3db4-47e8-9fd7-376e47da6819","name":"BRINQUEDOS & PRESENTES INFANTIS"},{"parameters":{"jsCode":"// 1) Payload original que contém data.productOfferV2.nodes\n// Prefira puxar direto do node que tem esse JSON completo\nconst payload = $('Loop Over Items3').first().json;\n\n// 2) ID do produto atual (o que você acabou de checar no Sheets)\n// Se você já tem o ID no fluxo, ajuste aqui conforme sua estrutura\nconst idParaRemover = $json.id || $json.itemId || $json.ID;\n\n// Se não achou ID pra remover, devolve payload original\nif (!idParaRemover) {\n  return [{ json: payload }];\n}\n\n// Clona para não alterar referência\nconst data = JSON.parse(JSON.stringify(payload));\n\nconst nodes = data?.data?.productOfferV2?.nodes;\n\nif (!Array.isArray(nodes)) {\n  return [{ json: data }];\n}\n\n// Remove o duplicado\ndata.data.productOfferV2.nodes = nodes.filter(\n  (p) => String(p.itemId) !== String(idParaRemover)\n);\n\ndata._debug = {\n  idRemovido: idParaRemover,\n  totalAntes: nodes.length,\n  totalDepois: data.data.productOfferV2.nodes.length\n};\n\nreturn [{ json: data }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,656],"id":"23ca0227-e755-40c9-b74b-dffb9059c91f","name":"Code in JavaScript"},{"parameters":{"amount":"={{ Math.floor(Math.random() * (9 - 4 + 1)) + 40 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[416,880],"id":"18165d82-30dc-4485-ae11-2c4bd0459afb","name":"Wait","webhookId":"9af00f26-d2d1-4107-ba17-f3f0f749c355"},{"parameters":{"amount":"={{ Math.floor(Math.random() * (9 - 4 + 1)) + 4 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1216,928],"id":"6323103a-8a22-49a4-8743-d7879b289bc4","name":"Wait1","webhookId":"ee05ff6a-f371-4182-a010-edab28a2ee9b"},{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1072,976],"id":"37ea929a-0d88-4836-b76e-d901b8eab52c","name":"Schedule Trigger1"},{"parameters":{"rule":{"interval":[{"triggerAtHour":5,"triggerAtMinute":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1072,1168],"id":"0a4d32a9-d478-4340-be4b-b164bb20726c","name":"Schedule Trigger2"},{"parameters":{"rule":{"interval":[{"triggerAtHour":5,"triggerAtMinute":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1072,1344],"id":"ca87aa86-535f-4d30-8491-154e25e95fd2","name":"Schedule Trigger3"},{"parameters":{"rule":{"interval":[{"triggerAtHour":5,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1072,1536],"id":"f74b447a-80d9-4376-aedc-4c26b61a1ce2","name":"Schedule Trigger4"},{"parameters":{"rule":{"interval":[{"triggerAtHour":5,"triggerAtMinute":40}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1072,1712],"id":"672ac530-e08c-4aa2-ade1-1bd116544712","name":"Schedule Trigger5"}],"connections":{"API Shopee3":{"main":[[{"node":"Extrai Informações3","type":"main","index":0}]]},"Extrai Informações3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Adiciona produto na planilha2":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}],[{"node":"Adiciona produto na planilha2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Clear sheet","type":"main","index":0}]]},"ELETRÔNICOS & ACESSÓRIOS":{"main":[[{"node":"API Shopee3","type":"main","index":0}]]},"CASA & COZINHA":{"main":[[{"node":"API Shopee3","type":"main","index":0}]]},"BELEZA & CUIDADOS PESSOAIS":{"main":[[{"node":"API Shopee3","type":"main","index":0}]]},"MODA & ACESSÓRIOS":{"main":[[{"node":"API Shopee3","type":"main","index":0}]]},"BRINQUEDOS & PRESENTES INFANTIS":{"main":[[{"node":"API Shopee3","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Wait":{"main":[[{"node":"If","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Prepara Query para API Shopee1","type":"main","index":0},{"node":"Pega produto na planilha","type":"main","index":0},{"node":"ELETRÔNICOS & ACESSÓRIOS","type":"main","index":0}]]},"Prepara Query para API Shopee1":{"main":[[{"node":"Extrai Informações1","type":"main","index":0},{"node":"API Shopee1","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"CASA & COZINHA","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"BELEZA & CUIDADOS PESSOAIS","type":"main","index":0}]]},"Schedule Trigger4":{"main":[[{"node":"MODA & ACESSÓRIOS","type":"main","index":0}]]},"Schedule Trigger5":{"main":[[{"node":"BRINQUEDOS & PRESENTES INFANTIS","type":"main","index":0}]]}},"pinData":{},"meta":null}