2025/12/27/Shopee.json
{"nodes":[{"parameters":{"promptType":"define","text":"=Produto: {{ $('Extrai Informações').item.json.productName }}\nLink de Oferta: {{ $('Extrai Informações').item.json.offerLink }}\nPreço: {{ (() => {\n  const rawMin = $('Extrai Informações').item.json.priceMin;\n  const rawMax = $('Extrai Informações').item.json.priceMax;\n  const toNum = v => Number(String(v ?? '').replace(',', '.'));\n  const pmin = toNum(rawMin);\n  const pmax = toNum(rawMax);\n  const fmt = v => isFinite(v) ? ('R$ ' + v.toFixed(2).replace('.', ',')) : null;\n\n  if (!isFinite(pmin) && !isFinite(pmax)) return 'Indisponível';\n  if (isFinite(pmin) && isFinite(pmax)) {\n    if (Math.abs(pmax - pmin) < 0.01) return fmt(pmin);\n    const spread = (pmax - pmin) / Math.max(pmin, 0.01);\n    return spread >= 0.2 ? ('a partir de ' + fmt(pmin)) : ('de ' + fmt(pmin) + ' a ' + fmt(pmax));\n  }\n  if (isFinite(pmin)) return 'a partir de ' + fmt(pmin);\n  if (isFinite(pmax)) return 'até ' + fmt(pmax);\n  return 'Indisponível';\n})() }}\nAvaliação: {{ (Number($('Extrai Informações').item.json.ratingStar) || 0).toFixed(1).replace('.', ',') }} ★\n","options":{"systemMessage":"={\n  \"name\": \"AutoPromo\",\n  \"context\": {\n    \"identity\": \"Bot Vendedor da Automação Inteligente\",\n    \"business\": \"Sistema de Automação Inteligente\",\n    \"Language\": \"português brasileiro\",\n    \"data_atual\": \"hoje é: {{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, hora: {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n  \"Informação atualizada para usar em resposta\": \"{{ $json.output }}\",\n  \"personality\": [\n    \"Tom persuasivo, envolvente e natural\",\n    \"Usa emojis estratégicos 🎯🔧🔥 para chamar atenção sem exageros\",\n    \"Estilo formal-coloquial: próximo e humano, sem gírias excessivas\",\n    \"Enfatiza benefícios, urgência e escassez para aumentar conversão\"\n  ],\n  \"objectives\": [\n    \"Gerar mensagens automáticas curtas, criativas e visualmente organizadas para divulgar produtos da Shopee no WhatsApp\",\n    \"Criar textos que incentivem o clique imediato, transmitindo valor e urgência\"\n  ],\n  \"general_rules\": [\n    \"Resumir o nome do produto para no máximo 4–6 palavras, removendo termos irrelevantes (ex.: numeração, códigos, descrições longas)\",\n    \"Nunca incluir o link da Shopee mais de uma vez na mesma mensagem\",\n    \"Não repetir a mesma informação em blocos diferentes da mensagem\",\n    \"Não usar formato de link clicável com texto igual ao link\",\n    \"Usar quebras de linha para criar blocos visuais claros\",\n    \"Começar com título chamativo, pergunta de impacto ou alerta\",\n    \"Usar bullets ou marcadores ✔️🔧💡 para listar vantagens\",\n    \"Transmitir urgência real (ex.: últimas unidades, válido só hoje)\",\n    \"Finalizar com CTA direta e destacada: 'Clique agora', 'Garanta já', 'Aproveite aqui'\",\n    \"Evitar parágrafos longos; manter leitura escaneável\",\n    \"Nunca coloque o preço e o link duas vezes, SEMPRE uma vez\"\n  ],\n  \"price_logic\": \"Se min==max (ou diferença < R$0,01) → preço único. Se spread >= 20% → 'a partir de R$ min'. Caso contrário → 'de R$ min a R$ max'. Se só min → 'a partir de R$ min'. Se só max → 'até R$ max'.\",\n  \"flow_de_atendimento_padrão\": {\n    \"steps\": [\n      {\n        \"1\": \"Mensagem inicial de impacto:\\n🚨 *PROMOÇÃO RELÂMPAGO* 🚨\\n❓ *Já pensou em ter {{ $('Extrai Informações').item.json.productName }} em casa?*\\n💥 *Campeão de vendas na Shopee!*\"\n      },\n      {\n        \"2\": \"Lista de benefícios + preço:\\n✔️ Benefício 1\\n✔️ Benefício 2\\n✔️ Benefício 3\\n💡 Preço: {{ (() => { const toNum = v => Number(String(v ?? '').replace(',', '.')); const pmin = toNum($('Extrai Informações').item.json.priceMin); const pmax = toNum($('Extrai Informações').item.json.priceMax); const fmt = v => isFinite(v) ? ('R$ ' + v.toFixed(2).replace('.', ',')) : null; if (!isFinite(pmin) && !isFinite(pmax)) return 'Indisponível'; if (isFinite(pmin) && isFinite(pmax)) { if (Math.abs(pmax - pmin) < 0.01) return fmt(pmin); const spread = (pmax - pmin) / Math.max(pmin, 0.01); return spread >= 0.2 ? ('a partir de ' + fmt(pmin)) : ('de ' + fmt(pmin) + ' a ' + fmt(pmax)); } if (isFinite(pmin)) return 'a partir de ' + fmt(pmin); if (isFinite(pmax)) return 'até ' + fmt(pmax); return 'Indisponível'; })() }}\"\n      },\n      {\n        \"3\": \"Urgência e CTA:\\n🔥 *Últimas unidades!*\\n👉 *Garanta agora:* {{ $('Extrai Informações').item.json.offerLink }}\\n⏳ *Promoção válida só hoje!*\"\n      },\n      {\n        \"4\": \"Modelos extras para diversidade (alternar aleatoriamente)\",\n        \"modelos\": [\n          \"🔥 **{{ produto_curto }}**\\n💰 {{ preço }}\\n⭐ Avaliação: {{ avaliação }} ★\\n📦 Aproveite agora → {{ link }}\",\n          \"⚠️ Restam poucas peças de **{{ produto_curto }}**!\\n💵 {{ preço }} | ⭐ {{ avaliação }}\\n🛒 Garanta o seu: {{ link }}\",\n          \"🎯 Você precisa ver isso: **{{ produto_curto }}**\\nDe: ~~preço antigo~~ | Por: {{ preço }}\\n⭐ Avaliação: {{ avaliação }}\\n📌 Clique e compre: {{ link }}\",\n          \"🏆 Top vendas: **{{ produto_curto }}**\\n💲 {{ preço }} | ⭐ {{ avaliação }}\\n💨 Não fique sem → {{ link }}\",\n          \"📢 Só hoje: **{{ produto_curto }}**\\n💰 {{ preço }} | ⭐ {{ avaliação }}\\n🛒 Garanta com desconto → {{ link }}\"\n        ]\n      }\n    ]\n  }\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[336,656],"id":"d712bb07-df12-449f-8642-7280a5a35268","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[128,752],"id":"bce7d902-a47e-43ee-b4e0-3ce8f8238f21","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Estevão - pessoal","remoteJid":"={{ $('Pega \\'telefone\\' dos grupos').item.json['Número do grupo'] }}","media":"={{ $('Extrair imagem do link').item.json.imagem_produto }}","caption":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[944,656],"id":"5aa47ef4-1feb-4adf-ac9a-3a503b963c1b","name":"Enviar imagem","alwaysOutputData":true,"credentials":{"evolutionApi":{"id":"yNcLlaUxCcsYBcUx","name":"Pessoal"}}},{"parameters":{"amount":"={{ Math.floor(Math.random() * 5) + 40 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[736,656],"id":"b397c321-97a7-436c-8f08-cdc5f3999ae1","name":"Wait","webhookId":"1717c0cb-3a74-4962-a2a6-0645684ae23a"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-16,640],"id":"d91f1097-68c1-4e6d-9978-593086e38296","name":"Loop Over Items1"},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Produtos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"nao_enviado"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-112,224],"id":"1d356b92-4aec-4a4c-a801-4583d4018756","name":"Pega produto na planilha","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"content":"","height":352,"width":1344,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,80],"id":"c54e0d12-8540-43ee-ae9a-35e23a56202f","name":"Sticky Note"},{"parameters":{"content":"## Pega informações do produto tal como a imagem","height":80,"width":576,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,80],"id":"79234d1a-0191-4d07-8938-df9ec6a13fa3","name":"Sticky Note1"},{"parameters":{"documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":309245581,"mode":"list","cachedResultName":"Grupos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=309245581"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-240,640],"id":"45d065c8-c258-4976-a5bd-63eca0bb2e67","name":"Pega 'telefone' dos grupos","credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Produtos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qQJE9M5xGDcspFJAatzshol2_rhqemG7audaNt2SAVY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_produto }}","Status":"enviado","Finalizado em":"=Finalizado em: {{ new Date().toLocaleString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\", weekday: \"long\", day: \"2-digit\", month: \"2-digit\", year: \"numeric\", hour: \"2-digit\", minute: \"2-digit\" }) }}"},"matchingColumns":["row_number"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Item Name","displayName":"Item Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Price","displayName":"Price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Sales","displayName":"Sales","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Shop Name","displayName":"Shop Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Commission Rate","displayName":"Commission Rate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Commission","displayName":"Commission","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Product Link","displayName":"Product Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Offer Link","displayName":"Offer Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Finalizado em","displayName":"Finalizado em","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[0,1168],"id":"0d7bb019-d0b7-4604-8722-7cd6bb863278","name":"Pega produto na planilha1","credentials":{"googleSheetsOAuth2Api":{"id":"wvCtRhdolqHS01D3","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b9ac5523-a007-4069-8263-37d73524fb2a","name":"row_produto","value":"={{ $('Pega produto na planilha').item.json.row_number }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,1168],"id":"5811e918-3196-48f9-8763-2e3bb65e76ba","name":"Edit Fields"},{"parameters":{"content":"","height":432,"width":1488,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,496],"id":"ee48cf32-f17e-4439-9597-67c82c007b0d","name":"Sticky Note2"},{"parameters":{"content":"## Pega 'telefone' dos grupos, prepara mensagem e envia os produtos nos grupos","height":96,"width":672,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,496],"id":"62695e91-7db2-48b9-9bff-94734b89bf50","name":"Sticky Note3"},{"parameters":{"content":"","height":384,"width":608,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,992],"id":"1042ca41-a232-419f-ba34-07e1e642cb1a","name":"Sticky Note4"},{"parameters":{"content":"## Marca 'enviado' no produto","height":96,"width":384,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,992],"id":"ad35c29e-73bf-4ce7-b4b6-1fe907459196","name":"Sticky Note5"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[352,1120],"id":"a99e84e6-7ad6-41af-b4fb-0815e0f42794","name":"Error Trigger"},{"parameters":{"promptType":"define","text":"={{ $json.execution }}","options":{"systemMessage":"={\n  \"name\": \"LogBot\",\n  \"context\": {\n    \"identity\": \"Robô de monitoramento técnico de workflows N8N\",\n    \"business\": \"Watashi Labs - Divulgador de Shopee\",\n    \"Language\": \"português brasileiro\",\n    \"data_atual\": \"hoje é: {{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, hora: {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n  \"Informação atualizada para usar em resposta\": \"{{ $json.output }}\",\n  \"personality\": [\n    \"Tom técnico e direto\",\n    \"Sem emojis\",\n    \"Sem perguntas ou interação com usuário\",\n    \"Mensagem padronizada de erro com detalhamento técnico\"\n  },\n  \"objectives\": [\n    \"Identificar falhas em execuções de workflow\",\n    \"Gerar relatório técnico estruturado e fixo para desenvolvedores corrigirem problemas\"\n  ],\n  \"general_rules\": [\n    \"Sempre incluir ID da execução e do workflow\",\n    \"Sempre incluir URL da execução com link clicável\",\n    \"Sempre incluir mensagem de erro\",\n    \"Sempre incluir stack trace\",\n    \"Sempre indicar o modo da execução\",\n    \"Não perguntar nada ao usuário\",\n    \"Não tentar resolver ou interagir, apenas reportar\"\n  ],\n  \"flow_de_atendimento_padrão\": {\n    \"steps\": [\n      {\n        \"1\": \"Mensagem automática de erro detectado: '🚨 ERRO IDENTIFICADO NA EXECUÇÃO DO WORKFLOW'\"\n      },\n      {\n        \"2\": \"Relatório técnico fixo:\\n\\n➡️ **Workflow**: {{ $json.workflow.name }} (ID: {{ $json.workflow.id }})\\n➡️ **Execução**: ID {{ $json.execution.id }}\\n➡️ **Modo de execução**: {{ $json.execution.mode }}\\n➡️ **Data/Hora**: {{ $now.format('dd/MM/yyyy - HH:mm') }}\\n➡️ **Link da execução**: {{ $json.execution.url }}\\n\\n🛑 **Mensagem de erro**:\\n{{ $json.execution.error.message }}\\n\\n📄 **Stack trace**:\\n{{ $json.execution.error.stack }}\\n\\n✅ Ação recomendada: revisar o workflow no editor do N8N e validar se há algum nó com configuração incorreta, desatualizada ou dependência ausente.\"\n      }\n    ]\n  },\n  \"tools\": []\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[560,1120],"id":"6e19cff6-bc66-4e16-a7f2-77fa186954ef","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[560,1296],"id":"40761a4d-2162-4a2d-b1e8-d34aad65c023","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"listId":"68941895b8977bbbe1efd59d","name":"=Erro em {{ $('Error Trigger').item.json.workflow.name }} - {{ $json.execucao_id }}","description":"=# ❗ Erro identificado na execução do Workflow\n\n> 💡 **Dica:**  \n> **{{ $json.recomendacao }}**\n\n---\n\n## 🧩 Informações do Workflow\n\n- **Workflow:** Divulgador de Shopee  \n- **ID do Workflow:** `{{ $json.workflow_id }}`  \n- **ID da Execução:** `{{ $json.execucao_id }}`  \n- **Modo de Execução:** `{{ $json.modo_execucao }}`  \n- **Data/Hora:** `{{ $json.data_hora }}`  \n- **🔗 Link da Execução:**  \n  [Clique aqui para visualizar a execução]({{ $json.link_execucao }})\n\n---\n\n## 🛑 Mensagem de Erro\n\n{{ $json.mensagem_erro }}\n\n\n---\n\n## 📄 Stack Trace\n\n{{ $json.stack_trace }}\n\n\n---\n\n## ✅ Próximos passos sugeridos\n\n- Verificar se há nós mal configurados ou desatualizados  \n- Checar dependências e credenciais externas  \n- Testar o fluxo manualmente no editor n8n  \n","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1120,1120],"id":"21002bb0-1e61-498e-b07a-17b3a4b429b7","name":"Create a card","credentials":{"trelloApi":{"id":"OSvKEx1wr5hUtthA","name":"Estevão"}}},{"parameters":{"jsCode":"const texto = items[0].json.output || items[0].json?.output;\n\n// Expressões regulares para capturar os campos\nconst workflowId = texto.match(/\\*\\*Workflow\\*\\*: .*?\\(ID: ([^)]+)\\)/)?.[1] || null;\nconst execucaoId = texto.match(/\\*\\*Execução\\*\\*: ID (\\d+)/)?.[1] || null;\nconst modo = texto.match(/\\*\\*Modo de execução\\*\\*: ([^\\n]+)/)?.[1]?.trim() || null;\nconst dataHora = texto.match(/\\*\\*Data\\/Hora\\*\\*: ([^\\n]+)/)?.[1]?.trim() || null;\n\n// Captura o link e troca 'webhook.' por 'n8n.'\nconst linkMatch = texto.match(/\\[Clique aqui\\]\\((https:\\/\\/[^\\)]+)\\)/);\nconst link = linkMatch?.[1]?.replace('webhook.', 'n8n.') || null;\n\n// Mensagem de erro e stack trace\nconst mensagemErro = texto.match(/\\*\\*Mensagem de erro\\*\\*:\\n(.+?)\\n\\n/)?.[1]?.trim() || null;\nconst stackTrace = texto.match(/\\*\\*Stack trace\\*\\*:\\n([\\s\\S]+?)\\n\\n✅/)?.[1]?.trim() || null;\n\n// Ação recomendada\nconst recomendacao = texto.match(/✅ Ação recomendada: (.+)$/)?.[1]?.trim() || null;\n\n// Retorna o objeto com todos os dados extraídos\nreturn [\n  {\n    json: {\n      workflow_id: workflowId,\n      execucao_id: execucaoId,\n      modo_execucao: modo,\n      data_hora: dataHora,\n      link_execucao: link,\n      mensagem_erro: mensagemErro,\n      stack_trace: stackTrace,\n      recomendacao: recomendacao,\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,1120],"id":"9e9477bb-1956-4940-9d47-b3ebfe5dbace","name":"Code"},{"parameters":{"content":"","height":416,"width":1056,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[304,992],"id":"bf3abf2e-d281-47c9-85d9-d8558b39f179","name":"Sticky Note6"},{"parameters":{"content":"## MIni fluxo de erros - card no trello","height":96,"width":384,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[304,992],"id":"0aad58f5-2035-4ccb-b22b-de8031ff6fbf","name":"Sticky Note7"},{"parameters":{"url":"={{ $json.imageUrl }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,224],"id":"caaac3a1-864a-4431-9345-f0ffcb52886a","name":"Pesquisa imagem"},{"parameters":{"operation":"binaryToPropery","destinationKey":"imagem_produto","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[768,224],"id":"ec086359-0cfe-4986-9e45-3b707f7d1c20","name":"Extrair imagem do link"},{"parameters":{"method":"POST","url":"=https://open-api.affiliate.shopee.com.br/graphql","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"={{ $json.authorizationHeader }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.requestBody }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,224],"id":"c10ed8f9-7d62-4208-85a4-750ae87a0b9c","name":"API Shopee"},{"parameters":{"jsCode":"const crypto = require('crypto');\n\nconst appId = '18398850421';\nconst secret = 'Q24H7XRYJKETZ7FTTSCL3GL7XLKFV5VV';\n\n// Pega link do produto do node \"Pega produto na planilha\"\nconst url = $('Pega produto na planilha').first().json['Product Link'];\nif (!url) throw new Error('Nenhum link encontrado no campo \"Product Link\".');\n\n// Extrai shopId/itemId de /product/{shopId}/{itemId} ou -i.{shopId}.{itemId}\nlet shopId, itemId;\nlet m = url.match(/\\/product\\/(\\d+)\\/(\\d+)/);\nif (m) { \n  shopId = m[1]; \n  itemId = m[2]; \n} else {\n  m = url.match(/-i\\.(\\d+)\\.(\\d+)/);\n  if (m) { \n    shopId = m[1]; \n    itemId = m[2]; \n  }\n}\nif (!itemId) throw new Error('Não foi possível extrair itemId/shopId do link.');\n\n// Monta query GraphQL com literais\nconst rawQuery = `\n  query {\n    productOfferV2(itemId: ${itemId}, shopId: ${shopId || 'null'}, page: 1, limit: 1) {\n      nodes {\n        itemId shopId productName productLink offerLink imageUrl shopName\n        priceMin priceMax commissionRate sellerCommissionRate shopeeCommissionRate\n        ratingStar sales\n      }\n      pageInfo { page limit hasNextPage }\n    }\n  }\n`;\n\n// Minifica\nlet q = rawQuery\n  .replace(/\\/\\/.*$/gm, '')\n  .replace(/\\/\\*[\\s\\S]*?\\*\\//g, '')\n  .replace(/[\\n\\r]/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .replace(/\\s*([(){}:,])\\s*/g, '$1')\n  .trim();\n\nconst graphqlPayloadObject = { query: q };\nconst payloadString = JSON.stringify(graphqlPayloadObject);\n\nconst timestamp = Math.floor(Date.now() / 1000);\nconst signatureFactor = `${appId}${timestamp}${payloadString}${secret}`;\nconst signature = crypto.createHash('sha256').update(signatureFactor).digest('hex');\nconst authorizationHeader = `SHA256 Credential=${appId}, Timestamp=${timestamp}, Signature=${signature}`;\n\nreturn [{\n  json: {\n    url, itemId, shopId,\n    authorizationHeader,\n    requestBody: graphqlPayloadObject\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,224],"id":"b93c6527-cfef-4e93-bf09-838e8eaeb958","name":"Prepara Query para API Shopee"},{"parameters":{"jsCode":"// Pega o JSON retornado pelo node anterior\nconst input = $json;\n\n// Acesso seguro aos dados do primeiro produto\nconst product = input?.data?.productOfferV2?.nodes?.[0];\nif (!product) {\n  throw new Error('Nenhum produto encontrado na resposta.');\n}\n\n// Monta um objeto mais limpo com os campos desejados\nreturn [{\n  json: {\n    itemId: product.itemId,\n    shopId: product.shopId,\n    productName: product.productName,\n    productLink: product.productLink,\n    offerLink: product.offerLink,\n    imageUrl: product.imageUrl,\n    shopName: product.shopName,\n    priceMin: parseFloat(product.priceMin),\n    priceMax: parseFloat(product.priceMax),\n    commissionRate: parseFloat(product.commissionRate),\n    sellerCommissionRate: parseFloat(product.sellerCommissionRate),\n    shopeeCommissionRate: parseFloat(product.shopeeCommissionRate),\n    ratingStar: parseFloat(product.ratingStar),\n    sales: product.sales\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,224],"id":"6aab8207-3e30-4789-9581-0f7321459c12","name":"Extrai Informações"},{"parameters":{"content":"","height":1552,"width":1808,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,-48],"id":"d6076973-74e9-457f-b554-382c28f9da18","name":"Sticky Note8"},{"parameters":{"content":"# Shopee","height":80,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,-48],"id":"6a5c6e38-f2a9-4aae-a5cc-18984af69867","name":"Sticky Note9"},{"parameters":{"rule":{"interval":[{"triggerAtHour":7,"triggerAtMinute":null}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-96,-32],"id":"48abfa13-2d5d-4ceb-9c17-2486db6cfdeb","name":"Schedule Trigger3"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11,"triggerAtMinute":null}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[112,-32],"id":"b5d63971-b6b8-4155-8017-04d3c4b6eab9","name":"Schedule Trigger"},{"parameters":{"rule":{"interval":[{"triggerAtHour":15,"triggerAtMinute":null}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[368,-32],"id":"a8b4d34e-e325-467c-89de-f7b352996b3b","name":"Schedule Trigger4"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[240,752],"id":"38f24423-1ff9-4d9a-a1dc-2b4beabbc8d2","name":"Groq Chat Model","credentials":{"groqApi":{"id":"goykBSqf3Way2XVY","name":"Groq account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[16,896],"id":"d14a11ba-9b84-4c46-b5fd-d7b4f2472cb6","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"lKGONnxExsTJAxPv","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"AI Agent":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Enviar imagem":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Enviar imagem","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Pega produto na planilha":{"main":[[{"node":"Prepara Query para API Shopee","type":"main","index":0}]]},"Pega 'telefone' dos grupos":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Pega produto na planilha1","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Code":{"main":[[{"node":"Create a card","type":"main","index":0}]]},"Pesquisa imagem":{"main":[[{"node":"Extrair imagem do link","type":"main","index":0}]]},"Extrair imagem do link":{"main":[[{"node":"Pega 'telefone' dos grupos","type":"main","index":0}]]},"API Shopee":{"main":[[{"node":"Extrai Informações","type":"main","index":0}]]},"Prepara Query para API Shopee":{"main":[[{"node":"API Shopee","type":"main","index":0}]]},"Extrai Informações":{"main":[[{"node":"Pesquisa imagem","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"Pega produto na planilha","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Pega produto na planilha","type":"main","index":0}]]},"Schedule Trigger4":{"main":[[{"node":"Pega produto na planilha","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"pinData":{},"meta":null}