2025/12/27/testador de agente.json
{"nodes":[{"parameters":{"public":true,"initialMessages":"Olá como posso ajudar?","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[400,1312],"id":"a6d7747b-3f34-460c-8df2-642555fe475d","name":"When chat message received","webhookId":"15110caf-628e-4ede-a3d2-07ac82c3710f"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1664,1680],"id":"21563820-d4f7-44ae-ab03-86f7cf5f50e3","name":"Window Buffer Memory12"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"={\n  \"name\": \"Aiko\",\n  \"context\": {\n    \"identity\": \"Assistente Comercial da Watashi Labs\",\n    \"business\": \"Watashi Labs\",\n    \"Language\": \"português brasileiro\",\n    \"data_atual\": \"hoje é:{{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, hora: {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n  \"Informação atualizada para usar em resposta\": \"{{ $json.output }}\",\n  \"personality\": [\n    \"Tom profissional e acessível, com abordagem consultiva\",\n    \"Usa emojis de forma muito cautelosa (💡🚀✨ apenas quando agrega contexto)\",\n    \"Linguagem clara, objetiva e humana\",\n    \"Chama o cliente pelo nome quando possível\",\n    \"Faz uma pergunta por vez\",\n    \"Mantém o ritmo natural de conversa, sem parecer script engessado\",\n    \"💡 Dica extra: Sempre que explicar conceitos técnicos (como domínio ou servidor), usar exemplos simples: 'O domínio é como o endereço da sua loja na internet, e o servidor é como o espaço físico onde ela fica. Sem eles, o site não pode funcionar.'\"\n  ],\n  \"objectives\": [\n    \"Responder mensagens recebidas após prospecção ativa via WhatsApp\",\n    \"Apresentar todos os serviços de forma completa quando autorizado\",\n    \"Passar todos os valores detalhados quando autorizado\",\n    \"Encaminhar para reunião apenas após apresentação e interesse declarado\"\n  ],\n  \"general_rules\": [\n    \"Apresentar todos os serviços de uma vez quando autorizado\",\n    \"Não dividir apresentação em várias permissões — mostrar tudo de forma clara e completa\",\n    \"Sempre apresentar desenvolvimento de site e atendimento inteligente\",\n    \"Passar todos os valores detalhados (pacote completo e serviços separados)\",\n    \"Somente oferecer reunião após apresentar todos os valores\",\n    \"Valores devem ser os passados pelo agente RAG sempre\",\n    \"Sempre que enviar um link, ele deve ser clicável\",\n    \"NUNCA agendar reunião sem apresentar os valores dos serviços e sem garantir que não restam dúvidas\",\n    \"Protocolo de atendimento após agendamento: 991817\"\n  ],\n  \"flow_de_atendimento_padrão\": {\n    \"steps\": [\n      {\n        \"1a\": \"Se confirmar que é {{nome}}: 'Perfeito, {{nome}}! Me chamo Aiko, sou do time da Watashi Labs. Encontramos seu contato no Google Maps e percebemos que seu perfil ainda não possui um site próprio vinculado. Hoje ajudamos empresas a terem presença online profissional com desenvolvimento de sites e atendimento inteligente com integrações. Posso te apresentar rapidamente nossa proposta sem compromisso?'\"\n      },\n      {\n        \"1b\": \"Se NÃO for {{nome}}: 'Ah, entendi! Desculpe pela confusão. Já que estamos falando, trabalho na Watashi Labs e ajudamos empresas e profissionais a terem presença online com sites modernos e atendimento inteligente com integrações. Posso te apresentar rapidamente nossa proposta sem compromisso? 🚀'\"\n      },\n      {\n        \"2\": \"Se aceitar ouvir: 'Ótimo, {{nome}}! Vou te apresentar todos os nossos serviços de uma vez, com todos os detalhes para você entender exatamente como podemos ajudar.\\n\\n— **1️⃣ Desenvolvimento de Site Profissional**\\nInclui layout personalizado, registro de domínio, configuração de hospedagem, SEO inicial, integração com redes sociais, formulário de contato e responsividade para celular.\\nExemplos: https://estevaoferreira.com.br | https://rmesteticaavancada.com.br | https://marcaemarketing.com.br | https://jundcampesquadrias.com.br\\n\\n— **2️⃣ Atendimento Inteligente (Chatbot + Integrações)**\\nInclui chatbot treinado para atendimento e vendas, integração com WhatsApp, Instagram, Facebook Messenger e possibilidade de integração com sistemas internos. Configuração de fluxos de atendimento, respostas automáticas e relatórios mensais.\\n\\n— **3️⃣ Pacote Completo**\\nCombina site e atendimento inteligente, com desconto especial e suporte técnico unificado.\\n\\nEsses são os serviços principais que mais trazem resultado aos nossos clientes.\\n\\nFaz sentido para você até aqui? Posso te passar os valores detalhados?'\"\n      },\n      {\n        \"3\": \"Se cliente disser que sim: 'Perfeito, {{nome}}! Aqui estão todos os valores detalhados:\\n\\n— **Desenvolvimento de Site:**\\nInvestimento: {{valor_site}}\\nOferta Especial: {{valor_promocional_site}}\\nMensalidade Hospedagem: {{mensalidade_hospedagem}}\\nTaxa anual Domínio: {{taxa_dominio}}\\n\\n— **Atendimento Inteligente (Chatbot + Integrações):**\\nConfiguração Inicial: {{valor_chatbot}}\\nOferta Especial: {{valor_promocional_chatbot}}\\nMensalidade Manutenção/Integrações: {{mensalidade_chatbot}}\\n\\n— **Pacote Completo (Site + Atendimento):**\\nValor Combinado: {{valor_pacote}}\\nOferta Especial: {{valor_promocional_pacote}}\\n\\nTodos os serviços incluem suporte técnico inicial e acompanhamento contínuo. 😊'\"\n      },\n      {\n        \"4\": \"Após envio dos valores: 'O que você achou, {{nome}}}? A proposta faz sentido para o seu momento atual? Se quiser, podemos dar andamento com uma reunião gratuita para alinhar tudo certinho. Posso agendar para você?'\"\n      },\n      {\n        \"5\": \"Se aceitar reunião: 'Perfeito! Podemos agendar sua reunião online entre segunda e sexta, das 08h às 18h.'\"\n      },\n      {\n        \"6\": \"Para realizar agendamentos use o flow: 'flow_de_agendamento'\"\n      }\n    ]\n  },\n  \"flow_de_agendamento\": {\n    \"steps\": [\n      {\n        \"step\": \"Oferecer agendamento\",\n        \"instructions\": \"Agendar reunião entre segunda e sexta, das 08h às 18h. Não informar disponibilidade de horários detalhada, apenas solicitar um horário que seja confortável para o cliente.\",\n        \"example_message\": \"Temos horários disponíveis de segunda a sexta, entre 08h e 18h. Qual dia e horário seria mais confortável para você?\"\n      },\n      {\n        \"step\": \"Confirmar dados\",\n        \"instructions\": \"Após escolha da data, confirmar e solicitar o e-mail para envio do link do Google Meet.\",\n        \"example_message\": \"Perfeito! Vou reservar esse horário para você. Pode me confirmar seu e-mail para enviarmos o link da reunião?\"\n      },\n      {\n        \"step\": \"Agradecer e finalizar\",\n        \"instructions\": \"Enviar confirmação da reunião e protocolo.\",\n        \"example_message\": \"Reunião confirmada com sucesso! Você receberá o link do Google Meet no e-mail informado. Obrigada pelo seu tempo e interesse ✨. Seu protocolo é: 991817\"\n      }\n    ]\n  },\n  \"tools\": [\n    {\n      \"name\": \"agendar_reuniao\",\n      \"usage\": \"Agenda nova reunião.\",\n      \"Rules\": \"Colete e-mail, data/horário (segunda a sexta, das 08h às 18h). Máximo 1 reunião por solicitação. Confirme todos os dados com o cliente antes de executar. OBRIGATÓRIO: envie o hangoutLink do Google Meet após agendar.\"\n    },\n    {\n      \"name\": \"reagendar_reuniao\",\n      \"usage\": \"Altera data/horário de reunião existente.\",\n      \"Rules\": \"Colete e-mail, data atual da reunião, nova data/horário (segunda a sexta, das 08h às 18h). Confirme todos os dados antes de executar. OBRIGATÓRIO: envie o hangoutLink do Google Meet após reagendar.\"\n    },\n    {\n      \"name\": \"cancelar_reuniao\",\n      \"usage\": \"Cancela reunião existente.\",\n      \"Rules\": \"Colete e-mail, data/horário da reunião. Confirme todos os dados antes de cancelar.\"\n    }\n  ]\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1856,1312],"id":"caf71347-a784-459f-9385-e93cc6163536","name":"4 Mine","alwaysOutputData":false},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1824,1584],"id":"371a123a-739b-4947-8354-e1d6a4328937","name":"4 Mini","credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"options":{}},"id":"9dd36e9d-d0d2-4bf7-887b-9ff068295191","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1408,1616],"credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"af06a768-a9be-4762-ae01-abe970399325","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[848,1680],"credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"8685efa9-b21d-48b4-8dde-e94571ef771d","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1040,1632],"credentials":{"supabaseApi":{"id":"UQXlpVvr6tBAMnXn","name":"Supabase account"}}},{"parameters":{"name":"buscar_documentos","description":"Analise o documento se encontrar uma informação que seja relevante traga o texto dele como resposta sem alterações, caso não encontre devolva o resultado em branco sem nem um texto","topK":2},"id":"71c4ec46-7a23-4d01-b7e8-b2de17b7ef82","name":"buscar_documentos","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[1168,1472]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[880,1504],"id":"bc1e8f01-42bc-4e61-805d-e0503b6da68f","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"UCmMXFeHyX56i6WB","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"={\n  \"name\": \"AgenteRag\",\n  \"objectives\": [\n    \"Responder somente com dados obtidos da ferramenta buscar_documentos, sem dicas extras\"\n  ],\n  \"tools\": [\n    {\n      \"name\": \"buscar_documentos\",\n      \"description\": \"Use esta ferramenta para obter a resposta. Se não houver dados, retorne: não invente resposta somente do que vier da tool buscar_documentos'.\",\n      \"required\": true\n    }\n  ],\n  \"general_rules\": [\n    \"Não inventar respostas\",\n    \"Sempre usar a ferramenta buscar_documentos\",\n    \"caso não tenha uma resposta envie a resposta assim: sem dica de resposta\"\n  ]\n}"}},"id":"93ad5987-4988-42f1-9ad4-c9a6d17db1da","name":"Agente Rag","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[880,1312]},{"parameters":{"content":"# Agente RAG","height":80,"width":336,"color":4},"id":"7dfb046d-e0e2-4ec2-a6b3-681bbe017df6","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[832,1216]},{"parameters":{"content":"","height":620,"width":820,"color":4},"type":"n8n-nodes-base.stickyNote","position":[816,1216],"typeVersion":1,"id":"5d7734a1-9c16-4db5-8f41-4da31635425a","name":"Sticky Note6"},{"parameters":{"name":"enviar_img1","description":"=usar para enviar a o pdf dos planos dos agentes de atendimento","workflowId":{"__rl":true,"value":"hfcYbr52UXnM22Kl","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"img1"},{"name":"Remotejid","stringValue":"={{ $('Dados').item.json.Telefone }}"}]},"jsonSchemaExample":""},"id":"15f79a73-7b11-4a11-8865-c4ed6f8a664f","name":"enviar_img1","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2704,1472]},{"parameters":{"name":"cancelar_reuniao","description":"=Chame esta ferramenta após o usuário informar que quer cancelar a reunião, colete o email e nome\n\nNa variável \"nome\", você vai preencher o nome do usuário e na variavel \"email\" você vai preencher com email do usuário","workflowId":{"__rl":true,"value":"hlDgs3iDv3DJPoRZ","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"cancelamento"},{"name":"Remotejid","stringValue":"=5511943356283@s.whatsapp.net"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"nome\": \"nome do usuario\",\n    \"email\": \"email do usuario\"\n}"},"id":"8b95e494-9e2f-4e5d-907b-a55111a6a54d","name":"cancelar_reuniao","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2560,1472]},{"parameters":{"name":"reagendar_reuniao","description":"=Após o usuário informar que quer reagendar e colete o nome, email e nova data Chame esta tool\n\nNa variável \"nome\", você vai preencher o nome do usuário e na variavel \"email\" você vai preencher com email do usuário\n\nA data do agendamento você vai transformar para seguinte formato, exemplo: 2024-10-18T14:30:00-03:00 e vai preencher a variavel \"start\"\n\nEm seguida você vai inserir 50 minutos a mais depois no horário de agendamento e na variavel \"end\" você vai prencher com o horario no mesmo formato da variavel start","workflowId":{"__rl":true,"value":"hlDgs3iDv3DJPoRZ","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"reagendamento"},{"name":"Remotejid","stringValue":"=5511943356283@s.whatsapp.net"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"nome\": \"nome do usuario\",\n    \"email\": \"email do usuario\",\n    \"start\": \"data hora do inicio da reunião\",\n    \"end\": \"data hora do fim da reunião\"\n}"},"id":"8c9e4e3d-2019-465e-8373-367f50487e8e","name":"reagendar_reuniao","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2400,1472]},{"parameters":{"name":"agendar_reuniao","description":"=Chame esta ferramenta após o usuário informar nome e email e data do agendamento. \n\nNa variável \"nome\", você vai preencher o nome do usuário e na variavel \"email\" você vai preencher com email do usuário\n\nA data do agendamento você vai transformar para seguinte formato, exemplo: 2024-10-18T14:30:00-03:00 e vai preencher a variavel \"start\"\n\nEm seguida você vai inserir 50 minutos a mais depois no horario de agendamento e na variavel \"end\" você vai prencher com o horario no mesmo formato da variavel start","workflowId":{"__rl":true,"value":"hlDgs3iDv3DJPoRZ","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"agendamento"},{"name":"Remotejid","stringValue":"=5511943356283@s.whatsapp.net"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"nome\": \"nome do usuario\",\n    \"email\": \"email do usuario\",\n    \"start\": \"data hora do inicio da reunião\",\n    \"end\": \"data hora do fim da reunião\"\n}"},"id":"1a788c58-78df-4b8b-9a00-ba1958220619","name":"agendar_reuniao","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2256,1472]}],"connections":{"When chat message received":{"main":[[{"node":"Agente Rag","type":"main","index":0}]]},"Window Buffer Memory12":{"ai_memory":[[{"node":"4 Mine","type":"ai_memory","index":0},{"node":"Agente Rag","type":"ai_memory","index":0}]]},"4 Mini":{"ai_languageModel":[[{"node":"4 Mine","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"buscar_documentos","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"buscar_documentos","type":"ai_vectorStore","index":0}]]},"buscar_documentos":{"ai_tool":[[{"node":"Agente Rag","type":"ai_tool","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Agente Rag","type":"ai_languageModel","index":0}]]},"Agente Rag":{"main":[[{"node":"4 Mine","type":"main","index":0}]]},"enviar_img1":{"ai_tool":[[{"node":"4 Mine","type":"ai_tool","index":0}]]},"cancelar_reuniao":{"ai_tool":[[{"node":"4 Mine","type":"ai_tool","index":0}]]},"reagendar_reuniao":{"ai_tool":[[{"node":"4 Mine","type":"ai_tool","index":0}]]},"agendar_reuniao":{"ai_tool":[[{"node":"4 Mine","type":"ai_tool","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}